@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # ALONG DEMO
\*------------------------------------*/

/**
 * Global footer
 */
.wireframe-demo__footer {
  padding: 7.5rem 0 2rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.5rem;
  list-style-type: none;

  @media screen and (min-width: $eds-bp-md) {
    flex-wrap: no-wrap;
    margin-bottom: 0;
  }
}

.wireframe-demo__footer-link {
  border-left: 1px solid var(--along-color-space-100);
  &:first-child {
    border-left: none;
  }

  padding: 0 1.5rem 0.5rem 1.5rem;
  margin-bottom: 1rem;

  @media screen and (min-width: $eds-bp-md) {
    padding: 0 1rem;
  }
}

/**
 * LoggedOutPage
 */
.logged-out-page {
  background-color: var(--eds-theme-color-background-brand-primary-default);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logged-out-page__header-img {
  height: 10rem;
  display: none;

  @media screen and (min-width: $eds-bp-md) {
    display: block;
  }
}

.logged-out-page__button-group {
  /* THEMING-NOTE: We're overriding the gap because the ButtonGroup doesn't support this size. */
  gap: var(--eds-size-2);
  margin: var(--eds-size-2) 0 var(--eds-size-4) 0;
}

.logged-out-page__social-sign-in-button {
  font-weight: bold !important;
  width: 18.5rem;
}

.logged-out-page__bottom-section {
  background-color: var(--along-color-sneaker-100);
  padding-top: 2rem;
  width: 100%;
}

.logged-out-page__create-account-header {
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.logged-out-page__footer {
  border-top: 1px solid var(--along-color-space-100);
  padding: 3rem 0;
  margin-top: 4rem;
}

/**
 * Student tab
 */
.student-tab {
  align-items: center;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  flex: 0 1 0%;
  padding: 0.5rem 0.5rem 1rem;
  min-width: 4.5rem;
  cursor: pointer;
  border-bottom: 0.5rem solid transparent;
}

.student-tab--active {
  cursor: default;
  border-bottom: 0.5rem solid var(--eds-theme-color-border-brand-primary-strong);
  background-color: var(--eds-theme-color-background-brand-primary-default);
}

/**
 * WatchPage
 */
.watch-page__avatar {
  color: var(--eds-theme-color-text-neutral-default-inverse);
  border-radius: var(--eds-border-radius-full);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--along-color-white);
}

.watch-page__avatar > p {
  font-family: var(--eds-font-family-secondary);
  font-weight: bold;
}

.watch-page__avatar--pine {
  background-color: var(--along-color-pine-500);
}

.watch-page__avatar--sneaker {
  background-color: var(--along-color-sneaker-300);
}

.watch-page__avatar--carrot {
  background-color: var(--along-color-carrot-500);
}

.watch-page__textarea {
  /* We don't have a Textarea component yet. */
  @mixin inputStyles;
}

.watch-page__main-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  background-color: var(--eds-theme-color-background-neutral-default);

  @media screen and (min-width: $eds-bp-md) {
    /* Make space for the sidebar */
    padding-right: 15rem;
  }
}

.watch-page__back-button {
  /**
   * This is a very customized button in that it looks like a secondary variant
   * but it's round like an icon variant. Other icon buttons in Along don't look
   * like this either.
   */
  border-radius: 50% !important;
  min-height: 3rem;
  min-width: 3rem;
  padding: 0px;
}

.watch-page__back-button svg {
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.watch-page__carousel {
  background-color: var(--eds-theme-color-background-neutral-subtle);
  margin-top: 2rem;
  padding-top: 1rem;
  padding-left: 5.5rem;
}

/**
 * THEMING-NOTE: Dropdown doesn't allow customization, so we have
 * to wrap the dropdown in a div with a class and drill down to the
 * Dropdown contents.
 */
.watch-page__dropdown button {
  border-color: var(--along-color-space-500);
  background-color: transparent;
  justify-content: center;
  transition-property: color, border-color;
  transition-duration: var(--eds-anim-fade-quick);
  transition-timing-function: var(--eds-anim-ease);

  &:hover,
  &:focus {
    color: var(--along-color-blurple-500);
    border-color: var(--along-color-blurple-500);
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

.watch-page__tabs ul {
  border: none;
}

.watch-page__reflection {
  margin-top: 2.5rem;
  margin-left: 5.5rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.watch-page__time-stamp {
  /* THEMING-NOTE: Along has 3 fonts. */
  font-family: 'NB International Pro Mono', monospace;
}

.watch-page__response {
  margin-top: 4rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

.watch-page__sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: var(--eds-theme-form-border-width) solid transparent;
  box-shadow: rgb(0 0 0 / 15%) 0px 0.125rem 0.75rem;
  background-color: var(--eds-theme-color-background-neutral-default);
  flex-direction: column;
  align-items: center;
  width: 15rem;
  padding: 1rem;

  @media screen and (min-width: $eds-bp-md) {
    display: flex;
  }
}

.watch-page__student-summary-container {
  background-color: var(--eds-theme-color-background-neutral-subtle);
  padding: 1rem;
  border-radius: var(--eds-border-radius-md);
}

.watch-page__teacher-notes-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-top: 2.5rem;
}

.watch-page__tooltip-container {
  /* THEMING-NOTE: Should this be a prop? */
  --arrow-color: transparent;
  background-color: white;
  border-radius: 1rem;
  max-width: 188px !important;
  box-shadow: 0px 1px 0px rgba(33, 40, 102, 0.4);
}

.watch-page__tooltip-container :global(.tippy-content) {
  /* THEMING-NOTE: We should move this up to the container so it's easier to override */
  padding: 0.5rem;
}

.watch-page__tooltip-content {
  /**
   * NOTE: You should never use a tier 1 token like this, but it's necessary
   * for this demo because the tooltip is being rendered outside of this storybook
   * page and is therefore also outside of the context in which our themed variables
   * are defined. In the context of a different app where the themed variables are
   * set on the actual root, this shouldn't be necessary.
   */
  /* font primary */
  font-family: 'Untitled Sans', sans-serif;
  /* space 500 */
  color: #212866;
}

.watch-page__teacher-notes-info-icon {
  /**
   * Stops the icon from taking up a lot of vertical space and being misaligned with
   * the text next to it.
   */
  display: flex;
}

.watch-page__teacher-notes-textarea {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin-top: 0.5rem;
  resize: none;
}
