@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # GLOBAL STYLES FOR ALONG DEMO
\*------------------------------------*/

@font-face {
  font-family: 'Moranga';
  src: url(./fonts/moranga-medium.woff) format('woff'),
    url(./fonts/moranga-medium.woff2) format('woff2');
  font-weight: 500 900;
}

@font-face {
  font-family: 'Moranga';
  src: url(./fonts/moranga-light.woff) format('woff'),
    url(./fonts/moranga-light.woff2) format('woff2');
}

@font-face {
  font-family: 'NB International Pro Mono';
  src: url(./fonts/nb-international-pro-mono.woff) format('woff'),
    url(./fonts/nb-international-pro-mono.woff2) format('woff2'),
    url(./fonts/nb-international-pro-mono.ttf) format('ttf');
}

@font-face {
  font-family: 'Untitled Sans';
  src: url(./fonts/untitled-sans-medium.woff) format('woff'),
    url(./fonts/untitled-sans-medium.woff2) format('woff2');
  font-weight: 500 900;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url(./fonts/untitled-sans-regular.woff) format('woff'),
    url(./fonts/untitled-sans-regular.woff2) format('woff2');
}

/**
 * Global styles for AlongDemo
 *
 * This contains the variable overrides to demonstrate the current implementation method
 * and global style overrides.
 */
.root {
  /* Level 1 Along theme tokens */
  --along-color-white: #ffffff;
  --along-color-gray-100: #f3f3f3;
  --along-color-gray-300: #e5e5e5;
  --along-color-gray-500: #434343;
  --along-color-black: #000000;
  --along-color-blurple-100: #dddcff;
  --along-color-blurple-200: #bcb8ff;
  --along-color-blurple-300: #9a95ff;
  --along-color-blurple-400: #7971ff;
  --along-color-blurple-500: #574eff;
  --along-color-space-100: #d3d4e0;
  --along-color-space-200: #a6a9c2;
  --along-color-space-300: #7a7ea3;
  --along-color-space-400: #4e5385;
  --along-color-space-500: #212866;
  --along-color-mint-100: #d4f6ec;
  --along-color-mint-200: #a9ecda;
  --along-color-mint-300: #7de3c7;
  --along-color-mint-400: #52dab5;
  --along-color-mint-500: #27d0a2;
  --along-color-sun-100: #fff4cc;
  --along-color-sun-200: #ffe999;
  --along-color-sun-300: #ffdd66;
  --along-color-sun-400: #ffd233;
  --along-color-sun-500: #ffc700;
  --along-color-carrot-100: #fee3d6;
  --along-color-carrot-200: #fec8ac;
  --along-color-carrot-300: #fdac83;
  --along-color-carrot-400: #fd915a;
  --along-color-carrot-500: #fc7530;
  --along-color-sneaker-50: #f8f8fb;
  --along-color-sneaker-100: #f3f2f7;
  --along-color-sneaker-300: #6e6ea1;
  --along-color-gum-100: #fdf6f8;
  --along-color-gum-500: #f3d1da;
  --along-color-pine: #006351;
  --along-color-pine-500: #006351;
  --along-color-pine-400: #338274;
  --along-color-pine-300: #66a197;
  --along-color-pine-200: #99c1b9;
  --along-color-pine-100: #cce0dc;
  --along-color-lemon: #ffec00;
  --along-color-lemon-100: #fffbcc;
  --along-color-lemon-200: #fff799;
  --along-color-lemon-500: #ffec00;
  --along-color-sky: #dbf6fd;
  --along-color-sky-200: #edfafe;
  --along-color-sky-500: #d8f6fd;
  --along-color-eraser-red-200: #cd2026;

  /* Override EDS tokens to apply the Along theme */
  --eds-border-radius-md: 0.5rem;
  --eds-font-family-primary: 'Untitled Sans', sans-serif;
  --eds-font-family-secondary: 'Moranga', serif;
  --eds-theme-box-button-border-radius: 2.25rem;
  --eds-theme-color-background-brand-primary-default: var(--along-color-white);
  --eds-theme-color-background-disabled: var(--along-color-space-100);
  --eds-theme-color-background-neutral-medium: var(--along-color-sneaker-100);
  --eds-theme-color-background-neutral-subtle: var(--along-color-sneaker-100);
  --eds-theme-color-border-brand-primary-strong: var(--along-color-blurple-500);
  --eds-theme-color-border-disabled: var(--along-color-space-100);
  --eds-theme-color-border-link-brand: var(--along-color-space-500);
  --eds-theme-color-border-link-neutral: var(--along-color-space-500);
  --eds-theme-color-border-neutral-default: var(--along-color-space-200);
  --eds-theme-color-button-primary-brand-background-active: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-primary-brand-background-hover: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-primary-brand-background: var(
    --along-color-space-500
  );
  --eds-theme-color-button-primary-brand-border-active: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-primary-brand-border-hover: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-primary-brand-border: var(--along-color-space-500);
  --eds-theme-color-button-primary-brand-text-active: var(--along-color-white);
  --eds-theme-color-button-primary-brand-text-hover: var(--along-color-white);
  --eds-theme-color-button-primary-brand-text: var(--along-color-white);
  --eds-theme-color-button-secondary-brand-background-active: transparent;
  --eds-theme-color-button-secondary-brand-background-hover: transparent;
  --eds-theme-color-button-secondary-brand-border-active: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-secondary-brand-border-hover: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-secondary-brand-border: var(--along-color-space-500);
  --eds-theme-color-button-secondary-brand-icon-active: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-secondary-brand-icon-hover: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-secondary-brand-icon: var(--along-color-space-500);
  --eds-theme-color-button-secondary-brand-text-active: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-secondary-brand-text-hover: var(
    --along-color-blurple-500
  );
  --eds-theme-color-button-secondary-brand-text: var(--along-color-space-500);
  --eds-theme-color-focus-ring: var(--along-color-blurple-500);
  --eds-theme-color-form-border: var(--along-color-sneaker-300);
  --eds-theme-color-icon-brand-primary: var(--along-color-blurple-500);
  --eds-theme-color-icon-disabled: var(--along-color-space-100);
  --eds-theme-color-icon-link-default-hover: var(--along-color-space-500);
  --eds-theme-color-icon-link-default: var(--along-color-space-500);
  --eds-theme-color-text-disabled: var(--along-color-space-100);
  --eds-theme-color-text-link-brand: var(--along-color-space-500);
  --eds-theme-color-text-link-neutral: var(--along-color-space-500);
  --eds-theme-color-text-neutral-default: var(--along-color-space-500);

  /**
   * Global style overrides
   *
   * Some of these are the kinds of styling that are typically set in apps at the top level,
   * but the element-specific styles probably indicate a limitation in the theming system
   * that could be improved with more specific tokens.
   */
  color: var(--along-color-space-500);
  font-family: var(--eds-font-family-primary);

  /**
   * THEMING-NOTE: Because the Text and Heading components are styled via mixins that we
   * don't have access to as a downstream product, we can't update the styles for those
   * components. Since Along uses a different font for headings than for body text, we
   * have to either override them by targing all heading elements,, pass styles into every
   * Heading, or roll our own Heading component.
   */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--eds-font-family-secondary);
  }

  /**
   * THEMING-NOTE: We don't have tokens for these specific styles on buttons and links.
   */
  button,
  a {
    font-weight: normal;
    gap: 0.5rem;
    font-size: 1rem;
  }

  /**
   * THEMING-NOTE: We don't have tokens for these specific styles on buttons and links.
   *
   * Overriding them by targeting the elements makes it very difficult when actually using
   * them because some button elements are styled like links and some links are styled
   * like buttons.
   */
  button {
    border-width: 3px;
    height: 3rem;
  }

  /**
   * THEMING-NOTE: We don't have tokens for these specific styles on buttons and links.
   *
   * Overriding them by targeting the elements makes it very difficult when actually using
   * them because some button elements are styled like links and some links are styled
   * like buttons.
   */
  a {
    text-decoration-thickness: auto;
    text-underline-offset: auto;

    &:hover,
    &:focus,
    &:active {
      color: var(--along-color-blurple-500);
      text-decoration-color: var(--along-color-blurple-500);
    }
  }
}
