@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # POPOVER
\*------------------------------------*/

/**
 * Popover window
 * 1) Actual box with content within
 */
.popover {
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  bottom: calc(100% + 1rem);
  left: 0;
  height: auto;
  max-height: 28rem;
  width: 25rem;
  max-width: 25rem;
  opacity: 0;
  color: var(--eds-theme-color-text-neutral-default);
  background: var(--eds-theme-color-background-neutral-default);
  border-radius: var(--eds-border-radius-md);
  box-shadow: var(--eds-box-shadow-md);
  transition: opacity var(--eds-anim-fade-quick) var(--eds-anim-ease);
  overscroll-behavior-y: contain;
  z-index: var(--eds-z-index-bottom);

  &:focus-visible {
    @mixin focus;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      @mixin focus;
    }
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  /** Psuedo-element ::after
  * 1) Adds a cosmetic triangle to the bottom edge of the popover, pointing toward the button that opened the popover
  */
  &::after {
    content: '';
    position: absolute;
    left: 0.625rem;
    top: 100%;
    border-top: 10px solid var(--eds-theme-color-background-neutral-default);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: none;
  }

  /**
   * Popover window inside active popover
   * 1) Transform added for animation
   */
  &.eds-is-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity var(--eds-anim-fade-quick) var(--eds-anim-ease);
    z-index: var(--eds-z-index-top);

    @media screen and (prefers-reduced-motion) {
      transition: none;
    }
  }
}

/**
 * Popover top left
 */
.popover--top-left {
  left: unset;
  right: 0;
  /**
  * Popover top left caret
  */
  &::after {
    left: unset;
    right: 0.625rem;
  }
}

/**
* Popover bottom left
* 1) Popover sits to the bottom left of the trigger
*/
.popover--bottom-left {
  bottom: unset;
  top: calc(100% + 1rem);
  left: unset;
  right: 0;

  /**
  * Popover bottom left caret
  * 1) Place the caret at the top right of the popover window
  */
  &::after {
    bottom: 100%;
    top: unset;
    right: 0.625rem;
    left: unset;
    border-top: none;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--eds-theme-color-background-neutral-default);
    border-left: 8px solid transparent;
  }
}

/**
* Popover bottom right
* 1) Popover sits to the bottom right of the trigger
*/
.popover--bottom-right {
  bottom: unset;
  top: calc(100% + 1rem);

  /**
  * Popover bottom right caret
  * 1) Place the caret at the top left of the popover window
  */
  &::after {
    bottom: 100%;
    top: unset;
    border-top: none;
    border-right: 8px solid transparent;
    border-bottom: 10px solid var(--eds-theme-color-background-neutral-default);
    border-left: 8px solid transparent;
  }
}

/**
* Popover content
* 1) Includes header, body and footer of popover
*/
.popover__content {
  height: auto;
  max-height: 25rem;
  overflow-y: auto;
}

/**
 * Popover header
 */
.popover__header {
  padding-top: var(--eds-size-1);
  padding-bottom: var(--eds-size-1);
}

/**
* Popover header content
* 1) Can include title and titleAfter elements
* 2) TODO: This will likely need to move into a recipe
*/
.popover__header-content {
  display: flex;
  align-items: center; /* TODO */
  justify-content: space-between;
  padding: 0 var(--eds-size-2);
}

/**
 * Popover footer
 */
.popover__footer {
  padding-left: var(--eds-size-2);
  padding-right: var(--eds-size-2);
  margin-top: var(--eds-size-2);
}
