@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TAG
\*------------------------------------*/

/**
 * The rounded rectangle container that houses information.
 */
.tag {
  --tag__fg: light-dark(var(--eds-theme-color-text-utility-default-primary), var(--eds-dark-theme-color-text-utility-default-primary));

  width: max-content;
  height: calc(var(--eds-spacing-size-3) * 1px);
  padding: calc(var(--eds-spacing-size-half) * 1px) calc(var(--eds-spacing-size-1) * 1px);

  display: inline-flex;
  align-items: center;

  /* border color is transparent, unless a emphasis variant is applied */
  border: 1px solid var(--tag__border, transparent);
  border-radius: calc(var(--eds-theme-border-radius-objects-sm) * 1px);

  background-color: var(--tag__bg);
  color: var(--tag__fg);
}

/**
 * Spacing between icon and label text, if icon present
 */
.tag> :not(:last-child) {
  margin-right: calc(var(--eds-spacing-size-half) * 1px);
}

/**
 * Keeps text centered and in one line.
 */
.tag__body {
  flex: 1 1 auto;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**
 * Status color treatments
 */
:where(.tag--status-critical) {
  --tag__bg: light-dark(var(--eds-theme-color-background-utility-critical-low-emphasis), var(--eds-dark-theme-color-background-utility-critical-low-emphasis));
}

:where(.tag--status-favorable) {
  --tag__bg: light-dark(var(--eds-theme-color-background-utility-favorable-low-emphasis), var(--eds-dark-theme-color-background-utility-favorable-low-emphasis));
}

:where(.tag--status-warning) {
  --tag__bg: light-dark(var(--eds-theme-color-background-utility-warning-low-emphasis), var(--eds-dark-theme-color-background-utility-warning-low-emphasis));
}

:where(.tag--status-informational) {
  --tag__bg: light-dark(var(--eds-theme-color-background-utility-informational-low-emphasis), var(--eds-dark-theme-color-background-utility-informational-low-emphasis));

  &.tag--emphasis-low {
    --tag__border: light-dark(var(--eds-theme-color-border-utility-default-low-emphasis), var(--eds-dark-theme-color-border-utility-default-low-emphasis));
    --tag__bg: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis), var(--eds-dark-theme-color-background-utility-default-no-emphasis));
  }
}
