@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # PAGE NOTIFICATION
\*------------------------------------*/

/**
 * Message of information, success, caution, or warning to the user.
 */
.page-notification {
  display: flex;
  gap: calc(var(--eds-spacing-size-2) * 1px);
  padding: calc(var(--eds-spacing-size-2) * 1px);

  border-radius: calc(var(--eds-theme-border-radius-notification) * 1px);

  &.page-notification--status-informational {
    color: light-dark(var(--eds-theme-color-text-utility-informational), var(--eds-dark-theme-color-text-utility-informational));
    background-color: light-dark(var(--eds-theme-color-background-utility-informational-low-emphasis), var(--eds-dark-theme-color-background-utility-informational-low-emphasis));
  }

  &.page-notification--status-critical {
    color: light-dark(var(--eds-theme-color-text-utility-critical), var(--eds-dark-theme-color-text-utility-critical));
    background-color: light-dark(var(--eds-theme-color-background-utility-critical-low-emphasis), var(--eds-dark-theme-color-background-utility-critical-low-emphasis));
  }

  &.page-notification--status-favorable {
    color: light-dark(var(--eds-theme-color-text-utility-favorable), var(--eds-dark-theme-color-text-utility-favorable));
    background-color: light-dark(var(--eds-theme-color-background-utility-favorable-low-emphasis), var(--eds-dark-theme-color-background-utility-favorable-low-emphasis));
  }

  &.page-notification--status-warning {
    color: light-dark(var(--eds-theme-color-text-utility-warning), var(--eds-dark-theme-color-text-utility-warning));
    background-color: light-dark(var(--eds-theme-color-background-utility-warning-low-emphasis), var(--eds-dark-theme-color-background-utility-warning-low-emphasis));
  }
}

.page-notification__icon {
  flex-shrink: 0;
  transform: translateY(calc(var(--eds-spacing-size-half) * 1px));
}

.page-notification__body {
  flex-grow: 2;
  display: flex;

  &.page-notification--has-vertical-cta {
    flex-direction: column;
  }

  &.page-notification--has-horizontal-cta {
    flex-direction: row;
  }
}

.page-notification__call-to-action {
  .page-notification--has-vertical-cta & {
    margin-top: calc(var(--eds-spacing-size-2) * 1px);
  }

  .page-notificatino-has-horizontal-cta & {
    margin-left: calc(var(--eds-spacing-size-2) * 1px);
  }
}

.page-notification__text {
  flex-grow: 2;
}

/**
 * Close button
 *
 * Button used to dismiss a banner.
 */
.page-notification__close-button {
  /* Adjust the positioning to slip into the padding of the container */
  margin: calc(var(--eds-spacing-size-1) * -1px);
}