@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # FIELD LABEL
\*------------------------------------*/

/**
 * Text labeling the field component.
 */
.label {
  color: light-dark(var(--eds-theme-color-text-utility-default-primary), var(--eds-dark-theme-color-text-utility-default-primary));
}

/**
 * Disabled variant of the field label.
 */
.label--disabled {
  color: light-dark(var(--eds-theme-color-text-utility-disabled-primary), var(--eds-dark-theme-color-text-utility-disabled-primary));
}
