@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # CHECKBOX INPUT
\*------------------------------------*/

/**
 * Wraps the visually hidden checkbox input element and the visible sibling svg element.
 */
.input__wrapper {
  position: relative;
  /* Centers the checkbox icon in the wrapper. */
  display: inline-flex;
  align-items: center;
  /* Aligns the checkbox with the first line of the label. */
  align-self: flex-start;
}
/**
 * The visually hidden input element for the checkbox. The visual checkmark is provided by an svg element.
 */
.checkbox__input {
  cursor: pointer;
  /* Removes default margins placed by browser for checkboxes. */
  margin: 0;
  /* Remove the checkbox from the page flow, positioning it on top of the SVG. */
  position: absolute;
  left: 0.25rem;
  /* Set same dimensions as the CheckboxSvg element. */
  height: var(--eds-size-2);
  width: var(--eds-size-2);
  /** 
   * Hide the input element visually.
   * This ensures the checkbox is still "physically" present so that all users,
   * especially on touch screen readers, still interact with the real checkbox element
   * where it would naturally be present. 
   */
  opacity: 0;
}

/**
 * The visible checkbox svg icon element.
 */
.checkbox__icon {
  color: var(--eds-theme-color-icon-brand-primary);
}
.checkbox__input:focus-visible + .checkbox__icon {
  @mixin focus;
  outline-offset: -2px;
}

@supports not selector(:focus-visible) {
  .checkbox__input:focus + .checkbox__icon {
    @mixin focus;
    outline-offset: -2px;
  }
}

/**
 * The disabled variant of the visible checkbbox svg icon.
 */
.checkbox__icon--disabled {
  color: var(--eds-theme-color-icon-disabled);
}

/**
 * The disabled status of the visually hidden input element.
 * Needed since the input element overlays the visible svg icon for user input and cursor.
 */
.checkbox__input:disabled {
  cursor: not-allowed;
}
