.button {
  @apply w-12 h-12 justify-center rounded-full;
}

/* The hover transition is inherited from the Button component */
.button:hover {
  @apply text-white;

  background-color: var(--close-hover-color);
}

.colorBrand {
  --close-hover-color: var(--eds-color-brand-600);
}

.colorNeutral {
  --close-hover-color: var(--eds-color-neutral-600);
}

.colorSuccess {
  --close-hover-color: var(--eds-color-success-600);
}

.colorWarning {
  --close-hover-color: var(--eds-color-warning-600);
}

.colorAlert {
  --close-hover-color: var(--eds-color-alert-600);
}
