
$eds-anim-fade-quick: 0.15s !default;
$eds-anim-fade-long: 0.4s !default;
$eds-anim-move-quick: 0.15s !default;
$eds-anim-move-medium: 0.3s !default;
$eds-anim-move-long: 0.4s !default;
$eds-anim-ease: ease !default;
$eds-border-width-sm: 1px !default;
$eds-border-width-md: 2px !default;
$eds-border-width-lg: 4px !default;
$eds-border-width-xl: 8px !default;
$eds-border-radius-md: 4px !default;
$eds-border-radius-lg: 8px !default;
$eds-border-radius-xl: 20px !default;
$eds-border-radius-round: 50% !default;
$eds-border-radius-full: 9999px !default;
$eds-color-brand-100: #F7F1FF !default; // old token alias, remove with next major release
$eds-color-brand-200: #C3C0FE !default; // old token alias, remove with next major release
$eds-color-brand-300: #A7A2FE !default; // old token alias, remove with next major release
$eds-color-brand-400: #928CFF !default; // old token alias, remove with next major release
$eds-color-brand-500: #766FFD !default; // old token alias, remove with next major release
$eds-color-brand-600: #574EFF !default; // old token alias, remove with next major release
$eds-color-brand-700: #433BDE !default; // old token alias, remove with next major release
$eds-color-brand-800: #312B9E !default; // old token alias, remove with next major release
$eds-color-brand-grape-100: #F7F1FF !default;
$eds-color-brand-grape-200: #C3C0FE !default;
$eds-color-brand-grape-300: #A7A2FE !default;
$eds-color-brand-grape-400: #928CFF !default;
$eds-color-brand-grape-500: #766FFD !default;
$eds-color-brand-grape-600: #574EFF !default;
$eds-color-brand-grape-700: #433BDE !default;
$eds-color-brand-grape-800: #312B9E !default;
$eds-color-neutral-100: #F3F3F3 !default;
$eds-color-neutral-200: #E8E8E9 !default;
$eds-color-neutral-300: #CAD1D8 !default;
$eds-color-neutral-400: #838C95 !default;
$eds-color-neutral-500: #58636F !default;
$eds-color-neutral-600: #3C444C !default;
$eds-color-neutral-700: #21272D !default;
$eds-color-neutral-800: #21272D !default;
$eds-color-neutral-white: #FFFFFF !default;
$eds-color-neutral-black: #21272D !default;
$eds-color-other-mint-100: #ECFFF5 !default;
$eds-color-other-mint-200: #B7E9CE !default;
$eds-color-other-mint-300: #8FDCB3 !default;
$eds-color-other-mint-400: #59C88C !default;
$eds-color-other-mint-500: #00A66A !default;
$eds-color-other-mint-600: #008756 !default;
$eds-color-other-mint-700: #007349 !default;
$eds-color-other-mint-800: #005939 !default;
$eds-color-other-yellow-100: #FDF1D0 !default;
$eds-color-other-yellow-200: #FFEBB3 !default;
$eds-color-other-yellow-300: #FFDD80 !default;
$eds-color-other-yellow-400: #F7BE2D !default;
$eds-color-other-yellow-500: #F79D2D !default;
$eds-color-other-yellow-600: #BF7300 !default;
$eds-color-other-yellow-700: #9E5B03 !default;
$eds-color-other-yellow-800: #854C03 !default;
$eds-color-other-lemon: #FCFF00 !default;
$eds-color-other-orange-100: #FFF1E9 !default;
$eds-color-other-orange-200: #FFCBA6 !default;
$eds-color-other-orange-300: #FFB077 !default;
$eds-color-other-orange-400: #F6924A !default;
$eds-color-other-orange-500: #E06C00 !default;
$eds-color-other-orange-600: #C64600 !default;
$eds-color-other-orange-700: #AC3400 !default;
$eds-color-other-orange-800: #852800 !default;
$eds-color-other-ruby-100: #FFEBF0 !default;
$eds-color-other-ruby-200: #FFCCD8 !default;
$eds-color-other-ruby-300: #FB90B0 !default;
$eds-color-other-ruby-400: #F76C96 !default;
$eds-color-other-ruby-500: #F1497C !default;
$eds-color-other-ruby-600: #D41E52 !default;
$eds-color-other-ruby-700: #BD0044 !default;
$eds-color-other-ruby-800: #8F0134 !default;
$eds-color-white: #FFFFFF !default; // old token alias, remove with next major release
$eds-color-black: #21272D !default; // old token alias, remove with next major release
$eds-color-alert-100: #FFEBF0 !default; // old token alias, remove with next major release
$eds-color-alert-200: #FFCCD8 !default; // old token alias, remove with next major release
$eds-color-alert-300: #FB90B0 !default; // old token alias, remove with next major release
$eds-color-alert-400: #F76C96 !default; // old token alias, remove with next major release
$eds-color-alert-500: #F1497C !default; // old token alias, remove with next major release
$eds-color-alert-600: #D41E52 !default; // old token alias, remove with next major release
$eds-color-alert-700: #BD0044 !default; // old token alias, remove with next major release
$eds-color-alert-800: #8F0134 !default; // old token alias, remove with next major release
$eds-color-success-100: #ECFFF5 !default; // old token alias, remove with next major release
$eds-color-success-200: #B7E9CE !default; // old token alias, remove with next major release
$eds-color-success-300: #8FDCB3 !default; // old token alias, remove with next major release
$eds-color-success-400: #59C88C !default; // old token alias, remove with next major release
$eds-color-success-500: #00A66A !default; // old token alias, remove with next major release
$eds-color-success-600: #008756 !default; // old token alias, remove with next major release
$eds-color-success-700: #007349 !default; // old token alias, remove with next major release
$eds-color-success-800: #005939 !default; // old token alias, remove with next major release
$eds-color-info-100: #F1F9FF !default;
$eds-color-info-200: #B0D5FF !default;
$eds-color-info-300: #7FB9FD !default;
$eds-color-info-400: #5CA7FF !default;
$eds-color-info-500: #328EFB !default;
$eds-color-info-600: #1977CD !default;
$eds-color-info-700: #0563B8 !default;
$eds-color-warning-100: #FFF1E9 !default; // old token alias, remove with next major release
$eds-color-warning-200: #FFCBA6 !default; // old token alias, remove with next major release
$eds-color-warning-300: #FFB077 !default; // old token alias, remove with next major release
$eds-color-warning-400: #F6924A !default; // old token alias, remove with next major release
$eds-color-warning-500: #E06C00 !default; // old token alias, remove with next major release
$eds-color-warning-600: #C64600 !default; // old token alias, remove with next major release
$eds-color-warning-700: #AC3400 !default; // old token alias, remove with next major release
$eds-color-warning-800: #852800 !default; // old token alias, remove with next major release
$eds-color-yellow-100: #FDF1D0 !default; // old token alias, remove with next major release
$eds-color-yellow-500: #F79D2D !default; // old token alias, remove with next major release
$eds-color-highlight-100: #FF9FEC !default;
$eds-color-highlight-200: #FFBEAA !default;
$eds-color-highlight-300: #FCFF00 !default; // old token alias, remove with next major release
$eds-color-highlight-400: #9DFFA4 !default;
$eds-color-highlight-500: #00F1FF !default;
$eds-color-highlight-600: #CFC9FF !default;
$eds-l-max-width: 71.25rem !default;
$eds-l-sidebar-width: 13.5rem !default;
$eds-l-linelength-width: 36rem !default;
$eds-box-shadow-sm: 0px 1px 2px 1px rgba(0, 0, 0, 0.2) !default;
$eds-box-shadow-md: 0px 0px 0px 1px var(--eds-color-neutral-200), 0px 2px 3px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.08) !default;
$eds-size-1: 0.5rem !default;
$eds-size-2: 1rem !default;
$eds-size-3: 1.5rem !default;
$eds-size-4: 2rem !default;
$eds-size-5: 2.5rem !default;
$eds-size-6: 3rem !default;
$eds-size-7: 3.5rem !default;
$eds-size-8: 4rem !default;
$eds-size-9: 4.5rem !default;
$eds-size-10: 5rem !default;
$eds-size-base-unit: 0.5rem !default;
$eds-size-half: 0.25rem !default;
$eds-size-1-and-half: 0.75rem !default;
$eds-size-2-and-half: 1.25rem !default;
$eds-size-3-and-half: 1.75rem !default;
$eds-font-family-primary: 'Arimo', sans-serif !default;
$eds-font-family-secondary: 'Open Sans', sans-serif !default;
$eds-font-size-11: 0.688rem !default;
$eds-font-size-12: 0.75rem !default;
$eds-font-size-14: 0.875rem !default;
$eds-font-size-16: 1rem !default;
$eds-font-size-18: 1.125rem !default;
$eds-font-size-24: 1.5rem !default;
$eds-font-size-32: 2rem !default;
$eds-font-size-40: 2.5rem !default;
$eds-font-size-base: 16px !default; // Base font size for design system in px
$eds-font-weight-light: 400 !default;
$eds-font-weight-medium: 500 !default;
$eds-font-weight-bold: 600 !default;
$eds-letter-spacing-sm: 0.5px !default;
$eds-z-index-0: 0 !default;
$eds-z-index-100: 100 !default;
$eds-z-index-200: 200 !default;
$eds-z-index-300: 300 !default;
$eds-z-index-400: 400 !default;
$eds-z-index-500: 500 !default;
$eds-z-index-top: 99999 !default;
$eds-z-index-bottom: -100 !default;
$eds-theme-border-radius: 4px !default;
$eds-theme-border-width: 1px !default;
$eds-theme-color-background-neutral-default: #FFFFFF !default;
$eds-theme-color-background-neutral-default-hover: #F3F3F3 !default;
$eds-theme-color-background-neutral-subtle: #F3F3F3 !default;
$eds-theme-color-background-neutral-subtle-hover: #E8E8E9 !default;
$eds-theme-color-background-neutral-medium: #E8E8E9 !default;
$eds-theme-color-background-neutral-medium-hover: #CAD1D8 !default;
$eds-theme-color-background-brand-primary-default: #F7F1FF !default;
$eds-theme-color-background-brand-primary-strong: #574EFF !default;
$eds-theme-color-background-brand-primary-strong-hover: #312B9E !default;
$eds-theme-color-background-utility-success: #ECFFF5 !default;
$eds-theme-color-background-utility-warning: #FFF1E9 !default;
$eds-theme-color-background-utility-error: #FFEBF0 !default;
$eds-theme-color-background-grade-complete-default: #008756 !default;
$eds-theme-color-background-grade-complete-subtle: #ECFFF5 !default;
$eds-theme-color-background-grade-revise-default: #F7BE2D !default;
$eds-theme-color-background-grade-revise-subtle: #FDF1D0 !default;
$eds-theme-color-background-grade-stop-default: #D41E52 !default;
$eds-theme-color-background-grade-stop-subtle: #FFEBF0 !default;
$eds-theme-color-background-disabled: #CAD1D8 !default;
$eds-theme-color-border-neutral-subtle: #E8E8E9 !default;
$eds-theme-color-border-neutral-subtle-hover: #CAD1D8 !default;
$eds-theme-color-border-neutral-default: #CAD1D8 !default;
$eds-theme-color-border-neutral-default-hover: #838C95 !default;
$eds-theme-color-border-neutral-strong: #838C95 !default;
$eds-theme-color-border-neutral-strong-hover: #58636F !default;
$eds-theme-color-border-brand-primary-subtle: #C3C0FE !default;
$eds-theme-color-border-brand-primary: #A7A2FE !default;
$eds-theme-color-border-brand-primary-strong: #928CFF !default;
$eds-theme-color-border-utility-success-subtle: #B7E9CE !default;
$eds-theme-color-border-utility-success-default: #8FDCB3 !default;
$eds-theme-color-border-utility-success-strong: #59C88C !default;
$eds-theme-color-border-utility-warning-subtle: #FFCBA6 !default;
$eds-theme-color-border-utility-warning-default: #FFB077 !default;
$eds-theme-color-border-utility-warning-strong: #F6924A !default;
$eds-theme-color-border-utility-error-subtle: #FFCCD8 !default;
$eds-theme-color-border-utility-error-default: #FB90B0 !default;
$eds-theme-color-border-utility-error-strong: #F76C96 !default;
$eds-theme-color-border-grade-complete: #8FDCB3 !default;
$eds-theme-color-border-grade-revise-subtle: #FFEBB3 !default;
$eds-theme-color-border-grade-revise-default: #FFDD80 !default;
$eds-theme-color-border-grade-revise-strong: #F7BE2D !default;
$eds-theme-color-border-grade-stop: #FB90B0 !default;
$eds-theme-color-border-disabled: #F3F3F3 !default;
$eds-theme-color-icon-neutral-default: #3C444C !default;
$eds-theme-color-icon-neutral-default-inverse: #FFFFFF !default;
$eds-theme-color-icon-neutral-default-hover: #21272D !default;
$eds-theme-color-icon-neutral-strong: #21272D !default;
$eds-theme-color-icon-neutral-strong-hover: #21272D !default;
$eds-theme-color-icon-neutral-subtle: #58636F !default;
$eds-theme-color-icon-neutral-subtle-hover: #3C444C !default;
$eds-theme-color-icon-link-default: #766FFD !default;
$eds-theme-color-icon-link-default-hover: #574EFF !default;
$eds-theme-color-icon-brand-primary: #766FFD !default;
$eds-theme-color-icon-brand-primary-hover: #574EFF !default;
$eds-theme-color-icon-utility-success: #00A66A !default;
$eds-theme-color-icon-utility-success-hover: #008756 !default;
$eds-theme-color-icon-utility-warning: #E06C00 !default;
$eds-theme-color-icon-utility-warning-hover: #C64600 !default;
$eds-theme-color-icon-utility-error: #F1497C !default;
$eds-theme-color-icon-utility-error-hover: #D41E52 !default;
$eds-theme-color-icon-grade-complete: #00A66A !default;
$eds-theme-color-icon-grade-complete-hover: #00A66A !default;
$eds-theme-color-icon-grade-revise: #21272D !default;
$eds-theme-color-icon-grade-revise-hover: #21272D !default;
$eds-theme-color-icon-grade-stop: #F1497C !default;
$eds-theme-color-icon-grade-stop-hover: #F1497C !default;
$eds-theme-color-icon-disabled: #CAD1D8 !default;
$eds-theme-color-text-neutral-default: #21272D !default;
$eds-theme-color-text-neutral-default-inverse: #FFFFFF !default;
$eds-theme-color-text-neutral-strong: #21272D !default;
$eds-theme-color-text-neutral-subtle: #3C444C !default;
$eds-theme-color-text-link-default: #21272D !default;
$eds-theme-color-text-link-default-hover: #21272D !default;
$eds-theme-color-text-link-strong: #433BDE !default;
$eds-theme-color-text-link-strong-hover: #312B9E !default;
$eds-theme-color-text-utility-success: #007349 !default;
$eds-theme-color-text-utility-warning: #AC3400 !default;
$eds-theme-color-text-utility-error: #BD0044 !default;
$eds-theme-color-text-grade-complete: #007349 !default;
$eds-theme-color-text-grade-revise: #21272D !default;
$eds-theme-color-text-grade-stop: #BD0044 !default;
$eds-theme-color-text-disabled: #CAD1D8 !default;
$eds-theme-color-text-brand-primary: #433BDE !default;
$eds-theme-color-transparent-black-0: rgba(0, 0, 0, 0) !default;
$eds-theme-color-transparent-black-30: rgba(0, 0, 0, .3) !default;
$eds-theme-color-transparent-white-0: rgba(255, 255, 255, 0) !default;
$eds-theme-color-body-background: #F3F3F3 !default;
$eds-theme-color-body-background-inverted: #21272D !default;
$eds-theme-color-button-primary-brand-background: #574EFF !default;
$eds-theme-color-button-primary-brand-background-hover: #433BDE !default;
$eds-theme-color-button-primary-brand-background-active: #312B9E !default;
$eds-theme-color-button-primary-brand-border: #574EFF !default;
$eds-theme-color-button-primary-brand-border-hover: #433BDE !default;
$eds-theme-color-button-primary-brand-border-active: #312B9E !default;
$eds-theme-color-button-primary-brand-text: #FFFFFF !default;
$eds-theme-color-button-primary-brand-text-hover: #FFFFFF !default;
$eds-theme-color-button-primary-brand-text-active: #FFFFFF !default;
$eds-theme-color-button-primary-error-background: #D41E52 !default;
$eds-theme-color-button-primary-error-background-hover: #BD0044 !default;
$eds-theme-color-button-primary-error-background-active: #8F0134 !default;
$eds-theme-color-button-primary-error-border: #D41E52 !default;
$eds-theme-color-button-primary-error-border-hover: #BD0044 !default;
$eds-theme-color-button-primary-error-border-active: #8F0134 !default;
$eds-theme-color-button-primary-error-text: #FFFFFF !default;
$eds-theme-color-button-primary-error-text-hover: #FFFFFF !default;
$eds-theme-color-button-primary-error-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-brand-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-brand-background-hover: #433BDE !default;
$eds-theme-color-button-secondary-brand-background-active: #312B9E !default;
$eds-theme-color-button-secondary-brand-border: #433BDE !default;
$eds-theme-color-button-secondary-brand-border-hover: #433BDE !default;
$eds-theme-color-button-secondary-brand-border-active: #312B9E !default;
$eds-theme-color-button-secondary-brand-text: #433BDE !default;
$eds-theme-color-button-secondary-brand-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-brand-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-neutral-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-neutral-background-hover: #3C444C !default;
$eds-theme-color-button-secondary-neutral-background-active: #21272D !default;
$eds-theme-color-button-secondary-neutral-border: #3C444C !default;
$eds-theme-color-button-secondary-neutral-border-hover: #3C444C !default;
$eds-theme-color-button-secondary-neutral-border-active: #21272D !default;
$eds-theme-color-button-secondary-neutral-text: #3C444C !default;
$eds-theme-color-button-secondary-neutral-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-neutral-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-success-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-success-background-hover: #007349 !default;
$eds-theme-color-button-secondary-success-background-active: #005939 !default;
$eds-theme-color-button-secondary-success-border: #007349 !default;
$eds-theme-color-button-secondary-success-border-hover: #007349 !default;
$eds-theme-color-button-secondary-success-border-active: #005939 !default;
$eds-theme-color-button-secondary-success-text: #007349 !default;
$eds-theme-color-button-secondary-success-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-success-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-warning-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-warning-background-hover: #AC3400 !default;
$eds-theme-color-button-secondary-warning-background-active: #852800 !default;
$eds-theme-color-button-secondary-warning-border: #AC3400 !default;
$eds-theme-color-button-secondary-warning-border-hover: #AC3400 !default;
$eds-theme-color-button-secondary-warning-border-active: #852800 !default;
$eds-theme-color-button-secondary-warning-text: #AC3400 !default;
$eds-theme-color-button-secondary-warning-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-warning-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-error-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-error-background-hover: #BD0044 !default;
$eds-theme-color-button-secondary-error-background-active: #8F0134 !default;
$eds-theme-color-button-secondary-error-border: #BD0044 !default;
$eds-theme-color-button-secondary-error-border-hover: #BD0044 !default;
$eds-theme-color-button-secondary-error-border-active: #8F0134 !default;
$eds-theme-color-button-secondary-error-text: #BD0044 !default;
$eds-theme-color-button-secondary-error-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-error-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-brand-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-brand-background-hover: #F7F1FF !default;
$eds-theme-color-button-icon-brand-background-active: #433BDE !default;
$eds-theme-color-button-icon-brand-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-brand-border-hover: #F7F1FF !default;
$eds-theme-color-button-icon-brand-border-active: #433BDE !default;
$eds-theme-color-button-icon-brand-text: #433BDE !default;
$eds-theme-color-button-icon-brand-text-hover: #433BDE !default;
$eds-theme-color-button-icon-brand-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-neutral-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-neutral-background-hover: #F3F3F3 !default;
$eds-theme-color-button-icon-neutral-background-active: #3C444C !default;
$eds-theme-color-button-icon-neutral-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-neutral-border-hover: #F3F3F3 !default;
$eds-theme-color-button-icon-neutral-border-active: #3C444C !default;
$eds-theme-color-button-icon-neutral-text: #3C444C !default;
$eds-theme-color-button-icon-neutral-text-hover: #3C444C !default;
$eds-theme-color-button-icon-neutral-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-success-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-success-background-hover: #ECFFF5 !default;
$eds-theme-color-button-icon-success-background-active: #007349 !default;
$eds-theme-color-button-icon-success-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-success-border-hover: #ECFFF5 !default;
$eds-theme-color-button-icon-success-border-active: #007349 !default;
$eds-theme-color-button-icon-success-text: #007349 !default;
$eds-theme-color-button-icon-success-text-hover: #007349 !default;
$eds-theme-color-button-icon-success-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-warning-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-warning-background-hover: #FFF1E9 !default;
$eds-theme-color-button-icon-warning-background-active: #AC3400 !default;
$eds-theme-color-button-icon-warning-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-warning-border-hover: #FFF1E9 !default;
$eds-theme-color-button-icon-warning-border-active: #AC3400 !default;
$eds-theme-color-button-icon-warning-text: #AC3400 !default;
$eds-theme-color-button-icon-warning-text-hover: #AC3400 !default;
$eds-theme-color-button-icon-warning-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-error-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-error-background-hover: #FFEBF0 !default;
$eds-theme-color-button-icon-error-background-active: #BD0044 !default;
$eds-theme-color-button-icon-error-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-error-border-hover: #FFEBF0 !default;
$eds-theme-color-button-icon-error-border-active: #BD0044 !default;
$eds-theme-color-button-icon-error-text: #BD0044 !default;
$eds-theme-color-button-icon-error-text-hover: #BD0044 !default;
$eds-theme-color-button-icon-error-text-active: #FFFFFF !default;
$eds-theme-color-button-link-brand: #433BDE !default;
$eds-theme-color-button-link-brand-hover: #312B9E !default;
$eds-theme-color-button-link-brand-active: #312B9E !default;
$eds-theme-color-button-link-neutral: #3C444C !default;
$eds-theme-color-button-link-neutral-hover: #21272D !default;
$eds-theme-color-button-link-neutral-active: #21272D !default;
$eds-theme-color-button-link-success: #007349 !default;
$eds-theme-color-button-link-success-hover: #005939 !default;
$eds-theme-color-button-link-success-active: #005939 !default;
$eds-theme-color-button-link-warning: #AC3400 !default;
$eds-theme-color-button-link-warning-hover: #852800 !default;
$eds-theme-color-button-link-warning-active: #852800 !default;
$eds-theme-color-button-link-error: #BD0044 !default;
$eds-theme-color-button-link-error-hover: #8F0134 !default;
$eds-theme-color-button-link-error-active: #8F0134 !default;
$eds-theme-color-focus-ring: #766FFD !default;
$eds-theme-color-focus-ring-inverted: #FFFFFF !default;
$eds-theme-color-form-border: #CAD1D8 !default;
$eds-theme-color-form-border-hover: #838C95 !default;
$eds-theme-color-form-background: #FFFFFF !default;
$eds-theme-color-form-background-hover: #F3F3F3 !default;
$eds-theme-color-form-label: #21272D !default;
$eds-theme-color-text-highlight-foreground: #21272D !default;
$eds-theme-color-text-highlight-background: #FCFF00 !default;
$eds-theme-box-shadow: 0px 0px 0px 1px var(--eds-color-neutral-200), 0px 2px 3px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.08) !default;
$eds-theme-form-border-width: 1px !default;
$eds-theme-form-border-radius: 4px !default;
$legacy-color-gray-50: #F8F9FC !default;
$legacy-color-gray-100: #EBEBEC !default;
$legacy-color-gray-200: #D8D8D9 !default;
$legacy-color-gray-300: #C5C5C6 !default;
$legacy-color-gray-500: #9F9FA0 !default;
$legacy-color-gray-700: #78797A !default;
$legacy-color-gray-1000: #3F4041 !default;
$legacy-color-black: #2C2D2E !default;
$legacy-color-red-100: #F7DDDD !default;
$legacy-color-red-200: #F25252 !default;
$legacy-color-green-100: #E1F0E7 !default;
$legacy-color-green-200: #6CC188 !default;
$legacy-color-green-300: #457B57 !default;
$legacy-color-yellow-200: #FFC55B !default;
$legacy-color-yellow-300: #A46900 !default;
$legacy-color-yellow-400: #644C1F !default;
$legacy-color-purple-200: #7686D3 !default;
$legacy-color-purple-300: #5761BA !default;
$legacy-color-purple-400: #32417C !default;
$legacy-size-font-h1: 1.5rem !default;
$legacy-size-font-h2: 1.125rem !default;
$legacy-size-font-body: 1rem !default;
$legacy-size-font-sm: 0.875rem !default;
$legacy-size-font-xs: 0.75rem !default;
$legacy-size-line-height-h1: 2rem !default;
$legacy-size-line-height-body: 1.5rem !default;
$legacy-size-line-height-sm: 1.25rem !default;
$legacy-size-line-height-xs: 1rem !default;

$tokens: (
  'eds': (
    'anim': (
      'fade': (
        'quick': $eds-anim-fade-quick,
        'long': $eds-anim-fade-long
      ),
      'move': (
        'quick': $eds-anim-move-quick,
        'medium': $eds-anim-move-medium,
        'long': $eds-anim-move-long
      ),
      'ease': $eds-anim-ease
    ),
    'border': (
      'width': (
        'sm': $eds-border-width-sm,
        'md': $eds-border-width-md,
        'lg': $eds-border-width-lg,
        'xl': $eds-border-width-xl
      ),
      'radius': (
        'md': $eds-border-radius-md,
        'lg': $eds-border-radius-lg,
        'xl': $eds-border-radius-xl,
        'round': $eds-border-radius-round,
        'full': $eds-border-radius-full
      )
    ),
    'color': (
      'brand': (
        '100': $eds-color-brand-100,
        '200': $eds-color-brand-200,
        '300': $eds-color-brand-300,
        '400': $eds-color-brand-400,
        '500': $eds-color-brand-500,
        '600': $eds-color-brand-600,
        '700': $eds-color-brand-700,
        '800': $eds-color-brand-800,
        'grape': (
          '100': $eds-color-brand-grape-100,
          '200': $eds-color-brand-grape-200,
          '300': $eds-color-brand-grape-300,
          '400': $eds-color-brand-grape-400,
          '500': $eds-color-brand-grape-500,
          '600': $eds-color-brand-grape-600,
          '700': $eds-color-brand-grape-700,
          '800': $eds-color-brand-grape-800
        )
      ),
      'neutral': (
        '100': $eds-color-neutral-100,
        '200': $eds-color-neutral-200,
        '300': $eds-color-neutral-300,
        '400': $eds-color-neutral-400,
        '500': $eds-color-neutral-500,
        '600': $eds-color-neutral-600,
        '700': $eds-color-neutral-700,
        '800': $eds-color-neutral-800,
        'white': $eds-color-neutral-white,
        'black': $eds-color-neutral-black
      ),
      'other': (
        'mint': (
          '100': $eds-color-other-mint-100,
          '200': $eds-color-other-mint-200,
          '300': $eds-color-other-mint-300,
          '400': $eds-color-other-mint-400,
          '500': $eds-color-other-mint-500,
          '600': $eds-color-other-mint-600,
          '700': $eds-color-other-mint-700,
          '800': $eds-color-other-mint-800
        ),
        'yellow': (
          '100': $eds-color-other-yellow-100,
          '200': $eds-color-other-yellow-200,
          '300': $eds-color-other-yellow-300,
          '400': $eds-color-other-yellow-400,
          '500': $eds-color-other-yellow-500,
          '600': $eds-color-other-yellow-600,
          '700': $eds-color-other-yellow-700,
          '800': $eds-color-other-yellow-800
        ),
        'lemon': $eds-color-other-lemon,
        'orange': (
          '100': $eds-color-other-orange-100,
          '200': $eds-color-other-orange-200,
          '300': $eds-color-other-orange-300,
          '400': $eds-color-other-orange-400,
          '500': $eds-color-other-orange-500,
          '600': $eds-color-other-orange-600,
          '700': $eds-color-other-orange-700,
          '800': $eds-color-other-orange-800
        ),
        'ruby': (
          '100': $eds-color-other-ruby-100,
          '200': $eds-color-other-ruby-200,
          '300': $eds-color-other-ruby-300,
          '400': $eds-color-other-ruby-400,
          '500': $eds-color-other-ruby-500,
          '600': $eds-color-other-ruby-600,
          '700': $eds-color-other-ruby-700,
          '800': $eds-color-other-ruby-800
        )
      ),
      'white': $eds-color-white,
      'black': $eds-color-black,
      'alert': (
        '100': $eds-color-alert-100,
        '200': $eds-color-alert-200,
        '300': $eds-color-alert-300,
        '400': $eds-color-alert-400,
        '500': $eds-color-alert-500,
        '600': $eds-color-alert-600,
        '700': $eds-color-alert-700,
        '800': $eds-color-alert-800
      ),
      'success': (
        '100': $eds-color-success-100,
        '200': $eds-color-success-200,
        '300': $eds-color-success-300,
        '400': $eds-color-success-400,
        '500': $eds-color-success-500,
        '600': $eds-color-success-600,
        '700': $eds-color-success-700,
        '800': $eds-color-success-800
      ),
      'info': (
        '100': $eds-color-info-100,
        '200': $eds-color-info-200,
        '300': $eds-color-info-300,
        '400': $eds-color-info-400,
        '500': $eds-color-info-500,
        '600': $eds-color-info-600,
        '700': $eds-color-info-700
      ),
      'warning': (
        '100': $eds-color-warning-100,
        '200': $eds-color-warning-200,
        '300': $eds-color-warning-300,
        '400': $eds-color-warning-400,
        '500': $eds-color-warning-500,
        '600': $eds-color-warning-600,
        '700': $eds-color-warning-700,
        '800': $eds-color-warning-800
      ),
      'yellow': (
        '100': $eds-color-yellow-100,
        '500': $eds-color-yellow-500
      ),
      'highlight': (
        '100': $eds-color-highlight-100,
        '200': $eds-color-highlight-200,
        '300': $eds-color-highlight-300,
        '400': $eds-color-highlight-400,
        '500': $eds-color-highlight-500,
        '600': $eds-color-highlight-600
      )
    ),
    'l': (
      'max-width': $eds-l-max-width,
      'sidebar-width': $eds-l-sidebar-width,
      'linelength-width': $eds-l-linelength-width
    ),
    'box-shadow': (
      'sm': $eds-box-shadow-sm,
      'md': $eds-box-shadow-md
    ),
    'size': (
      '1': $eds-size-1,
      '2': $eds-size-2,
      '3': $eds-size-3,
      '4': $eds-size-4,
      '5': $eds-size-5,
      '6': $eds-size-6,
      '7': $eds-size-7,
      '8': $eds-size-8,
      '9': $eds-size-9,
      '10': $eds-size-10,
      'base-unit': $eds-size-base-unit,
      'half': $eds-size-half,
      '1-and-half': $eds-size-1-and-half,
      '2-and-half': $eds-size-2-and-half,
      '3-and-half': $eds-size-3-and-half
    ),
    'font-family': (
      'primary': $eds-font-family-primary,
      'secondary': $eds-font-family-secondary
    ),
    'font-size': (
      '11': $eds-font-size-11,
      '12': $eds-font-size-12,
      '14': $eds-font-size-14,
      '16': $eds-font-size-16,
      '18': $eds-font-size-18,
      '24': $eds-font-size-24,
      '32': $eds-font-size-32,
      '40': $eds-font-size-40,
      'base': $eds-font-size-base
    ),
    'font-weight': (
      'light': $eds-font-weight-light,
      'medium': $eds-font-weight-medium,
      'bold': $eds-font-weight-bold
    ),
    'letter-spacing': (
      'sm': $eds-letter-spacing-sm
    ),
    'z-index': (
      '0': $eds-z-index-0,
      '100': $eds-z-index-100,
      '200': $eds-z-index-200,
      '300': $eds-z-index-300,
      '400': $eds-z-index-400,
      '500': $eds-z-index-500,
      'top': $eds-z-index-top,
      'bottom': $eds-z-index-bottom
    ),
    'theme': (
      'border': (
        'radius': $eds-theme-border-radius,
        'width': $eds-theme-border-width
      ),
      'color': (
        'background': (
          'neutral': (
            'default': (
              '@': $eds-theme-color-background-neutral-default,
              'hover': $eds-theme-color-background-neutral-default-hover
            ),
            'subtle': (
              '@': $eds-theme-color-background-neutral-subtle,
              'hover': $eds-theme-color-background-neutral-subtle-hover
            ),
            'medium': (
              '@': $eds-theme-color-background-neutral-medium,
              'hover': $eds-theme-color-background-neutral-medium-hover
            )
          ),
          'brand': (
            'primary': (
              'default': $eds-theme-color-background-brand-primary-default,
              'strong': (
                '@': $eds-theme-color-background-brand-primary-strong,
                'hover': $eds-theme-color-background-brand-primary-strong-hover
              )
            )
          ),
          'utility': (
            'success': $eds-theme-color-background-utility-success,
            'warning': $eds-theme-color-background-utility-warning,
            'error': $eds-theme-color-background-utility-error
          ),
          'grade': (
            'complete': (
              'default': $eds-theme-color-background-grade-complete-default,
              'subtle': $eds-theme-color-background-grade-complete-subtle
            ),
            'revise': (
              'default': $eds-theme-color-background-grade-revise-default,
              'subtle': $eds-theme-color-background-grade-revise-subtle
            ),
            'stop': (
              'default': $eds-theme-color-background-grade-stop-default,
              'subtle': $eds-theme-color-background-grade-stop-subtle
            )
          ),
          'disabled': $eds-theme-color-background-disabled
        ),
        'border': (
          'neutral': (
            'subtle': (
              '@': $eds-theme-color-border-neutral-subtle,
              'hover': $eds-theme-color-border-neutral-subtle-hover
            ),
            'default': (
              '@': $eds-theme-color-border-neutral-default,
              'hover': $eds-theme-color-border-neutral-default-hover
            ),
            'strong': (
              '@': $eds-theme-color-border-neutral-strong,
              'hover': $eds-theme-color-border-neutral-strong-hover
            )
          ),
          'brand': (
            'primary': (
              'subtle': $eds-theme-color-border-brand-primary-subtle,
              '@': $eds-theme-color-border-brand-primary,
              'strong': $eds-theme-color-border-brand-primary-strong
            )
          ),
          'utility': (
            'success': (
              'subtle': $eds-theme-color-border-utility-success-subtle,
              'default': $eds-theme-color-border-utility-success-default,
              'strong': $eds-theme-color-border-utility-success-strong
            ),
            'warning': (
              'subtle': $eds-theme-color-border-utility-warning-subtle,
              'default': $eds-theme-color-border-utility-warning-default,
              'strong': $eds-theme-color-border-utility-warning-strong
            ),
            'error': (
              'subtle': $eds-theme-color-border-utility-error-subtle,
              'default': $eds-theme-color-border-utility-error-default,
              'strong': $eds-theme-color-border-utility-error-strong
            )
          ),
          'grade': (
            'complete': $eds-theme-color-border-grade-complete,
            'revise': (
              'subtle': $eds-theme-color-border-grade-revise-subtle,
              'default': $eds-theme-color-border-grade-revise-default,
              'strong': $eds-theme-color-border-grade-revise-strong
            ),
            'stop': $eds-theme-color-border-grade-stop
          ),
          'disabled': $eds-theme-color-border-disabled
        ),
        'icon': (
          'neutral': (
            'default': (
              '@': $eds-theme-color-icon-neutral-default,
              'inverse': $eds-theme-color-icon-neutral-default-inverse,
              'hover': $eds-theme-color-icon-neutral-default-hover
            ),
            'strong': (
              '@': $eds-theme-color-icon-neutral-strong,
              'hover': $eds-theme-color-icon-neutral-strong-hover
            ),
            'subtle': (
              '@': $eds-theme-color-icon-neutral-subtle,
              'hover': $eds-theme-color-icon-neutral-subtle-hover
            )
          ),
          'link': (
            'default': (
              '@': $eds-theme-color-icon-link-default,
              'hover': $eds-theme-color-icon-link-default-hover
            )
          ),
          'brand': (
            'primary': (
              '@': $eds-theme-color-icon-brand-primary,
              'hover': $eds-theme-color-icon-brand-primary-hover
            )
          ),
          'utility': (
            'success': (
              '@': $eds-theme-color-icon-utility-success,
              'hover': $eds-theme-color-icon-utility-success-hover
            ),
            'warning': (
              '@': $eds-theme-color-icon-utility-warning,
              'hover': $eds-theme-color-icon-utility-warning-hover
            ),
            'error': (
              '@': $eds-theme-color-icon-utility-error,
              'hover': $eds-theme-color-icon-utility-error-hover
            )
          ),
          'grade': (
            'complete': (
              '@': $eds-theme-color-icon-grade-complete,
              'hover': $eds-theme-color-icon-grade-complete-hover
            ),
            'revise': (
              '@': $eds-theme-color-icon-grade-revise,
              'hover': $eds-theme-color-icon-grade-revise-hover
            ),
            'stop': (
              '@': $eds-theme-color-icon-grade-stop,
              'hover': $eds-theme-color-icon-grade-stop-hover
            )
          ),
          'disabled': $eds-theme-color-icon-disabled
        ),
        'text': (
          'neutral': (
            'default': (
              '@': $eds-theme-color-text-neutral-default,
              'inverse': $eds-theme-color-text-neutral-default-inverse
            ),
            'strong': $eds-theme-color-text-neutral-strong,
            'subtle': $eds-theme-color-text-neutral-subtle
          ),
          'link': (
            'default': (
              '@': $eds-theme-color-text-link-default,
              'hover': $eds-theme-color-text-link-default-hover
            ),
            'strong': (
              '@': $eds-theme-color-text-link-strong,
              'hover': $eds-theme-color-text-link-strong-hover
            )
          ),
          'utility': (
            'success': $eds-theme-color-text-utility-success,
            'warning': $eds-theme-color-text-utility-warning,
            'error': $eds-theme-color-text-utility-error
          ),
          'grade': (
            'complete': $eds-theme-color-text-grade-complete,
            'revise': $eds-theme-color-text-grade-revise,
            'stop': $eds-theme-color-text-grade-stop
          ),
          'disabled': $eds-theme-color-text-disabled,
          'brand': (
            'primary': $eds-theme-color-text-brand-primary
          )
        ),
        'transparent': (
          'black': (
            '0': $eds-theme-color-transparent-black-0,
            '30': $eds-theme-color-transparent-black-30
          ),
          'white': (
            '0': $eds-theme-color-transparent-white-0
          )
        ),
        'body': (
          'background': (
            '@': $eds-theme-color-body-background,
            'inverted': $eds-theme-color-body-background-inverted
          )
        ),
        'button': (
          'primary': (
            'brand': (
              'background': (
                '@': $eds-theme-color-button-primary-brand-background,
                'hover': $eds-theme-color-button-primary-brand-background-hover,
                'active': $eds-theme-color-button-primary-brand-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-primary-brand-border,
                'hover': $eds-theme-color-button-primary-brand-border-hover,
                'active': $eds-theme-color-button-primary-brand-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-primary-brand-text,
                'hover': $eds-theme-color-button-primary-brand-text-hover,
                'active': $eds-theme-color-button-primary-brand-text-active
              )
            ),
            'error': (
              'background': (
                '@': $eds-theme-color-button-primary-error-background,
                'hover': $eds-theme-color-button-primary-error-background-hover,
                'active': $eds-theme-color-button-primary-error-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-primary-error-border,
                'hover': $eds-theme-color-button-primary-error-border-hover,
                'active': $eds-theme-color-button-primary-error-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-primary-error-text,
                'hover': $eds-theme-color-button-primary-error-text-hover,
                'active': $eds-theme-color-button-primary-error-text-active
              )
            )
          ),
          'secondary': (
            'brand': (
              'background': (
                '@': $eds-theme-color-button-secondary-brand-background,
                'hover': $eds-theme-color-button-secondary-brand-background-hover,
                'active': $eds-theme-color-button-secondary-brand-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-brand-border,
                'hover': $eds-theme-color-button-secondary-brand-border-hover,
                'active': $eds-theme-color-button-secondary-brand-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-brand-text,
                'hover': $eds-theme-color-button-secondary-brand-text-hover,
                'active': $eds-theme-color-button-secondary-brand-text-active
              )
            ),
            'neutral': (
              'background': (
                '@': $eds-theme-color-button-secondary-neutral-background,
                'hover': $eds-theme-color-button-secondary-neutral-background-hover,
                'active': $eds-theme-color-button-secondary-neutral-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-neutral-border,
                'hover': $eds-theme-color-button-secondary-neutral-border-hover,
                'active': $eds-theme-color-button-secondary-neutral-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-neutral-text,
                'hover': $eds-theme-color-button-secondary-neutral-text-hover,
                'active': $eds-theme-color-button-secondary-neutral-text-active
              )
            ),
            'success': (
              'background': (
                '@': $eds-theme-color-button-secondary-success-background,
                'hover': $eds-theme-color-button-secondary-success-background-hover,
                'active': $eds-theme-color-button-secondary-success-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-success-border,
                'hover': $eds-theme-color-button-secondary-success-border-hover,
                'active': $eds-theme-color-button-secondary-success-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-success-text,
                'hover': $eds-theme-color-button-secondary-success-text-hover,
                'active': $eds-theme-color-button-secondary-success-text-active
              )
            ),
            'warning': (
              'background': (
                '@': $eds-theme-color-button-secondary-warning-background,
                'hover': $eds-theme-color-button-secondary-warning-background-hover,
                'active': $eds-theme-color-button-secondary-warning-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-warning-border,
                'hover': $eds-theme-color-button-secondary-warning-border-hover,
                'active': $eds-theme-color-button-secondary-warning-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-warning-text,
                'hover': $eds-theme-color-button-secondary-warning-text-hover,
                'active': $eds-theme-color-button-secondary-warning-text-active
              )
            ),
            'error': (
              'background': (
                '@': $eds-theme-color-button-secondary-error-background,
                'hover': $eds-theme-color-button-secondary-error-background-hover,
                'active': $eds-theme-color-button-secondary-error-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-error-border,
                'hover': $eds-theme-color-button-secondary-error-border-hover,
                'active': $eds-theme-color-button-secondary-error-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-error-text,
                'hover': $eds-theme-color-button-secondary-error-text-hover,
                'active': $eds-theme-color-button-secondary-error-text-active
              )
            )
          ),
          'icon': (
            'brand': (
              'background': (
                '@': $eds-theme-color-button-icon-brand-background,
                'hover': $eds-theme-color-button-icon-brand-background-hover,
                'active': $eds-theme-color-button-icon-brand-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-brand-border,
                'hover': $eds-theme-color-button-icon-brand-border-hover,
                'active': $eds-theme-color-button-icon-brand-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-brand-text,
                'hover': $eds-theme-color-button-icon-brand-text-hover,
                'active': $eds-theme-color-button-icon-brand-text-active
              )
            ),
            'neutral': (
              'background': (
                '@': $eds-theme-color-button-icon-neutral-background,
                'hover': $eds-theme-color-button-icon-neutral-background-hover,
                'active': $eds-theme-color-button-icon-neutral-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-neutral-border,
                'hover': $eds-theme-color-button-icon-neutral-border-hover,
                'active': $eds-theme-color-button-icon-neutral-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-neutral-text,
                'hover': $eds-theme-color-button-icon-neutral-text-hover,
                'active': $eds-theme-color-button-icon-neutral-text-active
              )
            ),
            'success': (
              'background': (
                '@': $eds-theme-color-button-icon-success-background,
                'hover': $eds-theme-color-button-icon-success-background-hover,
                'active': $eds-theme-color-button-icon-success-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-success-border,
                'hover': $eds-theme-color-button-icon-success-border-hover,
                'active': $eds-theme-color-button-icon-success-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-success-text,
                'hover': $eds-theme-color-button-icon-success-text-hover,
                'active': $eds-theme-color-button-icon-success-text-active
              )
            ),
            'warning': (
              'background': (
                '@': $eds-theme-color-button-icon-warning-background,
                'hover': $eds-theme-color-button-icon-warning-background-hover,
                'active': $eds-theme-color-button-icon-warning-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-warning-border,
                'hover': $eds-theme-color-button-icon-warning-border-hover,
                'active': $eds-theme-color-button-icon-warning-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-warning-text,
                'hover': $eds-theme-color-button-icon-warning-text-hover,
                'active': $eds-theme-color-button-icon-warning-text-active
              )
            ),
            'error': (
              'background': (
                '@': $eds-theme-color-button-icon-error-background,
                'hover': $eds-theme-color-button-icon-error-background-hover,
                'active': $eds-theme-color-button-icon-error-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-error-border,
                'hover': $eds-theme-color-button-icon-error-border-hover,
                'active': $eds-theme-color-button-icon-error-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-error-text,
                'hover': $eds-theme-color-button-icon-error-text-hover,
                'active': $eds-theme-color-button-icon-error-text-active
              )
            )
          ),
          'link': (
            'brand': (
              '@': $eds-theme-color-button-link-brand,
              'hover': $eds-theme-color-button-link-brand-hover,
              'active': $eds-theme-color-button-link-brand-active
            ),
            'neutral': (
              '@': $eds-theme-color-button-link-neutral,
              'hover': $eds-theme-color-button-link-neutral-hover,
              'active': $eds-theme-color-button-link-neutral-active
            ),
            'success': (
              '@': $eds-theme-color-button-link-success,
              'hover': $eds-theme-color-button-link-success-hover,
              'active': $eds-theme-color-button-link-success-active
            ),
            'warning': (
              '@': $eds-theme-color-button-link-warning,
              'hover': $eds-theme-color-button-link-warning-hover,
              'active': $eds-theme-color-button-link-warning-active
            ),
            'error': (
              '@': $eds-theme-color-button-link-error,
              'hover': $eds-theme-color-button-link-error-hover,
              'active': $eds-theme-color-button-link-error-active
            )
          )
        ),
        'focus-ring': (
          '@': $eds-theme-color-focus-ring,
          'inverted': $eds-theme-color-focus-ring-inverted
        ),
        'form': (
          'border': (
            '@': $eds-theme-color-form-border,
            'hover': $eds-theme-color-form-border-hover
          ),
          'background': (
            '@': $eds-theme-color-form-background,
            'hover': $eds-theme-color-form-background-hover
          ),
          'label': $eds-theme-color-form-label
        ),
        'text-highlight': (
          'foreground': $eds-theme-color-text-highlight-foreground,
          'background': $eds-theme-color-text-highlight-background
        )
      ),
      'box-shadow': $eds-theme-box-shadow,
      'form': (
        'border': (
          'width': $eds-theme-form-border-width,
          'radius': $eds-theme-form-border-radius
        )
      )
    )
  ),
  'legacy': (
    'color': (
      'gray': (
        '50': $legacy-color-gray-50,
        '100': $legacy-color-gray-100,
        '200': $legacy-color-gray-200,
        '300': $legacy-color-gray-300,
        '500': $legacy-color-gray-500,
        '700': $legacy-color-gray-700,
        '1000': $legacy-color-gray-1000
      ),
      'black': $legacy-color-black,
      'red': (
        '100': $legacy-color-red-100,
        '200': $legacy-color-red-200
      ),
      'green': (
        '100': $legacy-color-green-100,
        '200': $legacy-color-green-200,
        '300': $legacy-color-green-300
      ),
      'yellow': (
        '200': $legacy-color-yellow-200,
        '300': $legacy-color-yellow-300,
        '400': $legacy-color-yellow-400
      ),
      'purple': (
        '200': $legacy-color-purple-200,
        '300': $legacy-color-purple-300,
        '400': $legacy-color-purple-400
      )
    ),
    'size': (
      'font': (
        'h1': $legacy-size-font-h1,
        'h2': $legacy-size-font-h2,
        'body': $legacy-size-font-body,
        'sm': $legacy-size-font-sm,
        'xs': $legacy-size-font-xs
      ),
      'line-height': (
        'h1': $legacy-size-line-height-h1,
        'body': $legacy-size-line-height-body,
        'sm': $legacy-size-line-height-sm,
        'xs': $legacy-size-line-height-xs
      )
    )
  )
);
