
$eds-anim-fade-quick: 0.15s !default;
$eds-anim-fade-long: 0.4s !default;
$eds-anim-move-quick: 0.15s !default;
$eds-anim-move-medium: 0.3s !default;
$eds-anim-move-long: 0.4s !default;
$eds-anim-ease: ease !default;
$eds-border-width-sm: 1px !default;
$eds-border-width-md: 2px !default;
$eds-border-width-lg: 4px !default;
$eds-border-width-xl: 8px !default;
$eds-border-radius-md: 4px !default;
$eds-border-radius-lg: 8px !default;
$eds-border-radius-xl: 20px !default;
$eds-border-radius-round: 50% !default;
$eds-border-radius-full: 9999px !default;
$eds-color-brand-grape-100: #F0F0FC !default;
$eds-color-brand-grape-200: #E0E0F9 !default;
$eds-color-brand-grape-300: #C4C1F3 !default;
$eds-color-brand-grape-400: #A6A3EE !default;
$eds-color-brand-grape-500: #8984E8 !default;
$eds-color-brand-grape-600: #6B65E2 !default;
$eds-color-brand-grape-700: #5751D2 !default;
$eds-color-brand-grape-800: #3E42B1 !default;
$eds-color-neutral-100: #F4F6F8 !default;
$eds-color-neutral-200: #E7E8EA !default;
$eds-color-neutral-300: #C0C4C8 !default;
$eds-color-neutral-400: #999EA3 !default;
$eds-color-neutral-500: #878C90 !default;
$eds-color-neutral-600: #5D6369 !default;
$eds-color-neutral-700: #383C43 !default;
$eds-color-neutral-800: #21272D !default;
$eds-color-neutral-white: #FFFFFF !default;
$eds-color-neutral-black: #161B1F !default;
$eds-color-other-mint-100: #ECFFF5 !default;
$eds-color-other-mint-200: #B7E9CE !default;
$eds-color-other-mint-300: #8FDCB3 !default;
$eds-color-other-mint-400: #59C88C !default;
$eds-color-other-mint-500: #00A56A !default;
$eds-color-other-mint-600: #008656 !default;
$eds-color-other-mint-700: #007249 !default;
$eds-color-other-mint-800: #005939 !default;
$eds-color-other-yellow-100: #FDF1D0 !default;
$eds-color-other-yellow-200: #FFEBB3 !default;
$eds-color-other-yellow-300: #FFDD80 !default;
$eds-color-other-yellow-400: #F7BE2D !default;
$eds-color-other-yellow-500: #D18400 !default;
$eds-color-other-yellow-600: #BF7300 !default;
$eds-color-other-yellow-700: #9E5B03 !default;
$eds-color-other-yellow-800: #854C03 !default;
$eds-color-other-lemon: #F5FF8F !default;
$eds-color-other-eraser: #F3DCE2 !default;
$eds-color-other-orange-100: #FFF1E9 !default;
$eds-color-other-orange-200: #FFCBA5 !default;
$eds-color-other-orange-300: #FFAF76 !default;
$eds-color-other-orange-400: #F6924A !default;
$eds-color-other-orange-500: #E06B00 !default;
$eds-color-other-orange-600: #C64600 !default;
$eds-color-other-orange-700: #AC3400 !default;
$eds-color-other-orange-800: #842800 !default;
$eds-color-other-ruby-100: #FFF0F4 !default;
$eds-color-other-ruby-200: #FFCBD7 !default;
$eds-color-other-ruby-300: #FB90B0 !default;
$eds-color-other-ruby-400: #F76C96 !default;
$eds-color-other-ruby-500: #F1497B !default;
$eds-color-other-ruby-600: #D41E52 !default;
$eds-color-other-ruby-700: #BD0044 !default;
$eds-color-other-ruby-800: #8F0134 !default;
$eds-color-highlight-100: #FF9FEC !default;
$eds-color-highlight-200: #FFBEAA !default;
$eds-color-highlight-300: #FCFF00 !default;
$eds-color-highlight-400: #9DFFA4 !default;
$eds-color-highlight-500: #00F1FF !default;
$eds-color-highlight-600: #CFC9FF !default;
$eds-color-info-100: #F1F9FF !default; // legacy token, will be removed
$eds-color-info-200: #B0D5FF !default; // legacy token, will be removed
$eds-color-info-300: #7FB9FD !default; // legacy token, will be removed
$eds-color-info-400: #5CA7FF !default; // legacy token, will be removed
$eds-color-info-500: #328EFB !default; // legacy token, will be removed
$eds-color-info-600: #1977CD !default; // legacy token, will be removed
$eds-color-info-700: #0563B8 !default; // legacy token, will be removed
$eds-l-max-width: 71.25rem !default;
$eds-l-sidebar-width: 13.5rem !default;
$eds-l-linelength-width: 36rem !default;
$eds-box-shadow-sm: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 2px 1px rgba(0, 0, 0, 0.05) !default;
$eds-box-shadow-md: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 8px rgba(0, 0, 0, 0.08) !default;
$eds-box-shadow-lg: 0px 4px 12px rgba(0, 0, 0, 0.16) !default;
$eds-box-shadow-xl: 0px 6px 20px rgba(0, 0, 0, 0.2) !default;
$eds-size-1: 0.5rem !default;
$eds-size-2: 1rem !default;
$eds-size-3: 1.5rem !default;
$eds-size-4: 2rem !default;
$eds-size-5: 2.5rem !default;
$eds-size-6: 3rem !default;
$eds-size-7: 3.5rem !default;
$eds-size-8: 4rem !default;
$eds-size-9: 4.5rem !default;
$eds-size-10: 5rem !default;
$eds-size-12: 6rem !default;
$eds-size-base-unit: 0.5rem !default;
$eds-size-half: 0.25rem !default;
$eds-size-quarter: 0.125rem !default;
$eds-size-1-and-half: 0.75rem !default;
$eds-size-2-and-half: 1.25rem !default;
$eds-font-family-primary: 'Graphik', sans-serif !default;
$eds-font-family-secondary: 'Open Sans', sans-serif !default;
$eds-font-size-11: 0.688rem !default;
$eds-font-size-12: 0.75rem !default;
$eds-font-size-14: 0.875rem !default;
$eds-font-size-16: 1rem !default;
$eds-font-size-18: 1.125rem !default;
$eds-font-size-24: 1.5rem !default;
$eds-font-size-28: 1.75rem !default;
$eds-font-size-32: 2rem !default;
$eds-font-size-40: 2.5rem !default;
$eds-font-size-base: 16px !default; // Base font size for design system in px
$eds-font-weight-light: 400 !default;
$eds-font-weight-medium: 500 !default;
$eds-font-weight-bold: 600 !default;
$eds-letter-spacing-sm: 0.5px !default;
$eds-z-index-0: 0 !default;
$eds-z-index-100: 100 !default;
$eds-z-index-200: 200 !default;
$eds-z-index-300: 300 !default;
$eds-z-index-400: 400 !default;
$eds-z-index-500: 500 !default;
$eds-z-index-top: 99999 !default;
$eds-z-index-bottom: -100 !default;
$eds-theme-border-width: 1px !default;
$eds-theme-color-background-neutral-default: #FFFFFF !default;
$eds-theme-color-background-neutral-default-hover: #F4F6F8 !default;
$eds-theme-color-background-neutral-subtle: #F4F6F8 !default;
$eds-theme-color-background-neutral-subtle-hover: #E7E8EA !default;
$eds-theme-color-background-neutral-medium: #E7E8EA !default;
$eds-theme-color-background-neutral-medium-hover: #C0C4C8 !default;
$eds-theme-color-background-brand-primary-default: #F0F0FC !default;
$eds-theme-color-background-brand-primary-strong: #6B65E2 !default;
$eds-theme-color-background-brand-primary-strong-hover: #3E42B1 !default;
$eds-theme-color-background-utility-success: #ECFFF5 !default;
$eds-theme-color-background-utility-warning: #FFF1E9 !default;
$eds-theme-color-background-utility-error: #FFF0F4 !default;
$eds-theme-color-background-grade-complete-default: #008656 !default;
$eds-theme-color-background-grade-complete-subtle: #ECFFF5 !default;
$eds-theme-color-background-grade-revise-default: #F7BE2D !default;
$eds-theme-color-background-grade-revise-subtle: #FDF1D0 !default;
$eds-theme-color-background-grade-stop-default: #D41E52 !default;
$eds-theme-color-background-grade-stop-subtle: #FFF0F4 !default;
$eds-theme-color-background-disabled: #C0C4C8 !default;
$eds-theme-color-border-link-neutral: #21272D !default;
$eds-theme-color-border-link-brand: #5751D2 !default;
$eds-theme-color-border-neutral-subtle: #E7E8EA !default;
$eds-theme-color-border-neutral-subtle-hover: #C0C4C8 !default;
$eds-theme-color-border-neutral-default: #C0C4C8 !default;
$eds-theme-color-border-neutral-default-hover: #999EA3 !default;
$eds-theme-color-border-neutral-strong: #999EA3 !default;
$eds-theme-color-border-neutral-strong-hover: #878C90 !default;
$eds-theme-color-border-brand-primary-subtle: #E0E0F9 !default;
$eds-theme-color-border-brand-primary: #C4C1F3 !default;
$eds-theme-color-border-brand-primary-strong: #A6A3EE !default;
$eds-theme-color-border-utility-success-subtle: #B7E9CE !default;
$eds-theme-color-border-utility-success-default: #8FDCB3 !default;
$eds-theme-color-border-utility-success-strong: #59C88C !default;
$eds-theme-color-border-utility-warning-subtle: #FFCBA5 !default;
$eds-theme-color-border-utility-warning-default: #FFAF76 !default;
$eds-theme-color-border-utility-warning-strong: #F6924A !default;
$eds-theme-color-border-utility-error-subtle: #FFCBD7 !default;
$eds-theme-color-border-utility-error-default: #FB90B0 !default;
$eds-theme-color-border-utility-error-strong: #F76C96 !default;
$eds-theme-color-border-grade-complete: #8FDCB3 !default;
$eds-theme-color-border-grade-revise-subtle: #FFEBB3 !default;
$eds-theme-color-border-grade-revise-default: #FFDD80 !default;
$eds-theme-color-border-grade-revise-strong: #F7BE2D !default;
$eds-theme-color-border-grade-stop: #FB90B0 !default;
$eds-theme-color-border-disabled: #C0C4C8 !default;
$eds-theme-color-icon-neutral-default: #5D6369 !default;
$eds-theme-color-icon-neutral-default-inverse: #FFFFFF !default;
$eds-theme-color-icon-neutral-default-hover: #383C43 !default;
$eds-theme-color-icon-neutral-strong: #383C43 !default;
$eds-theme-color-icon-neutral-strong-hover: #21272D !default;
$eds-theme-color-icon-neutral-subtle: #878C90 !default;
$eds-theme-color-icon-neutral-subtle-hover: #5D6369 !default;
$eds-theme-color-icon-link-default: #8984E8 !default;
$eds-theme-color-icon-link-default-hover: #6B65E2 !default;
$eds-theme-color-icon-brand-primary: #8984E8 !default;
$eds-theme-color-icon-brand-primary-hover: #6B65E2 !default;
$eds-theme-color-icon-utility-success: #00A56A !default;
$eds-theme-color-icon-utility-success-hover: #008656 !default;
$eds-theme-color-icon-utility-warning: #E06B00 !default;
$eds-theme-color-icon-utility-warning-hover: #C64600 !default;
$eds-theme-color-icon-utility-error: #F1497B !default;
$eds-theme-color-icon-utility-error-hover: #D41E52 !default;
$eds-theme-color-icon-grade-complete: #00A56A !default;
$eds-theme-color-icon-grade-complete-hover: #00A56A !default;
$eds-theme-color-icon-grade-revise: #21272D !default;
$eds-theme-color-icon-grade-revise-hover: #161B1F !default;
$eds-theme-color-icon-grade-stop: #F1497B !default;
$eds-theme-color-icon-grade-stop-hover: #D41E52 !default;
$eds-theme-color-icon-disabled: #C0C4C8 !default;
$eds-theme-color-text-neutral-default: #383C43 !default;
$eds-theme-color-text-neutral-default-inverse: #FFFFFF !default;
$eds-theme-color-text-neutral-strong: #21272D !default;
$eds-theme-color-text-neutral-subtle: #5D6369 !default;
$eds-theme-color-text-link-neutral: #21272D !default;
$eds-theme-color-text-link-brand: #5751D2 !default;
$eds-theme-color-text-utility-success: #007249 !default;
$eds-theme-color-text-utility-warning: #AC3400 !default;
$eds-theme-color-text-utility-error: #BD0044 !default;
$eds-theme-color-text-grade-complete: #007249 !default;
$eds-theme-color-text-grade-revise: #21272D !default;
$eds-theme-color-text-grade-stop: #BD0044 !default;
$eds-theme-color-text-disabled: #C0C4C8 !default;
$eds-theme-color-text-brand-primary: #5751D2 !default;
$eds-theme-color-transparent-black-0: rgba(0, 0, 0, 0) !default;
$eds-theme-color-transparent-black-30: rgba(0, 0, 0, .3) !default;
$eds-theme-color-transparent-white-0: rgba(255, 255, 255, 0) !default;
$eds-theme-color-body-background: #F4F6F8 !default;
$eds-theme-color-body-background-inverted: #383C43 !default;
$eds-theme-color-button-primary-brand-background: #6B65E2 !default;
$eds-theme-color-button-primary-brand-background-hover: #5751D2 !default;
$eds-theme-color-button-primary-brand-background-active: #3E42B1 !default;
$eds-theme-color-button-primary-brand-border: #6B65E2 !default;
$eds-theme-color-button-primary-brand-border-hover: #5751D2 !default;
$eds-theme-color-button-primary-brand-border-active: #3E42B1 !default;
$eds-theme-color-button-primary-brand-text: #FFFFFF !default;
$eds-theme-color-button-primary-brand-text-hover: #FFFFFF !default;
$eds-theme-color-button-primary-brand-text-active: #FFFFFF !default;
$eds-theme-color-button-primary-error-background: #D41E52 !default;
$eds-theme-color-button-primary-error-background-hover: #BD0044 !default;
$eds-theme-color-button-primary-error-background-active: #8F0134 !default;
$eds-theme-color-button-primary-error-border: #D41E52 !default;
$eds-theme-color-button-primary-error-border-hover: #BD0044 !default;
$eds-theme-color-button-primary-error-border-active: #8F0134 !default;
$eds-theme-color-button-primary-error-text: #FFFFFF !default;
$eds-theme-color-button-primary-error-text-hover: #FFFFFF !default;
$eds-theme-color-button-primary-error-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-brand-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-brand-background-hover: #5751D2 !default;
$eds-theme-color-button-secondary-brand-background-active: #3E42B1 !default;
$eds-theme-color-button-secondary-brand-border: #6B65E2 !default;
$eds-theme-color-button-secondary-brand-border-hover: #5751D2 !default;
$eds-theme-color-button-secondary-brand-border-active: #3E42B1 !default;
$eds-theme-color-button-secondary-brand-text: #5751D2 !default;
$eds-theme-color-button-secondary-brand-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-brand-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-brand-icon: #6B65E2 !default;
$eds-theme-color-button-secondary-brand-icon-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-brand-icon-active: #FFFFFF !default;
$eds-theme-color-button-secondary-neutral-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-neutral-background-hover: #E7E8EA !default;
$eds-theme-color-button-secondary-neutral-background-active: #383C43 !default;
$eds-theme-color-button-secondary-neutral-border: #5D6369 !default;
$eds-theme-color-button-secondary-neutral-border-hover: #5D6369 !default;
$eds-theme-color-button-secondary-neutral-border-active: #383C43 !default;
$eds-theme-color-button-secondary-neutral-text: #5D6369 !default;
$eds-theme-color-button-secondary-neutral-text-hover: #5D6369 !default;
$eds-theme-color-button-secondary-neutral-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-neutral-icon: #999EA3 !default;
$eds-theme-color-button-secondary-neutral-icon-hover: #999EA3 !default;
$eds-theme-color-button-secondary-neutral-icon-active: #FFFFFF !default;
$eds-theme-color-button-secondary-success-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-success-background-hover: #007249 !default;
$eds-theme-color-button-secondary-success-background-active: #005939 !default;
$eds-theme-color-button-secondary-success-border: #008656 !default;
$eds-theme-color-button-secondary-success-border-hover: #007249 !default;
$eds-theme-color-button-secondary-success-border-active: #005939 !default;
$eds-theme-color-button-secondary-success-text: #007249 !default;
$eds-theme-color-button-secondary-success-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-success-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-success-icon: #008656 !default;
$eds-theme-color-button-secondary-success-icon-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-success-icon-active: #FFFFFF !default;
$eds-theme-color-button-secondary-warning-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-warning-background-hover: #AC3400 !default;
$eds-theme-color-button-secondary-warning-background-active: #842800 !default;
$eds-theme-color-button-secondary-warning-border: #C64600 !default;
$eds-theme-color-button-secondary-warning-border-hover: #AC3400 !default;
$eds-theme-color-button-secondary-warning-border-active: #842800 !default;
$eds-theme-color-button-secondary-warning-text: #AC3400 !default;
$eds-theme-color-button-secondary-warning-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-warning-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-warning-icon: #C64600 !default;
$eds-theme-color-button-secondary-warning-icon-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-warning-icon-active: #FFFFFF !default;
$eds-theme-color-button-secondary-error-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-secondary-error-background-hover: #BD0044 !default;
$eds-theme-color-button-secondary-error-background-active: #8F0134 !default;
$eds-theme-color-button-secondary-error-border: #D41E52 !default;
$eds-theme-color-button-secondary-error-border-hover: #BD0044 !default;
$eds-theme-color-button-secondary-error-border-active: #8F0134 !default;
$eds-theme-color-button-secondary-error-text: #BD0044 !default;
$eds-theme-color-button-secondary-error-text-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-error-text-active: #FFFFFF !default;
$eds-theme-color-button-secondary-error-icon: #D41E52 !default;
$eds-theme-color-button-secondary-error-icon-hover: #FFFFFF !default;
$eds-theme-color-button-secondary-error-icon-active: #FFFFFF !default;
$eds-theme-color-button-icon-brand: #6B65E2 !default;
$eds-theme-color-button-icon-brand-hover: #6B65E2 !default;
$eds-theme-color-button-icon-brand-active: #FFFFFF !default;
$eds-theme-color-button-icon-brand-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-brand-background-hover: #E0E0F9 !default;
$eds-theme-color-button-icon-brand-background-active: #5751D2 !default;
$eds-theme-color-button-icon-brand-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-brand-border-hover: #E0E0F9 !default;
$eds-theme-color-button-icon-brand-border-active: #5751D2 !default;
$eds-theme-color-button-icon-brand-text: #5751D2 !default;
$eds-theme-color-button-icon-brand-text-hover: #5751D2 !default;
$eds-theme-color-button-icon-brand-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-neutral: #5D6369 !default;
$eds-theme-color-button-icon-neutral-hover: #5D6369 !default;
$eds-theme-color-button-icon-neutral-active: #FFFFFF !default;
$eds-theme-color-button-icon-neutral-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-neutral-background-hover: #E7E8EA !default;
$eds-theme-color-button-icon-neutral-background-active: #5D6369 !default;
$eds-theme-color-button-icon-neutral-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-neutral-border-hover: #E7E8EA !default;
$eds-theme-color-button-icon-neutral-border-active: #5D6369 !default;
$eds-theme-color-button-icon-neutral-text: #5D6369 !default;
$eds-theme-color-button-icon-neutral-text-hover: #5D6369 !default;
$eds-theme-color-button-icon-neutral-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-success: #008656 !default;
$eds-theme-color-button-icon-success-hover: #008656 !default;
$eds-theme-color-button-icon-success-active: #FFFFFF !default;
$eds-theme-color-button-icon-success-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-success-background-hover: #B7E9CE !default;
$eds-theme-color-button-icon-success-background-active: #007249 !default;
$eds-theme-color-button-icon-success-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-success-border-hover: #B7E9CE !default;
$eds-theme-color-button-icon-success-border-active: #007249 !default;
$eds-theme-color-button-icon-success-text: #007249 !default;
$eds-theme-color-button-icon-success-text-hover: #007249 !default;
$eds-theme-color-button-icon-success-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-warning: #C64600 !default;
$eds-theme-color-button-icon-warning-hover: #C64600 !default;
$eds-theme-color-button-icon-warning-active: #FFFFFF !default;
$eds-theme-color-button-icon-warning-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-warning-background-hover: #FFF1E9 !default;
$eds-theme-color-button-icon-warning-background-active: #AC3400 !default;
$eds-theme-color-button-icon-warning-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-warning-border-hover: #FFF1E9 !default;
$eds-theme-color-button-icon-warning-border-active: #AC3400 !default;
$eds-theme-color-button-icon-warning-text: #AC3400 !default;
$eds-theme-color-button-icon-warning-text-hover: #AC3400 !default;
$eds-theme-color-button-icon-warning-text-active: #FFFFFF !default;
$eds-theme-color-button-icon-error: #D41E52 !default;
$eds-theme-color-button-icon-error-hover: #D41E52 !default;
$eds-theme-color-button-icon-error-active: #FFFFFF !default;
$eds-theme-color-button-icon-error-background: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-error-background-hover: #FFCBD7 !default;
$eds-theme-color-button-icon-error-background-active: #BD0044 !default;
$eds-theme-color-button-icon-error-border: rgba(0, 0, 0, 0) !default;
$eds-theme-color-button-icon-error-border-hover: #FFCBD7 !default;
$eds-theme-color-button-icon-error-border-active: #BD0044 !default;
$eds-theme-color-button-icon-error-text: #BD0044 !default;
$eds-theme-color-button-icon-error-text-hover: #BD0044 !default;
$eds-theme-color-button-icon-error-text-active: #FFFFFF !default;
$eds-theme-color-focus-ring: #6B65E2 !default;
$eds-theme-color-focus-ring-inverted: #FFFFFF !default;
$eds-theme-color-form-border: #878C90 !default;
$eds-theme-color-form-border-hover: #21272D !default;
$eds-theme-color-form-background: #FFFFFF !default;
$eds-theme-color-form-background-hover: #F4F6F8 !default;
$eds-theme-color-form-label: #383C43 !default;
$eds-theme-color-modal-brand-header-background: #8984E8 !default;
$eds-theme-color-text-highlight-foreground: #21272D !default;
$eds-theme-color-text-highlight-background: #F5FF8F !default;
$eds-theme-form-border-width: 1px !default;
$eds-theme-form-border-radius: 4px !default;
$legacy-color-gray-50: #F8F9FC !default;
$legacy-color-gray-100: #EBEBEC !default;
$legacy-color-gray-200: #D8D8D9 !default;
$legacy-color-gray-300: #C5C5C6 !default;
$legacy-color-gray-500: #9F9FA0 !default;
$legacy-color-gray-700: #78797A !default;
$legacy-color-gray-1000: #3F4041 !default;
$legacy-color-black: #2C2D2E !default;
$legacy-color-red-100: #F7DDDD !default;
$legacy-color-red-200: #F25252 !default;
$legacy-color-green-100: #E1F0E7 !default;
$legacy-color-green-200: #6CC188 !default;
$legacy-color-green-300: #457B57 !default;
$legacy-color-yellow-200: #FFC55B !default;
$legacy-color-yellow-300: #A46900 !default;
$legacy-color-yellow-400: #644C1F !default;
$legacy-color-purple-200: #7686D3 !default;
$legacy-color-purple-300: #5761BA !default;
$legacy-color-purple-400: #32417C !default;
$legacy-size-font-h1: 1.5rem !default;
$legacy-size-font-h2: 1.125rem !default;
$legacy-size-font-body: 1rem !default;
$legacy-size-font-sm: 0.875rem !default;
$legacy-size-font-xs: 0.75rem !default;
$legacy-size-line-height-h1: 2rem !default;
$legacy-size-line-height-body: 1.5rem !default;
$legacy-size-line-height-sm: 1.25rem !default;
$legacy-size-line-height-xs: 1rem !default;

$tokens: (
  'eds': (
    'anim': (
      'fade': (
        'quick': $eds-anim-fade-quick,
        'long': $eds-anim-fade-long
      ),
      'move': (
        'quick': $eds-anim-move-quick,
        'medium': $eds-anim-move-medium,
        'long': $eds-anim-move-long
      ),
      'ease': $eds-anim-ease
    ),
    'border': (
      'width': (
        'sm': $eds-border-width-sm,
        'md': $eds-border-width-md,
        'lg': $eds-border-width-lg,
        'xl': $eds-border-width-xl
      ),
      'radius': (
        'md': $eds-border-radius-md,
        'lg': $eds-border-radius-lg,
        'xl': $eds-border-radius-xl,
        'round': $eds-border-radius-round,
        'full': $eds-border-radius-full
      )
    ),
    'color': (
      'brand': (
        'grape': (
          '100': $eds-color-brand-grape-100,
          '200': $eds-color-brand-grape-200,
          '300': $eds-color-brand-grape-300,
          '400': $eds-color-brand-grape-400,
          '500': $eds-color-brand-grape-500,
          '600': $eds-color-brand-grape-600,
          '700': $eds-color-brand-grape-700,
          '800': $eds-color-brand-grape-800
        )
      ),
      'neutral': (
        '100': $eds-color-neutral-100,
        '200': $eds-color-neutral-200,
        '300': $eds-color-neutral-300,
        '400': $eds-color-neutral-400,
        '500': $eds-color-neutral-500,
        '600': $eds-color-neutral-600,
        '700': $eds-color-neutral-700,
        '800': $eds-color-neutral-800,
        'white': $eds-color-neutral-white,
        'black': $eds-color-neutral-black
      ),
      'other': (
        'mint': (
          '100': $eds-color-other-mint-100,
          '200': $eds-color-other-mint-200,
          '300': $eds-color-other-mint-300,
          '400': $eds-color-other-mint-400,
          '500': $eds-color-other-mint-500,
          '600': $eds-color-other-mint-600,
          '700': $eds-color-other-mint-700,
          '800': $eds-color-other-mint-800
        ),
        'yellow': (
          '100': $eds-color-other-yellow-100,
          '200': $eds-color-other-yellow-200,
          '300': $eds-color-other-yellow-300,
          '400': $eds-color-other-yellow-400,
          '500': $eds-color-other-yellow-500,
          '600': $eds-color-other-yellow-600,
          '700': $eds-color-other-yellow-700,
          '800': $eds-color-other-yellow-800
        ),
        'lemon': $eds-color-other-lemon,
        'eraser': $eds-color-other-eraser,
        'orange': (
          '100': $eds-color-other-orange-100,
          '200': $eds-color-other-orange-200,
          '300': $eds-color-other-orange-300,
          '400': $eds-color-other-orange-400,
          '500': $eds-color-other-orange-500,
          '600': $eds-color-other-orange-600,
          '700': $eds-color-other-orange-700,
          '800': $eds-color-other-orange-800
        ),
        'ruby': (
          '100': $eds-color-other-ruby-100,
          '200': $eds-color-other-ruby-200,
          '300': $eds-color-other-ruby-300,
          '400': $eds-color-other-ruby-400,
          '500': $eds-color-other-ruby-500,
          '600': $eds-color-other-ruby-600,
          '700': $eds-color-other-ruby-700,
          '800': $eds-color-other-ruby-800
        )
      ),
      'highlight': (
        '100': $eds-color-highlight-100,
        '200': $eds-color-highlight-200,
        '300': $eds-color-highlight-300,
        '400': $eds-color-highlight-400,
        '500': $eds-color-highlight-500,
        '600': $eds-color-highlight-600
      ),
      'info': (
        '100': $eds-color-info-100,
        '200': $eds-color-info-200,
        '300': $eds-color-info-300,
        '400': $eds-color-info-400,
        '500': $eds-color-info-500,
        '600': $eds-color-info-600,
        '700': $eds-color-info-700
      )
    ),
    'l': (
      'max-width': $eds-l-max-width,
      'sidebar-width': $eds-l-sidebar-width,
      'linelength-width': $eds-l-linelength-width
    ),
    'box-shadow': (
      'sm': $eds-box-shadow-sm,
      'md': $eds-box-shadow-md,
      'lg': $eds-box-shadow-lg,
      'xl': $eds-box-shadow-xl
    ),
    'size': (
      '1': $eds-size-1,
      '2': $eds-size-2,
      '3': $eds-size-3,
      '4': $eds-size-4,
      '5': $eds-size-5,
      '6': $eds-size-6,
      '7': $eds-size-7,
      '8': $eds-size-8,
      '9': $eds-size-9,
      '10': $eds-size-10,
      '12': $eds-size-12,
      'base-unit': $eds-size-base-unit,
      'half': $eds-size-half,
      'quarter': $eds-size-quarter,
      '1-and-half': $eds-size-1-and-half,
      '2-and-half': $eds-size-2-and-half
    ),
    'font-family': (
      'primary': $eds-font-family-primary,
      'secondary': $eds-font-family-secondary
    ),
    'font-size': (
      '11': $eds-font-size-11,
      '12': $eds-font-size-12,
      '14': $eds-font-size-14,
      '16': $eds-font-size-16,
      '18': $eds-font-size-18,
      '24': $eds-font-size-24,
      '28': $eds-font-size-28,
      '32': $eds-font-size-32,
      '40': $eds-font-size-40,
      'base': $eds-font-size-base
    ),
    'font-weight': (
      'light': $eds-font-weight-light,
      'medium': $eds-font-weight-medium,
      'bold': $eds-font-weight-bold
    ),
    'letter-spacing': (
      'sm': $eds-letter-spacing-sm
    ),
    'z-index': (
      '0': $eds-z-index-0,
      '100': $eds-z-index-100,
      '200': $eds-z-index-200,
      '300': $eds-z-index-300,
      '400': $eds-z-index-400,
      '500': $eds-z-index-500,
      'top': $eds-z-index-top,
      'bottom': $eds-z-index-bottom
    ),
    'theme': (
      'border': (
        'width': $eds-theme-border-width
      ),
      'color': (
        'background': (
          'neutral': (
            'default': (
              '@': $eds-theme-color-background-neutral-default,
              'hover': $eds-theme-color-background-neutral-default-hover
            ),
            'subtle': (
              '@': $eds-theme-color-background-neutral-subtle,
              'hover': $eds-theme-color-background-neutral-subtle-hover
            ),
            'medium': (
              '@': $eds-theme-color-background-neutral-medium,
              'hover': $eds-theme-color-background-neutral-medium-hover
            )
          ),
          'brand': (
            'primary': (
              'default': $eds-theme-color-background-brand-primary-default,
              'strong': (
                '@': $eds-theme-color-background-brand-primary-strong,
                'hover': $eds-theme-color-background-brand-primary-strong-hover
              )
            )
          ),
          'utility': (
            'success': $eds-theme-color-background-utility-success,
            'warning': $eds-theme-color-background-utility-warning,
            'error': $eds-theme-color-background-utility-error
          ),
          'grade': (
            'complete': (
              'default': $eds-theme-color-background-grade-complete-default,
              'subtle': $eds-theme-color-background-grade-complete-subtle
            ),
            'revise': (
              'default': $eds-theme-color-background-grade-revise-default,
              'subtle': $eds-theme-color-background-grade-revise-subtle
            ),
            'stop': (
              'default': $eds-theme-color-background-grade-stop-default,
              'subtle': $eds-theme-color-background-grade-stop-subtle
            )
          ),
          'disabled': $eds-theme-color-background-disabled
        ),
        'border': (
          'link': (
            'neutral': $eds-theme-color-border-link-neutral,
            'brand': $eds-theme-color-border-link-brand
          ),
          'neutral': (
            'subtle': (
              '@': $eds-theme-color-border-neutral-subtle,
              'hover': $eds-theme-color-border-neutral-subtle-hover
            ),
            'default': (
              '@': $eds-theme-color-border-neutral-default,
              'hover': $eds-theme-color-border-neutral-default-hover
            ),
            'strong': (
              '@': $eds-theme-color-border-neutral-strong,
              'hover': $eds-theme-color-border-neutral-strong-hover
            )
          ),
          'brand': (
            'primary': (
              'subtle': $eds-theme-color-border-brand-primary-subtle,
              '@': $eds-theme-color-border-brand-primary,
              'strong': $eds-theme-color-border-brand-primary-strong
            )
          ),
          'utility': (
            'success': (
              'subtle': $eds-theme-color-border-utility-success-subtle,
              'default': $eds-theme-color-border-utility-success-default,
              'strong': $eds-theme-color-border-utility-success-strong
            ),
            'warning': (
              'subtle': $eds-theme-color-border-utility-warning-subtle,
              'default': $eds-theme-color-border-utility-warning-default,
              'strong': $eds-theme-color-border-utility-warning-strong
            ),
            'error': (
              'subtle': $eds-theme-color-border-utility-error-subtle,
              'default': $eds-theme-color-border-utility-error-default,
              'strong': $eds-theme-color-border-utility-error-strong
            )
          ),
          'grade': (
            'complete': $eds-theme-color-border-grade-complete,
            'revise': (
              'subtle': $eds-theme-color-border-grade-revise-subtle,
              'default': $eds-theme-color-border-grade-revise-default,
              'strong': $eds-theme-color-border-grade-revise-strong
            ),
            'stop': $eds-theme-color-border-grade-stop
          ),
          'disabled': $eds-theme-color-border-disabled
        ),
        'icon': (
          'neutral': (
            'default': (
              '@': $eds-theme-color-icon-neutral-default,
              'inverse': $eds-theme-color-icon-neutral-default-inverse,
              'hover': $eds-theme-color-icon-neutral-default-hover
            ),
            'strong': (
              '@': $eds-theme-color-icon-neutral-strong,
              'hover': $eds-theme-color-icon-neutral-strong-hover
            ),
            'subtle': (
              '@': $eds-theme-color-icon-neutral-subtle,
              'hover': $eds-theme-color-icon-neutral-subtle-hover
            )
          ),
          'link': (
            'default': (
              '@': $eds-theme-color-icon-link-default,
              'hover': $eds-theme-color-icon-link-default-hover
            )
          ),
          'brand': (
            'primary': (
              '@': $eds-theme-color-icon-brand-primary,
              'hover': $eds-theme-color-icon-brand-primary-hover
            )
          ),
          'utility': (
            'success': (
              '@': $eds-theme-color-icon-utility-success,
              'hover': $eds-theme-color-icon-utility-success-hover
            ),
            'warning': (
              '@': $eds-theme-color-icon-utility-warning,
              'hover': $eds-theme-color-icon-utility-warning-hover
            ),
            'error': (
              '@': $eds-theme-color-icon-utility-error,
              'hover': $eds-theme-color-icon-utility-error-hover
            )
          ),
          'grade': (
            'complete': (
              '@': $eds-theme-color-icon-grade-complete,
              'hover': $eds-theme-color-icon-grade-complete-hover
            ),
            'revise': (
              '@': $eds-theme-color-icon-grade-revise,
              'hover': $eds-theme-color-icon-grade-revise-hover
            ),
            'stop': (
              '@': $eds-theme-color-icon-grade-stop,
              'hover': $eds-theme-color-icon-grade-stop-hover
            )
          ),
          'disabled': $eds-theme-color-icon-disabled
        ),
        'text': (
          'neutral': (
            'default': (
              '@': $eds-theme-color-text-neutral-default,
              'inverse': $eds-theme-color-text-neutral-default-inverse
            ),
            'strong': $eds-theme-color-text-neutral-strong,
            'subtle': $eds-theme-color-text-neutral-subtle
          ),
          'link': (
            'neutral': $eds-theme-color-text-link-neutral,
            'brand': $eds-theme-color-text-link-brand
          ),
          'utility': (
            'success': $eds-theme-color-text-utility-success,
            'warning': $eds-theme-color-text-utility-warning,
            'error': $eds-theme-color-text-utility-error
          ),
          'grade': (
            'complete': $eds-theme-color-text-grade-complete,
            'revise': $eds-theme-color-text-grade-revise,
            'stop': $eds-theme-color-text-grade-stop
          ),
          'disabled': $eds-theme-color-text-disabled,
          'brand': (
            'primary': $eds-theme-color-text-brand-primary
          )
        ),
        'transparent': (
          'black': (
            '0': $eds-theme-color-transparent-black-0,
            '30': $eds-theme-color-transparent-black-30
          ),
          'white': (
            '0': $eds-theme-color-transparent-white-0
          )
        ),
        'body': (
          'background': (
            '@': $eds-theme-color-body-background,
            'inverted': $eds-theme-color-body-background-inverted
          )
        ),
        'button': (
          'primary': (
            'brand': (
              'background': (
                '@': $eds-theme-color-button-primary-brand-background,
                'hover': $eds-theme-color-button-primary-brand-background-hover,
                'active': $eds-theme-color-button-primary-brand-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-primary-brand-border,
                'hover': $eds-theme-color-button-primary-brand-border-hover,
                'active': $eds-theme-color-button-primary-brand-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-primary-brand-text,
                'hover': $eds-theme-color-button-primary-brand-text-hover,
                'active': $eds-theme-color-button-primary-brand-text-active
              )
            ),
            'error': (
              'background': (
                '@': $eds-theme-color-button-primary-error-background,
                'hover': $eds-theme-color-button-primary-error-background-hover,
                'active': $eds-theme-color-button-primary-error-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-primary-error-border,
                'hover': $eds-theme-color-button-primary-error-border-hover,
                'active': $eds-theme-color-button-primary-error-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-primary-error-text,
                'hover': $eds-theme-color-button-primary-error-text-hover,
                'active': $eds-theme-color-button-primary-error-text-active
              )
            )
          ),
          'secondary': (
            'brand': (
              'background': (
                '@': $eds-theme-color-button-secondary-brand-background,
                'hover': $eds-theme-color-button-secondary-brand-background-hover,
                'active': $eds-theme-color-button-secondary-brand-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-brand-border,
                'hover': $eds-theme-color-button-secondary-brand-border-hover,
                'active': $eds-theme-color-button-secondary-brand-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-brand-text,
                'hover': $eds-theme-color-button-secondary-brand-text-hover,
                'active': $eds-theme-color-button-secondary-brand-text-active
              ),
              'icon': (
                '@': $eds-theme-color-button-secondary-brand-icon,
                'hover': $eds-theme-color-button-secondary-brand-icon-hover,
                'active': $eds-theme-color-button-secondary-brand-icon-active
              )
            ),
            'neutral': (
              'background': (
                '@': $eds-theme-color-button-secondary-neutral-background,
                'hover': $eds-theme-color-button-secondary-neutral-background-hover,
                'active': $eds-theme-color-button-secondary-neutral-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-neutral-border,
                'hover': $eds-theme-color-button-secondary-neutral-border-hover,
                'active': $eds-theme-color-button-secondary-neutral-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-neutral-text,
                'hover': $eds-theme-color-button-secondary-neutral-text-hover,
                'active': $eds-theme-color-button-secondary-neutral-text-active
              ),
              'icon': (
                '@': $eds-theme-color-button-secondary-neutral-icon,
                'hover': $eds-theme-color-button-secondary-neutral-icon-hover,
                'active': $eds-theme-color-button-secondary-neutral-icon-active
              )
            ),
            'success': (
              'background': (
                '@': $eds-theme-color-button-secondary-success-background,
                'hover': $eds-theme-color-button-secondary-success-background-hover,
                'active': $eds-theme-color-button-secondary-success-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-success-border,
                'hover': $eds-theme-color-button-secondary-success-border-hover,
                'active': $eds-theme-color-button-secondary-success-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-success-text,
                'hover': $eds-theme-color-button-secondary-success-text-hover,
                'active': $eds-theme-color-button-secondary-success-text-active
              ),
              'icon': (
                '@': $eds-theme-color-button-secondary-success-icon,
                'hover': $eds-theme-color-button-secondary-success-icon-hover,
                'active': $eds-theme-color-button-secondary-success-icon-active
              )
            ),
            'warning': (
              'background': (
                '@': $eds-theme-color-button-secondary-warning-background,
                'hover': $eds-theme-color-button-secondary-warning-background-hover,
                'active': $eds-theme-color-button-secondary-warning-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-warning-border,
                'hover': $eds-theme-color-button-secondary-warning-border-hover,
                'active': $eds-theme-color-button-secondary-warning-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-warning-text,
                'hover': $eds-theme-color-button-secondary-warning-text-hover,
                'active': $eds-theme-color-button-secondary-warning-text-active
              ),
              'icon': (
                '@': $eds-theme-color-button-secondary-warning-icon,
                'hover': $eds-theme-color-button-secondary-warning-icon-hover,
                'active': $eds-theme-color-button-secondary-warning-icon-active
              )
            ),
            'error': (
              'background': (
                '@': $eds-theme-color-button-secondary-error-background,
                'hover': $eds-theme-color-button-secondary-error-background-hover,
                'active': $eds-theme-color-button-secondary-error-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-secondary-error-border,
                'hover': $eds-theme-color-button-secondary-error-border-hover,
                'active': $eds-theme-color-button-secondary-error-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-secondary-error-text,
                'hover': $eds-theme-color-button-secondary-error-text-hover,
                'active': $eds-theme-color-button-secondary-error-text-active
              ),
              'icon': (
                '@': $eds-theme-color-button-secondary-error-icon,
                'hover': $eds-theme-color-button-secondary-error-icon-hover,
                'active': $eds-theme-color-button-secondary-error-icon-active
              )
            )
          ),
          'icon': (
            'brand': (
              '@': $eds-theme-color-button-icon-brand,
              'hover': $eds-theme-color-button-icon-brand-hover,
              'active': $eds-theme-color-button-icon-brand-active,
              'background': (
                '@': $eds-theme-color-button-icon-brand-background,
                'hover': $eds-theme-color-button-icon-brand-background-hover,
                'active': $eds-theme-color-button-icon-brand-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-brand-border,
                'hover': $eds-theme-color-button-icon-brand-border-hover,
                'active': $eds-theme-color-button-icon-brand-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-brand-text,
                'hover': $eds-theme-color-button-icon-brand-text-hover,
                'active': $eds-theme-color-button-icon-brand-text-active
              )
            ),
            'neutral': (
              '@': $eds-theme-color-button-icon-neutral,
              'hover': $eds-theme-color-button-icon-neutral-hover,
              'active': $eds-theme-color-button-icon-neutral-active,
              'background': (
                '@': $eds-theme-color-button-icon-neutral-background,
                'hover': $eds-theme-color-button-icon-neutral-background-hover,
                'active': $eds-theme-color-button-icon-neutral-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-neutral-border,
                'hover': $eds-theme-color-button-icon-neutral-border-hover,
                'active': $eds-theme-color-button-icon-neutral-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-neutral-text,
                'hover': $eds-theme-color-button-icon-neutral-text-hover,
                'active': $eds-theme-color-button-icon-neutral-text-active
              )
            ),
            'success': (
              '@': $eds-theme-color-button-icon-success,
              'hover': $eds-theme-color-button-icon-success-hover,
              'active': $eds-theme-color-button-icon-success-active,
              'background': (
                '@': $eds-theme-color-button-icon-success-background,
                'hover': $eds-theme-color-button-icon-success-background-hover,
                'active': $eds-theme-color-button-icon-success-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-success-border,
                'hover': $eds-theme-color-button-icon-success-border-hover,
                'active': $eds-theme-color-button-icon-success-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-success-text,
                'hover': $eds-theme-color-button-icon-success-text-hover,
                'active': $eds-theme-color-button-icon-success-text-active
              )
            ),
            'warning': (
              '@': $eds-theme-color-button-icon-warning,
              'hover': $eds-theme-color-button-icon-warning-hover,
              'active': $eds-theme-color-button-icon-warning-active,
              'background': (
                '@': $eds-theme-color-button-icon-warning-background,
                'hover': $eds-theme-color-button-icon-warning-background-hover,
                'active': $eds-theme-color-button-icon-warning-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-warning-border,
                'hover': $eds-theme-color-button-icon-warning-border-hover,
                'active': $eds-theme-color-button-icon-warning-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-warning-text,
                'hover': $eds-theme-color-button-icon-warning-text-hover,
                'active': $eds-theme-color-button-icon-warning-text-active
              )
            ),
            'error': (
              '@': $eds-theme-color-button-icon-error,
              'hover': $eds-theme-color-button-icon-error-hover,
              'active': $eds-theme-color-button-icon-error-active,
              'background': (
                '@': $eds-theme-color-button-icon-error-background,
                'hover': $eds-theme-color-button-icon-error-background-hover,
                'active': $eds-theme-color-button-icon-error-background-active
              ),
              'border': (
                '@': $eds-theme-color-button-icon-error-border,
                'hover': $eds-theme-color-button-icon-error-border-hover,
                'active': $eds-theme-color-button-icon-error-border-active
              ),
              'text': (
                '@': $eds-theme-color-button-icon-error-text,
                'hover': $eds-theme-color-button-icon-error-text-hover,
                'active': $eds-theme-color-button-icon-error-text-active
              )
            )
          )
        ),
        'focus-ring': (
          '@': $eds-theme-color-focus-ring,
          'inverted': $eds-theme-color-focus-ring-inverted
        ),
        'form': (
          'border': (
            '@': $eds-theme-color-form-border,
            'hover': $eds-theme-color-form-border-hover
          ),
          'background': (
            '@': $eds-theme-color-form-background,
            'hover': $eds-theme-color-form-background-hover
          ),
          'label': $eds-theme-color-form-label
        ),
        'modal': (
          'brand': (
            'header': (
              'background': (
                '@': $eds-theme-color-modal-brand-header-background
              )
            )
          )
        ),
        'text-highlight': (
          'foreground': $eds-theme-color-text-highlight-foreground,
          'background': $eds-theme-color-text-highlight-background
        )
      ),
      'form': (
        'border': (
          'width': $eds-theme-form-border-width,
          'radius': $eds-theme-form-border-radius
        )
      )
    )
  ),
  'legacy': (
    'color': (
      'gray': (
        '50': $legacy-color-gray-50,
        '100': $legacy-color-gray-100,
        '200': $legacy-color-gray-200,
        '300': $legacy-color-gray-300,
        '500': $legacy-color-gray-500,
        '700': $legacy-color-gray-700,
        '1000': $legacy-color-gray-1000
      ),
      'black': $legacy-color-black,
      'red': (
        '100': $legacy-color-red-100,
        '200': $legacy-color-red-200
      ),
      'green': (
        '100': $legacy-color-green-100,
        '200': $legacy-color-green-200,
        '300': $legacy-color-green-300
      ),
      'yellow': (
        '200': $legacy-color-yellow-200,
        '300': $legacy-color-yellow-300,
        '400': $legacy-color-yellow-400
      ),
      'purple': (
        '200': $legacy-color-purple-200,
        '300': $legacy-color-purple-300,
        '400': $legacy-color-purple-400
      )
    ),
    'size': (
      'font': (
        'h1': $legacy-size-font-h1,
        'h2': $legacy-size-font-h2,
        'body': $legacy-size-font-body,
        'sm': $legacy-size-font-sm,
        'xs': $legacy-size-font-xs
      ),
      'line-height': (
        'h1': $legacy-size-line-height-h1,
        'body': $legacy-size-line-height-body,
        'sm': $legacy-size-line-height-sm,
        'xs': $legacy-size-line-height-xs
      )
    )
  )
);
