.token-specimen {
  border: 1px solid var(--eds-theme-color-border-utility-default-low-emphasis);
  box-shadow: 1px solid var(--eds-box-shadow-md);
  background-color: var(--eds-theme-color-background-input);
  padding: calc(var(--eds-spacing-size-2) * 1px);
  display: grid;
  gap: calc(var(--eds-spacing-size-2) * 1px);

  font-family: var(--eds-typography-font-family-1);

  @media all and (min-width: 320px) {
    grid-template-columns: 300px 1fr;
  }
}

.token-specimen--stacked {
  @media all and (min-width: 320px) {
    grid-template-columns: 1fr;
  }
}

.token-specimen__name {
  display: inline-block;
  color: var(--eds-theme-color-text-utility-critical);
  padding: calc(var(--eds-spacing-size-half) * 1px);
  border-radius: 4px;
  font-size: 0.75rem;
}

.token-specimen__value {
  display: block;
  background: var(--eds-theme-color-background-input);
}

.token-specimen__comment {
  margin: 0;
}

.token-specimen:empty {
  display: none;
}

.token-specimen__body {
  width: 100%;

  .token-specimen--inverted & {
    background-color: var(--eds-theme-color-background-utility-default-high-emphasis) !important;
    outline: 6px solid var(--eds-theme-color-background-utility-default-high-emphasis);
  }
}

.token-specimen__sample--box {
  background-color: var(--eds-theme-color-background-utility-default-high-emphasis);
  min-height: calc(var(--eds-spacing-size-10) * 1px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.token-specimen__sample--typography-title {
  font-size: 3.3rem;
}

.token-specimen__sample--typography-body {
  font-size: 1rem;
}

.token-specimen__sample--animation-fade {
  transition: all 0.15s ease;

  &:hover,
  &:focus {
    opacity: 0.2;
  }
}

.token-specimen__sample--animation-move {
  transition: all 0.15s ease;

  &:hover,
  &:focus {
    transform: translateX(calc(var(--eds-spacing-size-6) * -1px));
  }
}
