/*------------------------------------*\
    # PANEL
\*------------------------------------*/

/**
 * A container for content.
 */
.panel {
  background: var(--eds-theme-color-background-neutral-default);
  border-radius: var(--eds-border-radius-xl);
  padding: var(--eds-size-3);
}

.panel--squared {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border: none;
  box-shadow: var(--eds-box-shadow-md);
}

.panel--flush {
  padding: 0;
}

.panel--align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
