@import '../../../../src/design-tokens/mixins.css';
/*------------------------------------*\
  # TYPOGRAPHY PRESET UTILITY CLASSES
\*------------------------------------*/

/**
 * Creates utility classes to apply typography preset mixins to elements
 */

.u-typography-preset-001 {
  @mixin eds-typography-preset-001;
}

.u-typography-preset-001-bold {
  @mixin eds-typography-preset-001-bold;
}

.u-typography-preset-002 {
  @mixin eds-typography-preset-002;
}

.u-typography-preset-002-bold {
  @mixin eds-typography-preset-002-bold;
}

.u-typography-preset-003 {
  @mixin eds-typography-preset-003;
}

.u-typography-preset-003-bold {
  @mixin eds-typography-preset-003-bold;
}

.u-typography-preset-004 {
  @mixin eds-typography-preset-004;
}

.u-typography-preset-004-bold {
  @mixin eds-typography-preset-004-bold;
}

.u-typography-preset-005 {
  @mixin eds-typography-preset-005;
}

.u-typography-preset-005-light {
  @mixin eds-typography-preset-005-light;
}

.u-typography-preset-005-bold {
  @mixin eds-typography-preset-005-bold;
}

.u-typography-preset-006 {
  @mixin eds-typography-preset-006;
}

.u-typography-preset-006-bold {
  @mixin eds-typography-preset-006-bold;
}

.u-typography-preset-007 {
  @mixin eds-typography-preset-007;
}

.u-typography-preset-007-bold {
  @mixin eds-typography-preset-007-bold;
}

.u-typography-preset-008 {
  @mixin eds-typography-preset-008;
}

.u-typography-preset-008-bold {
  @mixin eds-typography-preset-008-bold;
}

.u-typography-preset-009 {
  @mixin eds-typography-preset-009;
}

.u-typography-preset-009-bold {
  @mixin eds-typography-preset-009-bold;
}

.u-typography-preset-010 {
  @mixin eds-typography-preset-010;
}

.u-typography-preset-010-bold {
  @mixin eds-typography-preset-010-bold;
}

.u-typography-preset-011 {
  @mixin eds-typography-preset-011;
}

.u-typography-preset-011-bold {
  @mixin eds-typography-preset-011-bold;
}

.u-typography-preset-012 {
  @mixin eds-typography-preset-012;
}

.u-typography-preset-012-bold {
  @mixin eds-typography-preset-012-bold;
}
