@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # CHECKBOX LABEL
\*------------------------------------*/

/**
 * Text labelling the checkbox.
 */
.label {
  color: var(--eds-theme-color-form-label-text);
}

/**
 * Disabled state
 */
.label--disabled {
  color: var(--eds-theme-color-text-disabled);
}

.label--sm {
  @mixin eds-theme-typography-body-text-sm;
  position: relative;
  top: 0.0625rem;
}

.label--md {
  @mixin eds-theme-typography-body-text-md;
}
