/* stylelint-disable selector-pseudo-class-no-unknown */

.tooltip {
  @apply border border-solid shadow-2 rounded-lg;
  @apply motion-reduce:transition-none;
}

/* Enables opacity fade animation */
.tooltip[data-state="hidden"] {
  @apply opacity-0;
}

.tooltip :global(.tippy-content) {
  @apply px-4 py-2;
}

/* Color Variants */
.variantLight {
  @apply border-neutral-300 text-neutral-700 bg-neutral-100;
  --arrow-color: var(--eds-color-neutral-300);
}

.variantDark {
  @apply border-neutral-700 text-white bg-neutral-700;
  --arrow-color: var(--eds-color-neutral-700);
}

/* Add Arrows */
.tooltip :global(.tippy-arrow) {
  @apply absolute w-4 h-4;
}

.tooltip :global(.tippy-arrow::before) {
  @apply absolute border-solid border-transparent border-8;

  content: "";
}

.tooltip[data-placement^="top"] :global(.tippy-arrow) {
  @apply left-0;

  transform: translate3d(73px, 0, 0);
}

.tooltip[data-placement^="bottom"] :global(.tippy-arrow) {
  @apply top-0 left-0;

  transform: translate3d(73px, 0, 0);
}

.tooltip[data-placement^="left"] :global(.tippy-arrow) {
  @apply top-0 right-0;

  transform: translate3d(0, 19px, 0);
}

.tooltip[data-placement^="right"] :global(.tippy-arrow) {
  @apply top-0 left-0;

  transform: translate3d(0, 25px, 0);
}

.tooltip[data-placement^="top"] :global(.tippy-arrow::before) {
  @apply left-0;

  border-top-color: var(--arrow-color);
  border-bottom-width: 0;
}

.tooltip[data-placement^="bottom"] :global(.tippy-arrow::before) {
  @apply left-0;

  border-bottom-color: var(--arrow-color);
  border-top-width: 0;
  top: -7px;
}

.tooltip[data-placement^="left"] :global(.tippy-arrow::before) {
  border-left-color: var(--arrow-color);
  border-right-width: 0;
  right: -7px;
}

.tooltip[data-placement^="right"] :global(.tippy-arrow::before) {
  border-right-color: var(--arrow-color);
  border-left-width: 0;
  left: -7px;
}
