@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # RADIO BUTTON
\*------------------------------------*/

/**
 * A custom individual radio control
 * 1) Outer wrapper div for custom control
 * 2) Determines width and height of the control
 * 3) Prevents control from being "squished" in 
 *    a flexbox parent
 */
.radio {
  position: relative;
  display: block;
  width: var(--eds-size-2-and-half); /* 2 */
  height: var(--eds-size-2-and-half); /* 2 */
  flex: none; /* 3 */
}

/**
 * Radio control input
 * 1) Make control dimensions same as outer container
 * 2) Hide native form controls
 */
.radio__input {
  position: absolute;
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
  z-index: var(--eds-z-index-400);
  display: block;
  width: 100%; /* 1 */
  height: 100%; /* 1 */
  cursor: pointer;
  opacity: 0; /* 2 */

  &:disabled {
    cursor: not-allowed;
  }
}

/**
 * Custom radio
 * 1) Make control dimensions same as outer container
 */
.radio__custom-radio {
  position: absolute;
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */

  /**
     * Custom radio background 
     * 1) Make control dimensions same as outer container
     * 2) Stack background behind radio foreground
     */
  &:before {
    content: '';
    position: absolute;
    top: 0; /* 1 */
    right: 0; /* 1 */
    bottom: 0; /* 1 */
    left: 0; /* 1 */
    z-index: var(--eds-z-index-100); /* 2 */
    display: block;
    border-width: var(--eds-theme-form-border-width);
    border-style: solid;
    border-color: var(--eds-theme-color-form-input-border);
    border-radius: 50%;
    background: transparent;

    &:hover {
      border-color: var(--eds-theme-color-form-input-border-hover);
    }

    /**
     *  Custom radio background inside of focused control 
     */
    .radio__input:focus-visible + & {
      @mixin focus;
    }

    /**
     *  Custom radio background inside of disabled control 
     */
    .radio__input:disabled + & {
      border-color: var(--eds-theme-color-disabled-border);
      background-color: var(--eds-theme-color-background-disabled);
      cursor: not-allowed;
    }
  }

  /**
     * Custom radio inner circle
     * 1) Position circle in center of box
     * 2) Show/hide circle based on if input is checked
     */
  &:after {
    content: '';
    position: absolute;
    top: 6px; /* 1 */
    right: 6px; /* 1 */
    bottom: 6px; /* 1 */
    left: 6px; /* 1 */
    z-index: var(--eds-z-index-200);
    display: block;
    border: 4px solid var(--eds-theme-color-background-brand-primary-strong);
    border-radius: 50%;
    background: var(--eds-theme-color-background-brand-primary-strong);
    opacity: 0; /* 2 */

    .radio--inverted & {
      border-color: var(--eds-theme-color-border-brand-primary-subtle);
    }

    .radio__input:checked + & {
      opacity: 1; /* 2 */
    }
  }
}
