@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #TEXT INPUT
\*------------------------------------*/

/**
 * Default text input styles 
 */
:where(.input) {
  @mixin inputStyles;
  padding-left: var(--eds-size-2);
}
