@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # FIELD NOTE
\*------------------------------------*/

/**
 * Fieldnote
 */
.field-note {
  display: flex;
  align-items: center;

  color: light-dark(var(--eds-theme-color-text-utility-default-secondary), var(--eds-dark-theme-color-text-utility-default-secondary));
  gap: calc(var(--eds-spacing-size-half) * 1px);
}

/**
 * Fieldnote icon
 */
.field-note__icon {
  position: relative;
  flex-shrink: 0;
  align-self: flex-start;

  /* Adjust the icon's position such that it keeps its natural layout */
  transform: translateY(calc(var(--eds-spacing-size-quarter) * 1px));
}

/**
 * Disabled variant
 */
.field-note--disabled {
  color: light-dark(var(--eds-theme-color-text-utility-disabled-primary), var(--eds-dark-theme-color-text-utility-disabled-primary));
}

/**
 * Error variant
 */
.field-note--error {
  color: light-dark(var(--eds-theme-color-text-utility-critical), var(--eds-dark-theme-color-text-utility-critical));

  &>.field-note__icon {
    color: light-dark(var(--eds-theme-color-text-utility-critical), var(--eds-dark-theme-color-text-utility-critical));
  }
}


.field-note--warning {
  color: light-dark(var(--eds-theme-color-text-utility-warning), var(--eds-dark-theme-color-text-utility-warning));

  &>.field-note__icon {
    color: light-dark(var(--eds-theme-color-icon-utility-warning), var(--eds-dark-theme-color-icon-utility-warning));
  }
}