@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # FIELD NOTE
\*------------------------------------*/
/**
 * TODO: Icon inherits color from the surrounding text, but should use the matching -icon- tokens from below
 */

/**
 * Fieldnote
 */
.field-note {
  display: flex;
  align-items: center;

  font: var(--eds-theme-typography-body-sm);

  color: var(--eds-theme-color-text-utility-default-secondary);
}

/**
 * Fieldnote icon
 */
.field-note__icon {
  position: relative;
  flex-shrink: 0;
  align-self: flex-start;
  margin-top: calc(var(--eds-spacing-size-half) / 16 * 1rem);
  margin-right: calc(var(--eds-spacing-size-half) / 16 * 1rem);
}

/**
 * Disabled variant
 */
.field-note--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}

/**
 * Error variant
 */
.field-note--error {
  color: var(--eds-theme-color-text-utility-critical);

  &>.field-note__icon {
    color: var(--eds-theme-color-text-utility-critical);
  }
}


.field-note--warning {
  color: var(--eds-theme-color-text-utility-warning);

  &>.field-note__icon {
    color: var(--eds-theme-color-icon-utility-warning);
  }
}