@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # FIELD NOTE
\*------------------------------------*/

/**
 * Fieldnote
 */
.field-note {
  font: var(--eds-theme-typography-body-sm);

  color: var(--eds-theme-color-text-utility-default-secondary);
}

/**
 * Fieldnote icon
 */
.field-note__icon {
  position: relative;
  margin-right: 0.25rem;
}

/**
 * Disabled variant
 */
.field-note--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}

/**
 * Error variant
 */
.field-note--error {
  color: var(--eds-theme-color-text-utility-critical);

  & > .field-note__icon {
    color: var(--eds-theme-color-text-utility-critical);
  }
}


.field-note--warning {
  color: var(--eds-theme-color-text-utility-warning);

  & > .field-note__icon {
    color: var(--eds-theme-color-text-utility-warning);
  }
}