@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # FIELD NOTE
\*------------------------------------*/

/**
 * Fieldnote
 */
.field-note {
  @mixin eds-theme-typography-body-text-sm;
}

/**
 * Fieldnote icon
 */
.field-note__icon {
  height: var(--eds-size-2);
  width: var(--eds-size-2);
  /* Centers icon with accompanying text */
  position: relative;
  bottom: 1px;
}

/**
 * Error variant
 */
.field-note--error {
  color: var(--eds-theme-color-text-utility-error);
}
.field-note--disabled {
  color: var(--eds-theme-color-text-disabled);
}
.field-note--error.field-note__icon {
  color: var(--eds-theme-color-icon-utility-error);
  margin-right: var(--eds-size-half);
}

/**
 * Fieldnote inverted
 */
.field-note--inverted {
  color: var(--eds-theme-color-text-neutral-default-inverse);
}
