@import '../../../src/design-tokens/mixins.css';

.student-refinement__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.student-refinement__more-options {
  gap: var(--eds-size-1);
}

.student-refinement__tabs {
  padding-top: var(--eds-size-1);
}

.student-refinement__students-page {
  padding: var(--eds-size-4) var(--eds-size-6) var(--eds-size-6)
    var(--eds-size-6);
}

.student-refinement__summary-cards {
  display: flex;
  gap: var(--eds-size-2);
  margin-bottom: 2.875rem;
  flex-wrap: wrap;
  justify-content: center;
}

.student-refinement__summary-card.student-refinement__summary-card {
  width: 11rem;
  flex-shrink: 0;
}

.student-refinement__table-controls {
  margin-bottom: var(--eds-size-4);
}

@media all and (min-width: $eds-bp-xl) {
  .student-refinement__table-control-button-group {
    justify-content: flex-end;
  }
}

.student-refinement__filters-checkbox-field {
  margin-top: var(--eds-size-6);
}

.student-refinement__header-row {
  border-top: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-neutral-strong);
}

.student-refinement__name-cell {
  display: grid;
  grid-template-columns: 7rem auto;
  align-items: center;
}

.student-refinement__grade {
  display: inline-flex;
  justify-content: center;
  width: var(--eds-size-2-and-half);
}

/**
 * Shifts score left to align with scores without grades.
 */
.student-refinement__cell--inset-left::after {
  display: inline-block;
  content: '';
  width: var(--eds-size-2-and-half);
}
