@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # BASELINE CARD
\*------------------------------------*/

/**
 * Card recipe for a baseline card to display short text and metadata.
 */
.baseline-card {
  padding: var(--eds-size-3);
  max-width: 20.5rem;
}

/**
 * Inner wrapper that is also clickable
 *
 * This is needed because the outermost div may extend beyond the visible card,
 * which means the user could click on empty space and still activate the click
 * handler.
 */
.baseline-card__clickable-wrapper {
  width: max-content;
}

/**
 * Baseline card label.
 */
.baseline-card__label {
  @mixin eds-theme-typography-label-md;

  color: var(--eds-theme-color-text-neutral-strong);
}

/**
* Baseline card clickable 
*
* When an href prop is passed in, the card gets a :hover style to indicate
* that it is clickable.
*/
.baseline-card--clickable {
  transition: box-shadow var(--eds-anim-fade-quick) var(--eds-anim-ease);

  &:hover {
    cursor: pointer;
    box-shadow: var(--eds-box-shadow-xl);
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Baseline card body for more content.
 */
.baseline-card__body {
  @mixin eds-theme-typography-body-text-sm;

  color: var(--eds-theme-color-text-neutral-subtle);
}

/**
* Baseline card link (based on WordPress' .screen-reader-text class)
* 
* On a clickable card, the link should be visually hidden but still
* accessible to screen readers. It should also become visible when it 
* receives keyboard focus, i.e. using the Tab key
*/
.baseline-card__link {
  border: 0;
  /**
   * Clip is deprecated, but is added to support older browsers that don't support clip-path yet.
   * 
   * See https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
   */
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  /**
   * Set width and height to 1px; some screen readers don't announce 
   * an element with a size of 0 px
   */
  width: 1px;
  height: 1px;
  /**
   * Hide the link
   */
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
  /**
   * Prevent screen readers reading the text letter for letter, as the
   * text is placed in a 1 pixel wide space. Many screen reader and browser
   * combinations announce broken words as they would appear visually.
   */
  word-wrap: normal !important;
}

.baseline-card__link:focus {
  @mixin eds-theme-typography-body-text-sm;
  background-color: var(--eds-theme-color-background-neutral-default);
  clip: auto !important;
  clip-path: none;
  color: var(--eds-theme-color-text-neutral-default);
  display: block;
  font-size: 1em;
  height: auto;
  left: var(--eds-size-half);
  line-height: normal;
  padding: var(--eds-size-half) var(--eds-size-1);
  text-decoration: none;
  top: var(--eds-size-half);
  width: auto;
  z-index: var(--eds-z-index-top);
}

/**
 * Baseline card footer that displays the metadata.
 */
.baseline-card__footer {
  margin-top: var(--eds-size-3);
}

/**
 * Baseline card table for accessibility.
 */
.baseline-card__table {
  width: 100%;
}

/**
 * Baseline card table body wraps the table rows.
 */
.baseline-card__table-body {
  display: flex;
  justify-content: space-between;
}

/**
 * Baseline card table rows, made into columns for separating metadata categories.
 */
.baseline-card__table-row {
  display: flex;
  flex-direction: column;
  gap: var(--eds-size-1);
  align-items: center;
}

/**
 * Item labels for the metadata categories.
 */
.baseline-card__table-label {
  @mixin eds-theme-typography-label-sm;

  color: var(--eds-theme-color-text-neutral-subtle);
}

/**
 * Metadata item content.
 */
.baseline-card__table-data {
  @mixin eds-theme-typography-body-text-sm;
}

/**
 * Score tag for the score category.
 */
.baseline-card__score {
  @mixin eds-theme-typography-tag;

  background-color: transparent;
  color: var(--theme-color-text-neutral-default);

  height: var(--eds-size-3);
  padding-left: 0.875rem;
  padding-right: 0.875rem;
}
