# Overview: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Any line with invalid syntax will invalidate the entire file.

# Education Admin teams

package.json @chanzuckerberg/edu-design-system
