# See our browser support policy at https://go.czi.team/edu-browser-support.

safari >= 10.1
ios_saf >= 10.3 and last 2 versions

chrome >= 57
edge >= 79
firefox >= 52
and_chr >= 57 and last 4 versions
