{
  "env": {
    "es6": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "react-hooks", "testing-library"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:testing-library/react",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.12"
    }
  },
  "rules": {
    "import/order": ["error", {
      "alphabetize": {
        "order": "asc"
      }
    }],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    },
    {
      "files": ["*.spec.ts", "*.spec.tsx", "**/test/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "env": {
        "jest/globals": true
      }
    },
    {
      "files": ["config.js", "*.config.js", "main.js", "plopfile.js"],
      "env": {
        "browser": false,
        "node": true
      }
    }
  ],
  "ignorePatterns": ["!.storybook"]
}
