{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "plugins": ["testing-library", "@chanzuckerberg/stories"],
  "extends": [
    "@chanzuckerberg/eslint-config-edu-js",
    "@chanzuckerberg/eslint-config-edu-ts",
    "plugin:prettier/recommended",
    "plugin:storybook/recommended",
    "plugin:testing-library/react",
    "plugin:@chanzuckerberg/eslint-plugin-edu-react/recommended",
    "plugin:@chanzuckerberg/stories/strict"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "src/**/*.test.{ts,tsx}",
          "src/**/*.stories.{ts,tsx}",
          "**/*.config.{js,ts}",
          "**/*.setup.{js,ts}",
          ".storybook/**",
          "scripts/stylelint/**",
          "plopfile.js"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        },
        "groups": ["builtin", "external", "sibling", "parent", "index"]
      }
    ],
    "@typescript-eslint/no-unused-vars": "warn",
    "no-unused-vars": "off"
  },
  "overrides": [
    {
      "files": ["*.test.ts", "*.test.tsx", "**/test/**"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "env": {
        "jest/globals": true
      }
    },
    {
      "files": [
        "config.js",
        "*.config.js",
        "main.js",
        "plopfile.js",
        "src/**/*.js"
      ],
      "env": {
        "browser": false,
        "node": true
      }
    },
    {
      "files": ["src/**/*.stories.{ts,tsx}"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": [".storybook"],
                "message": "Do not import files from `.storybook/` into `src`. If needed, move files into `src/storyUtils` instead."
              },
              {
                "group": ["**/docs/*"],
                "message": "Do not import files from `docs/` into `src`. If needed, move files into `src/storyUtils` instead."
              }
            ]
          }
        ]
      }
    },
    {
      "files": ["src/**/*.{ts,tsx}"],
      "excludedFiles": ["src/**/*.stories.{ts,tsx}"],
      "rules": {
        "no-restricted-imports": [
          "error",
          {
            "patterns": [
              {
                "group": ["**/tokens-dist/ts/colors"],
                "message": "Do not import JavaScript color variables into component files. Use CSS variables in styles instead."
              }
            ]
          }
        ]
      }
    }
  ],
  "ignorePatterns": ["!.storybook", ".storybook/components/Docs/prism.js"]
}
