# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# logging
omlet-cli.log

# production
/build
_site
lib
storybook-static
storybook
storybook-components

# Component CSS

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.css.map
!DesignTokens.css
!Utilities.css

# VS Code workspace file
*.code-workspace

# VS Code Live Share
.vsls.json

# Yarn 2 files
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
