{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "alpha-value-notation": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extends",
          "apply",
          "tailwind",
          "components",
          "utilities",
          "screen"
        ]
      }
    ],
    "color-function-notation": null,
    "custom-property-empty-line-before": "never",
    "no-eol-whitespace": null,
    "selector-class-pattern": null,
    "selector-nested-pattern": "^(&(:[\\w-]+|\\.state(Hover|Focus|FocusWithin|Active)),?\\s*)+$",
    "max-nesting-depth": 1
  },
  "ignoreFiles": [
    "packages/tokens/lib/**"
  ]
}
