{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "extends",
          "apply",
          "tailwind",
          "components",
          "utilities",
          "screen"
        ]
      }
    ],
    "custom-property-empty-line-before": "never",
    "no-eol-whitespace": null,
    "selector-nested-pattern": "^(&(:[\\w-]*|\\.[\\w-]*--focus),?\\s*)+$",
    "max-nesting-depth": 1
  },
  "ignoreFiles": [
    "packages/tokens/dist/**"
  ]
}
