/*------------------------------------*\
    # FILTERS POPOVER
\*------------------------------------*/

/**
 * A floating panel component with arbitrary content.
 * Styling for the Popover component since the parent <Popover> component provides functionality.
 */
.filters-popover {
  padding: var(--eds-size-3);
}

/**
 * The button group of the houses the apply and clear all buttons.
 */
.footer__button-group {
  margin-top: var(--eds-size-3);
  display: flex;
  justify-content: flex-end;
}
