/*------------------------------------*\
    # STYLEGUIDE-ONLY STYLES
\*------------------------------------*/

/**
 * Styleguide-only styles only ever show up inside of Storybook. 
 * 
 * These styles will not be included in production or anywhere outside Storybook.
 */

/**
 * For Placement Only (FPO) Block - a gray block that serves as a placeholder
 * for a future component
 */
.fpo {
  background: #e8f4f8;
  border: 2px dashed #69b3e7;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
  color: #435fab;
}

.fpo ~ .fpo {
  margin-top: 1rem;
}

/**
 * Override default padding for  
 */
.sb-show-main.sb-main-padded {
  padding: 0 !important;
}
