@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Graphik-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/Graphik-RegularItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Graphik-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: italic;
  src: url('./fonts/Graphik-MediumItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Graphik-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/Graphik-SemiboldItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Argent';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/ArgentCF-LightItalic.otf') format('opentype');
}