@font-face {
  font-family: 'Graphik';
  font-weight: 100;
  font-style: normal;
  src: url('./fonts/Graphik-Thin-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 100;
  font-style: italic;
  src: url('./fonts/Graphik-ThinItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 200;
  font-style: normal;
  src: url('./fonts/Graphik-Extralight-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 200;
  font-style: italic;
  src: url('./fonts/Graphik-ExtralightItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  font-style: normal;
  src: url('./fonts/Graphik-Light-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 300;
  font-style: italic;
  src: url('./fonts/Graphik-LightItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Graphik-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/Graphik-RegularItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Graphik-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: italic;
  src: url('./fonts/Graphik-MediumItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Graphik-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/Graphik-SemiboldItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Graphik-Bold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Graphik-BoldItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 800;
  font-style: normal;
  src: url('./fonts/Graphik-Black-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 800;
  font-style: italic;
  src: url('./fonts/Graphik-BlackItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  font-style: normal;
  src: url('./fonts/Graphik-Super-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 900;
  font-style: italic;
  src: url('./fonts/Graphik-SuperItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Argent CF Italic';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/ArgentCF-LightItalic.otf') format('opentype');
}