@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Graphik-Regular-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: italic;
  src: url('./fonts/Graphik-RegularItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/Graphik-Medium-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: italic;
  src: url('./fonts/Graphik-MediumItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: normal;
  src: url('./fonts/Graphik-Semibold-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: italic;
  src: url('./fonts/Graphik-SemiboldItalic-Web.woff2') format('woff2');
}

@font-face {
  font-family: 'Mint Grotesk V1.1';
  font-weight: 500;
  font-style: normal;
  src: url('./fonts/MintGroteskV1.1-Medium.woff2') format('woff2');
}

/* TODO: move these into .storybook/ */
@font-face {
  font-family: 'Balsamiq Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/BalsamiqSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Redacted Script';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/RedactedScript-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Moranga';
  src: url(./fonts/moranga-medium.woff) format('woff'),
    url(./fonts/moranga-medium.woff2) format('woff2');
  font-weight: 500 900;
}

@font-face {
  font-family: 'Moranga';
  src: url(./fonts/moranga-light.woff) format('woff'),
    url(./fonts/moranga-light.woff2) format('woff2');
}

@font-face {
  font-family: 'NB International Pro Mono';
  src: url(./fonts/nb-international-pro-mono.woff) format('woff'),
    url(./fonts/nb-international-pro-mono.woff2) format('woff2'),
    url(./fonts/nb-international-pro-mono.ttf) format('ttf');
}

@font-face {
  font-family: 'Untitled Sans';
  src: url(./fonts/untitled-sans-medium.woff) format('woff'),
    url(./fonts/untitled-sans-medium.woff2) format('woff2');
  font-weight: 500 900;
}

@font-face {
  font-family: 'Untitled Sans';
  src: url(./fonts/untitled-sans-regular.woff) format('woff'),
    url(./fonts/untitled-sans-regular.woff2) format('woff2');
}
