/** 
 * Updates to font-size and line-height in this file
 * should be reflected in the TypographyPresets story 
 */

/**
 * Typography Preset 001: Regular, Mobile, & Bold
 */
@define-mixin eds-typography-preset-001 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-40) $important;
  line-height: 1.2 $important;

  @mixin eds-typography-preset-001-mobile $important;
}

@define-mixin eds-typography-preset-001-mobile @important {
  @media all and (max-width: $eds-bp-md) {
    font-family: var(--eds-font-family-primary) $important;
    font-size: var(--eds-font-size-32) $important;
    font-weight: var(--eds-font-weight-bold) $important;
    line-height: 1.25 $important;
  }
}

@define-mixin eds-typography-preset-001-bold $important {
  @mixin eds-typography-preset-001 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 002: Light, Regular, Mobile, & Bold
 */
@define-mixin eds-typography-preset-002 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-32) $important;
  line-height: 1.25 $important;

  @mixin eds-typography-preset-002-mobile $important;
}

@define-mixin eds-typography-preset-002-mobile $important {
  @media all and (max-width: $eds-bp-md) {
    font-family: var(--eds-font-family-primary) $important;
    font-size: var(--eds-font-size-28) $important;
    font-weight: var(--eds-font-weight-bold) $important;
    line-height: 1.2857 $important;
  }
}

/* TODO: Verify whether this one should be removed */
@define-mixin eds-typography-preset-002-light $important {
  @mixin eds-typography-preset-002 $important;
  font-weight: var(--eds-font-weight-light) $important;
}

@define-mixin eds-typography-preset-002-bold $important {
  @mixin eds-typography-preset-002 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 003: Regular, Mobile, & Bold
 */
@define-mixin eds-typography-preset-003 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-24) $important;
  line-height: 1.333333333 $important;

  @mixin eds-typography-preset-003-mobile $important;
}

@define-mixin eds-typography-preset-003-mobile $important {
  @media all and (max-width: $eds-bp-md) {
    font-family: var(--eds-font-family-primary) $important;
    font-size: var(--eds-font-size-20) $important;
    font-weight: var(--eds-font-weight-bold) $important;
    line-height: 1.4 $important;
  }
}

@define-mixin eds-typography-preset-003-bold $important {
  @mixin eds-typography-preset-003 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 004: Regular, Light, & Bold
 */
@define-mixin eds-typography-preset-004 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-18) $important;
  line-height: 1.333333333 $important;
}

@define-mixin eds-typography-preset-004-light $important {
  @mixin eds-typography-preset-004 $important;
  font-weight: var(--eds-font-weight-light) $important;
}

@define-mixin eds-typography-preset-004-bold $important {
  @mixin eds-typography-preset-004 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 005: Regular, Light, & Bold
 */
@define-mixin eds-typography-preset-005 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-16) $important;
  line-height: 1.5 $important;
}

@define-mixin eds-typography-preset-005-light $important {
  @mixin eds-typography-preset-005 $important;
  font-weight: var(--eds-font-weight-light) $important;
}

@define-mixin eds-typography-preset-005-bold $important {
  @mixin eds-typography-preset-005 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 006: Regular, Light, & Bold
 */
@define-mixin eds-typography-preset-006 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-14) $important;
  line-height: 1.57142857 $important;
}

@define-mixin eds-typography-preset-006-light $important {
  @mixin eds-typography-preset-006 $important;
  font-weight: var(--eds-font-weight-light) $important;
}

@define-mixin eds-typography-preset-006-bold $important {
  @mixin eds-typography-preset-006 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 007: Regular & Bold
 */
@define-mixin eds-typography-preset-007 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-14) $important;
  line-height: 1.28571429 $important;
}

@define-mixin eds-typography-preset-007-bold $important {
  @mixin eds-typography-preset-007 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 008: Regular, Light & Bold
 */
@define-mixin eds-typography-preset-008 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-size: var(--eds-font-size-12) $important;
  line-height: 1.666666667 $important;
}

@define-mixin eds-typography-preset-008-light $important {
  @mixin eds-typography-preset-008 $important;
  font-weight: var(--eds-font-weight-light) $important;
}

@define-mixin eds-typography-preset-008-bold $important {
  @mixin eds-typography-preset-008 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 009: Regular & Bold
 */
@define-mixin eds-typography-preset-009 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-12) $important;
  line-height: 1.333333333 $important;
}

@define-mixin eds-typography-preset-009-bold $important {
  @mixin eds-typography-preset-009 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 010: Regular & Bold
 */
@define-mixin eds-typography-preset-010 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-11) $important;
  line-height: 1.272727272 $important;
}

@define-mixin eds-typography-preset-010-bold $important {
  @mixin eds-typography-preset-010 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 011: Regular & Bold
 */
@define-mixin eds-typography-preset-011 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-12) $important;
  line-height: 1.333333333 $important;
  text-transform: uppercase $important;
}

@define-mixin eds-typography-preset-011-bold $important {
  @mixin eds-typography-preset-011 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}

/**
 * Typography Preset 012: Regular & Bold
 */
@define-mixin eds-typography-preset-012 $important {
  font-family: var(--eds-font-family-primary) $important;
  font-weight: var(--eds-font-weight-medium) $important;
  font-size: var(--eds-font-size-11) $important;
  line-height: 1.272727272 $important;
  text-transform: uppercase $important;
}

@define-mixin eds-typography-preset-012-bold $important {
  @mixin eds-typography-preset-012 $important;
  font-weight: var(--eds-font-weight-bold) $important;
}
