@import '../../design-tokens/mixins.css';
/*------------------------------------*\
    #SELECT FIELD
\*------------------------------------*/

/**
 * 1) Consists of a label, form control, and an optional note about the field.
 */
.select-field {
  position: relative;
}

.select-field--inline {
  display: flex;
  gap: var(--eds-size-1);
  align-items: center;
}

.select-field__label {
  .select-field--inline & {
    margin-bottom: 0;
  }
}

.select-field__label-after {
  display: inherit;
  margin-left: var(--eds-size-1);
}

/**
 * Select field body
 */
.select-field__body {
  position: relative;
  margin-bottom: var(--eds-size-half);

  .select-field--inline & {
    margin-bottom: 0;
  }
}

/**
 * Select field control
 * 1) Includes select
 */
.select-field__control {
  z-index: var(--eds-z-index-100);

  /**
     * Select field control
     * 1) Includes select
     */
  .eds-is-error & {
    border-color: var(--eds-theme-color-utility-error-background);
  }

  /**
     * Select field control within disabled field
     */
  .select-field.eds-is-disabled & {
    border-color: var(--eds-theme-color-disabled-border);
    background: var(--eds-theme-color-disabled-background);
    color: var(--eds-theme-color-disabled-foreground);
    cursor: not-allowed;
  }
}

/**
 * Caret icon of the select field
 * 1) Pointer events added to it so you can click on the caret
 */
.select-field__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--eds-size-1);
  pointer-events: none; /* 1 */
  fill: var(--eds-theme-color-primary-foreground);
}
