@import '../../design-tokens/mixins.css';
/*------------------------------------*\
    # DEFINITION LIST
\*------------------------------------*/

/**
 * Definition list (`dl`) that contains a definition term (`dt`) and a definition description (`dd`)
 */
.definition-list { 
  @mixin reset;
  @apply grid gap-4;
}

.definition-list--horizontal {
  @apply flex gap-4 flex-wrap;
}

/**
 * Small definition list
 */
.definition-list--sm {
  @mixin eds-theme-typography-body-text-sm;
}

/**
 * Definition list item
 */
.definition-list__item {
  @apply flex gap-4;

  /**
   * Definition list item within small definition list
   */
  .definition-list--sm & {
    margin-bottom: 0;
  }

  /**
   * Last definition list item
   */
  &:last-child {
    margin-bottom: 0;
  }
}

/**
 * Definition list term
 */
.definition-list-item__term {
  @mixin eds-theme-typography-body-text-md;
  color: var(--eds-theme-color-text-neutral-strong);

  /**
   * Definition list term within small definition list
   */
  .definition-list--sm & {
    @mixin eds-theme-typography-body-text-sm;
  }

  /**
   * Definition list term within vertical definition list
   */
  .definition-list--vertical & {
    width: auto;
  }
}

/**
 * Definition list description
 */
.definition-list-item__description {
  margin-left: 0;
}
