@import '../../design-tokens/mixins.css';
/*------------------------------------*\
    #DEFINITION LIST
\*------------------------------------*/

/**
 * 1) Definition list (`dl`) that contains a definition term (`dt`) and a definition description (`dd`)
 */
.definition-list {
  @mixin reset;
  display: grid;
  gap: var(--eds-size-2);
}

.definition-list--horizontal {
  display: flex;
  gap: var(--eds-size-2);
  flex-wrap: wrap;
}

/**
 * Small definition list
 */
.definition-list--sm {
  @mixin eds-theme-typography-body-text-sm;
}

/**
 * Definition list item
 */
.definition-list__item {
  display: flex;
  gap: var(--eds-size-2);

  /**
   * Definition list item within small definition list
   */
  .definition-list--sm & {
    margin-bottom: 0;
  }

  /**
   * Last definition list item
   */
  &:last-child {
    margin-bottom: 0;
  }
}

/**
 * Definition list term
 */
.definition-list-item__term {
  @mixin eds-theme-typography-body-text-bold;

  /**
   * Definition list term within small definition list
   */
  .definition-list--sm & {
    @mixin eds-theme-typography-body-text-sm-bold;
  }

  /**
   * Definition list term within vertical definition list
   */
  .definition-list--vertical & {
    width: auto;
  }
}

/**
 * Definition list description
 */
.definition-list-item__description {
  margin-left: 0;
}
