@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #TEXT PASSAGE
\*------------------------------------*/

/**
 * 1) A passage of text, including various components (i.e. article, blog post)
 */
.text-passage {
  /**
	 * Paragraph within text passage
	 */
  p {
    margin-bottom: var(--eds-size-3);
  }

  /**
	 * Link within the text passage
	 */
  a {
    @mixin textLink;
  }

  /**
	  * First-level heading within text passage
	  */
  h1 {
    @mixin eds-theme-typography-heading-1;
  }

  /**
	 * Second-level heading within text passage
	 */
  h2 {
    @mixin eds-theme-typography-heading-2;
    margin-top: var(--eds-size-5);
  }

  /**
	 * Third-level heading within text passage
	 */
  h3 {
    @mixin eds-theme-typography-heading-3;
    margin-top: var(--eds-size-5);
  }

  /**
	 * Fourth-level heading within text passage
	 */
  h4 {
    @mixin eds-theme-typography-heading-4;
    margin-top: var(--eds-size-5);
  }

  /**
	 * Fifth-level heading within text passage
	 */
  h5 {
    @mixin eds-theme-typography-heading-5;
    margin-top: var(--eds-size-5);
  }

  /**
	 * Sixth-level heading within text passage
	 */
  h6 {
    @mixin eds-theme-typography-heading-6;
    margin-top: var(--eds-size-5);
  }

  /**
	 * Unordered list within text passage
	 */
  ul {
    @mixin reset;
    list-style: disc;
    margin-left: var(--eds-size-2);
    margin-bottom: var(--eds-size-3);
  }

  /**
	 * Ordered list within text passage
	 */
  ol {
    @mixin reset;
    list-style: decimal;
    margin-left: var(--eds-size-2);
    margin-bottom: var(--eds-size-3);
  }

  /**
	 * List item within text passage
	 */
  li {
    margin-bottom: var(--eds-size-1);
  }

  /**
     * Blockquote within text passage
     */
  blockquote {
    font-style: italic;
    border-left-width: var(--eds-theme-border-width);
    border-left-style: solid;
    border-left-color: var(--eds-theme-color-border-brand-primary-strong);
    padding-left: var(--eds-size-2);
    margin-left: 0;
    margin-bottom: var(--eds-size-3);
  }

  /**
     * Horizontal rule
     */
  hr {
    border-width: var(--eds-theme-border-width);
    border-style: solid;
    border-color: var(--eds-theme-color-border-neutral-subtle);
    margin: var(--eds-size-3) 0;
  }
}

/**
 * Small text passage
 */
.text-passage--sm {
  @mixin eds-theme-typography-body-text-sm;

  li {
    margin-bottom: 0;
  }
}

.text-passage--lg {
  @mixin eds-theme-typography-body-text-md;

  ul {
    margin-left: var(--eds-size-3);
  }

  ol {
    margin-left: var(--eds-size-3);
  }
}

.text-passage__inner {
  /**
     * First child of a text passage
     * 1) Zero out top margin to avoid unintended
     *    gaps when leading with a heading or other
     *    element that has a top margin
     */
  > :first-child {
    margin-top: 0; /* 1 */
  }

  /**
     * Last child of a text passage
     * 1) Zero out bottom margin to allow the container
     *    element to control the bottom margin
     */
  > :last-child {
    margin-bottom: 0;
  }
}

.text-passage--inverted {
  color: var(--eds-theme-color-text-neutral-default-inverse);

  a {
    @mixin TextLinkInverted;
  }
}
