/*------------------------------------*\
    # AVATAR IMAGE
\*------------------------------------*/

/**
 * Avatar image SVG
 * 1) This component contains an outer wrapper
 *    and SVG fragments for avatars.
 */
.avatar-image {
  /* 1 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  background: white;
  border-radius: var(--eds-border-radius-round);
}

/* Head of the avatar image. */
.avatar-image__head {
  height: 8px;
}

/* Body of the avatar image. */
.avatar-image__body {
  height: 13px;
}

/* Legs of the avatar image. */
.avatar-image__legs {
  height: 10px;
}
