@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #BUTTON
\*------------------------------------*/

/**
 * 1) Button or link that has functionality to it
 * 2) Defaults to primary button
 * 3) Margin 0 added becuase Safari has margin on the button
 * 4) Adds a gap between children to automatically handle spacing between icons and text
 */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0; /* 3 */
  gap: 0.75rem; /* 4 */
  border-width: var(--eds-theme-border-width);
  border-style: solid;
  border-color: var(--eds-theme-color-primary-border);
  border-radius: var(--eds-theme-border-radius);
  color: var(--eds-theme-color-primary-foreground);
  background-color: transparent;
  cursor: pointer;
  transition: all var(--eds-anim-fade-quick) var(--eds-anim-ease);

  /* TODO: make default color prop in Icon inherit or something? */
  svg {
    fill: currentColor;
  }

  &:hover {
    color: var(--eds-theme-color-primary-foreground-hover);
    border-color: var(--eds-theme-color-primary-border-hover);
  }

  &:focus {
    background-color: transparent;
  }

  &:focus-visible {
    @mixin focus;
  }

  /**
   * Disabled buttons
   */
   &:disabled,
   &:disabled:hover,
   &:disabled:focus {
    background: transparent;
    border-color: var(--eds-theme-color-disabled-border);
    color: var(--eds-theme-color-disabled-foreground);
    cursor: not-allowed;
    transform: none;
  }
}

/**
 * Primary button
 * 1) Prominent button styles that should be applied to
 *    the most important action of a page.
 */
.button--primary {
  border-color: var(--eds-theme-color-primary-border);
  background-color: var(--eds-theme-color-primary-background);
  color: var(--eds-theme-color-body-foreground-inverted);

  &:hover,
  &:focus {
    background-color: var(--eds-theme-color-primary-background-hover);
    color: var(--eds-theme-color-body-foreground-inverted);
  }

  &:focus-visible {
    @mixin focus;
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--eds-theme-color-disabled-background);
    border-color: var(--eds-theme-color-disabled-border);
    color: var(--eds-theme-color-disabled-foreground);
  }
}

/**
 * Secondary button
 * 1) Medium prominence button used for less important actions
 */
.button--secondary {
  border-color: var(--eds-theme-color-primary-border);
  background-color: var(--eds-theme-color-primary-background);
  color: var(--eds-theme-color-body-foreground-inverted);

  &:hover,
  &:focus {
    background-color: var(--eds-theme-color-primary-background-hover);
    color: var(--eds-theme-color-body-foreground-inverted);
  }

  &:focus-visible {
    @mixin focus;
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--eds-theme-color-disabled-background);
    border-color: var(--eds-theme-color-disabled-border);
    color: var(--eds-theme-color-disabled-foreground);
  }
}

/**
 * Tertiary button
 * 1) Least prominent button used for least important actions on the page
 */
.button--tertiary {
  border-color: var(--eds-theme-color-primary-border);
  background-color: var(--eds-theme-color-primary-background);
  color: var(--eds-theme-color-body-foreground-inverted);

  &:hover,
  &:focus {
    background-color: var(--eds-theme-color-primary-background-hover);
    color: var(--eds-theme-color-body-foreground-inverted);
  }

  &:focus-visible {
    @mixin focus;
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--eds-theme-color-disabled-background);
    border-color: var(--eds-theme-color-disabled-border);
    color: var(--eds-theme-color-disabled-foreground);
  }
}

/**
 * Link Button
 * 1) A button that is visually styled like a text link
 */
.button--link {
  @mixin textLink;
  align-items: flex-start;
  padding: 0;
  border: 0;
  border-radius: 0;
  text-align: left;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

/**
 * Icon Button
 * 1) A button that strips out borders, backgrounds, etc
 * 2) Use for Close "X" buttons, tooltip icons, and other
 */
.button--icon {
  background-color: transparent;
  border: 0;
  padding: 0;

  &:hover,
  &:focus {
    color: var(--eds-theme-color-primary-foreground-hover);
    background-color: transparent;
  }
}

/**
 * Destructive Button
 * 1) A bold red button
 * 2) Use for destructive actions like deleting a user's account, deleting a course, etc
 */
.button--destructive {
  border-color: var(--eds-theme-color-primary-border);
  background-color: var(--eds-theme-color-primary-background);
  color: var(--eds-theme-color-body-foreground-inverted);

  &:hover,
  &:focus {
    background-color: var(--eds-theme-color-primary-background-hover);
    color: var(--eds-theme-color-body-foreground-inverted);
  }

  &:focus-visible {
    @mixin focus;
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--eds-theme-color-disabled-background);
    border-color: var(--eds-theme-color-disabled-border);
    color: var(--eds-theme-color-disabled-foreground);
  }
}

/**
 * Small button
 * 1) Height is used instead of vertical padding because the icon size we use would
 *    cause the button height to expand
 */
.button--sm {
  @mixin eds-theme-typography-button-label;
  height: var(--eds-size-3); /* 1 */
  padding-left: var(--eds-size-half);
  padding-right: var(--eds-size-half);
}

/**
 * Medium button
 * 1) Height is used instead of vertical padding because the icon size we use would
 *    cause the button height to expand
 */
.button--md {
  @mixin eds-theme-typography-button-label;
  height: var(--eds-size-4); /* 1 */
  padding-left: var(--eds-size-2);
  padding-right: var(--eds-size-2);
}

/**
 * Large button
 * 1) Height is used instead of vertical padding because the icon size we use would
 *    cause the button height to expand
 */
.button--lg {
  @mixin eds-theme-typography-button-label;
  height: var(--eds-size-5); /* 1 */
  padding-left: var(--eds-size-2);
  padding-right: var(--eds-size-2);
}

/**
 * Full-width button
 * 1) A block button fills 100% of the width of its container
 */
.button--full-width {
  width: 100%;
}

/**
 * Loading icon rotiation style
 * 1) Set SVG icon fill to the current text color
 */
.button__icon-loading {
  fill: currentColor; /* 1 */
  animation: rotateIcon 2s linear infinite;
  overflow: visible;

  @media screen and (prefers-reduced-motion) {
    animation: none;
  }
}

/**
 * Loading icon rotation animation
 */
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
