@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # BUTTON
\*------------------------------------*/
/**
 * TODO: Icon inherits color from the surrounding text, but should use the matching -icon- tokens from below
 */
 
.button {
  position: relative;
  border-radius: calc(var(--eds-border-radius-full) * 1px);
  border: calc(var(--eds-border-width-sm) * 1px) solid;
  overflow: hidden;
  display: flex;
}

.button__text {
  display: flex;
  gap: calc(var(--eds-size-half) / 16 * 1rem);
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 100%;

  .button--sm & {
    /* Offset to better align text in small button */
    transform: translateY(-1px);
    gap: calc(var(--eds-size-half) / 16 * 1rem);
  }

  .button--md &,
  .button--lg & {
    gap: calc(var(--eds-size-1) / 16 * 1rem);
  }

  & svg {
    flex-shrink: 0;
  }
}

.button__text.button--is-loading {
  visibility: hidden;
}

.button__loader {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

/**
 * Sizes and Widths
 */
.button--lg {
  align-items: center;

  padding: calc(var(--eds-size-1) / 16 * 1rem) 1.25rem;
  font: var(--eds-theme-typography-button-lg);

  min-width:calc(var(--eds-size-9) / 16 * 1rem);
  max-width:calc(var(--eds-size-40) / 16 * 1rem);
  max-height: calc(var(--eds-size-5) / 16 * 1rem);
}

.button--md {
  align-items: center;

  padding: calc(var(--eds-size-half) / 16 * 1rem) calc(var(--eds-size-2) / 16 * 1rem);
  font: var(--eds-theme-typography-button-md);

  min-width: 3.75rem; /* TODO: missing size token */
  max-width: calc(var(--eds-size-32) / 16 * 1rem);
  max-height: calc(var(--eds-size-4) / 16 * 1rem);
}

.button--sm {
  padding: calc(var(--eds-size-half) / 16 * 1rem) 1.33333333rem;
  font: var(--eds-theme-typography-button-sm);

  min-width: calc(var(--eds-size-6) / 16 * 1rem);
  max-width: calc(var(--eds-size-24) / 16 * 1rem);;
  max-height: calc(var(--eds-size-3) / 16 * 1rem);
}

.button--full-width {
  width: 100%;
}

/**
 * Anatomy and iconLayout (w/ size)
 * lg=40, md=32, sm=24 when layout is icon-only
 */
.button--layout-icon-only {
  min-width: unset;
}

.button--lg.button--layout-left {
  padding-left: calc(var(--eds-size-2) / 16 * 1rem);
}

.button--lg.button--layout-right {
  padding-right: calc(var(--eds-size-2) / 16 * 1rem);
}

.button--lg.button--layout-icon-only {
  padding: calc(var(--eds-size-1) / 16 * 1rem);
  width: calc(var(--eds-size-5) / 16 * 1rem);
}

.button--md.button--layout-icon-only {
  padding: calc(var(--eds-size-1) / 16 * 1rem);
  width: calc(var(--eds-size-4) / 16 * 1rem);
}

.button--sm.button--layout-icon-only {
  padding: calc(var(--eds-size-half) / 16 * 1rem);
  width: calc(var(--eds-size-3) / 16 * 1rem);
}

.button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 calc(var(--eds-size-quarter) / 16 * 1rem) var(--eds-theme-color-background-utility-base-2), 0 0 0 calc(var(--eds-size-half) / 16 * 1rem) var(--eds-theme-color-border-utility-focus);
}

/* stylelint-disable-next-line eds/no-tier-1-color-variable */
.button.button--variant-inverse:focus-visible {
  outline: none;
  box-shadow: 0 0 0 calc(var(--eds-size-quarter) / 16 * 1rem) rgb(var(--eds-color-black) / 1), 0 0 0 calc(var(--eds-size-half) / 16 * 1rem) var(--eds-theme-color-background-utility-base-2);
}

/**
 * Rank & Emphasis
 */
.button--primary.button--variant-default {
  color: var(--eds-theme-color-text-utility-inverse);
  background-color: var(--eds-theme-color-background-utility-interactive-high-emphasis);
  border-color: var(--eds-theme-color-background-utility-interactive-high-emphasis);
}

.button--secondary.button--variant-default {
  color: var(--eds-theme-color-background-utility-interactive-high-emphasis);
  border-color: currentColor;
  background-color: var(--eds-theme-color-background-utility-interactive-no-emphasis);
}

.button--tertiary.button--variant-default {
  color: var(--eds-theme-color-background-utility-interactive-high-emphasis);
  border-color: var(--eds-theme-color-background-utility-interactive-no-emphasis);
  background-color: var(--eds-theme-color-background-utility-interactive-no-emphasis);
}

.button--tertiary.button--context-standalone {
  color: var(--eds-theme-color-text-utility-interactive-secondary);
}

/**
 * Button status variants
 */
.button--primary.button--variant-critical {
  color: var(--eds-theme-color-text-utility-inverse);
  border-color: var(--eds-theme-color-background-utility-critical-high-emphasis);
  background-color: var(--eds-theme-color-background-utility-critical-high-emphasis);
}

.button--secondary.button--variant-critical {
  color: var(--eds-theme-color-background-utility-critical-high-emphasis);
  border-color: currentColor;
  background-color: var(--eds-theme-color-background-utility-interactive-no-emphasis)
}

.button--tertiary.button--variant-critical {
  color: var(--eds-theme-color-background-utility-critical-high-emphasis);
  border-color:  var(--eds-theme-color-background-utility-inverse-high-emphasis);
}

.button--primary.button--variant-neutral {
  color: var(--eds-theme-color-text-utility-inverse);
  border-color: var(--eds-theme-color-background-utility-default-medium-emphasis);
  background-color: var(--eds-theme-color-background-utility-default-medium-emphasis);

  &:hover {
    border-color: var(--eds-theme-color-background-utility-default-medium-emphasis-hover);
    background-color: var(--eds-theme-color-background-utility-default-medium-emphasis-hover);
  }

  &:active {
    border-color: var(--eds-theme-color-background-utility-default-medium-emphasis-active);
    background-color: var(--eds-theme-color-background-utility-default-medium-emphasis-active);
  }
}

.button--secondary.button--variant-neutral {
  color: var(--eds-theme-color-text-utility-default-secondary);
  border-color: currentColor;
  background-color: var(--eds-theme-color-background-utility-default-no-emphasis);

  &:hover {
    color: var(--eds-theme-color-text-utility-default-secondary-hover);
    border-color: var(--eds-theme-color-border-utility-default-medium-emphasis-hover);
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis-hover);
  }

  &:active {
    color: var(--eds-theme-color-text-utility-default-secondary-active);
    border-color: var(--eds-theme-color-border-utility-default-medium-emphasis-active);
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis-active);
  }
}

.button--tertiary.button--variant-neutral {
  color: var(--eds-theme-color-text-utility-default-secondary);
  border-color: transparent;
  background-color: var(--eds-theme-color-background-utility-default-no-emphasis);

  &:hover {
    color: var(--eds-theme-color-text-utility-default-secondary-hover);
    border-color: var(--eds-theme-color-background-utility-default-medium-emphasis-hover);
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis-hover);
  }

  &:active {
    color: var(--eds-theme-color-text-utility-default-secondary-active);
    border-color: var(--eds-theme-color-background-utility-default-medium-emphasis-active);
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis-active);
  }
}

/**
 * Inverse
 */

.button--primary.button--variant-inverse {
  color: var(--eds-theme-color-text-utility-default-primary);
  border-color: var(--eds-theme-color-background-utility-inverse-high-emphasis);
  background-color: var(--eds-theme-color-background-utility-inverse-high-emphasis);
}

.button--secondary.button--variant-inverse {
  color: var(--eds-theme-color-text-utility-inverse);
  border-color: currentColor;
  background-color: var(--eds-theme-color-background-utility-interactive-high-emphasis);
}

.button--tertiary.button--variant-inverse {
  color: var(--eds-theme-color-text-utility-inverse);
  border-color: var(--eds-theme-color-background-utility-interactive-high-emphasis);
  background-color: var(--eds-theme-color-background-utility-interactive-high-emphasis);
}

/**
 * Disabled
 */
.button--disabled {
  &.button--primary.button--variant-default,
  &.button--primary.button--variant-critical,
  &.button--primary.button--variant-neutral {
    color: var(--eds-theme-color-text-utility-disabled-primary);
    border-color: var(--eds-theme-color-background-utility-disabled-medium-emphasis);
    background-color:  var(--eds-theme-color-background-utility-disabled-medium-emphasis);

    pointer-events: none;
  }

  &.button--primary.button--variant-inverse {
    color: var(--eds-theme-color-text-utility-inverse-disabled);
    /* Using transparent for border color to avoid blending opacity of border and background */
    border-color: transparent;
    background-color: var(--eds-theme-color-background-utility-inverse-disabled);

    pointer-events: none;
  }

  &.button--secondary.button--variant-default,
  &.button--secondary.button--variant-critical,
  &.button--secondary.button--variant-neutral {
    color: var(--eds-theme-color-text-utility-disabled-primary);
    border-color: var(--eds-theme-color-border-disabled);
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis);

    pointer-events: none;
  }

  &.button--secondary.button--variant-inverse {
    color: var(--eds-theme-color-text-utility-inverse-disabled);
    border-color: var(--eds-theme-color-border-utility-inverse-disabled);

    pointer-events: none;
  }

  &.button--tertiary.button--variant-default,
  &.button--tertiary.button--variant-critical,
  &.button--tertiary.button--variant-neutral {
    color: var(--eds-theme-color-text-utility-disabled-primary);
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis);

    pointer-events: none;
  }

  &.button--tertiary.button--variant-inverse {
    color: var(--eds-theme-color-text-utility-disabled-primary);
    border-color: transparent;

    pointer-events: none;
  }
}

/**
 * Flag usages of just :disabled as erroneous
 */
.button:disabled:not(.button--disabled) {
  outline: 2px dashed var(--eds-theme-color-border-utility-critical);
}

/**
 * States
 */

 /* Hover */
.button--variant-default:hover {
  background-color: var(--eds-theme-color-border-utility-interactive-hover);
  border-color: var(--eds-theme-color-border-utility-interactive-hover);
}

.button--secondary.button--variant-default:hover,
.button--tertiary.button--variant-default:hover {
  color: var(--eds-theme-color-text-utility-interactive-primary-hover);

  background-color: var(--eds-theme-color-background-utility-interactive-no-emphasis-hover);
  border-color: var(--eds-theme-color-border-utility-interactive-hover);
}

.button--tertiary.button--variant-default:hover {
  border-color: var(--eds-theme-color-border-utility-interactive-hover);
}

.button--variant-critical:hover {
  background-color: var(--eds-theme-color-background-utility-critical-high-emphasis-hover);
  border-color: var(--eds-theme-color-background-utility-critical-high-emphasis-hover);
}

.button--secondary.button--variant-critical:hover,
.button--tertiary.button--variant-critical:hover {
  color: var(--eds-theme-color-text-utility-critical-hover);

  background-color: var(--eds-theme-color-background-utility-critical-no-emphasis-hover);
  border-color: var(--eds-theme-color-border-utility-critical-hover);
}

.button--tertiary.button--variant-critical:hover {
  border-color: var(--eds-theme-color-border-utility-critical-hover);
}

.button--primary.button--variant-inverse:hover {
  background-color: var(--eds-theme-color-background-utility-inverse-high-emphasis-hover)
}

.button--secondary.button--variant-inverse:hover,
.button--tertiary.button--variant-inverse:hover {
  background-color: var(--eds-theme-color-background-utility-inverse-no-emphasis-hover);
}

.button--tertiary.button--variant-inverse:hover {
  border-color: var(--eds-theme-color-border-utility-inverse);
}

.button--tertiary.button--context-standalone:hover {
  color: var(--eds-theme-color-text-utility-interactive-secondary-hover);
}

/* Active */
.button--variant-default:active {
  background-color: var(--eds-theme-color-border-utility-interactive-active);
  border-color: var(--eds-theme-color-border-utility-interactive-active);
}

.button--secondary.button--variant-default:active,
.button--tertiary.button--variant-default:active {
  color: var(--eds-theme-color-text-utility-default-primary-active);

  background-color: var(--eds-theme-color-background-utility-interactive-no-emphasis-active);
  border-color: var(--eds-theme-color-border-utility-interactive-active);
}

.button--tertiary.button--variant-default:active {
  border-color: var(--eds-theme-color-border-utility-interactive-active);
}

.button--variant-critical:active {
  background-color: var(--eds-theme-color-background-utility-critical-high-emphasis-active);
  border-color: var(--eds-theme-color-background-utility-critical-high-emphasis-active);
}

.button--secondary.button--variant-critical:active,
.button--tertiary.button--variant-critical:active {
  color: var(--eds-theme-color-text-utility-critical-active);

  background-color: var(--eds-theme-color-background-utility-critical-no-emphasis-active);
  border-color: var(--eds-theme-color-border-utility-critical-active);
}

.button--secondary.button--variant-inverse:active,
.button--tertiary.button--variant-inverse:active {
  background-color: var(--eds-theme-color-background-utility-inverse-no-emphasis-active);
}

.button--tertiary.button--context-standalone:active {
  color: var(--eds-theme-color-text-utility-interactive-secondary-active);
}