/*------------------------------------*\
    # TEXT
\*------------------------------------*/

/**
 * Map the component preset names to the defined typography tokens
 */
.text {
  /** 
    */
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-font-family: var(--eds-typography-font-family-1);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);

  font: unset;
  font-family: var(--text-font-family);
  font-size: calc(var(--text-font-size) * 1px);
  font-style: var(--text-font-style, initial);
  line-height: calc(var(--text-line-height) * 1px);
  font-weight: var(--text-font-weight);
  text-transform: var(--text-text-transform, none);
  letter-spacing: var(--text-letter-spacing);
}

.text--headline-xl {
  --text-font-size: var(--eds-typography-preset-800-font-size);
  --text-line-height: var(--eds-typography-preset-800-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-condensed);

  @media screen and (min-width: $eds-bp-md) {
    --text-font-size: var(--eds-typography-preset-1400-font-size);
    --text-line-height: var(--eds-typography-preset-1400-line-height);
  }
}

.text--headline-lg {
  --text-font-size: var(--eds-typography-preset-800-font-size);
  --text-line-height: var(--eds-typography-preset-800-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-condensed);

  @media screen and (min-width: $eds-bp-md) {
    --text-font-size: var(--eds-typography-preset-1000-font-size);
    --text-line-height: var(--eds-typography-preset-1000-line-height);
  }
}

.text--headline-md {
  --text-font-size: var(--eds-typography-preset-600-font-size);
  --text-line-height: var(--eds-typography-preset-600-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-condensed);

  @media screen and (min-width: $eds-bp-md) {
    --text-font-size: var(--eds-typography-preset-800-font-size);
    --text-line-height: var(--eds-typography-preset-800-line-height);
  }
}

.text--headline-sm {
  --text-font-size: var(--eds-typography-preset-600-font-size);
  --text-line-height: var(--eds-typography-preset-600-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--headline-decorative-inline-xl {
  --text-font-size: calc(var(--eds-typography-preset-800-font-size) + var(--eds-typography-font-family-size-offset-2));
  --text-line-height: var(--eds-typography-preset-800-line-height);
  --text-font-family: var(--eds-typography-font-family-2);
  --text-font-weight: var(--eds-typography-font-weight-light);
  --text-font-style: var(--eds-theme-typography-font-style-headline-decorative-inline);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --text-font-size: calc(var(--eds-typography-preset-1400-font-size) + var(--eds-typography-font-family-size-offset-2));
    --text-line-height: var(--eds-typography-preset-1400-line-height);
  }
}

.text--headline-decorative-inline-lg {
  --text-font-size: calc(var(--eds-typography-preset-800-font-size) + var(--eds-typography-font-family-size-offset-2));
  --text-line-height: var(--eds-typography-preset-800-line-height);
  --text-font-family: var(--eds-typography-font-family-2);
  --text-font-weight: var(--eds-typography-font-weight-light);
  --text-font-style: var(--eds-theme-typography-font-style-headline-decorative-inline);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --text-font-size: calc(var(--eds-typography-preset-1000-font-size) + var(--eds-typography-font-family-size-offset-2));
    --text-line-height: var(--eds-typography-preset-1000-line-height);
  }
}

.text--headline-decorative-inline-md {
  --text-font-size: calc(var(--eds-typography-preset-600-font-size) + var(--eds-typography-font-family-size-offset-2));
  --text-line-height: var(--eds-typography-preset-600-line-height);
  --text-font-family: var(--eds-typography-font-family-2);
  --text-font-weight: var(--eds-typography-font-weight-light);
  --text-font-style: var(--eds-theme-typography-font-style-headline-decorative-inline);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --text-font-size: calc(var(--eds-typography-preset-800-font-size) + var(--eds-typography-font-family-size-offset-2));
    --text-line-height: var(--eds-typography-preset-800-line-height);
  }
}

.text--headline-decorative-inline-sm {
  --text-font-size: calc(var(--eds-typography-preset-600-font-size) + var(--eds-typography-font-family-size-offset-2));
  --text-line-height: var(--eds-typography-preset-600-line-height);
  --text-font-family: var(--eds-typography-font-family-2);
  --text-font-weight: var(--eds-typography-font-weight-light);
  --text-font-style: var(--eds-theme-typography-font-style-headline-decorative-inline);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--title-xl {
  --text-font-size: var(--eds-typography-preset-500-font-size);
  --text-line-height: var(--eds-typography-preset-500-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--title-lg {
  --text-font-size: var(--eds-typography-preset-400-font-size);
  --text-line-height: var(--eds-typography-preset-400-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--title-md {
  --text-font-size: var(--eds-typography-preset-300-font-size);
  --text-line-height: var(--eds-typography-preset-300-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--title-sm {
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--title-xs {
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-xl {
  --text-font-size: var(--eds-typography-preset-600-font-size);
  --text-line-height: var(--eds-typography-preset-600-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-xl-bold {
  --text-font-size: var(--eds-typography-preset-600-font-size);
  --text-line-height: var(--eds-typography-preset-600-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-lg {
  --text-font-size: var(--eds-typography-preset-400-font-size);
  --text-line-height: var(--eds-typography-preset-400-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-lg-bold {
  --text-font-size: var(--eds-typography-preset-400-font-size);
  --text-line-height: var(--eds-typography-preset-400-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-md {
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-md-bold {
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-sm {
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-sm-bold {
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-xs {
  --text-font-size: var(--eds-typography-preset-075-font-size);
  --text-line-height: var(--eds-typography-preset-075-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--body-xs-bold {
  --text-font-size: var(--eds-typography-preset-075-font-size);
  --text-line-height: var(--eds-typography-preset-075-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--label-xl {
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--label-lg {
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--label-md {
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--label-sm {
  --text-font-size: var(--eds-typography-preset-075-font-size);
  --text-line-height: var(--eds-typography-preset-075-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--overline-lg {
  --text-font-family: var(--eds-typography-font-family-3);
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-extended);
  --text-text-transform: uppercase;
}

.text--overline-md {
  --text-font-family: var(--eds-typography-font-family-3);
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-extended);
  --text-text-transform: uppercase;
}

.text--overline-sm {
  --text-font-family: var(--eds-typography-font-family-3);
  --text-font-size: var(--eds-typography-preset-075-font-size);
  --text-line-height: var(--eds-typography-preset-075-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-extended);
  --text-text-transform: uppercase;
}

.text--caption-md {
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--caption-sm {
  --text-font-size: var(--eds-typography-preset-075-font-size);
  --text-line-height: var(--eds-typography-preset-075-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--input {
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--tab-lg-active {
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--tab-lg {
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--tab-sm-active {
  --text-font-size: var(--eds-typography-preset-075-font-size);
  --text-line-height: var(--eds-typography-preset-075-line-height);
  --text-font-weight: var(--eds-typography-font-weight-bold);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--tab-sm {
  --text-font-size: var(--eds-typography-preset-075-font-size);
  --text-line-height: var(--eds-typography-preset-075-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--code-lg {
  --text-font-family: var(--eds-typography-font-family-3);
  --text-font-size: var(--eds-typography-preset-400-font-size);
  --text-line-height: var(--eds-typography-preset-400-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--code-md {
  --text-font-family: var(--eds-typography-font-family-3);
  --text-font-size: var(--eds-typography-preset-200-font-size);
  --text-line-height: var(--eds-typography-preset-200-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--code-sm {
  --text-font-family: var(--eds-typography-font-family-3);
  --text-font-size: var(--eds-typography-preset-100-font-size);
  --text-line-height: var(--eds-typography-preset-100-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.text--code-xs {
  --text-font-family: var(--eds-typography-font-family-3);
  --text-font-size: var(--eds-typography-preset-075-font-size);
  --text-line-height: var(--eds-typography-preset-075-line-height);
  --text-font-weight: var(--eds-typography-font-weight-normal);
  --text-letter-spacing: var(--eds-typography-letter-spacing-normal);
}