@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TEXT
\*------------------------------------*/

/**
 * Remove top and bottom margins applied by browser for text.
 */
.text {
  margin-bottom: 0;
  margin-top: 0;
}

/**
 * Sizes
 */
.text--body,
.text--md {
  @mixin eds-theme-typography-body-text-md;
}
.text--lg {
  @mixin eds-theme-typography-body-text-lg;
}
.text--sm {
  @mixin eds-theme-typography-body-text-sm;
}
.text--xs {
  @mixin eds-theme-typography-body-text-xs;
}
.text--caption {
  @mixin eds-theme-typography-caption-text-md;
}
.text--overline {
  @mixin eds-theme-typography-overline;
}
.text--callout {
  @mixin eds-theme-typography-callout;
}

/**
 * Variant
 */
.text--error {
  color: var(--eds-theme-color-text-utility-error);
}
.text--neutral-subtle {
  color: var(--eds-theme-color-text-neutral-subtle);
}
.text--neutral-medium {
  color: var(--eds-theme-color-text-neutral-default);
}
.text--neutral-strong {
  color: var(--eds-theme-color-text-neutral-strong);
}
.text--brand {
  color: var(--eds-theme-color-text-brand-primary);
}
/* stylelint-disable-next-line eds/no-tier-1-color-variable */
.text--info {
  color: var(--eds-color-info-700);
}
.text--inherit {
  color: inherit;
}
.text--success {
  color: var(--eds-theme-color-text-utility-success);
}
.text--warning {
  color: var(--eds-theme-color-text-utility-warning);
}
.text--white {
  color: var(--eds-theme-color-text-neutral-default-inverse);
}

/**
 * Weights
 */
.text--normal-weight {
  font-weight: var(--eds-font-weight-light);
}
.text--bold-weight {
  font-weight: var(--eds-font-weight-bold);
}

/**
 * Spacing
 */
.text--half-spacing {
  margin-bottom: var(--eds-size-half);
}

.text--1x-spacing {
  margin-bottom: var(--eds-size-1);
}

.text--2x-spacing {
  margin-bottom: var(--eds-size-2);
}

/**
 * A passage of text, including various components (i.e. article, blog post).
 */
.text-passage {
  /**
   * Paragraph within text passage
   */
  p {
    margin-bottom: var(--eds-size-3);
  }

  /**
   * First child of a text passage
   */
  > :first-child {
    /**
     * Zero out top margin to avoid unintended gaps when leading with a heading or other
     * element that has a top margin.
     */
    margin-top: 0;
  }

  /**
   * Last child of a text passage
   */
  > :last-child {
    /**
     * Zero out bottom margin to allow the container element to control the bottom margin.
     */
    margin-bottom: 0;
  }

  /**
   * Link within the text passage
   */
  a {
    @mixin textLink;
  }

  /**
   * First-level heading within text passage
   */
  h1 {
    @mixin eds-theme-typography-headline-lg;
  }

  /**
   * Second-level heading within text passage
   */
  h2 {
    @mixin eds-theme-typography-headline-md;
    margin-top: var(--eds-size-5);
  }

  /**
   * Third-level heading within text passage
   */
  h3 {
    @mixin eds-theme-typography-headline-sm;
    margin-top: var(--eds-size-5);
  }

  /**
   * Fourth-level heading within text passage
   */
  h4 {
    @mixin eds-theme-typography-title-md;
    margin-top: var(--eds-size-5);
  }

  /**
   * Fifth-level heading within text passage
   */
  h5 {
    @mixin eds-theme-typography-title-sm;
    margin-top: var(--eds-size-5);
  }

  /**
   * Sixth-level heading within text passage
   */
  h6 {
    @mixin eds-theme-typography-body-text-sm-bold;
    margin-top: var(--eds-size-5);
  }

  /**
   * Unordered list within text passage
   */
  ul {
    @mixin reset;
    list-style: disc;
    margin-left: var(--eds-size-2);
    margin-bottom: var(--eds-size-3);
  }

  /**
   * Ordered list within text passage
   */
  ol {
    @mixin reset;
    list-style: decimal;
    margin-left: var(--eds-size-2);
    margin-bottom: var(--eds-size-3);
  }

  /**
   * List item within text passage
   */
  li {
    margin-bottom: var(--eds-size-1);
  }

  /**
   * Blockquote within text passage
   */
  blockquote {
    font-style: italic;
    border-left-width: var(--eds-theme-border-width);
    border-left-style: solid;
    border-left-color: var(--eds-theme-color-border-brand-primary-strong);
    padding-left: var(--eds-size-2);
    margin-left: 0;
    margin-bottom: var(--eds-size-3);
  }

  /**
   * Horizontal rule
   */
  hr {
    border-width: var(--eds-theme-border-width);
    border-style: solid;
    border-color: var(--eds-theme-color-border-neutral-subtle);
    margin: var(--eds-size-3) 0;
  }
}

/**
 * Small text passage
 */
.text-passage--sm {
  li {
    margin-bottom: 0;
  }
}

.text-passage--lg {
  ul {
    margin-left: var(--eds-size-3);
  }
  ol {
    margin-left: var(--eds-size-3);
  }
}
