@import '../../mixins.css';

body {
  font: var(--eds-typography-preset-200) var(--eds-typography-font-weight-normal) var(--eds-typography-font-family-1);
    letter-spacing: var(--eds-typography-letter-spacing-normal);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

/* Body disabled variant */
.body--disabled {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
