@import '../../mixins.css';

body {
  @mixin eds-theme-typography-body-text-md;
  display: flex;
  flex-direction: column;
  color: var(--eds-theme-color-neutral-default);
  background: var(--eds-theme-color-body-background);
  padding: 0;
  margin: 0;
}
