*,
*:before,
*:after {
  box-sizing: border-box;
}

/* TODO-AH: figure out what these tokens should be */
::-moz-selection {
  /* Code for Firefox */
  color: var(--eds-theme-color-text-highlight-foreground);
  background: var(--eds-theme-color-text-highlight-background);
}

::selection {
  color: var(--eds-theme-color-text-highlight-foreground);
  background: var(--eds-theme-color-text-highlight-background);
}
