/*------------------------------------*\
    # MENU
\*------------------------------------*/

/**
 * Menu
 */
.menu {
  position: relative;
}

.menu__popover {
  max-width: var(--eds-l-max-width);
  margin-top: var(--eds-size-1);
  position: absolute;
}

.menu__button {
  background-color: var(--light-color-button-background);
}

/* // is getting overridden by a style in clickablestyle */
.menu__button--icon {
  color: var(--eds-theme-color-button-secondary-neutral-text);
}

.menu__item {
  text-decoration: none;
  color: inherit;
}
