@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # MENU
\*------------------------------------*/

/**
 * Menu
 */
.menu {
  position: relative;
}

.menu__button {
  font: var(--eds-theme-typography-body-md);

  color: var(--eds-theme-color-text-neutral-subtle);
  background-color: var(--eds-theme-color-form-background);
  border-color: var(--eds-theme-color-form-border);
  font-weight: var(--eds-font-weight-light);
}

.menu__plain-button {
  /* These min sizes are for target size accessibility */
  min-height: 44px;
  min-width: 44px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border-radius: var(--eds-border-radius-md);
}
.menu__plain-button:hover {
  background-color: var(
    --eds-theme-color-button-secondary-neutral-background-hover
  );
}
.menu__plain-button:focus-visible {
  @mixin focus;
}
@supports not selector(:focus-visible) {
  .menu__plain-button:focus {
    @mixin focus;
  }
}

.menu__button--with-chevron {
  color: var(--eds-theme-color-icon-neutral-default);
}

.menu__item {
  text-decoration: none;
  color: inherit;
}

/* Unset the hover on the menu item, as this is handled by the PopoverListItem */
.menu__item:hover {
  color: unset;
}