@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # MENU
\*------------------------------------*/

/**
 * Menu
 */
.menu {
  position: relative;
}

.menu__button {
  font: var(--eds-theme-typography-body-md);

  color: var(--eds-theme-color-text-neutral-subtle);
  background-color: var(--eds-theme-color-form-background);
  border-color: var(--eds-theme-color-form-border);
  font-weight: var(--eds-font-weight-light);
}

.menu__button--with-chevron {
  color: var(--eds-theme-color-icon-neutral-default);
}

.menu__item {
  text-decoration: none;
  color: inherit;
}

/* Unset the hover on the menu item, as this is handled by the PopoverListItem */
.menu__item:hover {
  color: unset;
}