@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # MENU
\*------------------------------------*/

/**
 * Menu
 */
.menu {
  position: relative;
}

.menu__popover {
  margin-top: var(--eds-size-1);
  min-width: max-content;
  max-width: var(--eds-l-max-width);
  position: absolute;
  width: 100%;
}

.menu__button {
  @mixin eds-theme-typography-body-text-md;

  color: var(--eds-theme-text-neutral-subtle);
  background-color: var(--eds-theme-color-form-background);
  border-color: var(--eds-theme-color-form-border);
  font-weight: var(--eds-font-weight-light);
}

/* Needed to create higher specificity than ClickableStyle. */
.menu__button--icon {
  color: var(--eds-theme-color-icon-neutral-default);
}

.menu__item {
  text-decoration: none;
  color: inherit;
}
