/*------------------------------------*\
    # SEARCH BUTTON
\*------------------------------------*/

/**
 * Button to trigger search in a Search Bar.
 */
.search-button {
  height: var(--eds-size-5);
  box-sizing: content-box;
  border: 0;
}
