/*------------------------------------*\
    # HR (HORIZONTAL RULE)
\*------------------------------------*/

/**
 * Line that acts as a separator of content.
 * 
 */
.hr {
  margin-top: calc(var(--eds-spacing-size-4) / 16 * 1rem);
  margin-bottom: calc(var(--eds-spacing-size-4) / 16 * 1rem);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: calc(var(--eds-border-width-sm) * 1px);
  border-bottom-style: solid;
  border-bottom-color: var(--eds-theme-color-border-neutral-subtle);
}

/**
 * Horizontal rule with a thick border.
 */
.hr--lg {
  border-width: calc(var(--eds-border-width-lg) * 1px);
}

/**
 * Branded horizontal rule.
 */
.hr--brand {
  border-color: var(--eds-theme-color-border-brand-primary-strong);
}