/*------------------------------------*\
    # HR (HORIZONTAL RULE)
\*------------------------------------*/

/**
 * Line that acts as a separator of content.
 * 
 */
.hr {
  margin-top: calc(var(--eds-spacing-size-4) * 1px);
  margin-bottom: calc(var(--eds-spacing-size-4) * 1px);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: calc(var(--eds-border-width-sm) * 1px);
  border-bottom-style: solid;
  border-bottom-color: var(--eds-theme-color-border-utility-default-low-emphasis);
}

