/*------------------------------------*\
    # POPOVER CONTENT
\*------------------------------------*/

/**
 * Decorative arrow pointing the Popover to the trigger element.
 */
.popover-content__arrow {
  position: absolute;
  width: 0;
  height: 0;
}

/**
 * Arrow directions, made into mixins for brevity in use.
 */
@define-mixin down-arrow {
  bottom: -0.25rem;

  border: var(--eds-size-half) solid transparent;
  border-top-color: var(--eds-theme-color-background-neutral-default);
  border-bottom: none;
}
@define-mixin up-arrow {
  top: -0.25rem;

  border: var(--eds-size-half) solid transparent;
  border-bottom-color: var(--eds-theme-color-background-neutral-default);
  border-top: none;
}
@define-mixin left-arrow {
  left: -0.25rem;

  border: var(--eds-size-half) solid transparent;
  border-right-color: var(--eds-theme-color-background-neutral-default);
  border-left: none;
}
@define-mixin right-arrow {
  right: -0.25rem;

  border: var(--eds-size-half) solid transparent;
  border-left-color: var(--eds-theme-color-background-neutral-default);
  border-right: none;
}

/**
 * Arrow placement according to popover placement.
 */
:where([data-popper-placement='top-start'] > .popover-content__arrow) {
  left: var(--eds-size-2);

  @mixin down-arrow;
}
:where([data-popper-placement='top-end'] > .popover-content__arrow) {
  right: var(--eds-size-2);

  @mixin down-arrow;
}
:where([data-popper-placement='bottom-start'] > .popover-content__arrow) {
  left: var(--eds-size-2);

  @mixin up-arrow;
}
:where([data-popper-placement='bottom-end'] > .popover-content__arrow) {
  right: var(--eds-size-2);

  @mixin up-arrow;
}
:where([data-popper-placement='right-start'] > .popover-content__arrow) {
  top: var(--eds-size-2);

  @mixin left-arrow;
}
:where([data-popper-placement='right-end'] > .popover-content__arrow) {
  bottom: var(--eds-size-2);

  @mixin left-arrow;
}
:where([data-popper-placement='left-start'] > .popover-content__arrow) {
  top: var(--eds-size-2);

  @mixin right-arrow;
}
:where([data-popper-placement='left-end'] > .popover-content__arrow) {
  bottom: var(--eds-size-2);

  @mixin right-arrow;
}

:where([data-popper-placement='top'] > .popover-content__arrow) {
  left: 50%;

  @mixin down-arrow;
}

:where([data-popper-placement='bottom'] > .popover-content__arrow) {
  left: 50%;

  @mixin up-arrow;
}

:where([data-popper-placement='right'] > .popover-content__arrow) {
  top: 50%;

  @mixin left-arrow;
}

:where([data-popper-placement='left'] > .popover-content__arrow) {
  top: 50%;

  @mixin right-arrow;
}
