/*------------------------------------*\
    # NAV CONTAINER
\*------------------------------------*/

/**
 * Container that houses navigation to be toggled on and off on small screens.
 */
.nav-container {
  @apply absolute top-full left-0;
  /* Hide by default on small screens. */
  @apply invisible opacity-0 h-0 w-full p-2 z-bottom;
  transition: all var(--eds-anim-move-quick) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  /**
   * Large screen styles.
  */
  @media all and (min-width: $eds-bp-xl) {
    /* Un-hide navcontainer to display nav by default on larger screens. */
    display: flex;
    /* Display children as horizontal flex items. */
    @apply justify-between static visible p-0;
    opacity: 1;
    height: auto;
    margin-bottom: var(--eds-size-6);
  }
}

/**
* Active nav container
*
* Open state on small screens.
*/
.nav-container.is-active {
  display: block;

  @media all and (max-width: $eds-bp-xl) {
    
    opacity: 1;
    @apply visible flex flex-col;
    @apply overflow-auto gap-16;
    @apply bg-background-brand-primary-strong-@ z-400;
    height: calc(100vh - 3rem);

  }
}
