@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # NAV CONTAINER
\*------------------------------------*/

/**
 * 1) Container that houses navigation to be toggled on and off on small screens
 * 2) Hide by default on small screens
 * 3) 
 */
.nav-container {
  position: absolute; /* 1 */
  top: 100%; /* 1 */
  left: 0; /* 1 */
  visibility: hidden; /* 2 */
  opacity: 0; /* 2 */
  height: 0;
  width: 100%; /* 1 */
  padding: var(--eds-size-1);
  z-index: var(--eds-z-index-bottom); /* 2 */
  transition: all var(--eds-anim-move-quick) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  /**
   * Large screen styles
   * 1) Un-hide navcontainer to display nav by default on larger screens
   * 2) Display children as horizontal flex items
  */
  @media all and (min-width: $eds-bp-xl) {
    display: flex; /* 1 */
    justify-content: space-between; /* 2 */
    position: static;
    visibility: visible;
    opacity: 1;
    padding: 0;
    height: auto;
    margin-bottom: var(--eds-size-6);
  }
}

/**
* Active nav container
* 1) Open state on small screens
*/
.nav-container.is-active {
  display: block;

  @media all and (max-width: $eds-bp-xl) {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: var(--eds-size-8);
    height: calc(100vh - 3rem); /* 2 */
    background-color: var(--eds-theme-color-background-brand-primary-strong);
    z-index: var(--eds-z-index-400);
  }
}
