@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #TEXTAREA
\*------------------------------------*/

/**
 * Inherits base textarea styles 
 */
.textarea {
  @mixin inputStyles;
  resize: vertical;
  padding: var(--eds-size-1-and-half);
  padding-left: var(--eds-size-2);
  border-radius: 0.5rem;
  min-height: 50px;
}
