/* Disabling two rules since these mixins define macro content inserted into the proper context */
/* stylelint-disable nesting-selector-no-missing-scoping-root */
/* stylelint-disable no-invalid-position-declaration */

@define-mixin inputStyles {
  /* preset: input-md */
  font: 400 var(--eds-typography-preset-200) var(--eds-typography-font-family-1);

  appearance: none;
  -webkit-appearance: none;
  width: 100%;

  border: 1px solid;
  border-radius: calc(var(--eds-theme-border-radius-objects-sm) * 1px);

  outline: none;
  padding: calc(var(--eds-spacing-size-1-and-half) * 1px);
  margin: 0;

  transition: box-shadow calc(var(--eds-anim-fade-quick) * 1s) ease-in-out,
  border-color calc(var(--eds-anim-fade-quick) * 1s) ease-in-out;
  
  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
  
  color: var(--eds-theme-color-text-utility-default-primary);
  border-color: var(--eds-theme-color-border-utility-default-low-emphasis);
  background-color: var(--eds-theme-color-background-input);
  
  &:hover {
    border-color: var(--eds-theme-color-border-utility-default-low-emphasis-hover);
  }

  &:focus {
    border-color: var(--eds-theme-color-border-utility-focus);
    outline: 1px solid var(--eds-theme-color-border-utility-focus);
  }

  &:read-only:not(:disabled) {
    border-color: transparent;
    outline: none;
    padding-left: 0;
  }

  /**
   * Input error state
   */
  &.error {
    border-color: var(--eds-theme-color-border-utility-critical);

    &:hover {
      border-color: var(--eds-theme-color-border-utility-critical-hover);
    }

    &:focus {
      border-color: var(--eds-theme-color-border-utility-critical);
      outline: 1px solid var(--eds-theme-color-border-utility-critical);
    }
  }

  &.warning {
    border-color: var(--eds-theme-color-border-utility-warning);

    &:hover {
      border-color: var(--eds-theme-color-border-utility-warning-hover);
    }

    &:focus {
      border-color: var(--eds-theme-color-border-utility-warning);
      outline: 1px solid var(--eds-theme-color-border-utility-warning);
    }
  }

  /**
   * Disabled/read-only state
   */
  &:disabled,
  &:disabled::placeholder {
    cursor: not-allowed;

    color: var(--eds-theme-color-text-utility-disabled-primary);
    border-color: var(--eds-theme-color-border-utility-disabled);
    background-color: var(--eds-theme-color-background-utility-disabled-low-emphasis);
  }

  &::placeholder {
    color: var(--eds-theme-color-text-utility-default-secondary);
  }
}
