/**
 * Legacy Mixins
 * TODO(next-major): remove mixin once not in use (after 1.x components have been migrated)
 */
@define-mixin focus {
  outline: calc(var(--eds-theme-box-focus-ring-outline-width) * 1px) solid
    var(--eds-theme-color-focus-ring);
  outline-offset: calc(var(--eds-theme-box-focus-ring-outline-offset) * 1px);
}

/**
 * Component 2.0 Mixins
 */
@define-mixin inputStyles {
  font: var(--eds-theme-typography-form-input);
  font-family: inherit;

  appearance: none;
  -webkit-appearance: none;
  width: 100%;

  border: calc(var(--eds-border-width-sm) * 1px) solid;
  border-radius: calc(var(--eds-theme-border-radius-objects-sm) * 1px);

  outline: none;
  padding: 0.5rem;
  margin: 0;

  transition: box-shadow calc(var(--eds-anim-fade-quick) * 1s) var(--eds-anim-ease),
  border-color calc(var(--eds-anim-fade-quick) * 1s) var(--eds-anim-ease);
  
  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
  
  color: var(--eds-theme-color-text-utility-default-primary);
  border-color: var(--eds-theme-color-border-utility-default-medium-emphasis);
  background-color: var(--eds-theme-color-background-input);
  
  &:hover {
    border-color: var(--eds-theme-color-border-utility-default-medium-emphasis-hover);
  }

  &:focus {
    border-color: var(--eds-theme-color-border-utility-focus);
    outline: calc(var(--eds-border-width-sm) * 1px) solid var(--eds-theme-color-border-utility-focus);
  }

  &:read-only:not(:disabled) {
    border-color: transparent;
    outline: none;
    padding-left: 0;
  }

  /**
   * Input error state
   */
  &.error {
    border-color: var(--eds-theme-color-border-utility-critical);

    &:hover {
      border-color: var(--eds-theme-color-border-utility-critical-hover);
    }

    &:focus {
      border-color: var(--eds-theme-color-border-utility-critical);
      outline: calc(var(--eds-border-width-sm) * 1px) solid var(--eds-theme-color-border-utility-critical);
    }
  }

  &.warning {
    border-color: var(--eds-theme-color-border-utility-warning);

    &:hover {
      border-color: var(--eds-theme-color-border-utility-warning-hover);
    }

    &:focus {
      border-color: var(--eds-theme-color-border-utility-warning);
      outline: calc(var(--eds-border-width-sm) * 1px) solid var(--eds-theme-color-border-utility-warning);
    }
  }

  /**
   * Disabled/read-only state
   */
  &:disabled,
  &:disabled::placeholder {
    cursor: not-allowed;

    color: var(--eds-theme-color-text-utility-disabled-primary);
    border-color: var(--eds-theme-color-border-utility-disabled);
    background-color: var(--eds-theme-color-background-utility-disabled-low-emphasis);
  }

  &::placeholder {
    color: var(--eds-theme-color-text-utility-default-secondary);
  }
}
