:root {
  --eds-anim-fade-quick: 0.15s;
  --eds-anim-fade-long: 0.4s;
  --eds-anim-move-quick: 0.15s;
  --eds-anim-move-long: 0.4s;
  --eds-anim-ease: ease;
  --eds-border-width-sm: 1px;
  --eds-border-width-md: 2px;
  --eds-border-width-lg: 4px;
  --eds-border-width-xl: 8px;
  --eds-border-radius-md: 4px;
  --eds-border-radius-lg: 8px;
  --eds-border-radius-xl: 20px;
  --eds-border-radius-round: 50%;
  --eds-color-brand-blue-100: #f7f1ff;
  --eds-color-brand-blue-200: #c3c0fe;
  --eds-color-brand-blue-300: #a7a2fe;
  --eds-color-brand-blue-400: #928cff;
  --eds-color-brand-blue-500: #766ffd;
  --eds-color-brand-blue-600: #574eff;
  --eds-color-brand-blue-700: #433bde;
  --eds-color-brand-blue-800: #312b9e;
  --eds-color-neutral-100: #f3f3f3;
  --eds-color-neutral-200: #e8e8e9;
  --eds-color-neutral-300: #cad1d8;
  --eds-color-neutral-400: #838c95;
  --eds-color-neutral-500: #58636f;
  --eds-color-neutral-600: #3c444c;
  --eds-color-neutral-700: #21272d;
  --eds-color-neutral-white: #ffffff;
  --eds-color-transparent-25: rgba(0, 0, 0, 0.25);
  --eds-color-transparent-90: rgba(0, 0, 0, 0.9);
  --eds-color-other-blue-100: #f1f9ff;
  --eds-color-other-blue-200: #b0d5ff;
  --eds-color-other-blue-300: #7fb9fd;
  --eds-color-other-blue-400: #5ca7ff;
  --eds-color-other-blue-500: #328efb;
  --eds-color-other-blue-600: #1977cd;
  --eds-color-other-blue-700: #0563b8;
  --eds-color-other-green-100: #ecfff5;
  --eds-color-other-green-200: #b7e9ce;
  --eds-color-other-green-300: #8fdcb3;
  --eds-color-other-green-400: #59c88c;
  --eds-color-other-green-500: #00a66a;
  --eds-color-other-green-600: #008756;
  --eds-color-other-green-700: #007349;
  --eds-color-other-green-800: #005939;
  --eds-color-other-yellow-100: #fdf1d0;
  --eds-color-other-yellow-500: #f79d2d;
  --eds-color-other-orange-100: #fff1e9;
  --eds-color-other-orange-200: #ffcba6;
  --eds-color-other-orange-300: #ffb077;
  --eds-color-other-orange-400: #f6924a;
  --eds-color-other-orange-500: #e06c00;
  --eds-color-other-orange-600: #c64600;
  --eds-color-other-orange-700: #ac3400;
  --eds-color-other-orange-800: #852800;
  --eds-color-other-red-100: #ffebf0;
  --eds-color-other-red-200: #ffccd8;
  --eds-color-other-red-300: #fb90b0;
  --eds-color-other-red-400: #f76c96;
  --eds-color-other-red-500: #f1497c;
  --eds-color-other-red-600: #d41e52;
  --eds-color-other-red-700: #bd0044;
  --eds-color-other-red-800: #8f0134;
  --eds-color-other-purple-100: #e8ebff;
  --eds-color-other-purple-150: #98a4de;
  --eds-color-other-purple-200: #7686d3;
  --eds-color-other-purple-300: #5761ba;
  --eds-color-other-purple-350: #454e9d;
  --eds-color-other-purple-400: #32417c;
  --eds-color-other-highlight-100: #ff9fec;
  --eds-color-other-highlight-200: #ffbeaa;
  --eds-color-other-highlight-300: #fcff00;
  --eds-color-other-highlight-400: #9dffa4;
  --eds-color-other-highlight-500: #00f1ff;
  --eds-color-other-highlight-600: #cfc9ff;
  --eds-l-max-width: 71.25rem;
  --eds-l-linelength-width: 36rem;
  --eds-box-shadow-sm: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  --eds-box-shadow-md: 0px 0px 0px 1px var(--eds-color-neutral-200),
    0px 2px 3px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.08);
  --eds-size-1: 0.5rem;
  --eds-size-2: 1rem;
  --eds-size-3: 1.5rem;
  --eds-size-4: 2rem;
  --eds-size-5: 2.5rem;
  --eds-size-6: 3rem;
  --eds-size-7: 3.5rem;
  --eds-size-8: 4rem;
  --eds-size-9: 4.5rem;
  --eds-size-10: 5rem;
  --eds-size-base-unit: 0.5rem;
  --eds-size-half: 0.25rem;
  --eds-size-1-and-half: 0.75rem;
  --eds-size-2-and-half: 1.25rem;
  --eds-font-family-primary: sans-serif;
  --eds-font-family-secondary: sans-serif;
  --eds-font-size-xs: 0.75rem;
  --eds-font-size-sm: 0.875rem;
  --eds-font-size-md: 1rem;
  --eds-font-size-md-2: 1.125rem;
  --eds-font-size-md-3: 1.25rem;
  --eds-font-size-lg: 1.5rem;
  --eds-font-size-xl: 1.5rem;
  --eds-font-weight-light: 300;
  --eds-font-weight-regular: 400;
  --eds-font-weight-semibold: 600;
  --eds-font-weight-bold: 700;
  --eds-line-height-sm: 1;
  --eds-line-height-sm-2: 1.2;
  --eds-line-height-md: 1.333;
  --eds-line-height-lg: 1.5;
  --eds-letter-spacing-sm: 0.5px;
  --eds-z-index-0: 0;
  --eds-z-index-100: 100;
  --eds-z-index-200: 200;
  --eds-z-index-300: 300;
  --eds-z-index-400: 400;
  --eds-z-index-500: 500;
  --eds-z-index-top: 99999;
  --eds-z-index-bottom: -100;
  --eds-theme-border-radius: 4px;
  --eds-theme-border-width: 1px;
  --eds-theme-color-body-foreground: #21272d;
  --eds-theme-color-body-foreground-inverted: #ffffff;
  --eds-theme-color-body-background: #f3f3f3;
  --eds-theme-color-body-background-inverted: #21272d;
  --eds-theme-color-primary-foreground: #574eff;
  --eds-theme-color-primary-foreground-hover: #312b9e;
  --eds-theme-color-primary-foreground-inverted: #ffffff;
  --eds-theme-color-primary-foreground-inverted-hover: #ffffff;
  --eds-theme-color-primary-background: #574eff;
  --eds-theme-color-primary-background-hover: #312b9e;
  --eds-theme-color-primary-background-inverted: #a7a2fe;
  --eds-theme-color-primary-background-inverted-hover: #574eff;
  --eds-theme-color-primary-border: #574eff;
  --eds-theme-color-primary-border-hover: #312b9e;
  --eds-theme-color-primary-border-inverted: #a7a2fe;
  --eds-theme-color-primary-border-inverted-hover: #574eff;
  --eds-theme-color-disabled-foreground: #3c444c;
  --eds-theme-color-disabled-foreground-inverted: #838c95;
  --eds-theme-color-disabled-background: #e8e8e9;
  --eds-theme-color-disabled-background-inverted: #21272d;
  --eds-theme-color-disabled-border: #3c444c;
  --eds-theme-color-disabled-border-inverted: #58636f;
  --eds-theme-color-focus-ring: #574eff;
  --eds-theme-color-focus-ring-inverted: #ffffff;
  --eds-theme-color-link-foreground: #574eff;
  --eds-theme-color-link-foreground-hover: #ffffff;
  --eds-theme-color-link-foreground-inverted: #ffffff;
  --eds-theme-color-link-foreground-inverted-hover: #ffffff;
  --eds-theme-color-neutral-subtle-background: #e8e8e9;
  --eds-theme-color-neutral-subtle-background-inverted: #21272d;
  --eds-theme-color-neutral-subtle-border: #e8e8e9;
  --eds-theme-color-neutral-subtle-border-inverted: #21272d;
  --eds-theme-color-neutral-md-foreground: #3c444c;
  --eds-theme-color-neutral-md-foreground-inverted: #838c95;
  --eds-theme-color-neutral-md-background: #3c444c;
  --eds-theme-color-neutral-md-background-inverted: #58636f;
  --eds-theme-color-neutral-md-border: #3c444c;
  --eds-theme-color-neutral-md-border-inverted: #58636f;
  --eds-theme-color-neutral-bold-foreground: #21272d;
  --eds-theme-color-neutral-bold-foreground-inverted: #ffffff;
  --eds-theme-color-neutral-bold-background: #21272d;
  --eds-theme-color-neutral-bold-background-inverted: #ffffff;
  --eds-theme-color-neutral-bold-border: #21272d;
  --eds-theme-color-neutral-bold-border-inverted: #ffffff;
  --eds-theme-color-text-highlight-foreground: #ffffff;
  --eds-theme-color-text-highlight-background: #a7a2fe;
  --eds-theme-color-utility-info-foreground: #1977cd;
  --eds-theme-color-utility-info-foreground-inverted: #1977cd;
  --eds-theme-color-utility-info-background: #1977cd;
  --eds-theme-color-utility-info-background-inverted: #1977cd;
  --eds-theme-color-utility-info-border: #1977cd;
  --eds-theme-color-utility-info-border-inverted: #1977cd;
  --eds-theme-color-utility-success-foreground: #007349;
  --eds-theme-color-utility-success-foreground-inverted: #59c88c;
  --eds-theme-color-utility-success-background: #ecfff5;
  --eds-theme-color-utility-success-background-inverted: #ecfff5;
  --eds-theme-color-utility-success-border: #b7e9ce;
  --eds-theme-color-utility-success-border-inverted: #b7e9ce;
  --eds-theme-color-utility-warning-foreground: #ac3400;
  --eds-theme-color-utility-warning-foreground-inverted: #ffb077;
  --eds-theme-color-utility-warning-background: #fff1e9;
  --eds-theme-color-utility-warning-background-inverted: #fff1e9;
  --eds-theme-color-utility-warning-border: #ffcba6;
  --eds-theme-color-utility-warning-border-inverted: #ffcba6;
  --eds-theme-color-utility-error-foreground: #bd0044;
  --eds-theme-color-utility-error-foreground-inverted: #fb90b0;
  --eds-theme-color-utility-error-background: #ffebf0;
  --eds-theme-color-utility-error-background-inverted: #ffebf0;
  --eds-theme-color-utility-error-border: #ffccd8;
  --eds-theme-color-utility-error-border-inverted: #ffccd8;
  --eds-theme-color-form-label-foreground: #21272d;
  --eds-theme-color-form-label-foreground-inverted: #ffffff;
  --eds-theme-color-form-input-border: #3c444c;
  --eds-theme-color-form-input-border-hover: #21272d;
  --eds-theme-color-form-input-border-inverted-hover: #ffffff;
  --eds-theme-color-form-input-border-focus: #21272d;
  --eds-theme-color-form-input-border-focus-inverted: #ffffff;
  --eds-theme-color-form-input-border-error: #bd0044;
  --eds-theme-form-input-border-width: 1px;
  --eds-theme-form-input-border-radius: 4px;
  --eds-theme-box-shadow: 0px 0px 0px 1px var(--eds-color-neutral-200),
    0px 2px 3px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.08);
}
