:root {
  --eds-anim-fade-quick: 0.15s;
  --eds-anim-fade-long: 0.4s;
  --eds-anim-move-quick: 0.15s;
  --eds-anim-move-long: 0.4s;
  --eds-anim-ease: ease;
  --eds-border-width-sm: 1px;
  --eds-border-width-md: 2px;
  --eds-border-width-lg: 4px;
  --eds-border-width-xl: 8px;
  --eds-border-radius-md: 4px;
  --eds-border-radius-lg: 8px;
  --eds-border-radius-xl: 20px;
  --eds-border-radius-round: 50%;
  --eds-color-brand-blue-100: #F7F1FF;
  --eds-color-brand-blue-200: #C3C0FE;
  --eds-color-brand-blue-300: #A7A2FE;
  --eds-color-brand-blue-400: #928CFF;
  --eds-color-brand-blue-500: #766FFD;
  --eds-color-brand-blue-600: #574EFF;
  --eds-color-brand-blue-700: #433BDE;
  --eds-color-brand-blue-800: #312B9E;
  --eds-color-neutral-100: #F3F3F3;
  --eds-color-neutral-200: #E8E8E9;
  --eds-color-neutral-300: #CAD1D8;
  --eds-color-neutral-400: #838C95;
  --eds-color-neutral-500: #58636F;
  --eds-color-neutral-600: #3C444C;
  --eds-color-neutral-700: #21272D;
  --eds-color-neutral-white: #ffffff;
  --eds-color-transparent-25: rgba(0, 0, 0, .25);
  --eds-color-transparent-90: rgba(0, 0, 0, .9);
  --eds-color-other-blue-100: #F1F9FF;
  --eds-color-other-blue-200: #B0D5FF;
  --eds-color-other-blue-300: #7FB9FD;
  --eds-color-other-blue-400: #5CA7FF;
  --eds-color-other-blue-500: #328EFB;
  --eds-color-other-blue-600: #1977CD;
  --eds-color-other-blue-700: #0563B8;
  --eds-color-other-green-100: #ECFFF5;
  --eds-color-other-green-200: #B7E9CE;
  --eds-color-other-green-300: #8FDCB3;
  --eds-color-other-green-400: #59C88C;
  --eds-color-other-green-500: #00A66A;
  --eds-color-other-green-600: #008756;
  --eds-color-other-green-700: #007349;
  --eds-color-other-green-800: #005939;
  --eds-color-other-yellow-100: #FDF1D0;
  --eds-color-other-yellow-500: #F79D2D;
  --eds-color-other-orange-100: #FFF1E9;
  --eds-color-other-orange-200: #FFCBA6;
  --eds-color-other-orange-300: #FFB077;
  --eds-color-other-orange-400: #F6924A;
  --eds-color-other-orange-500: #E06C00;
  --eds-color-other-orange-600: #C64600;
  --eds-color-other-orange-700: #AC3400;
  --eds-color-other-orange-800: #852800;
  --eds-color-other-red-100: #FFEBF0;
  --eds-color-other-red-200: #FFCCD8;
  --eds-color-other-red-300: #FB90B0;
  --eds-color-other-red-400: #F76C96;
  --eds-color-other-red-500: #F1497C;
  --eds-color-other-red-600: #D41E52;
  --eds-color-other-red-700: #BD0044;
  --eds-color-other-red-800: #8F0134;
  --eds-color-other-purple-100: #E8EBFF;
  --eds-color-other-purple-150: #98A4DE;
  --eds-color-other-purple-200: #7686D3;
  --eds-color-other-purple-300: #5761BA;
  --eds-color-other-purple-350: #454E9D;
  --eds-color-other-purple-400: #32417C;
  --eds-color-other-highlight-100: #FF9FEC;
  --eds-color-other-highlight-200: #FFBEAA;
  --eds-color-other-highlight-300: #FCFF00;
  --eds-color-other-highlight-400: #9DFFA4;
  --eds-color-other-highlight-500: #00F1FF;
  --eds-color-other-highlight-600: #CFC9FF;
  --eds-l-max-width: 71.25rem;
  --eds-l-linelength-width: 36rem;
  --eds-box-shadow-sm: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  --eds-box-shadow-md: 0px 0px 0px 1px var(--eds-color-neutral-200), 0px 2px 3px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.08);
  --eds-size-1: 0.5rem;
  --eds-size-2: 1rem;
  --eds-size-3: 1.5rem;
  --eds-size-4: 2rem;
  --eds-size-5: 2.5rem;
  --eds-size-6: 3rem;
  --eds-size-7: 3.5rem;
  --eds-size-8: 4rem;
  --eds-size-9: 4.5rem;
  --eds-size-10: 5rem;
  --eds-size-base-unit: 0.5rem;
  --eds-size-half: 0.25rem;
  --eds-size-1-and-half: 0.75rem;
  --eds-size-2-and-half: 1.25rem;
  --eds-font-family-primary: sans-serif;
  --eds-font-family-secondary: sans-serif;
  --eds-font-size-xs: 0.75rem;
  --eds-font-size-sm: 0.875rem;
  --eds-font-size-md: 1rem;
  --eds-font-size-md-2: 1.125rem;
  --eds-font-size-md-3: 1.25rem;
  --eds-font-size-lg: 1.5rem;
  --eds-font-size-xl: 1.5rem;
  --eds-font-weight-light: 300;
  --eds-font-weight-regular: 400;
  --eds-font-weight-semibold: 600;
  --eds-font-weight-bold: 700;
  --eds-line-height-sm: 1;
  --eds-line-height-sm-2: 1.2;
  --eds-line-height-md: 1.333;
  --eds-line-height-lg: 1.5;
  --eds-letter-spacing-sm: 0.5px;
  --eds-z-index-0: 0;
  --eds-z-index-100: 100;
  --eds-z-index-200: 200;
  --eds-z-index-300: 300;
  --eds-z-index-400: 400;
  --eds-z-index-500: 500;
  --eds-z-index-top: 99999;
  --eds-z-index-bottom: -100;
  --eds-theme-border-radius: 4px;
  --eds-theme-border-width: 1px;
  --eds-theme-color-body-foreground: #21272D;
  --eds-theme-color-body-foreground-inverted: #ffffff;
  --eds-theme-color-body-background: #F3F3F3;
  --eds-theme-color-body-background-inverted: #21272D;
  --eds-theme-color-primary-foreground: #574EFF;
  --eds-theme-color-primary-foreground-hover: #312B9E;
  --eds-theme-color-primary-foreground-inverted: #ffffff;
  --eds-theme-color-primary-foreground-inverted-hover: #ffffff;
  --eds-theme-color-primary-background: #574EFF;
  --eds-theme-color-primary-background-hover: #312B9E;
  --eds-theme-color-primary-background-inverted: #A7A2FE;
  --eds-theme-color-primary-background-inverted-hover: #574EFF;
  --eds-theme-color-primary-border: #574EFF;
  --eds-theme-color-primary-border-hover: #312B9E;
  --eds-theme-color-primary-border-inverted: #A7A2FE;
  --eds-theme-color-primary-border-inverted-hover: #574EFF;
  --eds-theme-color-disabled-foreground: #3C444C;
  --eds-theme-color-disabled-foreground-inverted: #838C95;
  --eds-theme-color-disabled-background: #E8E8E9;
  --eds-theme-color-disabled-background-inverted: #21272D;
  --eds-theme-color-disabled-border: #3C444C;
  --eds-theme-color-disabled-border-inverted: #58636F;
  --eds-theme-color-focus-ring: #574EFF;
  --eds-theme-color-focus-ring-inverted: #ffffff;
  --eds-theme-color-link-foreground: #574EFF;
  --eds-theme-color-link-foreground-hover: #ffffff;
  --eds-theme-color-link-foreground-inverted: #ffffff;
  --eds-theme-color-link-foreground-inverted-hover: #ffffff;
  --eds-theme-color-neutral-subtle-background: #E8E8E9;
  --eds-theme-color-neutral-subtle-background-inverted: #21272D;
  --eds-theme-color-neutral-subtle-border: #E8E8E9;
  --eds-theme-color-neutral-subtle-border-inverted: #21272D;
  --eds-theme-color-neutral-md-foreground: #3C444C;
  --eds-theme-color-neutral-md-foreground-inverted: #838C95;
  --eds-theme-color-neutral-md-background: #3C444C;
  --eds-theme-color-neutral-md-background-inverted: #58636F;
  --eds-theme-color-neutral-md-border: #3C444C;
  --eds-theme-color-neutral-md-border-inverted: #58636F;
  --eds-theme-color-neutral-bold-foreground: #21272D;
  --eds-theme-color-neutral-bold-foreground-inverted: #ffffff;
  --eds-theme-color-neutral-bold-background: #21272D;
  --eds-theme-color-neutral-bold-background-inverted: #ffffff;
  --eds-theme-color-neutral-bold-border: #21272D;
  --eds-theme-color-neutral-bold-border-inverted: #ffffff;
  --eds-theme-color-text-highlight-foreground: #ffffff;
  --eds-theme-color-text-highlight-background: #A7A2FE;
  --eds-theme-color-utility-info-foreground: #1977CD;
  --eds-theme-color-utility-info-foreground-inverted: #1977CD;
  --eds-theme-color-utility-info-background: #1977CD;
  --eds-theme-color-utility-info-background-inverted: #1977CD;
  --eds-theme-color-utility-info-border: #1977CD;
  --eds-theme-color-utility-info-border-inverted: #1977CD;
  --eds-theme-color-utility-success-foreground: #007349;
  --eds-theme-color-utility-success-foreground-inverted: #59C88C;
  --eds-theme-color-utility-success-background: #ECFFF5;
  --eds-theme-color-utility-success-background-inverted: #ECFFF5;
  --eds-theme-color-utility-success-border: #B7E9CE;
  --eds-theme-color-utility-success-border-inverted: #B7E9CE;
  --eds-theme-color-utility-warning-foreground: #AC3400;
  --eds-theme-color-utility-warning-foreground-inverted: #FFB077;
  --eds-theme-color-utility-warning-background: #FFF1E9;
  --eds-theme-color-utility-warning-background-inverted: #FFF1E9;
  --eds-theme-color-utility-warning-border: #FFCBA6;
  --eds-theme-color-utility-warning-border-inverted: #FFCBA6;
  --eds-theme-color-utility-error-foreground: #BD0044;
  --eds-theme-color-utility-error-foreground-inverted: #FB90B0;
  --eds-theme-color-utility-error-background: #FFEBF0;
  --eds-theme-color-utility-error-background-inverted: #FFEBF0;
  --eds-theme-color-utility-error-border: #FFCCD8;
  --eds-theme-color-utility-error-border-inverted: #FFCCD8;
  --eds-theme-color-form-label-foreground: #21272D;
  --eds-theme-color-form-label-foreground-inverted: #ffffff;
  --eds-theme-color-form-input-border: #3C444C;
  --eds-theme-color-form-input-border-hover: #21272D;
  --eds-theme-color-form-input-border-inverted-hover: #ffffff;
  --eds-theme-color-form-input-border-focus: #21272D;
  --eds-theme-color-form-input-border-focus-inverted: #ffffff;
  --eds-theme-color-form-input-border-error: #BD0044;
  --eds-theme-form-input-border-width: 1px;
  --eds-theme-form-input-border-radius: 4px;
  --eds-theme-box-shadow: 0px 0px 0px 1px var(--eds-color-neutral-200), 0px 2px 3px rgba(0, 0, 0, 0.02), 0px 4px 8px rgba(0, 0, 0, 0.08);
}
