@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #TABS
\*------------------------------------*/

/**
 * List of of links where each link toggles open associated information
 */

/**
 * Inverted variant.
 */
.tabs--inverted {
  color: var(--eds-theme-color-text-neutral-default-inverse);
}

/**
 * Tabs header
 * 1) Contains the tab list
 * 2) Tab overflow behavior
 */
.tabs__header {
  overflow-x: auto; /* 2 */
  position: relative;
  padding-bottom: var(--eds-size-2);

  .tabs--inverted & {
    background: none;
  }
}

/**
 * Fade scrollable indicators to display if there is scrollable area on either side.
 * 1) The color "white" is arbitrary and any non transparent color can be used here.
 */
.tabs--scrollable-left {
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    transparent,
    white var(--eds-size-8) /* 1 */
  );
}

.tabs--scrollable-right {
  -webkit-mask-image: -webkit-linear-gradient(
    right,
    transparent,
    white var(--eds-size-8) /* 1 */
  );
}

.tabs--scrollable-left.tabs--scrollable-right {
  -webkit-mask-image: -webkit-linear-gradient(
    left,
    transparent,
    /* 1 */ white var(--eds-size-8),
    white calc(100% - var(--eds-size-8)),
    transparent 100%
  );
}

/**
 * Tabs list
 * 1) Actual unordered list of tabs
 * 2) Set to display flex to place tabs side by side
 */
.tabs__list {
  @mixin reset;
  list-style: none;
  display: flex; /* 2 */
  border-bottom: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-neutral-subtle);
  @mixin eds-theme-typography-tab;
}

/**
 * Tabs item
 * 1) Flex shrink 0 keeps tabs from expanding to fill up the space of the container
 */
.tabs__item {
  flex-shrink: 0; /* 1 */
}

/**
 * Tabs link
 */
.tabs__link {
  display: block;
  padding: var(--eds-size-1-and-half);
  text-decoration: none;
  color: var(--eds-theme-color-text-neutral-default);
  transition: color var(--eds-anim-fade-quick) var(--eds-anim-ease),
    box-shadow var(--eds-anim-fade-quick) var(--eds-anim-ease),
    background-color var(--eds-anim-fade-quick) var(--eds-anim-ease);

  &:focus {
    @mixin focus;
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  .tabs--inverted & {
    color: var(--eds-theme-color-text-neutral-default-inverse);
  }

  /**
   * Tabs link within active tabs item
   */
  .tabs__item.eds-is-active & {
    color: var(--eds-theme-color-text-link-strong);
    box-shadow: inset 0 calc(var(--eds-border-width-md) * -1) 0 0
      var(--eds-theme-color-border-brand-primary-strong);

    .tabs--inverted & {
      color: var(--eds-theme-color-text-neutral-default-inverse);
      box-shadow: inset 0 calc(var(--eds-border-width-md) * -1) 0 0
        var(--eds-theme-color-border-brand-primary-subtle);
    }
  }
}
