@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # ACCORDION PANEL
\*------------------------------------*/

/**
 * Accordion Panel that expands and collapses
 */
.accordion-panel {
  padding-left: var(--eds-size-1);
  padding-right: var(--eds-size-3);
  padding-bottom: 1.625rem;

  @mixin eds-theme-typography-body-text-sm;
  color: var(--eds-theme-color-text-neutral-strong);
}

.accordion-panel--compact {
  @mixin eds-theme-typography-body-text-xs;
}
