@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #ACCORDION
\*------------------------------------*/

/**
 * Individual accordion panel
 */
.accordion__panel {
  border-top-style: solid;
  border-top-width: var(--eds-theme-border-width);
  border-top-color: var(--eds-theme-color-border-neutral-subtle);
}

/**
 * Active accordion panel
 */
.accordion__panel.eds-is-active {
  padding-bottom: var(--eds-size-4);
}

/**
 * Accordion panel in an inverted accordion 
 */
.accordion--inverted .accordion__panel {
  border-top-color: var(--eds-theme-color-border-neutral-strong);
  border-bottom-color: var(--eds-theme-color-border-neutral-strong);
}

/**
 * Accordion panel header
 */
.accordion__panel-header {
  padding: 0;
  margin: 0;
}

/**
 * Accordion Button
 * 1) The accordion trigger marked up as a <button>
 */
.accordion__panel-button {
  all: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
  padding-top: var(--eds-size-2);
  padding-left: 0;
  padding-bottom: var(--eds-size-2);
  padding-right: 0;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

/**
 * Accordion panel button focus visible
 * 1) Show focus ring when focused only with keyboard
 */
.accordion__panel-button:focus-visible {
  @mixin focus;
}

/**
 * Accordion panel button within inverted accordion
 * 1) The wrapper for the text
 */
.accordion--inverted .accordion__panel-button {
  color: var(--eds-theme-color-text-neutral-default-inverse);
}

/**
 * Accordion body
 * 1) Set max height to 0 and overflow to hidden to get smoother transition when activated
 */
.accordion__panel-body {
  display: block;
  overflow: hidden;
  visibility: hidden;
  margin-left: 0;
  padding-top: 0;
  opacity: 0;
  transition: height var(--eds-anim-move-quick) var(--eds-anim-ease),
    visibility var(--eds-anim-move-quick) var(--eds-anim-ease),
    overflow var(--eds-anim-move-quick) steps(1, end),
    opacity var(--eds-anim-move-quick) var(--eds-anim-ease);
}

/**
 * Accordion body within active accordion panel
 */
.accordion--inverted .accordion__panel-body {
  color: var(--eds-theme-color-text-neutral-default-inverse);
}

/**
 * Accordion body within active accordion panel
 */
.accordion__panel.eds-is-active .accordion__panel-body {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

/**
 * Accordion panel left
 * 1) Section that contains the title and other text of the accordion
 */
.accordion__panel-left {
  flex: 1;
}

@media all and (min-width: $eds-bp-md) {
  .accordion__panel-left {
    display: flex;
    align-items: center;
  }
}

/**
 * Accordion Icon
 * 1) The icon that indicates the accordion
 * 2) Double up on the classname to override default `icon` height/width
 */
.accordion__panel-icon.accordion__panel-icon {
  margin-left: auto;
  height: var(--eds-size-3);
  width: var(--eds-size-3);
  fill: var(--eds-theme-color-icon-brand-primary);
  transition: transform var(--eds-anim-fade-quick) var(--eds-anim-ease);
}

/**
 * Accordion icon within active accordion panel
 */
.accordion__panel.eds-is-active .accordion__panel-icon {
  transform: rotate(-180deg);
}
