@import '../../design-tokens/tier-2-usage/typography-usage.css';

/*------------------------------------*\
    #ACCORDION PANEL
\*------------------------------------*/

/**
 * 1) An individual accordion group containing a button-triggered header and an expanding body
 */
/**
 * Individual accordion item
 */
.accordion-panel {
  border-top-style: solid;
  border-top-width: var(--eds-theme-border-width);
  border-top-color: var(--eds-theme-color-neutral-subtle-border);
}

/**
 * Active accordion panel
 */
.accordion-panel.eds-is-active {
  padding-bottom: var(--eds-size-4);
}

/**
 * Accordion panel in an inverted accordion 
 */
.accordion--inverted .accordion-panel {
  border-top-color: var(--eds-theme-color-neutral-subtle-border-inverted);
  border-bottom-color: var(--eds-theme-color-neutral-subtle-border-inverted);
}

.accordion-panel__header {
  padding: 0;
  margin: 0;
}

/**
 * Accordion Button
 * 1) The accordion trigger marked up as a <button>
 */
.accordion-panel__button {
  all: inherit;
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
  padding-top: var(--eds-size-2);
  padding-left: 0;
  padding-bottom: var(--eds-size-2);
  padding-right: 0;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
}

.accordion-panel__button:focus-visible {
  /* Include focus styles */
}

.accordion-panel--disabled .accordion-panel__button {
  pointer-events: none;
}

/**
 * Accordion Title
 * 1) The wrapper for the text
 */
.accordion-panel__title {
  flex: 1;
  margin-right: var(--eds-size-2);
}

/**
 * Accordion panel title kicker
 * 1) Optional secondary text that sits above the title
 */
.accordion-panel__title-kicker {
  @mixin eds-theme-typography-kicker;
  display: block;
}

/**
 * Accordion title text
 * 1) Main title text of the accordion panel trigger
 */
.accordion-panel__title-text {
  @mixin eds-theme-typography-heading-3;
}

/**
* Accordion title text within inverted accordion
*/
.accordion--inverted .accordion-panel__title-text {
  color: var(--eds-theme-color-body-foreground-inverted);
}

/**
 * Accordion body
 * 1) Set max height to 0 and overflow to hidden to get smoother transition when activated
 */
.accordion-panel__body {
  display: block;
  overflow: hidden;
  visibility: hidden;
  margin-left: 0;
  padding-top: 0;
  opacity: 0;
  transition: height var(--eds-anim-move-quick) var(--eds-anim-ease),
    visibility var(--eds-anim-move-quick) var(--eds-anim-ease),
    overflow var(--eds-anim-move-quick) steps(1, end),
    opacity var(--eds-anim-move-quick) var(--eds-anim-ease);
}

/**
 * Accordion body within active accordion panel
 */
.accordion--inverted .accordion-panel__body {
  color: var(--eds-theme-color-body-foreground-inverted);
}

/**
 * Accordion body within active accordion panel
 */
.accordion-panel.eds-is-active .accordion-panel__body {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

/**
 * Accordion panel left
 * 1) Section that contains the title and other text of the accordion
 */
.accordion-panel__left {
  flex: 1;
}

@media all and (min-width: $eds-bp-md) {
  .accordion-panel__left {
    display: flex;
    align-items: center;
  }
}

/**
 * Accordion panel title after
 * 1) Slot that comes after the title (e.g. to add icons)
 */
.accordion-panel__title-after {
  margin-top: 0.5rem;
}

@media all and (min-width: $eds-bp-md) {
  .accordion-panel__title-after {
    margin-top: 0;
    margin-left: auto;
    margin-right: 2rem;
  }
}

.accordion-panel__meta {
  @mixin eds-theme-typography-body-text-sm;
  margin-right: var(--eds-size-2);
}

/**
 * Accordion Icon
 * 1) The icon that indicates the accordion
 */
.accordion-panel__icon {
  margin-left: auto;
  height: var(--eds-size-4);
  width: var(--eds-size-4);
  fill: var(--eds-theme-color-primary-foreground);
  transition: transform var(--eds-anim-fade-quick) var(--eds-anim-ease);
}

/**
 * Accordion panel icon within inverted accordion
 * 1) Change the icon fill color lighter
 */
 .accordion--inverted .accordion-panel__icon {
  fill: var(--eds-theme-color-primary-foreground-inverted); /* 1 */
}

/**
 * Accordion icon within active accordion panel
 */
.accordion-panel.eds-is-active .accordion-panel__icon {
  transform: rotate(-180deg);
}
