.sg-colors {
  display: grid;
  gap: calc(var(--eds-spacing-size-2) * 1px);
  
  list-style: none;
  margin: 0;
  padding: 0;
}
.sg-colors li {
  flex: auto;
  flex-grow: 1;
  padding: calc(var(--eds-spacing-size-1) * 1px);
  margin: 0 calc(var(--eds-spacing-size-1) * 1px) calc(var(--eds-spacing-size-1) * 1px) 0;
  min-width: calc(var(--eds-spacing-size-10) * 1px);
  border: 1px solid #ddd;
  border-radius: 8px;
}
.sg-swatch {
  display: block;
  height: 4em;
  margin-bottom: 0.3em;
  border-radius: 5px;
}
.sg-label {
  font-size: 14px;
}

.sg-border-width-demo-box {
  background: white;
  text-align: center;
  width: 100%;
  border-style: solid;
  border-color: #000000;
}

.sg-border-width {
  border-width: 1px;
}
.sg-border-width-med {
  border-width: 2px;
}

.sg-border-width-lg {
  border-width: 4px;
}

.sg-border-width-xl {
  border-width: 8px;
}

.sg-border-radius {
  border-width: 4px;
  border-radius: 4px;
}

.sg-base-unit-demo-box {
  display: block;
  border: 1px solid #000000;
}

.sg-shadow-demo-box {
  border: 1px solid #000000;
  margin-bottom: calc(var(--eds-spacing-size-4) * 1px);
  text-align: center;
  padding: calc(var(--eds-spacing-size-2) * 1px);
}

.sg-animation-demo-box {
  height: calc(var(--eds-spacing-size-8) * 1px);
  background-color: #000000;
  cursor: pointer;
}

.sg-animation-demo-box:hover {
  background-color: #dddddd;
}
