/*------------------------------------*\
    # TEXTAREA FIELD
\*------------------------------------*/

/**
 * Consists of a label, textarea input, and an optional note about the field.
 */
.textarea-field {
  margin-bottom: var(--eds-size-4);
  position: relative;
  padding-top: var(--eds-size-1-and-half);
}

/**
 * Textarea field body
 */
.textarea-field__body {
  position: relative;
}
