/*------------------------------------*\
    # INLINE FORM
\*------------------------------------*/

/**
 * An inline form displays an input and a button side-by-side.
 *
 * Can be used for search, email newsletter signup, and other one-field forms.
 */
.inline-form {
  display: flex;
  gap: var(--eds-size-1);
}

/**
 * Inline form input
 * 1) Actual text input of the inline form
 * 2) Set to flex: 1 to allow the input to take up most of the space.
 */
.inline-form__input {
  flex: 1; /* 2 */
  padding: var(--eds-size-1);
}
