@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TEXTAREA FIELD
\*------------------------------------*/

/**
 * Default input styles 
 */
.textarea {
  @mixin inputStylesV2;
  padding: 0.5rem 0.75rem;
}

/**
 * Wraps the Label and the optional/required indicator.
 */
.textarea-field__overline {
  display: flex;
  margin-bottom: 0.25rem;
  gap: 0.25rem;
}

.textarea-field__overline--no-label {
  justify-content: flex-start;
}

.textarea-field__label {
  font: var(--eds-theme-typography-form-label);
}

.textarea-field__label--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}

.textarea-field--invalid-length {
  color: var(--eds-theme-color-text-utility-critical);
}

.textarea-field__footer {
  display: flex;
  justify-content: space-between;
}

.textarea-field__field-note {
  flex: 1 0 50%;
}

.textarea-field__character-counter {
  font: var(--eds-theme-typography-body-sm);

  flex: 1 0 50%;
  text-align: right;
}
