@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TEXTAREA FIELD
\*------------------------------------*/

/**
 * Wraps the Label and the optional/required indicator.
 */
.textarea-field__overline {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--eds-size-half);
  color: var(--eds-theme-color-form-label);
}

.textarea-field__overline--no-label {
  justify-content: flex-end;
}

.textarea-field__overline--disabled {
  color: var(--eds-theme-color-text-disabled);
}

.textarea-field--invalid-length {
  color: var(--eds-theme-color-text-utility-error);
}

.textarea-field__footer {
  display: flex;
  justify-content: space-between;
}

.textarea-field__field-note {
  flex: 1 0 50%;
}

.textarea-field__character-counter {
  @mixin eds-theme-typography-body-text-sm;

  color: var(--eds-theme-color-text-neutral-default);
  flex: 1 0 50%;
  text-align: right;
}
