@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TEXTAREA FIELD
\*------------------------------------*/

/**
 * Default input styles 
 */
.textarea {
  @mixin inputStyles;
  padding: calc(var(--eds-spacing-size-1) * 1px) calc(var(--eds-spacing-size-1-and-half) * 1px);

  &:read-only:not(:disabled) {
    border: 0;
    border-bottom: 1px solid var(--eds-theme-color-border-utility-default-low-emphasis);
  }
}

/**
 * Wraps the Label and the optional/required indicator.
 */
.textarea-field__overline {
  display: flex;
  align-items: baseline;
  margin-bottom: calc(var(--eds-spacing-size-half) * 1px);
  gap: calc(var(--eds-spacing-size-half) * 1px);
}

.textarea-field__overline--no-label {
  justify-content: flex-start;
}

.textarea-field__hint {
  color: var(--eds-theme-color-text-utility-default-secondary)
}

.textarea-field__label--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}

.textarea-field--invalid-length {
  color: var(--eds-theme-color-text-utility-critical);
}

.textarea-field__footer {
  display: flex;
  justify-content: space-between;
}

.textarea-field__field-note {
  flex: 1 0 50%;
}

.textarea-field__character-counter {
  color: var(--eds-theme-color-text-utility-default-primary);

  flex: 1 0 50%;
  text-align: right;
}