@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # PAGE LEVEL BANNER
\*------------------------------------*/

/**
 * 1) Message of information, success, caution, or warning to the user
 * 2) Position is relative to allow for absolute-positioned close button
 * 3) Grid is used to separate the icon from the text with correct spacing
 */
.banner {
  position: relative; /* 2 */
  display: grid; /* 3 */
  gap: var(--eds-size-2); /* 3 */
  grid-template-columns: min-content 1fr; /* 3 */
  padding: var(--eds-size-2) var(--eds-size-4);
  background-color: var(--eds-theme-color-neutral-subtle-background);
  border-bottom: var(--eds-border-width-md) solid var(--messaging-border-color);
}

/**
 * PageLevelBanner informational icon
 * 1) Icon color matches the thick bottom border
 */
.banner__icon {
  color: var(--messaging-icon-color); /* 1 */
  --icon-size-default: var(--eds-size-3);
}

.banner__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**
 * PageLevelBanner close button
 * 1) Button used to dismiss dismissable banners
 */
.banner__close-btn.banner__close-btn {
  position: absolute;
  top: var(--eds-size-half);
  right: var(--eds-size-half);
}

/**
 * Dismissable banner
 * 1) Add extra right padding to account for close button
 */
.banner--dismissable {
  padding-right: var(--eds-size-9); /* 1 */
}

/*------------------------------------*\
    # VARIANTS
\*------------------------------------*/

/**
 * PageLevelBanner success
 */
.banner--success {
  @mixin messagingSuccess;
  border-color: var(--eds-theme-color-border-utility-success-strong);
}

/**
 * PageLevelBanner warning
 */
.banner--warning {
  @mixin messagingWarning;
  border-color: var(--eds-theme-color-border-utility-warning-strong);
}

/**
 * PageLevelBanner error
 */
.banner--error {
  @mixin messagingError;
  border-color: var(--eds-theme-color-border-utility-error-strong);
}

/**
 * PageLevelBanner brand
 */
.banner--brand {
  @mixin messagingBrand;
  border-color: var(--eds-theme-color-border-brand-primary-strong);
}
