@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # CALENDAR CARD
\*------------------------------------*/

/**
 * Card recipe for displaying calendar data with a colored left border (color dependent on variant)
 */
.calendar-card {
  background-color: var(--eds-theme-color-background-neutral-default-hover);
}
/**
* Brand variant (default): brand colored left border
*/
.calendar-card--brand {
  border-left: var(--eds-border-width-lg) solid
    var(--eds-theme-color-border-brand-primary-strong);
}

/**
* Revise variant
*/
.calendar-card--revise {
  border-left: var(--eds-border-width-lg) solid
    var(--eds-theme-color-border-grade-revise-strong);
}

/** 
* Success variant
*/
.calendar-card--success {
  border-left: var(--eds-border-width-lg) solid
    var(--eds-theme-color-border-utility-success-strong);
}

/**
* Stack the card's contents in a flex column.
*/
.calendar-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--eds-size-1);
}

/**
* Card title row which holds an optional icon and a text string.
* 1) Keeps the icon positioned at the top of the cross-axis if the text string expands to use multiple lines.
* 2) If icon is used, the gap setting will maintain spacing between icon and text.
*/
.calendar-card__title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; /* 1 */
  gap: var(--eds-size-1); /* 2 */
}

/** 
* Span to hold optional icon.
*/
.calendar-card__title-icon {
  min-width: 1.2rem;
}

/**
* Card calendar row which holds an icon and a combination of text strings.
* 1) Keeps the icon positioned at the top of the cross-axis if the text strings expands to use multiple lines.
* 2) The gap setting will maintain spacing between icon and text.
*/
.calendar-card__dates {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--eds-size-1);
}

/* 
* Span to hold icon before calendar text
*/
.calendar-card__dates-icon {
  min-width: 1.2rem;
}

/*
* Keeps tags evenly spaced in rows, wrapping when needed
*/
.calendar-card__tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--eds-size-1);
}
