@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    #CALENDARCARD
\*------------------------------------*/

/**
 * 1) 
 */
.calendar-card {
  width: 16rem;
}

.calendar-card--brand {
  border-left: var(--eds-border-width-lg) solid
  var(--eds-theme-color-border-brand-primary-strong);
}

.calendar-card--revise {
  border-left: var(--eds-border-width-lg) solid var(--eds-theme-color-border-grade-revise-strong);
}

.calendar-card--success {
  border-left: var(--eds-border-width-lg) solid var(--eds-theme-color-border-utility-success-strong);
}