.toast {
  width: 100%;
  max-width: 25rem;

  padding-left: var(--eds-size-4);
  padding-right: var(--eds-size-1);
  
  display: grid;
  gap: var(--eds-size-1);
  grid-template-columns: 1fr min-content;
  align-items: center;
  
  border: var(--eds-border-width-sm);
  border-left-width: var(--eds-border-width-lg);
  border-radius: var(--eds-size-half);

  border-color: var(--border-light-color);
  border-left-color: var(--border-dark-color);
  
  box-shadow: var(--eds-box-shadow-sm);
  --svg-icon-size-default: 1.25rem;
}

.toast--content {
  padding-top: var(--eds-size-2);
  padding-bottom: var(--eds-size-2);

  display: grid;
  gap: var(--eds-size-2);
  grid-template-columns: min-content 1fr;
  align-items: center;
}
