/* ------------------------------------*\
    # TOAST
\*------------------------------------ */

/**
 * 1) Message of information, success, caution, or warning to the user
 * 2) Container for the toast content, to provide background styling
 * 3) The thick left border operates as a foreground band of color, 
 *    so foreground rather than border is used
 * 4) The border CSS variables are defined in the messaging mixins
 */
.toast {
  width: 100%;
  max-width: 25rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr min-content;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-left-width: 4px; /* 3 */
  border-radius: 0.25rem;
  border-color: var(--border-light-color); /* 4 */
  border-left-color: var(--border-dark-color); /* 4 */
  box-shadow: 0 0 0 1px var(--eds-color-neutral-200), 0 2px 3px rgb(0 0 0 / 2%), 0 4px 8px rgb(0 0 0 / 8%);
}

.toast--success {
  --border-light-color: var(--eds-color-success-200);
  --border-dark-color: var(--eds-color-success-500);

  background: var(--eds-color-success-100);
  color: var(--eds-color-success-700);
}

.toast--error {
  --border-light-color: var(--eds-color-alert-200);
  --border-dark-color: var(--eds-color-alert-500);

  background: var(--eds-color-alert-100);
  color: var(--eds-color-alert-700);
}

/**
 * 1) The toast content, usually an icon and text message. Does not include the optional close button
 * 2) Grid places the icon on the left and message on the right, with both vertically aligned to the center.
 */
.toast__content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: grid; /* 2 */
  gap: 1rem;
  grid-template-columns: min-content 1fr;
  align-items: center;
}

/**
 * The text in the toast. Styled via mixins over using Text component.
 */
.toast__text {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: inherit;
}
