@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # FILTERS FIELDSET
\*------------------------------------*/

/**
 * The filters checkbox fieldset with legend and various checkbox filters.
 */
.filters-fieldset {
  margin: 0;
}

/**
 * The filters checkbox fieldset legend.
 */
.filters-fieldset__legend {
  font: var(--eds-theme-typography-title-sm);
  margin-bottom: var(--eds-size-3);
}

/**
 * The filters checkboxes.
 */
.filters-fieldset__checkboxes > :not(:last-child) {
  margin-bottom: var(--eds-size-2-and-half);
}
