@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #FIELD
\*------------------------------------*/

/**
 * Textfield label
 * 1) Consists of a label, form control, and an optional note about the field.
 */
.text-field {
  position: relative;

  .text-field--inverted & {
    color: var(--eds-theme-color-text-neutral-default-inverse);
  }
}

.text-field--inline {
  display: flex;
  align-items: center;
  gap: var(--eds-size-3);

  .text-field__note {
    margin-top: 0;
    margin-bottom: var(--eds-size-half);
  }
}

/**
 * Text field body
 */
.text-field__body {
  position: relative;
  margin-bottom: var(--eds-size-half);
}

/**
 * Text field label after
 * 1) Slot after the label that can be used to place components like a tooltip
 */
.text-field-after {
  display: inherit;
  margin-left: var(--eds-size-1);
}

/**
 * Text Field Within
 * 1) A slot to put arbitrary content that appears within
 *    the text field border to the right. 
 * 2) Typically used for buttons and icon buttons to enable
 *    things like show/hide password buttons 
 */
.text-field__input-within {
  position: absolute;
  right: var(--eds-size-2);
  top: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}
