/*------------------------------------*\
    # SHOW HIDE
\*------------------------------------*/

/**
 * 1) Button that toggles open and closes a panel
 */

.show-hide__panel {
  display: none;

  /**
   * 1) Button that toggles open and closes a panel
   */
  .show-hide.eds-is-active & {
    margin-top: var(--eds-size-1);
    display: block;
  }
}

/**
 * Button icon within show hide component
 * 1) Add transition for icon flip when activated
 */
.show-hide svg {
  transition: transform var(--eds-anim-fade-long) var(--eds-anim-ease); /* 1 */

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Button icon within active show hide component
 * 1) Rotate icon 180 deg when show hide component is open
 */
.show-hide.eds-is-active svg {
  transform: rotate(90deg); /* 1 */
}
