/*------------------------------------*\
    # SHOW HIDE
\*------------------------------------*/

/**
 * 1) Button that toggles open and closes a panel
 */

.show-hide__panel {
  display: none;

  /**
   * 1) Button that toggles open and closes a panel
   */
  .show-hide.eds-is-active & {
    margin-top: var(--eds-size-1);
    display: block;
  }
}

/**
 * Button icon within show hide component.
 */
.show-hide svg {
  /* Add transition for icon flip when activated. */
  transition: transform var(--eds-anim-fade-long) var(--eds-anim-ease); 

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Button icon within active show hide component.
 */
.show-hide.eds-is-active svg {
  /* Rotate icon 180 deg when show hide component is open. */
  transform: rotate(90deg); 
}
