/*------------------------------------*\
    # POPOVER LIST ITEM
\*------------------------------------*/
/**
 * TODO: Icon inherits color from the surrounding text, but should use the matching -icon- tokens from below
 */

/**
 * PopoverListItem
 */
.popover-list-item {
  display: flex;
  padding: calc(var(--eds-spacing-size-half) / 16 * 1rem) 0.75rem;
  cursor: pointer;
  width: 100%;
  text-align: left;

  color: var(--eds-theme-color-text-utility-default-primary);
  background-color: var(--eds-theme-color-background-utility-default-no-emphasis);

  &:hover {
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis-hover);
  }

  &:active {
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis-active);
  }
}

.popover-list-item--focused {
  background-color: var(--eds-theme-color-background-utility-default-no-emphasis-hover);
}

.popover-list-item--disabled {
  pointer-events: none;

  color: var(--eds-theme-color-text-utility-disabled-secondary, red);
  background-color: var(--eds-theme-color-background-utility-disabled-no-emphasis, red)
}

.popover-list-item__icon {
  padding-right: calc(var(--eds-spacing-size-1) / 16 * 1rem);
}

.popover-list-item__no-icon {
  /* right padding applies space for the icon itself and the padding for that icon container */
  padding-right: calc(var(--eds-spacing-size-3) / 16 * 1rem);
}

.popover-list-item__sub-label {
  color: var(--eds-theme-color-text-utility-default-secondary);
}

.popover-list-item--destructive-action {
  color: var(--eds-theme-color-text-utility-critical);

  &:hover {
    color: var(--eds-theme-color-text-utility-critical-hover);
    background-color: var(--eds-theme-color-background-utility-critical-no-emphasis-hover);
  }

  &:active {
    color: var(--eds-theme-color-text-utility-critical-active);
    background-color: var(--eds-theme-color-background-utility-critical-no-emphasis-active);
  }
}