/*------------------------------------*\
    # POPOVER LIST ITEM
\*------------------------------------*/

/**
 * PopoverListItem
 */
.popover-list-item {
  display: flex;
  font-size: 0.875rem;
  padding: calc(var(--eds-size-1) / 16 * 1rem) calc(var(--eds-size-2) / 16 * 1rem);
  background-color: var(--eds-theme-color-form-background);
  cursor: pointer;
}

.popover-list-item--active {
  color: var(--eds-theme-color-text-neutral-default);
  background-color: var(--eds-theme-color-background-neutral-default-hover);
}

.popover-list-item--disabled {
  color: var(--eds-theme-color-text-disabled);
  cursor: not-allowed;
}

.popover-list-item__icon {
  padding-right: calc(var(--eds-size-1-and-half) / 16 * 1rem);
  /* This var. matches the height set in the icon, but makes sure it is locked to only that height */
  height: calc(var(--eds-size-1-and-half) / 16 * 1rem);
}

.popover-list-item__no-icon {
  /* right padding applies space for the icon itself and the padding for that icon container */
  padding-right: calc(calc(var(--eds-size-3) / 16 * 1rem) + calc(var(--eds-size-1-and-half) / 16 * 1rem));
}
