/*------------------------------------*\
    # POPOVER LIST ITEM
\*------------------------------------*/

/**
 * PopoverListItem
 */
.popover-list-item {
  display: flex;
  padding: calc(var(--eds-spacing-size-1) * 1px) calc(var(--eds-spacing-size-1-and-half) * 1px);
  cursor: pointer;
  width: 100%;
  text-align: left;
  gap: calc(var(--eds-spacing-size-1) * 1px);
  justify-content: space-between;

  color: light-dark(var(--eds-theme-color-text-utility-default-primary), var(--eds-dark-theme-color-text-utility-default-primary));
  background-color: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis), var(--eds-dark-theme-color-background-utility-default-no-emphasis));

  &:hover {
    background-color: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis-hover), var(--eds-dark-theme-color-background-utility-default-no-emphasis-hover));
  }

  &:active {
    background-color: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis-active), var(--eds-dark-theme-color-background-utility-default-no-emphasis-active));
  }

  min-width: 200px;
}

.popover-list-item--focused {
  background-color: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis-hover), var(--eds-dark-theme-color-background-utility-default-no-emphasis-hover));
}

.popover-list-item--disabled {
  pointer-events: none;

  color: light-dark(var(--eds-theme-color-text-utility-disabled-secondary), var(--eds-dark-theme-color-text-utility-disabled-secondary));
  background-color: light-dark(var(--eds-theme-color-background-utility-disabled-no-emphasis), var(--eds-dark-theme-color-background-utility-disabled-no-emphasis));
}

.popover-list-item--type-label,
.popover-list-item--type-caption {
  pointer-events: none;
}

.popover-list-item--type-separator {
  pointer-events: none;
  margin: calc(var(--eds-spacing-size-1) * 1px) 0;
  padding: 0;
  border-bottom: 1px solid var(--eds-theme-color-border-utility-default-low-emphasis);
}

.popover-list-item__leading-content {
  display: flex;
  align-items: center;

  /* if an icon container is adjacent to a container with a sub-label, don't use flex */
  &:has(+ div > .popover-list-item__sub-label) {
    display: revert;
  }
}

.popover-list-item__menu-labels {
  flex-grow: 2;
}

.popover-list-item__trailing-content {
  color: light-dark(var(--eds-theme-color-text-utility-default-secondary), var(--eds-dark-theme-color-text-utility-default-secondary));
  align-self: center;
}

.popover-list-item__no-icon {
  /* right padding applies space for the icon itself and the padding for that icon container */
  padding-right: calc(var(--eds-spacing-size-3) * 1px);

  .popover-list-item--type-listitem & {
    display: none;
  }

  .popover-list-item--type-label & {
    display: none;
  }

  .popover-list-item--type-separator & {
    display: none;
  }

  .popover-list-item--type-caption & {
    display: none;
  }
}

.popover-list-item__label {
  color: light-dark(var(--eds-theme-color-text-utility-placeholder), var(--eds-dark-theme-color-text-utility-placeholder));
}

.popover-list-item__sub-label {
  color: light-dark(var(--eds-theme-color-text-utility-default-secondary), var(--eds-dark-theme-color-text-utility-default-secondary));
}

.popover-list-item--destructive-action {
  color: light-dark(var(--eds-theme-color-text-utility-critical), var(--eds-dark-theme-color-text-utility-critical));

  &:hover {
    color: light-dark(var(--eds-theme-color-text-utility-critical-hover), var(--eds-dark-theme-color-text-utility-critical-hover));
    background-color: light-dark(var(--eds-theme-color-background-utility-critical-no-emphasis-hover), var(--eds-dark-theme-color-background-utility-critical-no-emphasis-hover));
  }

  &:active {
    color: light-dark(var(--eds-theme-color-text-utility-critical-active), var(--eds-dark-theme-color-text-utility-critical-active));
    background-color: light-dark(var(--eds-theme-color-background-utility-critical-no-emphasis-active), var(--eds-dark-theme-color-background-utility-critical-no-emphasis-active));
  }
}