.checkbox {
  @apply flex items-center gap-2;
}

.checkboxLabel {
  @apply text-body m-0;
}

.checkboxInput {
  @apply cursor-pointer;

  /* remove the checkbox from the page flow, positioning it on top of the SVG */
  position: absolute;

  /* set same dimensions as the CheckboxSvg element */
  @apply w-5 h-5;

  /* hide the input element */
  opacity: 0.00001;
}

.checkboxInput + svg {
  @apply text-neutral-500;
}

.checkboxInput:checked + svg > .outline {
  fill: var(--eds-color-brand-600);
  stroke: var(--eds-color-brand-600);
}

.checkboxInput:checked + svg > .content {
  fill: var(--eds-color-white);
}

.checkboxInput:focus + svg {
  @apply outline-none rounded ring-2 ring-info-400;
}

.checkboxInput:disabled {
  @apply cursor-not-allowed;
}
