.checkbox {
  @apply flex items-center gap-2;
}

.checkboxLabel {
  @apply text-body;
}

.checkboxInput {
  -webkit-appearance: none;

  @apply bg-white border-2 border-neutral-500 rounded;
  @apply relative cursor-pointer;

  width: 18px;
  height: 18px;
}

.checkboxInput:checked {
  @apply bg-brand-600 border-brand-600;
}

/* TODO: replace this with CheckRounded icon or image */
.checkboxInput:checked::before {
  @apply absolute border-2 border-white left-1 w-1.5 h-2.5 border-t-0 border-l-0;

  content: "";
  transform: rotate(36deg);
  top: 1px;
}

.checkboxInput:disabled {
  @apply cursor-not-allowed;
}
