/*------------------------------------*\
    # MODAL FOOTER
\*------------------------------------*/

/**
 * Footer for the modal.
 */
.modal-footer {
  @apply pt-5 pb-5 pr-6;
  padding-left: var(--modal-horizontal-padding);
  @apply w-full bg-background-neutral-default-@;
  border-bottom-left-radius: var(--eds-border-radius-lg);
  border-bottom-right-radius: var(--eds-border-radius-lg);

  z-index: var(--eds-z-index-100);
}

/**
 * Sticky variant of the footer.
 * Used when the modal variant is scrollable.
 */
.modal-footer--sticky {
  @apply sticky bottom-0 shadow-xl;
}
