/*------------------------------------*\
    # LOADING INDICATOR
\*------------------------------------*/

/**
 * A spinner that indicates content is loadaing.
 */
/* stylelint-disable-next-line block-no-empty */
.loading-indicator {
}

.loading-indicator__icon {
  animation: rotateIcon 2s linear infinite;

  @media screen and (prefers-reduced-motion) {
    animation: none;
  }
}

/* The animation code */
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
