@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # LOADING INDICATOR
\*------------------------------------*/

/**
 * 1) 
 */
/* stylelint-disable-next-line block-no-empty */
.loading-indicator {
}

.loading-indicator__icon {
  animation: rotateIcon 2s linear infinite;
}

/* The animation code */
@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
