import React, { ReactNode } from "react";

import clsx from "clsx";
import styles from "./{{pascalCase name}}.module.css";

type Props = {
  /**
   * Child node(s) that can be nested inside component.
   */
  children: ReactNode;
  /**
   * How the text should be aligned.
   */
  align: "left" | "right";
};

/**
 * A super cool component that does a really awesome thing.
 * TODO: Update to describe your component!
 */
function {{pascalCase name}}({ 
  children: "Hello world =^_^=", 
  align: "left", 
}: Props) {
  return (
    <div
      className={clsx(
        styles.container,
        align === "right" && styles.alignRight,
      )}
    >
      {children}
    </div>
  );
}
{{! Thanks to storybook's docgen we have to move the export default }}
{{! to a separate line from the declaration }}
export default {{pascalCase name}};
