import {clsx} from 'clsx';
import React from 'react';
import styles from './{{pascalCase name}}.module.css';

export interface Props {
  /**
   * CSS class names that can be appended to the component.
   */
  className?: string;
}

/**
 * BETA: This component is still a work in progress and is subject to change.
 *
 * `import {{inBraces name}} from "@chanzuckerberg/eds";`
 *
 * TODO: update this comment with a description of the component.
 */
export const {{pascalCase name}} = ({
  className,
  ...other
}: Props) => {
  const componentClassName = clsx(styles['{{dashCase name}}'], className);

  return (
    <div
      className={componentClassName}
      {...other}
    >
      Hello!
    </div>
  );
};
