@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # Table Cell
\*------------------------------------*/

/**
 * 1) We must double up the selector to make these selectors more specific since .table__cell
 *    also has padding rules and we want these ones to override those base rules.
 */

.table__cell.table__cell--align-inset-left {
  /* 1 */
  padding-left: var(--eds-size-8);
  text-align: left;
}

.table--condensed .table__cell.table__cell--align-inset-left {
  /* 1 */
  @media all and (max-width: $eds-bp-md) {
    padding-left: var(--eds-size-1);
  }
}
.table:not(.table--condensed) .table__cell.table__cell--align-inset-left {
  /* 1 */
  @media all and (max-width: $eds-bp-md) {
    padding-left: var(--eds-size-4);
  }
}

.table__cell--align-left {
  text-align: left;
}
.table__cell--align-right {
  text-align: right;
}
.table__cell--align-center {
  text-align: center;
}

.table__cell--valign-center {
  vertical-align: middle;
}
