.table {
  width: 100%;
  text-align: left;

  @media (min-width: $eds-bp-lg) {
    width: 66.67%;
  }
}

.table thead {
  border-bottom-width: 2px;
}

/* Override default border styling */
.table tr,
.table tr td,
.table tr th {
  border-style: none;
}

.table td:nth-child(2) {
  font-family: monospace;
}
