@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # OVERFLOW LIST
\*------------------------------------*/

.overflow-list {
  position: relative;
  /**
    * Table object body with content overflowed left
    */
  &.eds-is-overflow-left {
    /**
       * Right overflow gradient for the overflow list
       */
    /* stylelint-disable-next-line max-nesting-depth */
    &:before {
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.001) 50%,
        var(--eds-theme-color-background-neutral-default)
      );
      height: 100%;
      top: 0;
      left: 0;
      width: var(--eds-size-4);
      z-index: var(--eds-z-index-100);
    }
  }

  /**
      * Table object body with content overflowed right
      */
  &.eds-is-overflow-right {
    /**
       * Right overflow gradient for the overflow list
       */
    /* stylelint-disable-next-line max-nesting-depth */
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.001) 50%,
        var(--eds-theme-color-background-neutral-default)
      );
      height: 100%;
      top: 0;
      right: 0;
      width: var(--eds-size-4);
      z-index: var(--eds-z-index-100);
    }
  }
}

.overflow-list__inner {
  @mixin reset;
  display: flex;
  width: 100%;
  list-style: none;
  overflow: auto;
}

.overflow-list__item {
  flex-shrink: 0;
  margin-left: var(--eds-size-3);

  &:first-child {
    margin-left: 0;
  }
}
