@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #OVERFLOWLIST
\*------------------------------------*/

/**
 * 1) 
 */

.overflow-list {
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.001) 50%,
      rgba(255, 255, 255, 0.9)
    );
    height: 100%;
    top: 0;
    right: 0;
    width: 2rem;
    z-index: 100;
  }
}
.overflow-list__inner {
  display: flex;
  overflow: auto;

  > * {
    margin-left: var(--eds-size-3);
  }

  > *:first-child {
    margin-left: 0;
  }
}
