/*------------------------------------*\
    # TOOLBAR
\*------------------------------------*/

/**
 * A toolbar is a container that houses form controls for uses things like filtering a data table.
 */
.toolbar {
  display: flex;
  align-items: center;
  gap: var(--eds-size-2);
  padding-top: var(--eds-size-1);
  padding-right: var(--eds-size-2);
  padding-bottom: var(--eds-size-1);
  padding-left: var(--eds-size-2);
  background-color: var(--eds-theme-color-background-neutral-subtle);
}

/**
 * Stripped-down toolbar without background color or padding 
 */
.toolbar--bare {
  background-color: transparent;
  padding: 0;
}

/**
 * Veritcally aligns toolbar items to the top of the toolbar.
 */
.toolbar--vertical-align-top {
  align-items: flex-start;
}

/**
 * Veritcally aligns toolbar items to the bottom of the toolbar.
 */
.toolbar--vertical-align-bottom {
  align-items: flex-end;
}

/**
 * Center-aligned toolbar item
 */
.toolbar__item--align-center {
  /**
   * Since the toolbar is set to display: flex, using margin: auto will
   * push item away from other items.
   */
  margin-left: auto;
  margin-right: auto;
}

/**
 * Right-aligned toolbar item
 */
.toolbar__item--align-right {
  /**
   * Since the toolbar is set to display: flex, using margin: auto will
   * push item away from other items.
   */
  margin-left: auto;
}
