/*------------------------------------*\
    # TOOLBAR
\*------------------------------------*/

/**
 * A toolbar is a container that houses form controls for uses things like filtering a data table.
 */
.toolbar {
  @apply flex items-center gap-4 py-2 px-4;
  background-color: var(--eds-theme-color-background-neutral-subtle);
}

/**
 * Stripped-down toolbar without background color or padding 
 */
.toolbar--bare {
  @apply bg-transparent p-0;
}

/**
 * Veritcally aligns toolbar items to the top of the toolbar.
 */
.toolbar--vertical-align-top {
  align-items: flex-start;
}

/**
 * Veritcally aligns toolbar items to the bottom of the toolbar.
 */
.toolbar--vertical-align-bottom {
  align-items: flex-end;
}

/**
 * Center-aligned toolbar item
 */
.toolbar__item--align-center {
  /**
   * Since the toolbar is set to display: flex, using margin: auto will
   * push item away from other items.
   */
  margin-left: auto;
  margin-right: auto;
}

/**
 * Right-aligned toolbar item
 */
.toolbar__item--align-right {
  /**
   * Since the toolbar is set to display: flex, using margin: auto will
   * push item away from other items.
   */
  margin-left: auto;
}
