@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # COUNTER
\*------------------------------------*/

/**
 * 1) A counter is a form control that consists of a 
 *    numeric input and + - buttons to increment the 
 *    value on either side of the input 
 * 2) Cap the width of the input
 */

/**
  * Counter body
  * 1) Container of the buttons and input
  * 2) Set a max width so content doesn't span the entire width 
  */
.counter__body {
  display: flex;
  position: relative;
  max-width: 9rem;
  border-width: var(--eds-theme-form-border-width);
  border-style: solid;
  border-color: var(--eds-theme-color-form-border);
  border-radius: var(--eds-theme-form-border-radius);

  .eds-is-error & {
    border-color: var(--eds-theme-color-border-utility-error-strong);
  }
}

/**
 * Counter input
 * 1) Flex 1 added for IE to work with buttons
 * 2) Min width: 0 added to fix flexbox bug with inputs
 */
.counter__input.counter__input {
  position: relative;
  flex: 1; /* 1 */
  z-index: var(--eds-z-index-100);
  min-width: 0; /* 2 */
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}

/**
 * Counter +/- button styles
 * 1) Instance of icon button variant, and then rebuilds
 *    styles to match text input styles
 * 2) Margin left and margin right 0 added to remove margin in Safari from these 
 */
.counter__btn {
  padding-top: var(--eds-size-1-and-half);
  padding-right: var(--eds-size-1-and-half);
  padding-bottom: var(--eds-size-1-and-half);
  padding-left: var(--eds-size-1-and-half);
}
