@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #DATA BAR
\*------------------------------------*/

/**
 * 1) 
 */
.data-bar {
  height: var(--eds-size-2);

  background-color: var(--eds-theme-color-background-neutral-subtle);

  border: var(--eds-theme-color-border-neutral-default) solid
    var(--eds-theme-border-width);
  border-radius: 9999px;
}

.data-bar__segment-space {
  /* This overlays the segments over the grey borders of the containing bar */
  position: relative;
  bottom: var(--eds-theme-border-width);
  right: var(--eds-theme-border-width);

  display: flex;
  gap: var(--eds-size-half);

  /* Required to make last segment overlap containing bar right border */
  width: calc(100% + 2 * var(--eds-theme-border-width));
}
/* better naming here */
.data-bar__segment-space--95 {
  width: calc(
    100% + 2 * var(--eds-theme-border-width) - 0.5 * var(--eds-size-2)
  );
}
