@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # DATA BAR
\*------------------------------------*/

/**
 * The data bar represents the relative completion of a task.
 */
.data-bar {
  /* 0.875rem, a summation of the data bar height of 0.75rem and the border width 1px */
  --data-bar-height: calc(
    var(--eds-size-1-and-half) + 2 * var(--eds-theme-border-width)
  );
  height: var(--data-bar-height);

  background-color: var(--eds-theme-color-data-bar-background);

  border: var(--eds-theme-color-data-bar-border) solid
    var(--eds-theme-border-width);
  /* Rounds the sides rather than making the bar elliptical. */
  border-radius: var(--eds-border-radius-full);

  /* Prevents segments from overflowing outside borders */
  overflow: hidden;
}

/**
 * The label title above the data bar that provides an accessible name.
 */
.data-bar__label {
  font: var(--eds-theme-typography-label-md);
  color: var(--eds-theme-color-text-neutral-strong);

  margin-bottom: 0;
}

/**
 * Wraps the label and the caption description.
 */
.data-bar__label-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: var(--eds-size-1);
}

/**
 * The amount of space the segments can consume. Is overlayed on top of the containing bar.
 */
.data-bar__segment-space {
  height: 100%;

  display: flex;
  gap: var(--eds-size-half);
  /* Makes the last segment overlap the containing bar right border. */
  width: calc(100% + 2 * var(--eds-theme-border-width));
}
/**
 * Shortens the amount of space the segments consume by an amount equal to the radius of the semicircle end of the containing bar (half the height of the bar).
 * Results in an empty space that visually indicates incompleteness of the relevant task.
 * Required due to disproportionately larger spacing given to small segments to make them visible.
 */
.data-bar__segment-space--incomplete {
  width: calc(
    100% + 2 * var(--eds-theme-border-width) - 0.5 * var(--data-bar-height)
  );
}

/*------------------------------------*\
    # DATA BAR SEGMENT
\*------------------------------------*/

/**
 * A block that represents its progress in a data bar.
 */
 .data-bar-segment {
  height: 100%;
}

/**
 * The pointer cursor indicates that the element is hoverable.
 * The non hoverable case is the default cursor, used for the empty state indicator.
 */
.data-bar-segment--hoverable:hover {
  cursor: pointer;
}

/**
 * The color variants of the data bar segments.
 */
.data-bar-segment--brand {
  background-color: var(--eds-theme-color-background-brand-primary-strong);
}
.data-bar-segment--brand.data-bar-segment--hoverable:hover {
  background-color: var(
    --eds-theme-color-background-brand-primary-strong-hover
  );
}

.data-bar-segment--success {
  background-color: var(--eds-theme-color-icon-utility-success);
}
.data-bar-segment--success.data-bar-segment--hoverable:hover {
  background-color: var(--eds-theme-color-icon-utility-success-hover);
}
