@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # DATA BAR
\*------------------------------------*/

/**
 * The data bar represents the relative completion of a task.
 */
.data-bar {
  --data-bar-height: 0.875rem;
  height: var(--data-bar-height);

  background-color: var(--eds-theme-color-background-neutral-subtle);

  border: var(--eds-theme-color-border-neutral-default) solid
    var(--eds-theme-border-width);
  /* Rounds the sides rather than making the bar elliptical. */
  border-radius: var(--eds-border-radius-full);

  /* Prevents segments from overflowing outside borders */
  overflow: hidden;
}

/**
 * The label title above the data bar that provides an accessible name.
 */
.data-bar__label {
  @mixin eds-theme-typography-title-sm;
  color: var(--eds-theme-color-text-neutral-strong);
}

/**
 * Wraps the label and the caption description.
 */
.data-bar__label-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: var(--eds-size-1);
}

/**
 * The amount of space the segments can consume. Is overlayed on top of the containing bar.
 */
.data-bar__segment-space {
  height: 100%;

  display: flex;
  gap: var(--eds-size-half);
  /* Makes the last segment overlap the containing bar right border. */
  width: calc(100% + 2 * var(--eds-theme-border-width));
}
/**
 * Shortens the amount of space the segments consume by an amount equal to the radius of the semicircle end of the containing bar (half the height of the bar).
 * Results in an empty space that visually indicates incompleteness of the relevant task.
 * Required due to disproportionately larger spacing given to small segments to make them visible.
 */
.data-bar__segment-space--incomplete {
  width: calc(
    100% + 2 * var(--eds-theme-border-width) - 0.5 * var(--data-bar-height)
  );
}
