@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # MAIN
\*------------------------------------*/

/**
 * 1) 
 */
.main {
  display: block;
  flex: 1 0 auto;
  padding-bottom: var(--eds-size-8);

  /**
     * Main element inside fixed layout
     */
  .eds-l-sidebar--fixed & {
    padding-top: var(--eds-size-4);
  }
}
