@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #RADIO FIELD
\*------------------------------------*/

/**
 * 1) Consists of a label, list of radio items, and an optional note about the field.
 */
.radio-field {
  @mixin fieldsetStyles;
  position: relative;
}

/**
 * 1) Consists of a label, list of radio items, and an optional note about the field.
 */
.radio-field--inverted {
  color: var(--eds-theme-color-text-neutral-default-inverse);
}

.radio-field--inline-label {
  display: flex;
}

/**
 * Radio field body
 * 1) Contains the list of radio options
 */
.radio-field__body {
  position: relative;
  margin-bottom: var(--eds-size-half);
}

.radio-field__label {
  .radio-field--inline-label & {
    margin-right: var(--eds-size-1);
    margin-bottom: 0;
  }
}

/**
 * Radio field list
 */
.radio-field__list {
  @mixin reset;
  list-style: none;
  display: grid;
  gap: var(--eds-size-2);

  /**
     * Radio field list inside inline variant
     * 1) place items beside each other
     */
  .radio-field--inline & {
    display: flex; /* 1 */
    gap: var(--eds-size-4);
  }
}

/**
 * Radio field list item
 * 1) Place control and label beside each other
 * 2) Spacing between items
 */
.radio-field__item {
  display: flex; /* 1 */
  gap: var(--eds-size-1);

  /**
   * Radio field list item inside inline variant 
   */
  .radio-field--inline & {
    margin-bottom: 0;
    margin-right: var(--eds-size-2); /* 2 */

    &:last-of-type {
      margin-right: 0;
    }
  }
}
/**
 * Checkbox field item label 
 * 1) Aligns label to checkbox control
 */
.radio-field__item-label {
  @mixin eds-theme-typography-body-text-md;
  color: var(--eds-theme-color-form-label);
  position: relative; /* 1 */
  top: -3px; /* 1 */

  .radio-field--inverted & {
    color: var(--eds-theme-color-text-neutral-default-inverse);
  }

  .radio-field.eds-is-disabled & {
    color: var(--eds-theme-color-text-disabled);
    cursor: not-allowed;
  }
}

.radio-field__item-after {
  position: relative;
  top: 2px;
  display: inline;
  margin-left: var(--eds-size-1);
}

/**
 * Radio field control
 * 1) The actual radio form control
 * 2) Align control to label
 */
.radio-field__item-control {
  position: relative;
  top: -2px; /* 2 */
}
