@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #LOGO
\*------------------------------------*/

/**
 * Branding image or text of the site
 * 1) Wrapper (usually a link) that contains the logo graphic
 */
.logo {
  width: var(--eds-size-4);
  height: var(--eds-size-4);
}

/**
 * Logo link 
 */
.logo__link {
  display: block;

  &:focus-visible {
    @mixin focusInverted;
  }
}
