@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # LABEL
\*------------------------------------*/

/**
 * Label
 * 
 * Labels can sometimes be marked up as legends for field groups (i.e. radio field).
 */
.label {
  font: var(--eds-theme-typography-form-label);
  display: inline-block;
}

/**
 * Label after
 *
 * An empty slot for additional element to appear to the right of the label text.
 * Typically used to present tooltips by the labels.
 */
.label__after {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: calc(var(--eds-spacing-size-1) / 16 * 1rem);
}

/**
 * Visually hides the label element but is kept for screen reading accessibility.
 * TODO(next-major): remove this usage of a once-used mixin
 */
.u-is-vishidden {
  @mixin visuallyHide;
}