@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # LABEL
\*------------------------------------*/

/**
 * Label
 * 
 * Labels can sometimes be marked up as legends for field groups (i.e. radio field).
 */
.label {
  display: inline-block;
}

/**
 * Disabled variant of the field label.
 */
 .label--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}

/**
 * Label after
 *
 * An empty slot for additional element to appear to the right of the label text.
 * Typically used to present tooltips by the labels.
 */
.label__after {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: calc(var(--eds-spacing-size-1) * 1px);
}
