@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # SELECT
\*------------------------------------*/

/**
 * Select field used to select one option from a list of options.
 */
.select {
  position: relative;
}

/**
 * Label on top of the select trigger button to label the select field.
 */
.select__label {
  font: var(--eds-theme-typography-form-label);
  display: inline-block;
}

.select__label--disabled {
  color: var(--eds-theme-color-text-disabled);
}

/**
 * Wraps the Label and the optional/required indicator.
 */
.select__overline {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--eds-size-half) / 16 * 1rem);
  color: var(--eds-theme-color-form-label);
}

.select__overline--no-label {
  justify-content: flex-end;
}

/**
 * The container for the individual select options. 
 */
.select__options {
  max-height: 25vh;
  z-index: 100;
}

.select__option-text {
  color: var(--eds-theme-color-text-neutral-default);
}

.select__option-item {
  color: var(--eds-theme-color-icon-brand-primary);
}

.select__required-text {
  color: var(--eds-theme-color-text-neutral-subtle);
  font: var(--eds-theme-typography-body-sm);
}

.select__required-text--disabled {
  color: var(--eds-theme-color-text-disabled);
}

/*------------------------------------*\
    # SELECT BUTTON
\*------------------------------------*/

/**
 * The button to trigger the display of the select field.
 */
.select-button {
  font: var(--eds-theme-typography-body-md);
  /* Allow select component font to shrink in contexts where body font size is smaller. */
  font-size: inherit;
  color: var(--eds-theme-color-text-neutral-subtle);

  height: calc(var(--eds-size-5) / 16 * 1rem);
  width: 100%;
  padding: 0 calc(var(--eds-size-2) / 16 * 1rem);

  border: calc(var(--eds-theme-border-width) * 1px) solid var(--eds-theme-color-form-border);
  border-radius: calc(var(--eds-border-radius-md) * 1px);

  display: flex;
  /* Place button text on the left and the expand more icon on the right. */
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;

  cursor: pointer;

  background-color: var(--eds-theme-color-form-background);

  &:focus-visible {
    @mixin focus;
    border-color: var(--eds-theme-color-focus-ring);
  }
}

.select-button:disabled {
  cursor: not-allowed;
  color: var(--eds-theme-color-text-disabled);
}

/**
 * The caret icon to decorate the select trigger button, animated to rotate.
 */
.select-button__icon {
  flex-shrink: 0;
  transform: rotate(0);

  transition: transform calc(var(--eds-anim-move-medium) * 1s) ease-out;
  @media (prefers-reduced-motion) {
    /* Turns off animation if user prefers reduced motion. */
    transition: none;
  }
}

.select-button__text--truncated {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-button__icon--reversed {
  transform: rotate(180deg);
}
