@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #SELECT
\*------------------------------------*/

/**
 * Select Dropdown
 * 1) Make room for select dropdown icon 
 * 2) Clean up browser-provided styles
 */
.select {
  @mixin inputStyles;
  padding-right: var(--eds-size-4); /* 1 */

  &::-ms-expand {
    display: none; /* 2 */
  }

  &:-moz-focusring {
    color: transparent; /* 2 */
    text-shadow: 0 0 0 #000; /* 2 */
  }

  &:focus::-ms-value {
    color: #000; /* 2 */
    background: #fff; /* 2 */
  }
}
