/*------------------------------------*\
    # SELECT STORIES
\*------------------------------------*/

.interactive-example {
  height: 12rem;
}

.interactive-example--align-right {
  padding-left: var(--eds-size-4);
}

.select--non-compact {
  width: 15rem;
}

.function-children__button {
  padding: var(--eds-size-2);

  border: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-neutral-default);
  border-radius: 0.375rem;

  cursor: pointer;

  background-color: var(--eds-theme-color-background-neutral-default);
}

.function-children__icon {
  margin-left: var(--eds-size-1);
}

.separate-button-and-menu-width {
  width: 24rem;
}
