@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TEXT LIST
\*------------------------------------*/

/**
 * 1) Basic list of lines of text that can contain optional inline items afterwards
 */
.text-list {
  @mixin reset;
  list-style: none;
}

.text-list--ol {
  padding-left: var(--eds-size-2);
  list-style-type: decimal;

  .text-list__item {
    padding-left: var(--eds-size-1);
  }
}

.text-list--sm {
  @mixin eds-theme-typography-body-text-sm;
}

.text-list--inline {
  display: flex;
  flex-wrap: wrap;
  gap: var(--eds-size-2);
}

.text-list__item {
  .text-list--inline & {
    display: flex;
  }

  .text-list--inverted & {
    color: var(--eds-theme-color-text-neutral-default-inverse);
  }

  .text-list--tiny.text-list--inline & {
    &:before {
      top: var(--eds-size-1);
      height: var(--eds-size-half);
      width: var(--eds-size-half);
    }
  }
}
