/*------------------------------------*\
    # LAYOUT
\*------------------------------------*/

/**
 * Component that controls an overarching page layout.
 *
 * By default, the layout renders a fixed-position left sidebar on larger screens.
 */
.layout {
  display: grid;
  gap: var(--eds-size-3);
  /**
   * minmax(0, 1fr) used to prevent content from overflowing the viewport
   * when items are stacked
   */
  grid-template-columns: minmax(0, 1fr);

  @media all and (min-width: $eds-bp-xl) {
    grid-template-columns: auto 1fr;
  }
}

/**
 * Layout right sidebar variant
 */
.layout--right-sidebar {
  @media all and (min-width: $eds-bp-xl) {
    grid-template-columns: 1fr auto;
  }
}

/**
 * Layout 67-33 variant
 */
.layout--67-33 {
  @media all and (min-width: $eds-bp-xl) {
    grid-template-columns: 2fr 1fr;
  }
}

/**
 * Layout 50-50 variant with two main columns of equal width
 */
.layout--50-50 {
  @media all and (min-width: $eds-bp-xl) {
    grid-template-columns: 1fr 1fr;
  }
}

/**
 * Layout 33-67 variant
 */
.layout--33-67 {
  @media all and (min-width: $eds-bp-xl) {
    grid-template-columns: 1fr 2fr;
  }
}

/**
 * Layout no gap variant
 */
.layout--gap-none {
  gap: 0;
}

/**
 * Layout lg-xl gap variant
 */
.layout--gap-lg-xl {
  gap: var(--eds-size-5);
  @media all and (min-width: $eds-bp-xl) {
    gap: var(--eds-size-12);
  }
}

/**
 * Sidebar layout section region
 * 
 * Contains the global header and site navigation.
 */
.layout__section--sidebar {
  @media all and (min-width: $eds-bp-xl) {
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--eds-l-sidebar-width);
    z-index: var(--eds-z-index-500);
  }

  /**
 * Layout 67-33 variant
 */
  .layout--67-33 & {
    @media all and (min-width: $eds-bp-xl) {
      width: 100%;
    }
  }

  /**
 * Layout 33-67 variant
 */
  .layout--33-67 & {
    @media all and (min-width: $eds-bp-xl) {
      width: 100%;
    }
  }
}

/**
 * Sidebar layout section region within right sidebar
 */
.layout--right-sidebar > .layout__section--sidebar {
  order: 2;
}

/**
 * Sidebar layout section region within wide sidebar variant
 *
 * Width should be larger than the default.
 */
.layout--sidebar-wide > .layout__section--sidebar {
  @media all and (min-width: $eds-bp-xl) {
    width: 22rem;
  }
}

/**
 * Main layout section region 
 *
 * Contains the main page content.
 */
.layout__section--main {
  @media all and (min-width: $eds-bp-xl) {
    width: 100%;
    height: 100vh;
  }
}

/**
 * Main layout section region within right sidebar
 *
 * Place below the right sidebar on small screens..
 */
.layout--right-sidebar > .layout__section--main {
  /* Place to the left of the sidebar on large screens. */
  order: 1;
}
