@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/

/**
 * 1) Component that controls an overarching page layout. By default,
 *    the layout renders a fixed-position left sidebar on larger screens
 * 2) Left sidebar is the default
 */
.layout {
  @media all and (min-width: $eds-bp-lg) {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}


/**
 * Sidebar layout section region
 * 1) Contains the global header and site navigation
 */
.layout__section--sidebar {

  @media all and (min-width: $eds-bp-lg) {
    top: 0;
    left: 0;
    height: 100vh;
    width: var(--eds-l-sidebar-width);
    z-index: var(--eds-z-index-500);   
  }
}


/**
 * Main layout section region 
 * 1) Contains the main page content
 */
.layout__section--main {
  @media all and (min-width: $eds-bp-lg) {
    width: 100%;
    height: 100vh;
    padding-top: var(--eds-size-6);
  }
}


