@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # PRIMARY NAVIGATION ITEM
\*------------------------------------*/

/**
 * Primary nav link
 * 1) Individual link within each primary nav item
 */
.primary-nav__link {
  display: flex;
  @mixin TextLinkInverted;
  text-decoration: none;
  white-space: nowrap;
  padding: var(--eds-size-1);
  border-radius: var(--eds-border-radius-md);
  transition: background var(--eds-anim-fade-quick) var(--eds-anim-ease);

  &:hover,
  &:focus {
    background: var(--eds-theme-color-button-primary-brand-background-hover);
  }

  &:active {
    background: var(--eds-theme-color-button-primary-background-active);
  }

  &:focus-visible {
    @mixin focusInverted;
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Primary nav icon
 */
.primary-nav__icon {
  margin-right: var(--eds-size-2-and-half);
}
