@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # PAGE SHELL
\*------------------------------------*/

/**
 * Primary shell around the entire page.
 */
.page-shell {
  position: relative;
}

/**
 * Skip link – allows the user to skip past the main navigation to the page content.
 */
.page-shell__skip-link {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 9999;
  transform: translateY(-100%);
  transition: transform var(--eds-anim-fade-quick);

  &:focus {
    transform: translateY(0%);
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

.page-shell__main {
  padding-bottom: var(--eds-size-8);
  padding-top: var(--eds-size-4);

  @media all and (min-width: $eds-bp-xl) {
    padding-top: var(--eds-size-6);
  }
}
