@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TOAST NOTIFICATION
\*------------------------------------*/

.toast {
  width: 100%;
  max-width: calc(var(--eds-spacing-size-48) * 1px);
  display: flex;
  gap: calc(var(--eds-spacing-size-2) * 1px);
  padding: calc(var(--eds-spacing-size-2) * 1px);
  align-items: start;
  border-radius: calc(var(--eds-theme-border-radius-notification) * 1px);
  box-shadow: var(--eds-box-shadow-lg);

  background-color: var(--toast__bg, light-dark(var(--eds-theme-color-background-utility-default-high-emphasis), var(--eds-dark-theme-color-border-utility-default-high-emphasis)));
  color: var(--toast__fg, light-dark(var(--eds-theme-color-text-utility-inverse), var(--eds-dark-theme-color-text-utility-inverse)));


  .toast__icon {
    color: var(--toast__icon, inherit);
  }
}

.toast__icon {
  flex-shrink: 0;

  .toast--status-critical & {
    --toast__icon: light-dark(var(--eds-theme-color-icon-utility-inverse-critical), var(--eds-dark-theme-color-icon-utility-inverse-critical));
  }

  .toast--status-warning & {
    --toast__icon: light-dark(var(--eds-theme-color-icon-utility-inverse-warning), var(--eds-dark-theme-color-icon-utility-inverse-warning));
  }

  .toast--status-favorable & {
    --toast__icon: light-dark(var(--eds-theme-color-icon-utility-inverse-favorable), var(--eds-dark-theme-color-icon-utility-inverse-favorable));
  }

  .toast--status-informational & {
    --toast__icon: inherit;
  }
}

.toast__body {
  flex-grow: 2;
}

.toast__dismiss-button {
  flex-shrink: 0;
  margin-top: calc(var(--eds-spacing-size-half) * -1px);
  margin-right: calc(var(--eds-spacing-size-half) * -1px);
}