@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TOAST NOTIFICATION
\*------------------------------------*/

.toast {
  width: 100%;
  max-width: calc(var(--eds-spacing-size-48) * 1px);
  display: flex;
  gap: calc(var(--eds-spacing-size-2) * 1px);
  padding: calc(var(--eds-spacing-size-2) * 1px);
  align-items: start;

  border-radius: calc(var(--eds-theme-border-radius-notification) * 1px);

  &.toast--status-critical {
    color: var(--eds-theme-color-text-utility-critical);
    background-color: var(--eds-theme-color-background-utility-critical-low-emphasis);
  }

  &.toast--status-favorable {
    color: var(--eds-theme-color-text-utility-favorable);
    background-color: var(--eds-theme-color-background-utility-favorable-low-emphasis);
  }
}

.toast__icon {
  flex-shrink: 0;
}

.toast__body {
  flex-grow: 2;
}

.toast__dismiss-button {
  flex-shrink: 0;
  margin-top: calc(var(--eds-spacing-size-1) * -1px);
  margin-right: calc(var(--eds-spacing-size-1) * -1px);
}