/*------------------------------------*\
    # SKELETON
\*------------------------------------*/

@keyframes bg-wipe {
  0% {
    background-position: right 0%;
  }
  100% {
    background-position: left 0%;
  }
}

/**
 * Skeleton
 */
.skeleton {
  border-radius: calc(var(--eds-border-radius-150) * 1px);
  background-color: light-dark(var(--eds-theme-color-background-skeleton), var(--eds-dark-theme-color-background-skeleton));
  background-image: linear-gradient(
    to left,
    light-dark(var(--eds-theme-color-background-skeleton), var(--eds-dark-theme-color-background-skeleton)) 50%,
    light-dark(var(--eds-theme-color-background-skeleton-stripe), var(--eds-dark-theme-color-background-skeleton-stripe)) 65%,
    light-dark(var(--eds-theme-color-background-skeleton), var(--eds-dark-theme-color-background-skeleton)) 80%);
  background-size: 500% 100%;
}

.skeleton--is-animating {
  animation: bg-wipe 2s ease-out infinite;
}

.skeleton.skeleton-circle {
  border-radius: calc(var(--eds-border-radius-full) * 1px);
}

@media screen and (prefers-reduced-motion: reduce) {
  .skeleton--is-animating {
    animation: none;
  }
}
