/*------------------------------------*\
    # SKELETON
\*------------------------------------*/

@keyframes bg-wipe {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/**
 * Skeleton
 */
.skeleton {
  border-radius: var(--eds-border-radius-lg);
  background-color: var(--eds-theme-color-background-neutral-medium);
  background-image: linear-gradient(
    to right,
    var(--eds-theme-color-background-neutral-medium) 50%,
    var(--eds-theme-color-background-neutral-subtle) 65%,
    var(--eds-theme-color-background-neutral-medium) 80%
  );
  background-size: 500% 100%;
}

.skeleton--is-animating {
  animation: bg-wipe 2s ease-out infinite;
}

.skeleton.skeleton-circle {
  border-radius: var(--eds-border-radius-round);
}

@media screen and (prefers-reduced-motion: reduce) {
  .skeleton--is-animating {
    animation: none;
  }
}
