.toastDialog {
  @apply w-full max-w-100 pl-4 pr-2 grid gap-2 items-center;
  @apply border border-l-4 rounded shadow-1;

  border-color: var(--border-light-color);
  border-left-color: var(--border-dark-color);
  grid-template-columns: 1fr min-content;
  --svg-icon-size-default: 1.25rem;
}

.content {
  @apply py-4 grid gap-4 items-center;

  grid-template-columns: min-content 1fr;
}
