.toastDialog {
  @apply tw-w-full tw-max-w-100 tw-pl-4 tw-pr-2 tw-grid tw-gap-2 tw-items-center;
  @apply tw-border tw-border-l-4 tw-rounded tw-shadow-1;

  border-color: var(--border-light-color);
  border-left-color: var(--border-dark-color);
  grid-template-columns: 1fr min-content;
  --svg-icon-size-default: 1.25rem;
}

.content {
  @apply tw-py-4 tw-grid tw-gap-4 tw-items-center;

  grid-template-columns: min-content 1fr;
}
