.colorBrand {
  @apply tw-text-brand-700 tw-bg-brand-100;
  --border-light-color: var(--eds-color-brand-200);
  --border-dark-color: var(--eds-color-brand-500);
  --close-hover-color: var(--eds-color-brand-600);
}

.colorNeutral {
  @apply tw-text-neutral-700 tw-bg-neutral-100;
  --border-light-color: var(--eds-color-neutral-200);
  --border-dark-color: var(--eds-color-neutral-500);
  --close-hover-color: var(--eds-color-neutral-600);
}

.colorSuccess {
  @apply tw-text-success-700 tw-bg-success-100;
  --border-light-color: var(--eds-color-success-200);
  --border-dark-color: var(--eds-color-success-500);
  --close-hover-color: var(--eds-color-success-600);
}

.colorWarning {
  @apply tw-text-warning-700 tw-bg-warning-100;
  --border-light-color: var(--eds-color-warning-200);
  --border-dark-color: var(--eds-color-warning-500);
  --close-hover-color: var(--eds-color-warning-600);
}

.colorAlert {
  @apply tw-text-alert-700 tw-bg-alert-100;
  --border-light-color: var(--eds-color-alert-200);
  --border-dark-color: var(--eds-color-alert-500);
  --close-hover-color: var(--eds-color-alert-600);
}
