.button {
  /* Base Styles */
  @apply rounded border-2 transition-colors;

  /* Base Text Styles */
  @apply font-bold;
}

/* Component Sizes */

.button--size-small {
  @apply px-5 py-2 text-xs;

  line-height: 0.75rem;
}

.button--size-medium {
  @apply px-5 py-2 text-sm;

  line-height: 1.25rem;
}

.button--size-large {
  @apply px-6 py-4 text-sm;

  line-height: 1.25rem;
}

/* Button Colors */

.button--color-brand {
  --button-primary-color: var(--eds-color-brand-600);
  --button-primary-hocus-color: var(--eds-color-brand-700);
  --button-primary-active-color: #312b9e;
  --button-disabled-color: var(--eds-color-brand-300);
  --button-secondary-color: var(--eds-color-white);
  --button-secondary-hocus-color: var(--eds-color-brand-100);
}

.button--color-alert {
  --button-primary-color: var(--eds-color-alert-600);
  --button-primary-hocus-color: var(--eds-color-alert-700);
  --button-disabled-color: var(--eds-color-alert-300);
  --button-secondary-color: var(--eds-color-white);
  --button-secondary-hocus-color: var(--eds-color-alert-100);
}
  
.button--color-neutral {
  --button-primary-color: var(--eds-color-neutral-600);
  --button-primary-hocus-color: var(--eds-color-neutral-700);
  --button-disabled-color: var(--eds-color-neutral-300);
  --button-secondary-color: var(--eds-color-white);
  --button-secondary-hocus-color: var(--eds-color-neutral-100);
}
  
.button--color-success {
  --button-primary-color: var(--eds-color-success-600);
  --button-primary-hocus-color: var(--eds-color-success-700);
  --button-disabled-color: var(--eds-color-success-300);
  --button-secondary-color: var(--eds-color-white);
  --button-secondary-hocus-color: var(--eds-color-success-100);
}

.button--variant-flat {
  background-color: var(--button-primary-color);
  border-color: var(--button-primary-color);
  color: var(--button-secondary-color);

  &:hover {
    border-color: var(--button-primary-hocus-color);
  }

  &:hover,
  &.button--state-hover,
  &:focus,
  &.button--state-focus {
    background-color: var(--button-primary-hocus-color);
    border-color: var(--button-primary-hocus-color);
  }

  &:active,
  &.button--state-active {
    background-color: var(--button-primary-active-color);
    border-color: var(--button-primary-active-color);
  }

  /* override the hover/focus values */
  &:disabled,
  &.button--state-disabled {
    background-color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
  }
}

.button--variant-outline {
  background-color: var(--button-secondary-color);
  border-color: var(--button-primary-color);
  color: var(--button-primary-color);

  &:hover,
  &.button--state-hover {
    background-color: var(--button-primary-color);
    color: var(--button-secondary-color);
  }

  &:focus,
  &.button--state-focus {
    background-color: var(--button-secondary-color);
    color: var(--button-primary-hocus-color);
  }

  /* override the hover/focus values */
  &:disabled,
  &.button--state-disabled {
    background-color: var(--button-secondary-color);
    border-color: var(--button-disabled-color);
    color: var(--button-disabled-color);
  }
}

.button--variant-link {
  @apply px-0 py-0 underline border-none;

  background-color: transparent;
  border-color: transparent;
  color: var(--button-primary-color);

  /* button should defer to surrounding text for size/weight/line-height/case */
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;

  &:hover,
  &.button--state-hover {
    background-color: var(--button-secondary-hocus-color);
  }
  
  &:hover,
  &.button--state-hover,
  &:focus,
  &.button--state-focus {
    color: var(--button-primary-hocus-color);
    text-decoration-thickness: 2px;
  }

  /* override the hover/focus values */
  &:disabled,
  &.button--state-disabled {
    color: var(--button-disabled-color);
  }
}

/* comes after other styles to override hover behaviors */
.button:focus,
.button.button--state-focus {
  /* Focus Outline */
  @apply outline-none ring-info-400 ring;
}
