.button {
  /* Base Styles */
  @apply rounded border;

  /* Base Text Styles */
  @apply font-bold text-sm leading-body;
}

/* Component Sizes */
.button,
.button--size-small {
  @apply px-5 py-2 text-sm leading-snug;
}

.button--size-medium {
  @apply px-6 py-4 text-sm leading-snug;
}

.button--size-large {
  @apply px-8 py-5 leading-7;

  /* manual font size sinde there's no match in tokens */
  font-size: 1.25rem;
}

/* Button Colors */

.button--color-brand {
  --button-primary-color: var(--eds-color-brand-600);
  --button-hocus-color: var(--eds-color-brand-700);
  --button-disabled-color: var(--eds-color-brand-300);
  --button-secondary-color: var(--eds-color-white);
}

.button--color-alert {
  --button-primary-color: var(--eds-color-alert-600);
  --button-hocus-color: var(--eds-color-alert-700);
  --button-disabled-color: var(--eds-color-alert-300);
  --button-secondary-color: var(--eds-color-white);
}
  
.button--color-neutral {
  --button-primary-color: var(--eds-color-neutral-600);
  --button-hocus-color: var(--eds-color-neutral-700);
  --button-disabled-color: var(--eds-color-neutral-300);
  --button-secondary-color: var(--eds-color-white);
}
  
.button--color-success {
  --button-primary-color: var(--eds-color-success-600);
  --button-hocus-color: var(--eds-color-success-700);
  --button-disabled-color: var(--eds-color-success-300);
  --button-secondary-color: var(--eds-color-white);
}
  
.button--color-warning {
  --button-primary-color: var(--eds-color-warning-600);
  --button-hocus-color: var(--eds-color-warning-700);
  --button-disabled-color: var(--eds-color-warning-300);
  --button-secondary-color: var(--eds-color-white);
}

.button--variant-flat {
  background-color: var(--button-primary-color);
  border-color: var(--button-primary-color);
  color: var(--button-secondary-color);

  &:hover {
    border-color: var(--button-hocus-color);
  }

  &:hover,
  &.button--state-hover,
  &:focus,
  &.button--state-focus {
    background-color: var(--button-hocus-color);
  }

  /* override the hover/focus values */
  &:disabled,
  &.button--state-disabled {
    background-color: var(--button-disabled-color);
    border-color: var(--button-disabled-color);
  }
}

.button--variant-outline {
  background-color: var(--button-secondary-color);
  border-color: var(--button-primary-color);
  color: var(--button-primary-color);

  &:hover,
  &.button--state-hover {
    background-color: var(--button-primary-color);
    color: var(--button-secondary-color);
  }

  &:focus,
  &.button--state-focus {
    background-color: var(--button-secondary-color);
    color: var(--button-hocus-color);
  }

  /* override the hover/focus values */
  &:disabled,
  &.button--state-disabled {
    background-color: var(--button-secondary-color);
    border-color: var(--button-disabled-color);
    color: var(--button-disabled-color);
  }
}

.button--variant-link {
  @apply px-0 py-0 underline border-none;

  background-color: transparent;
  border-color: transparent;
  color: var(--button-primary-color);
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;

  &:hover,
  &.button--state-hover,
  &:focus,
  &.button--state-focus {
    color: var(--button-hocus-color);
  }

  /* override the hover/focus values */
  &:disabled,
  &.button--state-disabled {
    color: var(--button-disabled-color);
  }
}

.button--variant-minimal {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-primary-color);

  &:hover,
  &.button--state-hover,
  &:focus,
  &.button--state-focus {
    color: var(--button-hocus-color);
  }

  /* override the hover/focus values */
  &:disabled,
  &.button--state-disabled {
    color: var(--button-disabled-color);
  }
}

/* comes after other styles to override hover behaviors */
.button:focus,
.button.button--state-focus {
  /* Focus Outline */
  @apply outline-none ring-info-400 ring border-transparent;
}
