/*------------------------------------*\
    # CARD
\*------------------------------------*/

/**
 * A card is a block that typically contains a title, image, text, and/or calls to action.
 * The `:where` pseudo class function allows easy overriding via className.
 */
:where(.card) {
  position: relative;
  display: flex;
  flex-direction: column;

  padding: calc(var(--eds-spacing-size-3) * 1px);
  height: 100%;
  border: calc(var(--eds-theme-border-width) * 1px) solid;

  &:focus-visible {
    outline-offset: 1px;
    outline: calc(var(--eds-spacing-size-quarter) * 1px) solid
      var(--eds-theme-color-border-utility-focus);
  }

  &.card--is-interactive {
    cursor: pointer;
  }
}

:where(.child-card) {
  margin-top: calc(var(--eds-spacing-size-2) * 1px);
  border-radius: calc(var(--eds-theme-border-radius-surfaces-md) * 1px);
}

/**
 * Container styles are reduced to be overridden by any containerColor settings
 */
:where(.card--container-style-low) {
  border-color: var(--eds-theme-color-border-utility-default-low-emphasis);
}

:where(.card--container-style-high) {
  border-color: var(--eds-theme-color-border-utility-default-high-emphasis);
}

:where(.card--container-style-none) {
  border-color: transparent;
}

.card--container-color-default {
  background-color: var(--eds-theme-color-background-utility-container);

  &.card--is-interactive {
    &:hover {
      background-color: var(
        --eds-theme-color-background-utility-container-hover
      );
    }

    &:active {
      background-color: var(
        --eds-theme-color-background-utility-container-active
      );
    }
  }
}

.card--container-color-call-out {
  background-color: var(
    --eds-theme-color-background-utility-informational-low-emphasis
  );
  border-color: var(--eds-theme-color-border-utility-informational);

  &.card--is-interactive {
    &:hover {
      background-color: var(
        --eds-theme-color-background-utility-informational-low-emphasis-hover
      );
    }

    &:active {
      background-color: var(
        --eds-theme-color-background-utility-informational-low-emphasis-active
      );
    }
  }
}

.card--is-dragging-true {
  box-shadow: var(--eds-box-shadow-lg);
}

.card__header {
  display: flex;

  color: var(--eds-theme-color-text-utility-default-primary);

  & .header__eyebrow {
    margin-bottom: calc(var(--eds-spacing-size-1) * 1px);
  }

  &.header--size-sm {
    gap: calc(var(--eds-spacing-size-1) * 1px);
  }

  &.header--size-md {
    gap: calc(var(--eds-spacing-size-2) * 1px);

    .header__icon {
      padding-top: 4px;
    }
  }
}

.card__top-stripe {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

:where(.card__top-stripe) {
  background-color: var(
    --eds-theme-color-background-utility-default-high-emphasis
  );
}

.card__behavior-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  /* remove focus ring and instead enable on the label */
  &:focus {
    outline: none;
  }
}

.card__behavior-label:has(.card__behavior-input:focus-visible) {
  outline: calc(var(--eds-border-width-md) * 1px) solid var(--eds-theme-color-border-utility-focus);
  outline-offset: 2px;
}


.top-stripe--medium {
  height: calc(var(--eds-spacing-size-1) * 1px);
}

.top-stripe--high {
  height: calc(var(--eds-spacing-size-2) * 1px);
}

.header__icon,
.header__action {
  flex-grow: 0;
}

.header__text,
.header__custom {
  flex-grow: 2;
}

/**
* Card colors
*/
.card:has(.card__behavior-input:checked) {
  /* TODO-AH: confirm color value with design */
  background: var(--eds-theme-color-background-utility-container-selected);

  /* use an outline on top of the border to get the correct width without changing the layout */
  outline: calc(var(--eds-border-width-sm) * 1px) solid var(--eds-theme-color-border-utility-default-high-emphasis);
  border-color: var(--eds-theme-color-border-utility-default-high-emphasis);
}

.card__body {
  flex-grow: 1;

  color: var(--eds-theme-color-text-utility-default-primary);
}

.header__eyebrow {
  color: var(--eds-theme-color-text-utility-default-secondary);
}

.header__title {
  color: var(--eds-theme-color-text-utility-default-primary);
}

.header__sub-title {
  color: var(--eds-theme-color-text-utility-default-secondary);
}
