/*------------------------------------*\
    # CARD
\*------------------------------------*/

/**
 * A card is a block that typically contains a title, image, text, and/or calls to action.
 * The `:where` pseudo class function allows easy overriding via className.
 */
:where(.card) {
  display: flex;
  flex-direction: column;
  padding: var(--eds-size-2);
  height: 100%;
  border-radius: var(--eds-border-radius-lg);
  border-width: var(--eds-theme-border-width);
  border-style: solid;
  border-color: var(--eds-theme-color-border-neutral-subtle);
  background-color: var(--eds-theme-color-background-neutral-default);
}

/**
 * Card that appears raised to show interactivity/emphasis.
 */
.card--raised {
  box-shadow: var(--eds-box-shadow-md);
  border-color: var(--eds-theme-color-background-neutral-default);
}

/**
 * Card that is being dragged in drag and drop.
 */
.card--dragging {
  box-shadow: var(--eds-box-shadow-xl);
}

/**
 * Card with horizontal contents.
 */
.card--horizontal {
  /* Change the orientation to display header, body, and footer in a row. */
  flex-direction: row;
}

/**
 * Card header.
 */
.card__header {
  /* Add spacing in between the header and body. */
  margin-bottom: var(--eds-size-2);

  /**
   * Card header within horizontal card
   */
  .card--horizontal & {
    /**
     * Remove default spacing for vertical card. Add margin right for spacing between header and body
     */
    margin-bottom: 0;
    margin-right: var(--eds-size-2);
  }
}

/**
 * Card body.
 */
.card__body {
  flex: 1;
}

/**
 * Card footer
 */
.card__footer {
  /**
   * Using margin-top since card__footer is optional and may not always exist. Putting
   * margin-bottom on card__body would result in a gap if card__footer does not exist.
   */
  margin-top: var(--eds-size-2);

  /**
   * Card footer within horizontal card
   */
  .card--horizontal & {
    /**
     * Using margin left to space away from card body. Zero out margin top.
     */
    margin-top: 0;
    margin-left: var(--eds-size-2);
  }
}
