/*------------------------------------*\
    # PAGE HEADER
\*------------------------------------*/

/**
 * Container that consists of a page header title and description.
 */
.page-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: var(--eds-size-3);

  @media all and (min-width: $eds-bp-md) {
    flex-direction: row;
    align-items: center;
  }
}

/**
 * Orientation variant that limits the left and right slots.
 * Useful in aligning content with the 2up grid layouts.
 */
.page-header--2up {
  @media all and (min-width: $eds-bp-md) {
    .page-header__left,
    .page-header__right {
      max-width: 50%;
    }
  }
}

/**
 * Center-aligned page header
 */
.page-header--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
 * Page header left.
 */
.page-header__left {
  /* Flex 1 added so the right content doesn't wrap. */
  flex: 1;
  /* Push page header right all the way to the right. */
  @media all and (min-width: $eds-bp-md) {
    margin-right: auto;
  }
}

/**
 * Page header right
 * 
 * On larger viewports, add margin-left to keep space between title and
 * header-right content. If additional margin needs to be added (i.e.
 * margin-top on smaller viewports), add a spacing utility class to the
 * contents of header-right.
 */
.page-header__right {
  @media all and (min-width: $eds-bp-md) {
    margin-left: var(--eds-size-4);
  }
}

/**
 * Page header title
 */
.page-header--center .page-header__title {
  text-align: center;
}

/**
 * Page title after
 */
.page-header__title-after {
  display: inline-block;
  margin-left: var(--eds-size-1-and-half);
  position: relative;
  top: -1rem;
}

/**
 * Page description
 */
.page-header__description {
  color: var(--eds-theme-color-text-neutral-subtle);
  margin-top: var(--eds-size-1);

  .page-header--center & {
    text-align: center;
  }
}
