@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #PAGE HEADER
\*------------------------------------*/

/**
 * 1) Container that consists of of a page header title and description
 */
.page-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: var(--eds-size-3);

  @media all and (min-width: $eds-bp-md) {
    flex-direction: row;
    align-items: center;
  }
}

.page-header--50-50 {
  @media all and (min-width: $eds-bp-md) {
    > div {
      max-width: 50%;
    }
  }
}

/**
 * Center-aligned page header
 */
.page-header--center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
 * Page header left
 * 1) Flex 1 added so the right content doesn't wrap
 * 2) Push page header right all the way to the right
 */
.page-header__left {
  flex: 1; /* 1 */

  @media all and (min-width: $eds-bp-md) {
    margin-right: auto;
  }
}

/**
 * Page header right
 */
.page-header__right {
  margin-top: var(--eds-size-4); /* 1 */

  @media all and (min-width: $eds-bp-md) {
    margin-top: 0;
    margin-left: var(--eds-size-4); /* 1 */
  }
}

/**
 * Page header kicker
 * 1) Kicker is an optional element that appears above the header
 */
.page-header__kicker {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Page header title
 */
.page-header__title {
  @mixin reset;

  .page-header--center & {
    text-align: center;
  }
}

/**
 * Page title after
 * 1) An optional container that lives inside
 */
.page-header__title-after {
  display: inline-block;
  margin-left: var(--eds-size-1-and-half);
  position: relative;
  top: -1rem; /* TODO */
}

/**
 * Page description
 */
.page-header__description {
  @mixin reset;
  margin-top: var(--eds-size-1);
  @mixin eds-theme-typography-body-text-md;

  .page-header--center & {
    text-align: center;
  }
}
