@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    #PROJECTCOLUMN
\*------------------------------------*/

/**
 * 1) 
 */
.project-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}
