.color-list__label {
  width: fit-content;
  padding: var(--eds-size-half);
  border-radius: var(--eds-theme-box-button-border-radius);

  font: var(--eds-theme-typography-label-md-subtle);
  color: rgb(235, 87, 87);

  background-color: var(--eds-theme-color-background-neutral-subtle);
}

.color-list__input {
  width: 100%;
  height: 5rem;
  border: var(--eds-theme-color-border-neutral-subtle) solid
    var(--eds-border-width-sm);
  outline: var(--eds-theme-color-border-neutral-strong) solid
    var(--eds-border-width-sm);
}

.color-list__input::-webkit-color-swatch {
  border-color: transparent;
}
.color-list__input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-list__input::-moz-color-swatch {
  border-color: transparent;
}
