.color-list__label {
  width: fit-content;
  padding: calc(var(--eds-spacing-size-half) / 16 * 1rem);
  border-radius: calc(var(--eds-theme-box-button-border-radius) * 1px);

  color: rgb(235, 87, 87);

  background-color: var(--eds-theme-color-background-neutral-subtle);
}

.color-list__input {
  width: 100%;
  height: 5rem;
  border: var(--eds-theme-color-border-neutral-subtle) solid calc(var(--eds-border-width-sm) * 1px);
  outline: var(--eds-theme-color-border-neutral-strong) solid calc(var(--eds-border-width-sm) * 1px);
}

.color-list__input::-webkit-color-swatch {
  border-color: transparent;
}

.color-list__input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-list__input::-moz-color-swatch {
  border-color: transparent;
}