/*------------------------------------*\
    # ICON GRID
\*------------------------------------*/

/**
 * The icon grid is not for production and is meant solely to display
 * a grid of icons within the pattern library. THerefore, it does not
 * follow coding conventions
 */

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: calc(var(--eds-spacing-size-2) * 1px);
}

.icon-grid__item {
  text-align: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 8px;
  min-height: calc(var(--eds-spacing-size-10) * 1px);
}

.icon-grid__icon {
  height: 24px;
  width: 24px;
  margin: 0 auto calc(var(--eds-spacing-size-2) * 1px) auto;
}

.icon-grid__text {
  display: block;
  font-size: 0.75rem;
}
