@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #ICON
\*------------------------------------*/

/**
 * 1) Small graphic that represents functionality
 */
.icon {
  display: inline-block;
  /**
   * Size Priority:
   * 1: --icon-size, passed through props
   * 2: --icon-size-default, determined by context (text, button, pill)
   * default: 1em, same size as surrounding text
   *
   * Inspired by https://www.youtube.com/watch?v=EDyiaDJJu-4
   */
   width: var(--icon-size, var(--icon-size-default, 1em));
   height: var(--icon-size, var(--icon-size-default, 1em));

  /**
   * Icon within text passage
   * 1) Places icon inline with text around it
   */
  .text-passage & {
    display: inline; /* 1 */
  }
}

/**
 * Inverted icon
 */
.icon--inverted {
  fill: var(--eds-theme-color-body-foreground-inverted);
}

/**
 * Full-width icon
 * 1) A block icon fills 100% of the width of its container
 */
.icon--full-width {
  display: block
}
