/*------------------------------------*\
    # LOADINGINDICATOR
\*------------------------------------*/

/**
 * LoadingIndicator
 */
.loading-indicator {
  background-color: transparent;
}

/* override for `color` */
.loading-indicator > svg path {
  stroke: var(--eds-theme-color-background-brand-primary-strong);
}

/* override for `secondaryColor` */
.loading-indicator > svg circle {
  stroke: var(--eds-theme-color-background-neutral-medium);
  stroke-opacity: 1;
}
