/*------------------------------------*\
    # LOADINGINDICATOR
\*------------------------------------*/

/**
 * LoadingIndicator
 */
.loading-indicator {
  background-color: transparent;
  padding: 3px; /* ported from react-loader-spinner */
  display: flex;
}

.loading-indicator--invisible {
  display: none;
}

/* override for `color` */
.loading-indicator > svg path {
  stroke: var(--eds-theme-color-border-utility-informational);
}

/* override for `secondaryColor` */
.loading-indicator > svg circle {
  stroke: var(--eds-theme-color-border-utility-default-low-emphasis);
  stroke-opacity: 1;
}

@media screen and (prefers-reduced-motion: reduce) {
  /* if reducing motion, don't show the moving portion */
  .loading-indicator > svg path {
    stroke: none;
  }
}
