/*------------------------------------*\
    # GRID ITEM
\*------------------------------------*/
/**
 * Direct child of grid
 */
.grid__item {
  .grid & {
    padding: var(--eds-size-1-and-half);
    width: 100%;

    @supports (display: grid) {
      padding: 0;
    }
  }

  /**
   * Grid item that span 2 columns
   */
  &.grid__item.grid__item--span-2 {
    width: 100%;

    @supports (display: grid) {
      grid-column: 1 / -1;
    }
  }

  .grid--1-3up & {
    margin: 0 -1.5rem;

    @media all and (min-width: $eds-bp-lg) {
      width: 33.33%;
    }

    @supports (display: grid) {
      width: 100%;
      margin: 0;
    }
  }

  .grid--2up & {
    @media all and (min-width: $eds-bp-md) {
      width: 50%;
    }

    @supports (display: grid) {
      width: 100%;
    }
  }

  .grid--3up & {
    @media all and (min-width: $eds-bp-md) {
      width: 50%;
    }

    @media all and (min-width: $eds-bp-lg) {
      width: 33.33%;
    }

    @supports (display: grid) {
      width: 100%;
    }
  }

  .grid--3up-alt & {
    @media all and (min-width: $eds-bp-md) {
      width: 50%;
    }

    @media all and (min-width: $eds-bp-lg) {
      width: 33.33%;
    }

    @supports (display: grid) {
      width: 100%;
    }
  }

  .grid--4up & {
    @media all and (min-width: $eds-bp-md) {
      width: 50%;
    }

    @media all and (min-width: $eds-bp-lg) {
      width: 33.33%;
    }

    @media all and (min-width: $eds-bp-xl) {
      width: 25%;
    }

    @supports (display: grid) {
      width: 100%;
    }
  }
}
