/*------------------------------------*\
    # INPUT FIELD
\*------------------------------------*/

/**
 * Wraps the Label and the optional/required hint.
 * TODO: match/share the overline styles between Select and InputField
 */
.input-field__overline {
  display: flex;
  margin-bottom: 0.25rem;
  gap: 0.25rem;
}

.input-field__overline--no-label {
  justify-content: flex-start;
}

/**
 * Input Field Within
 *
 * A slot to put arbitrary content that appears within the input field border to the right. 
 *
 * Typically used for buttons and icon buttons to enable things like show/hide password buttons .
 */
.input-field__input-within {
  position: absolute;
  right: 0.5rem;
  top: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;
}

.input-field__leading-icon {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0.5rem;
  display: grid;
  align-items: center;
  justify-content: center;

  color: var(--eds-theme-color-text-utility-default-secondary);
}

/**
 * Input field body
 */
.input-field__body {
  position: relative;
}

.input-field__input--leading-icon {
  padding-left: 2.25rem;
}

.input-field__input--input-within {
  padding-right: 8rem;
}

.input-field__footer {
  display: flex;
  justify-content: space-between;
}

.input-field--has-fieldNote {
  margin-bottom: 0.25rem;
}

.input-field__label {
  color: var(--eds-theme-color-text-utility-default-primary);
  font: var(--eds-theme-typography-form-label);
}

.input-field__label--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}

.input-field__required-text {
  color: var(--eds-theme-color-text-utility-default-secondary);
  font: var(--eds-theme-typography-body-sm);
}

.input-field__character-counter {
  font: var(--eds-theme-typography-body-sm);
  text-align: right;
  flex: 1 0 50%;

  color: var(--eds-theme-color-text-utility-default-secondary);
}

.input-field--invalid-length {
  color: var(--eds-theme-color-text-utility-critical);
}

.input-field__required-text--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}

