/*------------------------------------*\
    # INPUT FIELD
\*------------------------------------*/

/**
 * Wraps the Label and the optional/required hint.
 */
.input-field__overline {
  display: flex;
  align-items: baseline;
  margin-bottom: calc(var(--eds-spacing-size-half) * 1px);
  gap: calc(var(--eds-spacing-size-half) * 1px);
}

.input-field__overline--no-label {
  justify-content: flex-start;
}

/**
 * Input Field Within
 *
 * A slot to put arbitrary content that appears within the input field border to the right. 
 *
 * Typically used for buttons and icon buttons to enable things like show/hide password buttons .
 */
.input-field__input--input-within {
  padding-right: calc(var(--eds-spacing-size-12) * 1px);
}

.input-field__input-within {
  position: absolute;
  right: calc(var(--eds-spacing-size-1) * 1px);
  top: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;

  /* max width is padding size minus right position size */
  max-width: calc(var(--eds-spacing-size-11) * 1px);
}

.input-field__leading-icon {
  position: absolute;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: calc(var(--eds-spacing-size-1) * 1px);
  display: grid;
  align-items: center;
  justify-content: center;

  color: var(--eds-theme-color-icon-utility-default-secondary);
}

/**
 * Input field body
 */
.input-field__body {
  position: relative;
}

.input-field__input--leading-icon {
  padding-left: calc(var(--eds-spacing-size-4-and-half) * 1px);
}

.input-field__footer {
  display: flex;
  justify-content: space-between;
}

.input-field--has-fieldNote {
  margin-bottom: calc(var(--eds-spacing-size-half) * 1px);
}

.input-field__label {
  color: var(--eds-theme-color-text-utility-default-primary);
}

.input-field__label--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}

.input-field__required-text {
  color: var(--eds-theme-color-text-utility-default-secondary);
}

.input-field__character-counter {
  text-align: right;
  flex: 1 0 50%;

  color: var(--eds-theme-color-text-utility-default-secondary);
}

.input-field--invalid-length {
  color: var(--eds-theme-color-text-utility-critical);
}

.input-field__required-text--disabled {
  color: var(--eds-theme-color-text-utility-disabled-primary);
}