@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # CARD WITH NOTIFICATION
\*------------------------------------*/

/**
 * Card recipe with a bottom notification.
 */
.card-with-notification {
  /**
   * Add a border around the entire card and notification.
   */
  border-radius: var(--eds-border-radius-md);
  border: var(--eds-theme-color-border-neutral-subtle) solid
    var(--eds-theme-border-width);
}
.card-with-notification__card {
  /**
   * Remove the redundant border that existed on the card component.
   */
  border: 0;
  border-radius: 0;
}
