/*------------------------------------*\
    # HEADING STORIES
\*------------------------------------*/

/**
 * For the "variant" story to display the different text variant options.
 */
.variant__table {
  /**
   * Uses grid to neatly align the variant variations.
   */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--eds-size-half);
}

/**
 * Color variants are segmented into left, middle, and right columns.
 * Backgrounds were chosen to represent typical body backgrounds.
 */
.variant--white {
  grid-column: 1;
  background-color: var(--eds-theme-color-background-neutral-default);
}

.variant--light {
  grid-column: 2;
  background-color: var(--eds-theme-color-background-neutral-default);
}

.variant--dark {
  grid-column: 3;
  background-color: var(--eds-theme-color-background-neutral-default-inverted);
}
