@import '../../design-tokens/tier-2-usage/typography-usage.css';

/*------------------------------------*\
    # HEADING
\*------------------------------------*/

/**
 * Remove top and bottom margins applied by browser for headings.
 */
:where(.heading) {
  /* Needs `:where` pseudoclass to reduce specificity so class overrides for margin can happen where used. */
  margin-top: 0;
  margin-bottom: 0;
}

/* New type ramp sizes */
.heading--size-headline-lg {
  @mixin eds-theme-typography-headline-lg;
}

.heading--size-headline-md {
  @mixin eds-theme-typography-headline-md;
}

.heading--size-headline-sm {
  @mixin eds-theme-typography-headline-sm;
}

.heading--size-title-md {
  @mixin eds-theme-typography-title-md;
}

.heading--size-title-sm {
  @mixin eds-theme-typography-title-sm;
}

.heading--size-title-xs {
  @mixin eds-theme-typography-title-xs;
}

/* Deprecated; not in figma */
.heading--size-body-sm {
  @mixin eds-theme-typography-body-text-sm-bold;
}

/* Deprecated; not in figma */
.heading--size-body-xs {
  @mixin eds-theme-typography-body-text-xs-bold;
}

/**
 * Heading sizes, correlate to similar numerically named typography token.
 */
.heading--size-h1 {
  @mixin eds-theme-typography-heading-1;
}

.heading--size-h2 {
  @mixin eds-theme-typography-heading-2;
}

.heading--size-h3 {
  @mixin eds-theme-typography-heading-3;
}

.heading--size-h4 {
  @mixin eds-theme-typography-heading-4;
}

.heading--size-h5 {
  @mixin eds-theme-typography-heading-5;
}

/* Deprecated; not in figma */
.heading--size-h6 {
  @mixin eds-theme-typography-heading-6;
}

/* Deprecated; not in figma */
.heading--size-h7 {
  @mixin eds-theme-typography-heading-7;
}

/**
 * Color variants
 */
.heading--error {
  color: var(--eds-theme-color-text-utility-error);
}
.heading--brand {
  color: var(--eds-theme-color-text-brand-primary);
}
/* stylelint-disable-next-line eds/no-tier-1-color-variable */
.heading--info {
  color: var(--eds-color-info-700);
}
.heading--inherit {
  color: inherit;
}
.heading--neutral-subtle {
  color: var(--eds-theme-color-text-neutral-subtle);
}
.heading--neutral-medium {
  color: var(--eds-theme-color-text-neutral-default);
}
.heading--neutral-strong {
  color: var(--eds-theme-color-text-neutral-strong);
}
.heading--success {
  color: var(--eds-theme-color-text-utility-success);
}
.heading--warning {
  color: var(--eds-theme-color-text-utility-warning);
}
.heading--white {
  color: var(--eds-theme-color-text-neutral-default-inverse);
}
