/*------------------------------------*\
    # HEADING
\*------------------------------------*/

/**
 * Map the component preset names to the defined typography tokens
 */
.heading {
  /** 
    */
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-font-family: var(--eds-typography-font-family-1);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);

  font: unset;
  font-family: var(--heading-font-family);
  font-size: calc(var(--heading-font-size) * 1px);
  font-style: var(--heading-font-style, initial);
  line-height: calc(var(--heading-line-height) * 1px);
  font-weight: var(--heading-font-weight);
  text-transform: var(--heading-text-transform, none);
  letter-spacing: var(--heading-letter-spacing);
}

.heading--headline-xl {
  --heading-font-size: var(--eds-typography-preset-800-font-size);
  --heading-line-height: var(--eds-typography-preset-800-line-height);
  --heading-font-family: var(--eds-typography-font-family-2);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --heading-font-size: var(--eds-typography-preset-1400-font-size);
    --heading-line-height: var(--eds-typography-preset-1400-line-height);
  }
}

.heading--headline-lg {
  --heading-font-size: var(--eds-typography-preset-800-font-size);
  --heading-line-height: var(--eds-typography-preset-800-line-height);
  --heading-font-family: var(--eds-typography-font-family-2);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --heading-font-size: var(--eds-typography-preset-1000-font-size);
    --heading-line-height: var(--eds-typography-preset-1000-line-height);
  }
}

.heading--headline-md {
  --heading-font-size: var(--eds-typography-preset-600-font-size);
  --heading-line-height: var(--eds-typography-preset-600-line-height);
  --heading-font-family: var(--eds-typography-font-family-2);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --heading-font-size: var(--eds-typography-preset-800-font-size);
    --heading-line-height: var(--eds-typography-preset-800-line-height);
  }
}

.heading--headline-sm {
  --heading-font-size: var(--eds-typography-preset-600-font-size);
  --heading-line-height: var(--eds-typography-preset-600-line-height);
  --heading-font-family: var(--eds-typography-font-family-2);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--headline-decorative-inline-xl {
  --heading-font-size: calc(var(--eds-typography-preset-800-font-size) + var(--eds-typography-font-family-size-offset-2));
  --heading-line-height: var(--eds-typography-preset-800-line-height);
  --heading-font-family: var(--eds-typography-font-family-2);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-font-style: var(--eds-theme-typography-font-style-headline-decorative-inline);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --heading-font-size: calc(var(--eds-typography-preset-1400-font-size) + var(--eds-typography-font-family-size-offset-2));
    --heading-line-height: var(--eds-typography-preset-1400-line-height);
  }
}

.heading--headline-decorative-inline-lg {
  --heading-font-size: calc(var(--eds-typography-preset-800-font-size) + var(--eds-typography-font-family-size-offset-2));
  --heading-line-height: var(--eds-typography-preset-800-line-height);
  --heading-font-family: var(--eds-typography-font-family-2);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-font-style: var(--eds-theme-typography-font-style-headline-decorative-inline);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --heading-font-size: calc(var(--eds-typography-preset-1000-font-size) + var(--eds-typography-font-family-size-offset-2));
    --heading-line-height: var(--eds-typography-preset-1000-line-height);
  }
}

.heading--headline-decorative-inline-md {
  --heading-font-size: calc(var(--eds-typography-preset-600-font-size) + var(--eds-typography-font-family-size-offset-2));
  --heading-line-height: var(--eds-typography-preset-600-line-height);
  --heading-font-family: var(--eds-typography-font-family-2);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-font-style: var(--eds-theme-typography-font-style-headline-decorative-inline);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --heading-font-size: calc(var(--eds-typography-preset-800-font-size) + var(--eds-typography-font-family-size-offset-2));
    --heading-line-height: var(--eds-typography-preset-800-line-height);
  }
}

.heading--headline-decorative-inline-sm {
  --heading-font-size: calc(var(--eds-typography-preset-600-font-size) + var(--eds-typography-font-family-size-offset-2));
  --heading-line-height: var(--eds-typography-preset-600-line-height);
  --heading-font-family: var(--eds-typography-font-family-2);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-font-style: var(--eds-theme-typography-font-style-headline-decorative-inline);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);

  @media screen and (min-width: $eds-bp-md) {
    --heading-font-size: calc(var(--eds-typography-preset-600-font-size) + var(--eds-typography-font-family-size-offset-2));
    --heading-line-height: var(--eds-typography-preset-600-line-height);
  }
}

.heading--title-xl {
  --heading-font-size: var(--eds-typography-preset-800-font-size);
  --heading-line-height: var(--eds-typography-preset-800-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--title-lg {
  --heading-font-size: var(--eds-typography-preset-500-font-size);
  --heading-line-height: var(--eds-typography-preset-500-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--title-md {
  --heading-font-size: var(--eds-typography-preset-300-font-size);
  --heading-line-height: var(--eds-typography-preset-300-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--title-sm {
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--title-xs {
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-xl {
  --heading-font-size: var(--eds-typography-preset-600-font-size);
  --heading-line-height: var(--eds-typography-preset-600-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-xl-bold {
  --heading-font-size: var(--eds-typography-preset-600-font-size);
  --heading-line-height: var(--eds-typography-preset-600-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-lg {
  --heading-font-size: var(--eds-typography-preset-400-font-size);
  --heading-line-height: var(--eds-typography-preset-400-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-lg-bold {
  --heading-font-size: var(--eds-typography-preset-400-font-size);
  --heading-line-height: var(--eds-typography-preset-400-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-md {
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-md-bold {
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-sm {
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-sm-bold {
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-xs {
  --heading-font-size: var(--eds-typography-preset-075-font-size);
  --heading-line-height: var(--eds-typography-preset-075-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--body-xs-bold {
  --heading-font-size: var(--eds-typography-preset-075-font-size);
  --heading-line-height: var(--eds-typography-preset-075-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--label-xl {
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--label-lg {
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--label-md {
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--label-sm {
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--overline-lg {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
  --heading-text-transform: uppercase;
}

.heading--overline-md {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
  --heading-text-transform: uppercase;
}

.heading--overline-sm {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-075-font-size);
  --heading-line-height: var(--eds-typography-preset-075-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
  --heading-text-transform: uppercase;
}

.heading--caption-md {
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--caption-sm {
  --heading-font-size: var(--eds-typography-preset-075-font-size);
  --heading-line-height: var(--eds-typography-preset-075-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--input {
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--tab-lg-active {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--tab-lg {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--tab-sm-active {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-075-font-size);
  --heading-line-height: var(--eds-typography-preset-075-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-bold);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--tab-sm {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-075-font-size);
  --heading-line-height: var(--eds-typography-preset-075-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--code-xl {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-600-font-size);
  --heading-line-height: var(--eds-typography-preset-600-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-light);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--code-lg {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-400-font-size);
  --heading-line-height: var(--eds-typography-preset-400-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--code-md {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-200-font-size);
  --heading-line-height: var(--eds-typography-preset-200-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--code-sm {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-100-font-size);
  --heading-line-height: var(--eds-typography-preset-100-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}

.heading--code-xs {
  --heading-font-family: var(--eds-typography-font-family-3);
  --heading-font-size: var(--eds-typography-preset-075-font-size);
  --heading-line-height: var(--eds-typography-preset-075-line-height);
  --heading-font-weight: var(--eds-typography-font-weight-normal);
  --heading-letter-spacing: var(--eds-typography-letter-spacing-normal);
}