/*------------------------------------*\
    # MODAL HEADER
\*------------------------------------*/

/**
 * Header for the modal.
 */
.modal-header {
  width: 100%;
  background-color: var(--eds-theme-color-background-neutral-default);
  padding-top: var(--eds-size-7);
  padding-left: var(--modal-horizontal-padding);
  padding-right: var(--modal-horizontal-padding);
}

/**
 * Brand variant for the header.
 * 1) Brand specific font for the title.
 */
.modal-header--brand {
  height: 19.75rem;

  color: var(--eds-theme-color-text-neutral-default-inverse);
  background-color: var(--eds-color-brand-grape-500);
  h2 {
    /* 1 */
    font-family: 'Mint Grotesk V1.1', sans-serif;
    font-weight: var(--eds-font-weight-medium);
    @media all and (min-width: $eds-bp-xl) {
      font-size: var(--eds-size-6);
      line-height: var(--eds-size-7);
    }
  }
}

/**
 * Specific asset placement for brand.
 */
.modal-header__brand-asset {
  position: absolute;

  top: 12rem;
  right: var(--eds-size-2);

  width: 8.5rem;
  height: 8.5rem;

  @media all and (min-width: $eds-bp-md) {
    position: relative;
    float: right;

    top: 3.25rem;
    right: -1.5rem;

    width: 14rem;
    height: 14rem;
  }
  @media all and (min-width: $eds-bp-xl) {
    top: var(--eds-size-1-and-half);
    right: calc(-1 * var(--eds-size-1));

    width: 16.5rem;
    height: 16.5rem;
  }
}
