@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # BUTTON ACTION CALLOUT CARD
\*------------------------------------*/

/**
 * Card elevated to drive attention and give an action.
 */

/**
 * Button action callout card body inner
 *
 * Wrapper around the description and button.
 */
.button-action-callout-card__body-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--eds-size-2);
  margin-top: var(--eds-size-half);

  @media all and (min-width: $eds-bp-md) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
