@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # ACCORDION
\*------------------------------------*/

/**
 * 1) A list of buttons that contain additional content that toggle open/close when link is selected
 */
.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom-style: solid;
  border-bottom-width: var(--eds-theme-border-width);
  border-bottom-color: var(--eds-theme-color-border-neutral-subtle);
}

/**
 * Inverted accordion
 * 1) Make the text lighter to be accessible on darker backgrounds
 */
.accordion--inverted {
  color: var(--eds-theme-color-text-neutral-default-inverse);
  border-bottom-color: var(--eds-theme-color-border-neutral-strong);
}
