@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # MODAL
\*------------------------------------*/

/**
 * 1) Box that overlays the application's content, prompting a user to perform an action
 * 2) This transform rule stops the background overlay (present when modal is open)
 *    from flickering when a button is hovered within the modal
 */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--eds-z-index-200) 0;
  overflow: auto;
  background-color: transparent;
  transition: all var(--eds-anim-fade-long) var(--eds-anim-ease);
  transform: translateZ(0); /* 2 */

  &.eds-is-active {
    visibility: visible;
    background-color: var(--eds-color-transparent-25);
  }

  &:focus-visible {
    @mixin focus;
  }
}
.modal:not(.modal--full-screen) {
  @media all and (min-width: $eds-bp-sm-2) {
    height: 100vh;
  }
}

/**
 * Modal window
 * 1) Actual box with content within
 */
.modal__window {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  opacity: 0;
  background: var(--eds-theme-color-body-background);
  border-radius: var(--eds-theme-border-radius);
  box-shadow: var(--eds-theme-box-shadow);
  transition: opacity var(--eds-anim-fade-quick) var(--eds-anim-ease);
  overscroll-behavior-y: contain;

  /**
     * Modal window inside active modal
     * 1) Transform added for animation
     */
  .modal.eds-is-active & {
    opacity: 1;
    transform: translateY(0);
    transition: opacity var(--eds-anim-fade-quick) var(--eds-anim-ease);
  }

  &:focus-visible {
    @mixin focus;
  }
}

.modal:not(.modal--full-screen) .modal__window {
  @media all and (min-width: $eds-bp-sm-2) {
    position: relative;
    width: 40rem;
    max-width: 90%;
    height: auto;
    transform: translateY(4rem);
    overflow: auto;
    max-height: 90vh;
    transition: opacity var(--eds-anim-fade-quick) var(--eds-anim-ease),
      transform var(--eds-anim-fade-quick) var(--eds-anim-ease);
  }
}
.modal.modal--narrow .modal__window {
  /**
   * Modal window inside narrow modal
   * 1) Modal window that is narrower than the default
   */
  width: 27rem;
  @media all and (max-width: $eds-bp-sm-2) {
    width: 100%;
  }
}
.modal.modal--wide .modal__window {
  /**
   * Modal window inside wide modal
   * 1) Modal window that is wider than the default
   */
  width: 60rem;
}
.modal.eds-is-active:not(.modal--full-screen) .modal__window {
  @media all and (min-width: $eds-bp-sm-2) {
    /**
     * Modal window inside active modal
     * 1) Transform added for animation
     */
    transform: translateY(0);
    transition: opacity 0.3s var(--eds-anim-ease),
      transform 0.3s var(--eds-anim-ease);
  }
}

/**
 * Modal button container
 */
.modal__btn-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: var(--eds-size-2);
  padding-right: var(--eds-size-2);
  padding-bottom: var(--eds-size-2);
  padding-left: var(--eds-size-4);
  background: var(--eds-theme-color-body-background);
  border-bottom: 1px solid var(--eds-theme-color-neutral-subtle-border);
  z-index: var(--eds-z-index-100);
}
.modal:not(.modal--full-screen) .modal__btn-container {
  @media all and (min-width: $eds-bp-sm-2) {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

/**
 * Close button 
 */
.modal__close-button {
  margin-left: auto;
}

.modal:not(.modal--full-screen) .modal__close-button {
  @media all and (min-width: $eds-bp-sm-2) {
    display: block;
    position: absolute;
    top: var(--eds-size-2);
    right: var(--eds-size-2);
  }
}

.modal__content {
  padding-top: var(--eds-size-7);
  padding-bottom: var(--eds-size-4);
  height: 100vh;
  overflow: auto;
}
.modal:not(.modal--full-screen) .modal__content {
  @media all and (min-width: $eds-bp-sm-2) {
    padding-top: 0;
    height: auto;
  }
}

/**
 * Modal header
 */
.modal__header {
  padding-top: var(--eds-size-3);
  padding-left: var(--eds-size-4);
  padding-right: var(--eds-size-4);
  margin-bottom: var(--eds-size-2);

  .modal--hero & {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

/**
 * Modal body
 */
.modal__body {
  padding-left: var(--eds-size-4);
  padding-right: var(--eds-size-4);
}

/**
 * Modal footer
 */
.modal__footer {
  padding-left: var(--eds-size-4);
  padding-right: var(--eds-size-4);
  margin-top: var(--eds-size-2);
}
