@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # MODAL
\*------------------------------------*/

/**
 * The modal wrapper and overlay which takes up the entire screen.
 */
.modal,
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

/**
 * The modal container which positions the modal in the center of the screen.
 */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: calc(var(--eds-spacing-size-2) * 1px); */

  /**
   * Ensures modal is above other components. This is not a design token for now since we need to align on 
   * z-indeces across the system
   */
  z-index: 1050;
}

.modal__panel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * The content of the modal, which can wrap header, body, and footer.
 */
.modal__content {
  position: relative;
  overflow: hidden;

  /** 
  * This transparent border is for Window High Contrast Mode, which removes all
  * background colors but makes borders 100% opacity black. Without this, the
  * modal would have no clear boundary. 
  */
  border: var(--eds-theme-form-border-width) transparent var(--eds-theme-color-background-utility-container);

  display: flex;
  flex-direction: column;

  background-color: var(--eds-theme-color-background-utility-container);
}

/**
 * Header for the modal.
 */
.modal-header {
  width: 100%;

  padding: calc(var(--eds-spacing-size-3) * 1px) calc(var(--eds-spacing-size-4) * 1px);
}

.modal-title {
  color: var(--eds-theme-color-text-utility-default-primary)
}
/**
 * The body of the modal
 */
.modal-body {
  flex: 1;
  padding: 0 calc(var(--eds-spacing-size-4) * 1px);
}

/**
 * Footer for the modal.
 */
.modal-footer {
  width: 100%;
  z-index: 1000;

  padding: calc(var(--eds-spacing-size-3) * 1px) calc(var(--eds-spacing-size-4) * 1px);

  background-color: var(--eds-theme-color-background-utility-container);
}

.modal-footer--sticky {
  position: sticky;
  bottom: 0;

  box-shadow: var(--eds-box-shadow-xl);
}

/**
 * Modal transition animations.
 */
.modal__transition--enter {
  transition: opacity calc(var(--eds-anim-fade-long) * 1s) var(--eds-anim-ease);

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.modal__transition--enterFrom {
  opacity: 0;
}

.modal__transition--enterTo {
  opacity: 1;
}

.modal__transition--leave {
  transition: opacity calc(var(--eds-anim-fade-long) * 1s) var(--eds-anim-ease);

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.modal__transition--leaveFrom {
  opacity: 1;
}

.modal__transition--leaveTo {
  opacity: 0;
}

/**
 * The large modal size used for the lg/default modal.
 */
.modal__content--lg {
  &.modal__content--height-fixed {
    @media all and (min-width: $eds-bp-xs) {
      width: 100%;
      height: 100%;
    }

    @media all and (min-width: $eds-bp-sm) {
      max-height: 640px;
      max-width: 800px;

      margin: calc(var(--eds-spacing-size-3) * 1px);
    }

    @media all and (min-width: $eds-bp-md) {
      max-height: 640px;
      max-width: 800px;

      margin: calc(var(--eds-spacing-size-6) * 1px);
    }

    @media all and (min-width: $eds-bp-lg) {
      max-height: 640px;
      max-width: 960px;
      
      margin: calc(var(--eds-spacing-size-6) * 1px);
    }

    @media all and (min-width: $eds-bp-xl) {
      max-height: 640px;
      max-width: 960px;

      margin: calc(var(--eds-spacing-size-6) * 1px);
    }
  }

  &.modal__content--height-auto {
    @media all and (min-width: $eds-bp-xs) {
      width: 100%;
      height: 100%;
    }

    @media all and (min-width: $eds-bp-sm) {
      max-width: 800px;
      max-height: calc(100vh - (var(--eds-spacing-size-12) * 1px));

      margin: calc(var(--eds-spacing-size-3) * 1px);
    }

    @media all and (min-width: $eds-bp-md) {
      max-width: 800px;
      max-height: calc(100vh - (var(--eds-spacing-size-12) * 1px));

      margin: calc(var(--eds-spacing-size-6) * 1px);
    }

    @media all and (min-width: $eds-bp-lg) {
      max-width: 960px;
      max-height: calc(100vh - (var(--eds-spacing-size-12) * 1px));

      margin: calc(var(--eds-spacing-size-6) * 1px);
    }

    @media all and (min-width: $eds-bp-xl) {
      max-width: 960px;
      max-height: calc(100vh - (var(--eds-spacing-size-12) * 1px));

      margin: calc(var(--eds-spacing-size-6) * 1px);
    }
  }

  &.modal__content--height-max {
    @media all and (min-width: $eds-bp-xs) {
      width: 100%;
      height: 100%;
    }

    @media all and (min-width: $eds-bp-sm) {
      max-width: 800px;
      height: calc(100vh - (var(--eds-spacing-size-12) * 1px));

      margin: calc(var(--eds-spacing-size-3) * 1px);
    }

    @media all and (min-width: $eds-bp-md) {
      max-width: 800px;
      height: calc(100vh - (var(--eds-spacing-size-12) * 1px));

      margin: calc(var(--eds-spacing-size-6) * 1px);
    }

    @media all and (min-width: $eds-bp-lg) {
      max-width: 960px;
      height: calc(100vh - (var(--eds-spacing-size-12) * 1px));

      margin: calc(var(--eds-spacing-size-6) * 1px);
    }

    @media all and (min-width: $eds-bp-xl) {
      max-width: 960px;
      height: calc(100vh - (var(--eds-spacing-size-12) * 1px));

      margin: calc(var(--eds-spacing-size-6) * 1px);
    }
  }
}

/**
 * The small modal size used for the modal.
 */
.modal__content--sm {
  @media all and (min-width: $eds-bp-xs) {
    max-height: 480px;
    max-width: 560px;

    margin: calc(var(--eds-spacing-size-3) * 1px);
  }

  @media all and (min-width: $eds-bp-sm) {
    max-height: 400px;
    max-width: 480px;
  }

  @media all and (min-width: $eds-bp-md) {
    max-height: 400px;
    max-width: 480px;
  }

  @media all and (min-width: $eds-bp-lg) {
    max-height: 480px;
    max-width: 560px;
  }

  @media all and (min-width: $eds-bp-xl) {
    max-height: 480px;
    max-width: 560px;
  }
}

/**
 * Allows scrolling of the modal content except for sticky footer.
 * This functionality is our intended scroll behavior but consuming teams can 
 * style the body content as they wish to handle overflow in various ways.
 */
.modal__content--scrollable {
  overflow: auto;
}

/**
 * The modal close button.
 */
.modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-sub-title {
  color: var(--eds-theme-color-text-utility-default-secondary);
}

/**
 * The inverted background of the modal to provide contrast with the actual modal.
 */
.modal__overlay {
  &.modal__overlay--emphasis-high {
    background-color: rgb(from var(--eds-theme-color-background-utility-overlay-high-emphasis) r g b / 0.8);
  }

  &.modal__overlay--emphasis-low {
    background-color: rgb(from var(--eds-theme-color-background-utility-overlay-low-emphasis) r g b / 0.5);
  }
}