/**
 * Footer button group that is justified toward the end of the footer.
 */
.footer__button-group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

/**
 * Wraps the non interactive stories.
 */
.default__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
 * Background for the non interactive stories.
 */
.default__background {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--eds-theme-color-body-background-inverted);
  opacity: 0.5;
}

/**
 * Last paragraph of the long text stories.
 * Removes browser placed margin-bottom for <p>.
 */
.long-text__last-paragraph {
  margin-bottom: 0;
}

/**
 * Footer story example with stepper. Separates the stepper and button group.
 */
.footer--with-stepper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
