@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TILE
\*------------------------------------*/

/**
 * 1) Block containing an icon and text
 */
.tile {
  padding: var(--eds-size-2);
  background: var(--eds-theme-color-background-neutral-subtle);
  border-radius: var(--eds-border-radius-md);
}
