@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #LAYOUT SECTION
\*------------------------------------*/
/**
 * Sidebar layout section region
 * 1) Contains the global header and site navigation
 */
.layout__section--sidebar {
  @media all and (min-width: $eds-bp-lg) {
    top: 0;
    left: 0;
    width: 3.625rem;
    height: 100vh;
    z-index: var(--eds-z-index-500);
    transition: width var(--eds-anim-move-quick) var(--eds-anim-ease);

    &:hover, &:focus-within {
      width: var(--eds-l-sidebar-width);
    }
  }
}

/**
 * Main layout section region 
 * 1) Contains the main page content
 */
.layout__section--main {

  @media all and (min-width: $eds-bp-lg) {
    width: calc(100% - 3.625rem));
    height: 100vh;
    padding-top: var(--eds-size-6);
  }
}

