/*------------------------------------*\
    # VISUAL PAGE INDICATOR
\*------------------------------------*/

/**
 * VisualPageIndicator
 */
.visual-page-indicator {
    display: flex;
    justify-content: center;
    gap: calc(var(--eds-spacing-size-1-and-half) * 1px);
}

.visual-page-indicator__item {
    --visual-page-indicator-bg: light-dark(var(--eds-theme-color-background-visual-page-indicator), var(--eds-dark-theme-color-background-visual-page-indicator));

    height: calc(var(--eds-spacing-size-1-and-half) * 1px);
    width: calc(var(--eds-spacing-size-1-and-half) * 1px);
    border-radius: calc(var(--eds-border-radius-full) * 1px);

    transition: background-color ease calc(var(--eds-anim-move-medium) * 1s);

    background-color: var(--visual-page-indicator-bg);
}

.visual-page-indicator--active {
    --visual-page-indicator-bg: var(--eds-theme-color-background-visual-page-indicator-current);
}

@media screen and (prefers-reduced-motion: reduce) {
    .visual-page-indicator__item {
        transition: none;
    }
}