@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # DROPDOWN MENU
\*------------------------------------*/

/**
 * Define themable properties
 */

/**
 * Dropdown menu.
 */
.dropdown-menu {
  /* Set a minimum width for the dropdown menu. */
  width: 16rem;
  background: var(--eds-theme-color-background-neutral-default);
  border: 1px solid var(--eds-theme-color-border-neutral-subtle);
  border-radius: var(--eds-border-radius-md);
  box-shadow: var(--eds-box-shadow-md);

  /**
   * Dropdown menu within active dropdown menu item.
   */
  .dropdown-menu__item.eds-is-active & {
    visibility: visible;
    transition-delay: 0s;
  }

  /**
   * Dropdown menu within dropdown menu item align top left
   * Position nested dropdown menu to the left and aligned at the bottom of dropdown menu item
   */
  .dropdown-menu__item--align-top-left > & {
    top: auto;
    bottom: 0;
  }
}

/**
 * Dropdown menu list.
 */
.dropdown-menu__list {
  list-style: none;
}

/**
 * Dropdown menu item.
 */
.dropdown-menu__item {
  position: relative;
  width: 100%;
}

/**
 * Dropdown menu link.
 */
.dropdown-menu__link {
  @mixin eds-theme-typography-body-sm;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--eds-size-1);
  appearance: none;
  background: none;
  text-decoration: none;
  border: none;
  width: 100%;
  padding: var(--eds-size-1-and-half) var(--eds-size-2);
  text-align: left;
  color: var(--eds-theme-color-text-neutral-default);
  transition: background var(--eds-anim-fade-quick) var(--eds-anim-ease);

  &:hover {
    background: var(--eds-theme-color-background-neutral-subtle);
  }

  &:focus {
    @mixin focus;
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  /**
   * Dropdown menu link within a lined dropdown menu item.
   */
  .dropdown-menu__item--lined & {
    /* Add bottom border to the item. */
    border-bottom: 1px solid var(--eds-theme-color-border-neutral-subtle);
  }

  .dropdown-menu__item--error & {
    color: var(--eds-theme-color-text-utility-error);
  }
}
