@import '../../../../src/design-tokens/mixins.css';

/*------------------------------------*\
  # TYPOGRAPHY USAGE
\*------------------------------------*/

/**
 *  Use typography tokens to display the type ramp
 */

/* TODO-AH: these should actually use the relevant tier 2 tokens. the tier 3 ones need to be on their own page */

.typography-usage--headline-lg {
  font: var(--eds-typography-preset-001-bold);
}

.typography-usage--headline-md {
  font: var(--eds-typography-preset-002-bold);
}

.typography-usage--headline-sm {
  font: var(--eds-typography-preset-003-bold);
}

.typography-usage--title-md {
  font: var(--eds-typography-preset-004-bold);
}

.typography-usage--title-sm {
  font: var(--eds-typography-preset-005-bold);
}

.typography-usage--title-xs {
  font: var(--eds-typography-preset-007-bold);
}

.typography-usage--label-lg-subtle {
  font: var(--eds-typography-preset-005);
}

.typography-usage--label-md-subtle {
  font: var(--eds-typography-preset-007);
}

.typography-usage--label-md {
  font: var(--eds-typography-preset-007-bold);
}

.typography-usage--label-sm {
  font: var(--eds-typography-preset-009-bold);
}

.typography-usage--body-lg {
  font: var(--eds-typography-preset-004-light);
}

.typography-usage--body-md {
  font: var(--eds-typography-preset-005-light);
}

.typography-usage--body-sm {
  font: var(--eds-typography-preset-006-light);
}

.typography-usage--body-xs {
  font: var(--eds-typography-preset-008-light);
}

.typography-usage--caption-lg {
  font: var(--eds-typography-preset-006);
}

.typography-usage--caption-md {
  font: var(--eds-typography-preset-008);
}

.typography-usage--caption-sm {
  font: var(--eds-typography-preset-010);
}

.typography-usage--button-label {
  font: var(--eds-typography-preset-006-bold);
}

.typography-usage--form-label {
  font: var(--eds-typography-preset-006-bold);
}

.typography-usage--form-input {
  font: var(--eds-typography-preset-005);
}

.typography-usage--overline {
  font: var(--eds-typography-preset-011);
  text-transform: uppercase;
}

.typography-usage--overline-sm {
  font: var(--eds-typography-preset-012);
  text-transform: uppercase;
}

.typography-usage--tag {
  font: var(--eds-typography-preset-009-bold);
}

.typography-usage--callout {
  font: var(--eds-typography-preset-002-light);
}

/**
 * Legacy utility classes that aren't a part of the new
 * design system.
 */

/**
 * Heading 1
 */
.typography-usage--heading-1 {
  @mixin eds-theme-typography-heading-1;
}

/**
 * Heading 2
 */
.typography-usage--heading-2 {
  @mixin eds-theme-typography-heading-2;
}

/**
 * Heading 3
 */
.typography-usage--heading-3 {
  @mixin eds-theme-typography-heading-3;
}

/**
 * Heading 4
 */
.typography-usage--heading-4 {
  @mixin eds-theme-typography-heading-4;
}

/**
 * Heading 5
 */
.typography-usage--heading-5 {
  @mixin eds-theme-typography-heading-5;
}

/**
 * Heading 6
 */
.typography-usage--heading-6 {
  @mixin eds-theme-typography-heading-6;
}
