@import '../../../../src/design-tokens/mixins.css';

/*------------------------------------*\
  # TYPOGRAPHY USAGE UTILITY CLASSES
\*------------------------------------*/

/**
 *  Utility classes to apply typography usage mixins to elements
 */

.u-theme-typography-headline-lg {
  @mixin eds-typography-preset-001-bold;
}

.u-theme-typography-headline-md {
  @mixin eds-typography-preset-002-bold;
}

.u-theme-typography-headline-sm {
  @mixin eds-typography-preset-003-bold;
}

.u-theme-typography-title-md {
  @mixin eds-typography-preset-004-bold;
}

.u-theme-typography-title-sm {
  @mixin eds-typography-preset-005-bold;
}

.u-theme-typography-title-xs {
  @mixin eds-typography-preset-007-bold;
}

.u-theme-typography-label-lg-subtle {
  @mixin eds-typography-preset-005;
}

.u-theme-typography-label-md-subtle {
  @mixin eds-typography-preset-007;
}

.u-theme-typography-label-md {
  @mixin eds-typography-preset-007-bold;
}

.u-theme-typography-label-sm {
  @mixin eds-typography-preset-009-bold;
}

.u-theme-typography-body-text-lg {
  @mixin eds-typography-preset-004;
}

.u-theme-typography-body-text-md {
  @mixin eds-typography-preset-005-light;
}

.u-theme-typography-body-text-sm {
  @mixin eds-typography-preset-006;
}

.u-theme-typography-body-text-xs {
  @mixin eds-typography-preset-008;
}

.u-theme-typography-caption-text-lg {
  @mixin eds-typography-preset-006;
}

.u-theme-typography-caption-text-md {
  @mixin eds-typography-preset-008;
}

.u-theme-typography-caption-text-sm {
  @mixin eds-typography-preset-010;
}

.u-theme-typography-button-label {
  @mixin eds-typography-preset-006-bold;
}

.u-theme-typography-form-label {
  @mixin eds-typography-preset-006-bold;
}

.u-theme-typography-form-input {
  @mixin eds-typography-preset-005;
}

.u-theme-typography-overline {
  @mixin eds-typography-preset-011-bold;
}

.u-theme-typography-overline-sm {
  @mixin eds-typography-preset-012-bold;
}

.u-theme-typography-tag {
  @mixin eds-typography-preset-009-bold;
}
.u-theme-typography-callout {
  @mixin eds-typography-preset-002-light;
}

/**
 * Legacy utility classes that aren't a part of the new
 * design system.
 */

/**
 * Body text bold
 */
.u-theme-typography-body-text-bold {
  @mixin eds-theme-typography-body-text-md;
}

/**
 *  Body text sm bold
 */
.u-theme-typography-body-text-sm-bold {
  @mixin eds-theme-typography-body-text-sm;
}

/**
 *  Body text xs bold
 */
.u-theme-typography-body-text-xs-bold {
  @mixin eds-theme-typography-body-text-xs-bold;
}

/**
 *  Body text lg bold
 */
.u-theme-typography-body-text-lg-bold {
  @mixin eds-theme-typography-body-text-lg-bold;
}

/**
 * Heading 1
 */
.u-theme-typography-heading-1 {
  @mixin eds-theme-typography-heading-1;
}

/**
 * Heading 2
 */
.u-theme-typography-heading-2 {
  @mixin eds-theme-typography-heading-2;
}

/**
 * Heading 3
 */
.u-theme-typography-heading-3 {
  @mixin eds-theme-typography-heading-3;
}

/**
 * Heading 4
 */
.u-theme-typography-heading-4 {
  @mixin eds-theme-typography-heading-4;
}

/**
 * Heading 5
 */
.u-theme-typography-heading-5 {
  @mixin eds-theme-typography-heading-5;
}

/**
 * Heading 6
 */
.u-theme-typography-heading-6 {
  @mixin eds-theme-typography-heading-6;
}
