@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # DRAWER
\*------------------------------------*/

/**
 * 1) Box that overlays the application's content, prompting a user to perform an action
 * 2) This transform rule stops the background overlay (present when modal is open)
 *    from flickering when a button is hovered within the modal
 */
.drawer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  visibility: hidden;
  width: 28rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--eds-z-index-bottom);
  background-color: transparent;
}

.drawer:focus-visible {
  @mixin focus;
}

/**
* Active modal
*/
.drawer--is-active {
  visibility: visible;
  z-index: var(--eds-z-index-400);
}

/**
 * Modal window
 * 1) Actual box with content within
 */
.drawer__window {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  background: var(--eds-theme-color-background-neutral-default);
  border-left-width: var(--eds-theme-border-width);
  border-left-style: solid;
  border-left-color: var(--eds-theme-color-border-neutral-subtle);
  box-shadow: var(--eds-box-shadow-md);
  transition: transform var(--eds-anim-move-quick) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}
.drawer__window:focus-visible {
  @mixin focus;
}

/**
* Modal window inside active modal
* 1) Transform added for animation
*/
.drawer--is-active .drawer__window {
  transform: translateX(0); /* 1 */
}

/**
 * Modal header
 */
.drawer__header {
  flex-shrink: 0;
  height: var(--eds-size-9);
  border-bottom: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-neutral-subtle);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**
 * Modal body
 */
.drawer__body {
  flex: 1;
}
