@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # DRAWER
\*------------------------------------*/

/**
 * Box that overlays the application's content, prompting a user to perform an action.
 */
.drawer__container {
  @apply flex flex-col items-end justify-end invisible;
  width: 28rem;
  height: 100vh;
  top: 0;
  right: 0;
  @apply fixed z-bottom bg-transparent;
}

/**
 * Active drawer container
 */
.drawer__container--is-active {
  @apply visible z-400;
}

/**
 * Drawer window
 * Actual box with content within
 */
.drawer {
  @apply flex flex-col w-full;
  height: 100vh;
  transform: translateX(100%);
  background: var(--eds-theme-color-background-neutral-default);
  border-left-width: var(--eds-theme-border-width);
  border-left-style: solid;
  border-left-color: var(--eds-theme-color-border-neutral-subtle);
  @apply shadow-md;
  transition: transform var(--eds-anim-move-quick) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}
.drawer:focus-visible {
  @mixin focusInside;
}

@supports not selector(:focus-visible) {
  .drawer:focus {
    @mixin focusInside;
  }
}

/**
 * Drawer window inside active drawer container
 */
.drawer__container--is-active .drawer {
  /**
   * Transform added for animation
   */
  transform: translateX(0);
}

/**
 * Modal header
 */
.drawer__header {
  @apply shrink-0 h-9 flex items-center justify-between;
  border-bottom: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-neutral-subtle);
}

/**
 * Drawer body
 */
.drawer__body {
  flex: 1;
}
