@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # DRAWER
\*------------------------------------*/

/**
 * Box that overlays the application's content, prompting a user to perform an action.
 */
.drawer__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  visibility: hidden;
  width: 28rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--eds-z-index-bottom);
  background-color: transparent;
}

/**
 * Active drawer container
 */
.drawer__container--is-active {
  visibility: visible;
  z-index: 400;
}

/**
 * Drawer window
 * Actual box with content within
 */
.drawer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  background: var(--eds-theme-color-background-neutral-default);
  border-left-width: var(--eds-theme-border-width);
  border-left-style: solid;
  border-left-color: var(--eds-theme-color-border-neutral-subtle);
  box-shadow: var(--eds-box-shadow-md);
  transition: transform var(--eds-anim-move-quick) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}
.drawer:focus-visible {
  @mixin focusInside;
}

@supports not selector(:focus-visible) {
  .drawer:focus {
    @mixin focusInside;
  }
}

/**
 * Drawer window inside active drawer container
 */
.drawer__container--is-active .drawer {
  /**
   * Transform added for animation
   */
  transform: translateX(0);
}

/**
 * Modal header
 */
.drawer__header {
  flex-shrink: 0;
  height: var(--eds-size-9);
  border-bottom: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-neutral-subtle);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/**
 * Drawer body
 */
.drawer__body {
  flex: 1;
}
