@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * 1) Global container for the header component. This helps set the stage for header recipes across applications
 */
.header {
  display: flex;
  background-color: var(--eds-theme-color-primary-background);
  color: var(--eds-theme-color-body-foreground-inverted);
  padding: var(--eds-size-1) var(--eds-size-2);
  position: relative;
  width: 100%;
  z-index: var(--eds-z-index-500);

  @media all and (min-width: $eds-bp-lg) {
    flex-direction: column;
    width: auto;
    padding: var(--eds-size-6) var(--eds-size-2-and-half) var(--eds-size-6)
      var(--eds-size-2-and-half);
    height: 100vh;
  }
}

/**
 * Container around sticky header
 * 1) This is added to
 */
.header-sticky-container {
  height: 100vh;
  transition: all var(--eds-anim-move-quick) var(--eds-anim-ease);

  &:hover,
  &:focus-within {
    width: 100%;
  }

  @media all and (max-width: $eds-bp-lg) {
    height: auto;
    position: static;
    margin-bottom: var(--eds-size-4);
  }
}

/**
* Pinned sticky header
* 1) Pins the sticky header to the top of the page. Transitions in from above the viewport
*/
.header--sticky.eds-is-pinned {
  @media all and (max-width: $eds-bp-lg) {
    position: fixed;
    transform: translateY(0%);
  }
}

/**
* Sticky header with scrolled class applied
* 1) Class is applied when the sticky header gets pinned/unpinned and animation is needed
*/
.header--sticky.eds-is-scrolled {
  @media all and (max-width: $eds-bp-lg) {
    transition: transform var(--eds-anim-fade-quick) var(--eds-anim-ease);
  }
}

/**
* Unpinned sticky header
* 1) Tuck header above the viewport to be pulled down when the pinned class is applied
*/
.header--sticky.eds-is-unpinned {
  @media all and (max-width: $eds-bp-lg) {
    position: fixed;
    transform: translateY(-100%); /* 1 */
  }
}
