@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #HEADER
\*------------------------------------*/

/**
 * 1) 
 */
.header {
  display: flex;
  background-color: var(--eds-theme-color-primary-background);
  color: var(--eds-theme-color-body-foreground-inverted);
  padding: var(--eds-size-2);
  position: relative;

  @media all and (min-width: $eds-bp-lg) {
    flex-direction: column;
    padding: var(--eds-size-6) var(--eds-size-2-and-half) var(--eds-size-6)
      var(--eds-size-2-and-half);
    height: 100vh;
  }
}

.header__menu-button {
  @media all and (min-width: $eds-bp-md) {
    display: none;
  }
}
