.tag {
  @apply w-max max-w-xs py-1 px-3 inline-flex items-center rounded-full border;

  /** 
   * TODO: (dcwither) when adding SvgIcon to EDS, include this in tailwind font 
   * size macro.
   */
  --svg-icon-size-default: 1.25rem;

  background-color: var(--tag-secondary-color);
  border-color: var(--tag-secondary-color);
  color: var(--tag-primary-color);
}

.tag > :not(:last-child) {
  @apply mr-1;
}

.body {
  @apply flex-auto truncate;
}

.colorNeutral {
  --tag-primary-color: var(--eds-color-neutral-700);
  --tag-secondary-color: var(--eds-color-neutral-100);
  --tag-outline-color: var(--eds-color-neutral-500);
}

.colorAlert {
  --tag-primary-color: var(--eds-color-alert-700);
  --tag-secondary-color: var(--eds-color-alert-100);
  --tag-outline-color: var(--eds-color-alert-500);
}

.colorSuccess {
  --tag-primary-color: var(--eds-color-success-700);
  --tag-secondary-color: var(--eds-color-success-100);
  --tag-outline-color: var(--eds-color-success-500);
}

.colorWarning {
  --tag-primary-color: var(--eds-color-warning-700);
  --tag-secondary-color: var(--eds-color-warning-100);
  --tag-outline-color: var(--eds-color-warning-500);
}

.colorGradingYellow {
  --tag-primary-color: var(--eds-color-neutral-700);
  --tag-secondary-color: var(--eds-color-grading-yellow-100);
  --tag-outline-color: var(--eds-color-grading-yellow-500);
}

.colorBrand {
  --tag-primary-color: var(--eds-color-brand-700);
  --tag-secondary-color: var(--eds-color-brand-100);
  --tag-outline-color: var(--eds-color-brand-500);
}

.outline {
  border-color: var(--tag-outline-color);
}
