@import '../../design-tokens/mixins.css';

/*------------------------------------*\
 # POPOVER CONTAINER
\*------------------------------------*/

/**
 * Popover container
 */
.popover-container {
  border-radius: calc(var(--eds-border-radius-md) * 1px);
  overflow: auto;
  box-shadow: var(--eds-box-shadow-md);
  background-color: var(--eds-theme-color-background-neutral-default);
  z-index: 100;

  &:focus-visible {
    @mixin focus;
  }
}
