@import '../../design-tokens/mixins.css';

/*------------------------------------*\
 # POPOVER CONTAINER
\*------------------------------------*/

/**
 * Popover container
 */
.popover-container {
  --popover-container-width: var(--button-width, auto);
  border-radius: calc(var(--eds-theme-border-radius-objects-md) * 1px);
  overflow: auto;
  padding: calc(var(--eds-spacing-size-half) * 1px) 0;
  z-index: 1150;

  box-shadow: var(--eds-box-shadow-md);
  background-color: light-dark(var(--eds-theme-color-background-utility-container), var(--eds-dark-theme-color-background-utility-container));

  /* set the min width using the CSS variable attached by HeadlessUI (default to auto) */
  min-width: var(--popover-container-width);

  &:focus-visible {
    outline: none;
  }
}

.popover-container>*[role=none]+*[role=none] {
  /* create dividers by looking for groups under the component that wrap using the "none" role */
  border-top: 1px solid light-dark(var(--eds-theme-color-border-utility-default-low-emphasis), var(--eds-dark-theme-color-border-utility-default-low-emphasis));
}