@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # MEDIA BLOCK
\*------------------------------------*/

/**
 * A media block features a block of media(i.e. image) and text.
 */
.media-block {
  /**
   * Display flex is added to put contents within the media block side by side
   */
  display: flex;
  gap: var(--eds-size-4);
}

.media-block__link {
  @mixin textLink;
}

/**
 * Media Container
 *
 * This is the container that holds the image (or media).
 */
.media-block__media {
  width: 100%;
  max-width: 10rem;
  margin-bottom: 0;
}

/**
 * Media block image 
 */
.media-block__img {
  border-radius: var(--eds-border-radius-md);
}

/**
 * Media Block body
 */
.media-block__body {
  display: flex;
  flex-direction: column;
  flex: 1;

  .media-block--reversed & {
    order: 1;
  }
}

/**
 * Media Block Headline
 *
 * This is the headline of the media block.
 */
.media-block__title {
  @mixin eds-theme-typography-heading-3;
  margin-top: 0;
  margin-bottom: var(--eds-size-1);
}
