@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # BREADCRUMBS ITEM
\*------------------------------------*/

/**
 * Breadcrumbs list item
 */
.breadcrumbs__item {
  @mixin eds-theme-typography-body-text-xs;

  display: none;
  flex-wrap: nowrap;
  align-items: center;
  flex-shrink: 0;
  min-width: 0;

  @media all and (max-width: $eds-bp-md) {
    &:last-of-type {
      display: flex;
      flex: 1;
    }
  }
  @media all and (min-width: $eds-bp-md) {
    display: flex;
  }
}

.breadcrumbs__item-back {
  display: flex;
  margin-right: var(--eds-size-1-and-half);
  @media all and (min-width: $eds-bp-md) {
    display: none;
  }
}
.breadcrumbs__item-back > .breadcrumbs__icon {
  display: none;
}

.breadcrumbs__ellipse {
  @mixin reset;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/**
 * Breadcrumbs link
 */
.breadcrumbs__link {
  color: var(--eds-theme-color-text-neutral-subtle);
  text-decoration: none;

  &:last-of-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus-visible {
    @mixin focus;
  }
}

/**
 * Breadcrumbs Icon
 * 1) Icon after each breadcrumb link
 */
.breadcrumbs__icon {
  color: var(--eds-theme-color-icon-neutral-subtle);
  margin-left: var(--eds-size-1);
  margin-right: var(--eds-size-1);
  cursor: default;
}

/**
 * Last breadcrumbs item icon
 * 1) Don't display the last item icon
 */
.breadcrumbs__item:last-child .breadcrumbs__icon.breadcrumbs__icon {
  display: none;
}

/**
 * Breadcrumbs Back Icon
 */
.breadcrumbs__back-icon {
  color: var(--eds-theme-color-icon-neutral-subtle);
  transform: scale(1.5);
  position: relative;
  bottom: 0.125rem;
}

.breadcrumbs__dropdown-menu {
  display: none;
  width: 21rem;
  position: absolute;
  top: var(--eds-size-3);
  z-index: var(--eds-z-index-100);
}

.breadcrumbs__dropdown-menu--active {
  display: block;
}
