@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #LABEL
\*------------------------------------*/

/**
 * Label
 * 1) Labels can sometimes be marked up as legends for field groups (i.e. radio field)
 */
.label {
  @mixin labelStyles;
  margin-bottom: var(--eds-size-1);
}

.label--inverted {
  color: var(--eds-theme-color-text-neutral-default-inverse);
}

/**
 * Label flag
 * 1) A flag to mark whether or not a field is required
 *    or optional. Currently a flag is only present
 *    for optional fields
 */
.label__flag {
  @mixin eds-theme-typography-body-text-sm;
}

/**
 * Label after
 * 1) An empty slot for additional element to appear
 *    to the right of the label text. Typically used
 *    to present tooltips by the labels
 * 2) Media query is for IE 11 browser only for label after alignment
 */
.label__after {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: var(--eds-size-1);
}

.u-is-vishidden {
  @mixin visuallyHide;
}
