.button {
  /* Base Styles */

  /* Using motion-reduce:transition-none here because motion-safe:transition-colors doesn't seem to
     be having an effect. :( */
  @apply rounded border-2 transition-colors motion-reduce:transition-none inline-flex items-center;

  /* Base Text Styles */
  @apply font-bold;

  /* Default variable values */
  --text-background-color: transparent;
}

/* Style icons that may be in the button children */
.button svg {
  --svg-icon-size: 2em;
}

/* Component Sizes */
.sizeSmall {
  @apply px-1 h-6 text-xs leading-3;
}

.sizeMedium {
  @apply px-4 h-8 text-xs leading-3;
}

.sizeLarge {
  @apply px-4 h-10 text-sm;
}

/* Button Colors */
.colorBrand {
  --primary-color: var(--eds-color-brand-600);
  --link-color: var(--eds-color-brand-700);

  &:hover,
  &.stateHover,
  &:focus,
  &.stateFocus {
    --primary-color: var(--eds-color-brand-700);
    --link-color: var(--eds-color-brand-800);
    --text-background-color: var(--eds-color-brand-100);
  }

  &:active,
  &.stateActive {
    --primary-color: var(--eds-color-brand-800);
    --text-background-color: var(--eds-color-brand-600);
  }
}

.colorAlert {
  --primary-color: var(--eds-color-alert-600);
  --link-color: var(--eds-color-alert-700);

  &:hover,
  &.stateHover,
  &:focus,
  &.stateFocus {
    --primary-color: var(--eds-color-alert-700);
    --link-color: var(--eds-color-alert-800);
    --text-background-color: var(--eds-color-alert-100);
  }

  &:active,
  &.stateActive {
    --primary-color: var(--eds-color-alert-800);
    --text-background-color: var(--eds-color-alert-600);
  }
}

.colorNeutral {
  --primary-color: var(--eds-color-neutral-500);
  --link-color: var(--eds-color-neutral-600);

  &:hover,
  &.stateHover,
  &:focus,
  &.stateFocus {
    --primary-color: var(--eds-color-neutral-600);
    --link-color: var(--eds-color-neutral-700);
    --text-background-color: var(--eds-color-neutral-100);
  }

  &:active,
  &.stateActive {
    --primary-color: var(--eds-color-neutral-700);
    --text-background-color: var(--eds-color-neutral-500);
  }
}

.colorSuccess {
  --primary-color: var(--eds-color-success-600);
  --link-color: var(--eds-color-success-700);

  &:hover,
  &.stateHover,
  &:focus,
  &.stateFocus {
    --primary-color: var(--eds-color-success-700);
    --link-color: var(--eds-color-success-800);
    --text-background-color: var(--eds-color-success-100);
  }

  &:active,
  &.stateActive {
    --primary-color: var(--eds-color-success-800);
    --text-background-color: var(--eds-color-success-600);
  }
}

.colorWarning {
  --primary-color: var(--eds-color-warning-600);
  --link-color: var(--eds-color-warning-700);

  &:hover,
  &.stateHover,
  &:focus,
  &.stateFocus {
    --primary-color: var(--eds-color-warning-700);
    --link-color: var(--eds-color-warning-800);
    --text-background-color: var(--eds-color-warning-100);
  }

  &:active,
  &.stateActive {
    --primary-color: var(--eds-color-warning-800);
    --text-background-color: var(--eds-color-warning-600);
  }
}

.variantFlat {
  background-color: var(--primary-color);
  border-color: var(--primary-color);

  @apply text-white;
}

.variantOutline {
  @apply bg-transparent;

  border-color: var(--link-color);
  color: var(--link-color);

  &:hover,
  &.stateHover,
  &:focus,
  &.stateFocus,
  &:active,
  &.stateActive {
    @apply text-white;

    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }

  /* override the hover/focus/active values */
  &:disabled {
    @apply bg-transparent;

    border-color: var(--primary-color);
    color: var(--primary-color);
  }
}

.variantLink {
  @apply px-0 py-0 underline border-none font-bold;

  color: var(--link-color);

  /* button should defer to surrounding text for size/line-height/case */
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;

  &:hover,
  &.stateHover,
  &:focus,
  &.stateFocus {
    text-decoration-thickness: 2px;
  }

  &:active,
  &.stateActive,
  &:disabled {
    color: var(--primary-color);
  }

  /* override the hover/focus values */
  &:disabled {
    text-decoration-thickness: auto;
  }
}

.variantText {
  color: var(--link-color);
  border: var(--text-background-color);
  background-color: var(--text-background-color);

  &:hover,
  &.stateHover,
  &:focus,
  &.stateFocus {
    color: var(--primary-color);
  }

  &:active,
  &.stateActive {
    @apply text-white;
  }

  &:disabled {
    color: var(--primary-color);
  }
}

/* Link icons should be the same size as the text */
.variantLink svg {
  --svg-icon-size: 1em;
}

/* comes after other styles to override hover behaviors */
.button:focus,
.button.stateFocus {
  /* Focus Outline */
  @apply outline-none ring-info-400 ring;
}

.button:disabled {
  @apply cursor-not-allowed;

  /* override the hover/focus values */
  --primary-color: var(--eds-color-neutral-300);
  --text-background-color: transparent;
}
