@import '../../design-tokens/mixins.css';
/*------------------------------------*\
    # NUMBER ICON
\*------------------------------------*/

/**
 * Number Icon displays a number enclosed in a circle.
 * 
 * Centers the number text in the circle.
 */
.number-icon {
  font: var(--eds-theme-typography-body-sm);
  /* Line height set to 1 here since this should only ever be on 1 line and it evens out padding in circle. */
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--eds-size-3);
  width: var(--eds-size-3);
  min-width: var(--eds-size-3);

  /* The circle part of the icon, made with borders. */
  border: var(--eds-border-width-sm) solid;
  border-color: inherit;
  border-radius: var(--eds-border-radius-round);
}

/* prettier-ignore */
.number-icon--incomplete {
  border: none;
  fill: var(--number-icon-incomplete-fill, var(--eds-theme-color-icon-neutral-subtle));
}

/**
 * Size Variants.
 */
.number-icon--sm {
  font: var(--eds-theme-typography-body-xs);
  /* Line height set to 1 here since this should only ever be on 1 line and it evens out padding in circle. */
  line-height: 1;
  /* Height and width should be the same to make the icon a circle and not oblong. */
  height: var(--eds-size-2-and-half);
  width: var(--eds-size-2-and-half);
  min-width: var(--eds-size-2-and-half);
}

/**
 * Color Variants.
 */
.number-icon--base {
  background-color: transparent;
}

.number-icon--success {
  background-color: var(--eds-theme-color-icon-utility-success);
  border-color: var(--eds-theme-color-icon-utility-success);
}
