@import '../../design-tokens/mixins.css';
/*------------------------------------*\
    # NUMBER ICON
\*------------------------------------*/

/**
 * Number Icon displays a number enclosed in a circle.
 * 
 * Centers the number text in the circle.
 */
.number-icon {
  /* Line height set to 1 here since this should only ever be on 1 line and it evens out padding in circle. */
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  /* The circle part of the icon, made with borders. */
  border: calc(var(--eds-border-width-sm) * 1px) solid;
  border-color: inherit;
  border-radius: calc(var(--eds-border-radius-full) * 1px);

  &.number-icon--is-interactive {
    cursor: pointer;
  }
}

/**
 * Size Variants.
 */
.number-icon--size-md {
  height: calc(var(--eds-size-3) / 16 * 1rem);
  width: calc(var(--eds-size-3) / 16 * 1rem);
  min-width: calc(var(--eds-size-3) / 16 * 1rem);
}

.number-icon--size-lg {
  height: calc(var(--eds-size-4) / 16 * 1rem);
  width: calc(var(--eds-size-4) / 16 * 1rem);
  min-width: calc(var(--eds-size-4) / 16 * 1rem);
}

/* Colors & Theme */

/**
 * Interactive States
 */
.number-icon--status-default {
  color: var(--eds-theme-color-text-utility-interactive-primary);
  border-color: var(--eds-theme-color-border-utility-interactive);
  background-color: var(--eds-theme-color-background-utility-interactive-no-emphasis);

  &.number-icon--is-interactive {
    &:hover {
      border-color: var(--eds-theme-color-border-utility-interactive-hover);
      background-color: var(--eds-theme-color-background-utility-interactive-no-emphasis-hover);
    }

    &:active {
      border-color: var(--eds-theme-color-border-utility-interactive-active);
      background-color: var(--eds-theme-color-background-utility-interactive-no-emphasis-active);
    }
  }
}

.number-icon--status-completed {
  color: var(--eds-theme-color-text-utility-inverse);
  border-color: var(--eds-theme-color-background-utility-favorable-high-emphasis);
  background-color: var(--eds-theme-color-background-utility-favorable-high-emphasis);

  &.number-icon--is-interactive {
    &:hover {
      border-color: var(--eds-theme-color-background-utility-favorable-high-emphasis-hover);
      background-color: var(--eds-theme-color-background-utility-favorable-high-emphasis-hover);
    }

    &:active {
      border-color: var(--eds-theme-color-background-utility-favorable-high-emphasis-active);
      background-color: var(--eds-theme-color-background-utility-favorable-high-emphasis-active);
    }
  }
}

.number-icon--status-incomplete {
  color: var(--eds-theme-color-text-utility-default-secondary);
  border-color: var(--eds-theme-color-border-utility-default-medium-emphasis);

  border-style: dashed;
  pointer-events: none;
}