@import '../../design-tokens/mixins.css';
/*------------------------------------*\
    # NUMBER ICON
\*------------------------------------*/

/**
* Number Icon displays a number enclosed in a circle.
* 1) Centers the number text in the circle.
* 2) The circle part of the icon, made with borders.
* 3) Line height set to 1 here since this should only ever be on 1 line and it evens out padding in circle
 */
.number-icon {
  /* 1 */
  @mixin eds-theme-typography-body-text-sm;
  line-height: 1; /* 3 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--eds-size-3); /* 1 */
  width: var(--eds-size-3);
  min-width: var(--eds-size-3);

  /* 2 */
  border: var(--eds-border-width-sm) solid;
  border-radius: var(--eds-border-radius-round);
}

.number-icon--incomplete {
  border: none;
}

/**
 * Size Variants
 * 1) Height and width should be the same to make the icon a circle and not oblong.
 * 2) Line height set to 1 here since this should only ever be on 1 line and it evens out padding in circle
 */
.number-icon--sm {
  @mixin eds-theme-typography-body-text-xs;
  line-height: 1; /* 2 */
  height: var(--eds-size-2-and-half); /* 1 */
  width: var(--eds-size-2-and-half);
  min-width: var(--eds-size-2-and-half);
}

/**
 * Color Variants
 */
.number-icon--base {
  background-color: transparent;
  border-color: var(--eds-theme-color-icon-neutral-strong);
}

.number-icon--success {
  background-color: var(--eds-theme-color-icon-utility-success);
  border-color: var(--eds-theme-color-icon-utility-success);
}
