.recommendedVariantSet,
.recommendedVariantSet h2,
.recommendedVariantSet button,
.recommendedVariantSet a {
  @apply mb-4;
}

.arrowBackIcon {
  margin-left: -0.4em;
  margin-right: 0.5em;
}

.arrowForwardIcon {
  margin-left: 0.5em;
  margin-right: -0.4em;
}

.onlyArrowIcon {
  margin: 0 -0.4em;
}

.onlyAddIcon {
  margin: 0 -0.55em;
}
