@import '../../design-tokens/mixins.css';

.checkbox {
  display: flex;
  gap: calc(var(--eds-spacing-size-1) * 1px);
}

.checkbox__input {
  height: 18px;
  width: 18px;

  /* The parent Checkbox component is a flex container. Make sure the input doesn't shrink. */
  flex-shrink: 0;

  /* Remove the browser's checkbox styles, allowing us to provide our own. */
  appearance: none;

  /* Magic value to center the checkbox on its label. */
  margin: calc(var(--eds-spacing-size-quarter) * 1px);

  border: calc(var(--eds-spacing-size-quarter) * 1px) solid currentColor;

  /* Place the ::before content smack in the middle of the input. */
  display: grid;
  place-content: center;

  border-radius: calc(var(--eds-spacing-size-quarter) * 1px); /* using sized radius to have an outer rounded rect and inner square */

  /* preset: body-md */
  font: var(--eds-typography-font-weight-normal) var(--eds-typography-preset-200) var(--eds-typography-font-family-1);
  letter-spacing: var(--eds-typography-letter-spacing-normal);
  transition: background-color ease-in-out calc(var(--eds-anim-fade-quick) * 1s);
}

.checkbox__input:checked::before {
  color: light-dark(var(--eds-theme-color-text-utility-inverse), var(--eds-dark-theme-color-text-utility-inverse));
  content: '✓';
  text-align: center;

  /* Because the path does not have an explicit viewbox, this element's bounding box establishes
  one. In other words, the height/width here need to match the expected viewbox for the path. */
  height: calc(var(--eds-spacing-size-3) * 1px);
  width: calc(var(--eds-spacing-size-3) * 1px);

  /* use the platform's font face, which defines the checkbox glyph to use */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  transition: color ease-in-out calc(var(--eds-anim-fade-quick) * 1s);
}

.checkbox__input:checked {
  background-color: currentColor;
  border-color: currentColor;
}

.checkbox__input:indeterminate::before {
  color: light-dark(var(--eds-theme-color-text-utility-inverse), var(--eds-dark-theme-color-text-utility-inverse));
  content: '–';
  text-align: center;

  height: calc(var(--eds-spacing-size-3) * 1px);
  width: calc(var(--eds-spacing-size-3) * 1px);
  transform: translateY(-1px);
}

.checkbox__input:indeterminate {
  background-color: currentColor;
  border-color: currentColor;
}

.checkbox__labels {
  position: relative;
}

.checkbox__sub-label {
  display: block;

  color: light-dark(var(--eds-theme-color-text-utility-default-secondary), var(--eds-dark-theme-color-text-utility-default-secondary));
}

.checkbox__input:not(:checked):not(:indeterminate) {
  color: light-dark(var(--eds-theme-color-background-utility-default-high-emphasis), var(--eds-dark-theme-color-background-utility-default-high-emphasis));
  border-color: light-dark(var(--eds-theme-color-border-utility-default-low-emphasis), var(--eds-dark-theme-color-border-utility-default-low-emphasis));

  &:not(:disabled):hover {
    color: light-dark(var(--eds-theme-color-border-utility-default-medium-emphasis-hover), var(--eds-dark-theme-color-border-utility-default-medium-emphasis-hover));
    border-color: light-dark(var(--eds-theme-color-border-utility-default-low-emphasis-hover), var(--eds-dark-theme-color-border-utility-default-low-emphasis-hover));
    background-color: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis-hover), var(--eds-dark-theme-color-background-utility-default-no-emphasis-hover));
  }

  &:not(:disabled):active {
    color: light-dark(var(--eds-theme-color-border-utility-default-medium-emphasis-active), var(--eds-dark-theme-color-border-utility-default-medium-emphasis-active));
    border-color: light-dark(var(--eds-theme-color-border-utility-default-low-emphasis-active), var(--eds-dark-theme-color-border-utility-default-low-emphasis-active));
    background-color: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis-active), var(--eds-dark-theme-color-background-utility-default-no-emphasis-active));
  }

  .checkbox--error & {
    color: light-dark(var(--eds-theme-color-text-utility-critical), var(--eds-dark-theme-color-text-utility-critical));
    border-color: light-dark(var(--eds-theme-color-border-utility-critical), var(--eds-dark-theme-color-border-utility-critical));

    &:hover {
      color: light-dark(var(--eds-theme-color-border-utility-critical-hover), var(--eds-dark-theme-color-border-utility-critical-hover));
      border-color: light-dark(var(--eds-theme-color-border-utility-critical-hover), var(--eds-dark-theme-color-border-utility-critical-hover));
      background-color: light-dark(var(--eds-theme-color-background-utility-critical-no-emphasis-hover), var(--eds-dark-theme-color-background-utility-critical-no-emphasis-hover));
    }

    &:active {
      color: light-dark(var(--eds-theme-color-border-utility-critical-active), var(--eds-dark-theme-color-border-utility-critical-active));
      border-color: light-dark(var(--eds-theme-color-border-utility-critical-active), var(--eds-dark-theme-color-border-utility-critical-active));
      background-color: light-dark(var(--eds-theme-color-background-utility-critical-no-emphasis-active), var(--eds-dark-theme-color-background-utility-critical-no-emphasis-active));
    }
  }
}

.checkbox__input:checked,
.checkbox__input:indeterminate {
  color: light-dark(var(--eds-theme-color-border-utility-default-high-emphasis), var(--eds-dark-theme-color-border-utility-default-high-emphasis));

  &:not(:disabled):hover {
    color: light-dark(var(--eds-theme-color-border-utility-default-high-emphasis-hover), var(--eds-dark-theme-color-border-utility-default-high-emphasis-hover));
  }

  &:not(:disabled):active {
    color: light-dark(var(--eds-theme-color-border-utility-default-high-emphasis-active), var(--eds-dark-theme-color-border-utility-default-high-emphasis-active));
  }

  .checkbox--error & {
    color: light-dark(var(--eds-theme-color-text-utility-critical), var(--eds-dark-theme-color-text-utility-critical));

    &:hover {
      color: light-dark(var(--eds-theme-color-border-utility-critical-hover), var(--eds-dark-theme-color-border-utility-critical-hover));
    }

    &:active {
      color: light-dark(var(--eds-theme-color-border-utility-critical-active), var(--eds-dark-theme-color-border-utility-critical-active));
    }
  }
}

.checkbox__input:disabled {
  color: light-dark(var(--eds-theme-color-background-utility-disabled-medium-emphasis), var(--eds-dark-theme-color-background-utility-disabled-medium-emphasis));

  cursor: not-allowed;

  &:not(:checked) {
    color: light-dark(var(--eds-theme-color-border-utility-disabled), var(--eds-dark-theme-color-border-utility-disabled));
    background-color: light-dark(var(--eds-theme-color-text-utility-disabled-secondary), var(--eds-dark-theme-color-text-utility-disabled-secondary));
  }

  &:checked,
  &:indeterminate {
    background-color: light-dark(var(--eds-theme-color-background-utility-disabled-medium-emphasis), var(--eds-dark-theme-color-background-utility-disabled-medium-emphasis));

    &::before {
      color: light-dark(var(--eds-theme-color-text-utility-disabled-primary), var(--eds-dark-theme-color-text-utility-disabled-primary));

    }
  }
}

.checkbox__input:focus-visible {
  outline: calc(var(--eds-spacing-size-quarter) * 1px) solid light-dark(var(--eds-theme-color-border-utility-focus), var(--eds-dark-theme-color-border-utility-focus));
}

@supports not selector(:focus-visible) {
  .checkbox__input {
    outline: calc(var(--eds-spacing-size-quarter) * 1px) solid light-dark(var(--eds-theme-color-border-utility-focus), var(--eds-dark-theme-color-border-utility-focus));
  }
}