/*------------------------------------*\
    # BUTTON GROUP
\*------------------------------------*/

/**
 * A group of buttons displayed in an organized fashion.
 */
.button-group {
  display: inline-flex;
  /* Wrap buttons if overflow, usually for smaller screen sizes. */
  flex-wrap: wrap; 
}

/**
 * Spacing variants.
 */
.button-group--spacing-1x {
  gap: calc(var(--eds-size-1) / 16 * 1rem);
}

.button-group--spacing-max {
  width: 100%;
  justify-content: space-between;
}

/**
 * Vertical orientation variant.
 */
.button-group--vertical {
  flex-direction: column;
}

/**
 * Vertical spacing max variant.
 * Hopefully no one actually ever uses this... 
 */
.button-group--spacing-max.button-group--vertical {
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
