/*------------------------------------*\
    # SECTION
\*------------------------------------*/

/**
 * Section
 * 
 * A section is a discrete section of a web page.
 */
.section {
  padding-top: var(--eds-size-4);
  padding-bottom: var(--eds-size-4);
}

/**
 * Section header
 * 
 * contains section header inner, left, and right elements.
 */
.section__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--eds-size-1);
  margin-bottom: var(--eds-size-3);

  /**
   * Section header within centered section
   */
  .section--center & {
    justify-content: center;
  }
}

/**
* Section header inner
* 
* Contains the titleBefore, title-inner, and titleAfter..
*/
.section__header-inner {
  /**
   * Flex grow only has an effect if there is content in the section__right slot;
   * section_right gets forced to the right edge of the header 
   */
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: var(--eds-size-1);
  /*  To center the header, flex-grow must be disabled. */
  .section--center & {
    flex-grow: 0;
  }
}

/**
* Section title inner
* 
* Contains the section title, overline, and description in a column..
*/
.section__title-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .section--center & {
    /* When variant === center, the title inner container gets centered in the header inner container */
    justify-self: center;
    /* When variant === center, the title inner container's contents get center aligned on the cross-axis */
    align-items: center;
  }
}

/**
 * Section title
 */
.section__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/**
* Section title before, after
* 
* Slots for node(s) to appear to the left (before) and right (after) of the title.
*
* The title after slot is vertically aligned to the top of the title, similar to the positioning of a superscript.
*/
.section__title-before,
.section__title-after {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/**
* overline 
* 
* Optional string that appears above the section title.
*/
.section__overline {
  margin-top: 0;
  margin-bottom: var(--eds-size-1);
}

/**
 * Section description
 * 
 * Optional string that appears beneath the section title.
 */
.section__description {
  margin-top: var(--eds-size-half);
  margin-bottom: 0;
}

/**
* Section right
* 
* Optional area to put right-aligned content after section title.
**/
.section__right {
  display: flex;
  align-items: center;
}
