@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # DRAWER
\*------------------------------------*/

/**
 * 1) Box that overlays the application's content, prompting a user to perform an action
 * 2) This transform rule stops the background overlay (present when modal is open)
 *    from flickering when a button is hovered within the modal
 */
.drawer {
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: var(--eds-z-index-bottom);
  opacity: 0;
  overflow: auto;
  background-color: transparent;

  /**
  * Active modal
  */
  &.eds-is-active {
    opacity: 1;
    visibility: visible;
    z-index: var(--eds-z-index-400);
  }

  .drawer--show-backdrop & {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &:focus-visible {
    @mixin focus;
  }
}

/**
 * Modal window
 * 1) Actual box with content within
 */
.drawer__window {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: right;
  height: 100vh;
  width: 28rem;
  max-width: 100%;
  transform: translateX(28rem);
  background: var(--eds-theme-color-background-neutral-default);
  border-left-width: var(--eds-theme-border-width);
  border-left-style: solid;
  border-left-color: var(--eds-theme-color-border-neutral-subtle);
  box-shadow: var(--eds-box-shadow-md);
  transition: transform var(--eds-anim-move-quick) var(--eds-anim-ease);

  &:focus-visible {
    @mixin focus;
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  /**
  * Modal window inside active modal
  * 1) Transform added for animation
  */
  .drawer.eds-is-active & {
    transform: translateX(0); /* 1 */
  }
}

/**
* Modal close button
*/
.drawer__close-button {
  margin-left: auto;

  @media all and (min-width: $eds-bp-sm) {
    display: block;
    position: absolute;
    top: var(--eds-size-2);
    right: var(--eds-size-2);
  }
}

/**
 * Modal header
 */
.drawer__header {
  display: flex;
  padding: var(--eds-size-2) var(--eds-size-3);
}

/**
 * Modal body
 */
.drawer__body {
  padding: var(--eds-size-3);
  flex: 1;
}

/**
 * Modal footer
 */
.drawer__footer {
  padding: 0 var(--eds-size-3) var(--eds-size-3);
}
