@import "./_variables.scss";
@import "@chanzuckerberg/czedi-kit-tokens/scss/_variables.scss";

.button {
  color: $color-base-gray-light;
  margin: $local-variable;
  padding: 20px;
  // test rtlcss
  text-align: left;
  float: left;
}
