@import '../../design-tokens/mixins.css';

/*------------------------------------*\
 #List Detail
\*------------------------------------*/

/**
 * 1) List of of links where each link toggles open associated information
 */
.list-detail {
  background: var(--eds-theme-color-background-neutral-default);
  border-width: var(--eds-theme-border-width);
  border-style: solid;
  border-color: var(--eds-theme-color-border-neutral-subtle);
  border-radius: var(--eds-theme-border-radius);

  @media all and (min-width: $eds-bp-md) {
    display: flex;
  }
}

/**
 * List detail header
 * 1) Contains the tab list
 */
.list-detail__header {
  width: auto;
  position: relative;
  padding: var(--eds-size-2);
  height: 100vh;

  @media all and (min-width: $eds-bp-md) {
    padding: var(--eds-size-5);
    width: 20rem;
  }
}

.list-detail__unit-title {
  margin-bottom: var(--eds-size-4);
}

.list-detail__breadcrumbs {
  @media all and (min-width: $eds-bp-md) {
    display: none;
  }
}

.list-detail__kicker {
  @mixin eds-theme-typography-kicker-sm;
  display: block;
  padding: var(--eds-size-1) 0;

  @media all and (min-width: $eds-bp-md) {
    display: none;
  }
}

  .list-detail__title {
    @mixin eds-theme-typography-headline-md;
    
    /* stylelint-disable-next-line max-nesting-depth */
    @media all and (min-width: $eds-bp-md) {
      display: none;
    }
  }

/**
 * List detail body
 * TODO: Tokenize the box shadow
 * 1) Take up the rest of the space
 */
.list-detail__body {
  padding: var(--eds-size-2);
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: var(--eds-z-index-bottom);

  @media all and (min-width: $eds-bp-md) {
    flex: 1; /* 1 */
    padding: var(--eds-size-5) var(--eds-size-8);
    box-shadow: -6px 0px 10px -2px var(--eds-theme-color-border-neutral-subtle);
    visibility: visible;
    opacity: 1;
    position: static;
    top: auto;
    right: auto;
    z-index: var(--eds-z-index-400);
  }
}

.list-detail__body-visible {
  visibility: visible;
  opacity: 1;
  z-index: var(--eds-z-index-400);
}

.list-detail__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  top: 0;
  left: right;
  height: 100vh;
  width: 100%;

  @media all and (max-width: $eds-bp-md) {
    padding: var(--eds-size-2);
    position: fixed;
    left: 0;
    transform: translateX(100%);
    transition: transform var(--eds-anim-move-quick) var(--eds-anim-ease);
    background: var(--eds-theme-color-body-background);
  }

  .list-detail__body-visible & {
    transform: translateX(0);
  }
}

.list-detail__content-close {
  @mixin eds-theme-typography-label-sm;
  text-decoration: none;
  justify-content: flex-start;
  align-items: center;

  @media all and (min-width: $eds-bp-md) {
    display: none;
  }
}

/**
 * List detail list
 * 1) Actual unordered list of list-detail
 * 2) Set to display flex to place list-detail side by side
 */
.list-detail__list {
  @mixin reset;
  list-style: none;
  @mixin eds-theme-typography-body-text;

  @media all and (min-width: $eds-bp-md) {
    position: sticky;
    top: var(--eds-size-5);
  }
}

/**
 * List detail item
 * 1) Flex shrink 0 keeps list-detail from expanding to fill up the space of the container
 */
.list-detail__item {
  position: relative;
  flex-shrink: 0; /* 1 */
  padding-bottom: var(--eds-size-4);
  display: flex;
  justify-content: space-between;
}

/**
  * List detail item after
  * 1) When list variant is 'ordered', add a line between items that shouldn't link out unliike the bullet
  * 2) This sets the size of the gap above the vertical line by determining the top of the line relative to the top of the current list item; a value of 0 would position the line at the top of the current list item; 100% would position it at the bottom of the current list item. We want a small visual gap between the bullet/icon and the top of the line 
  * 3) This sets the height of the vertical line relative to the height of the current list item. We want a small visual gap between the bottom of the line and the next bullet/icon
  * 4) Using a border color here because this is a vertical line, similar to a border
  */
.list-detail__list--ordered .list-detail__item {
  &:after {
    content: '';
    position: absolute;
    left: 0.25rem;
    top: 1.75rem; /* 2 */
    height: 45%; /* 3 */
    width: 0.0625rem;
    background: var(--eds-theme-color-border-neutral-subtle); /* 4 */
    border-radius: var(--eds-theme-border-radius);
  }

  /**
    * Last list detail item
    */
  &:last-child {
    padding-bottom: 0;

    /**
      * List list detail item after
      * 1) Don't add a line after the last list item
      */
    /* stylelint-disable-next-line max-nesting-depth */
    &:after {
      content: none;
    }
  }
}

/**
 * List detail link
 * 1) Base style for each link in the list
 * 2) Using disabled text color here because all links are "inactive" until selected and this color is overridden
 */
.list-detail__link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--eds-theme-color-text-disabled); /* 2 */
  cursor: pointer;
  width: 100%;
  transition: color var(--eds-anim-fade-quick) var(--eds-anim-ease),
    box-shadow var(--eds-anim-fade-quick) var(--eds-anim-ease),
    background-color var(--eds-anim-fade-quick) var(--eds-anim-ease);

  &:focus-visible {
    @mixin focus;
  }

  @media all and (max-width: $eds-bp-md) {
    @mixin eds-theme-typography-body-text-bold;
    color: var(--eds-theme-color-text-neutral-default);
  }

  /**
   * List detail link within active list-detail item
   */
  .list-detail__item.eds-is-active & {
    @mixin eds-theme-typography-body-text-bold;
    color: var(--eds-theme-color-text-neutral-default);
  }
}

.list-detail__link-left:not(.list-detail__link-hidden) {
  /**
   * Before pseudoelement bullet (for non-number variant items)
   * 1) Set to 9px to center the border
   * 2) This is the same color used for the vertical line when list style is "ordered"
   * 3) Using a percentage here instead of --eds-theme-border-radius because this is a cosmetic element (a cicular bullet), not a typical bordered object
   */
  &:before {
    content: '';
    flex-grow: 1;
    margin-right: var(--eds-size-2);
    display: block;
    position: relative;
    height: 9px; /* 1 */
    width: 9px; /* 1 */
    background: var(--eds-theme-color-border-neutral-subtle); /* 2 */
    border-radius: 50%; /* 3 */
  }

  /**
  * List detail item variants
  * 1) Remove the bullet since the icon will take its place
  */
  li[class*='list-detail__item--'] & {
    /* stylelint-disable-next-line max-nesting-depth */
    &:before {
      content: none;
    }
  }
}

/** List detail link-title 
* 1) The text of the list item
* 2) On viewports < lg, the text, along with its pseudo-bullet (if visible) should remain aligned to the left side of the list item, with the arrow aligned to the right. Giving the title and the pseudo-bullet a flex-grow of 1, while giving the arrow a flex-grow of 3, allows this
*/

.list-detail__link-title {
  flex-grow: 1; /* 2 */
  margin-right: var(--eds-size-1);
}

/**
* List detail link-right
* 1) A button containing an arrow icon that is only displayed on viewports < lg
* 2) The button component is styled with a height of --eds-size-5 (40px) which would cause each list item to have extra vertical space. Display:contents removes the button's principal box and renders its contents (the Icon component) as normal. However due to a bug in browsers, this currently removes this button from the accessibility tree, meaning screen readers will ignore the button's contents. See https://developer.mozilla.org/en-US/docs/Web/CSS/display-box
* 3) On viewports < lg, the arrow should remain aligned to the right side of the list item. Giving the arrow a flex-grow of 3, while giving the title and the pseudo-bullet a flex-grow of 1, allows this
*/
.list-detail__link-right {
  display: none;

  @media all and (max-width: $eds-bp-md) {
    display: contents; /* 2 */
    flex-grow: 3; /* 3 */
  }
}

/**
* List detail number
* 1) Used on list items using number variant; provides a cosmetic cicular border
* 2) Using flex to keep the number centered
* 3) Since this will display as a cirlce, keep height and width equal; should be wide enough to fit a two-digit number
* 4) Using a percentage here instead of --eds-theme-border-radius because this is not a typical bordered object
*/
.list-detail__number {
  position: relative;
  display: flex; /* 2 */
  justify-content: center;
  align-items: center;
  left: -4px;
  width: 1.5rem; /* 3 */
  height: 1.5rem; /* 3 */
  border-radius: 50%; /* 4 */
  border: 1px solid var(--eds-theme-color-border-neutral-subtle);
  margin-right: 9px;
  font-size: var(--eds-font-size-12);
  margin-left: -4px;
  background: var(--eds-theme-color-background-neutral-default);
}

/**
* List detail icon
* 1) Used so the transparent icon doesn't show the line behind. 
*/
.list-detail__icon {
  position: relative;
  left: -7px;
  height: var(--eds-size-3);
  width: var(--eds-size-3);
  margin-right: var(--eds-size-half);
  background: var(---eds-theme-color-background-neutral-default); /* 1*/
  z-index: var(--eds-z-index-100);

  /**
  * List detail icon within success list detail item
  */
  .list-detail__item--success & {
    fill: var(--eds-theme-color-background-grade-complete-default);
  }

  /**
  * List detail icon within warning list detail item
  */
  .list-detail__item--warning & {
    fill: var(--eds-theme-color-background-grade-revise-default);
  }

  /**
  * List detail icon within error list detail item
  */
  .list-detail__item--error & {
    fill: var(--eds-theme-color-background-grade-stop-default);
  }
}
