/*------------------------------------*\
    # TEXT FIELD
\*------------------------------------*/

/**
 * Wraps the Label and the optional/required indicator.
 */
.text-field__overline {
  @apply flex justify-between mb-1;
  color: var(--eds-theme-color-form-label);
}
.text-field__overline--no-label {
  justify-content: flex-end;
}
.text-field__overline--disabled {
  color: var(--eds-theme-color-text-disabled);
}

/**
 * Text field body
 */
.text-field__body {
  @apply relative mb-1;
}

/**
 * Text Field Within
 *
 * A slot to put arbitrary content that appears within the text field border to the right. 
 *
 * Typically used for buttons and icon buttons to enable things like show/hide password buttons .
 */
.text-field__input-within {
  @apply absolute right-4 inset-y-0 grid items-center justify-center;
}
