@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # DROPDOWN BUTTON
\*------------------------------------*/

/**
 * The button to trigger the display of the dropdown.
 */
.dropdown-button {
  font: var(--eds-theme-typography-body-md);
  /* Allow Dropdown font to shrink in contexts where body font size is smaller. */
  font-size: inherit;

  width: 100%;
  padding: var(--eds-size-1);

  border: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-neutral-strong);
  border-radius: var(--eds-border-radius-md);

  display: flex;
  /* Place button text on the left and the expand more icon on the right. */
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

  background-color: var(--eds-theme-color-background-neutral-default);
}

/**
 * The caret icon to decorate the dropdown button, animated to rotate.
 */
.dropdown-button__icon {
  transform: rotate(0);

  transition: transform var(--eds-anim-move-medium) ease-out;
  @media (prefers-reduced-motion) {
    /* Turns off animation if user prefers reduced motion. */
    transition: none;
  }
}

.dropdown-button__icon--reversed {
  transform: rotate(180deg);
}
