/*------------------------------------*\
    # TABLE
\*------------------------------------*/

/**
 * Table
 */
.table {
  border-collapse: collapse;
  width: 100%;
}

/**
 * Table Cell
 * The `:where` pseudo class function allows easy overriding via className.
 */
:where(.table-cell) {
  padding: calc(var(--eds-spacing-size-2) * 1px) calc(var(--eds-spacing-size-1) * 1px);
}

/**
 * Table header cell
 * The `:where` pseudo class function allows easy overriding via className.
 */
:where(.table-header-cell) {
  padding: calc(var(--eds-spacing-size-1) * 1px) calc(var(--eds-spacing-size-1) * 1px);
  text-align: left;
}

:where(.table-header-cell__container) {
  display: flex;
  align-items: center;
  /* Match height to a sort icon if one exists to create alignment */
  min-height: calc(var(--eds-spacing-size-2-and-half) * 1px);
}

/**
 * Table header cell within table body
 *
 * Adjusts the padding to match the table__cell padding for alignment.
 */
.table-header-cell--body {
  padding: calc(var(--eds-spacing-size-2) * 1px) calc(var(--eds-spacing-size-1) * 1px);
}

/**
 * Table header cell button
 *
 * On table header cells that are sortable, the content is wrapped by a <Button>.
 */
.table-header-cell__sort-button {
  gap: calc(var(--eds-spacing-size-half) * 1px);
  text-decoration: none;
  font-weight: var(--eds-font-weight-bold);
}

/**
 * Table row
 */
.table-row {
  vertical-align: top;
  border-bottom-width: calc(var(--eds-theme-border-width) * 1px);
  border-bottom-style: solid;
  border-bottom-color: light-dark(var(--eds-theme-color-border-utility-default-low-emphasis), var(--eds-dark-theme-color-border-utility-default-low-emphasis));
}

/**
 * Header variant 
 * Has darker bottom border color for distinguishment.
 */
.table-row--header {
  border-bottom-color: light-dark(var(--eds-theme-color-border-utility-default-high-emphasis), var(--eds-dark-theme-color-border-utility-default-high-emphasis));
}