@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # TABLE
\*------------------------------------*/

/**
 * Data Table
 */
.table {
  border-collapse: collapse;
  width: 100%;
}

/**
* Table header cell and table header cell button
* 
* On table header cells that are not sortable, the container is a div.
*/
.table__header-cell,
/**
 * On table header cells that are sortable, the container is a button, 
 * but the text styling is the same as a non-sortable table header cell
 */
.table__header-cell-button {
  @mixin eds-theme-typography-label-sm;
  padding: var(--eds-size-1) var(--eds-size-1);
  text-align: left;
}

/**
 * Table header cell
 */
.table__header-cell {
  /**
  * Table header cell within table body
  *
  * Adjust the padding to match the table__cell padding for alignment.
  */
  .table__body & {
    padding: var(--eds-size-2) var(--eds-size-1);
  }
}

/**
* Table header cell button
*
* On table header cells that are sortable, the container is a button.
*/
.table__header-cell-button {
  display: inline-flex;
  gap: var(--eds-size-half);
  padding: 0;
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
  }
  /* When column is sortable, add an inline icon after the title. */
  .table__header-cell-sort {
    display: inline;
  }
}

.table__header-cell-icon {
  position: relative;
  bottom: 1px;
}

/**
 * Table header cell contents
 *
 * A wrapper for the title and sort icon. Uses a flex row so that icon remains at
 * the bottom when one or more titles breaks into multiple lines .
 */
.table__header-cell-contents {
  display: flex;
  align-items: flex-end;
  gap: var(--eds-size-1-and-half);
}

/**
 * Table Cell
 */
.table__cell {
  @mixin eds-theme-typography-body-text-sm;

  @media all and (min-width: $eds-bp-md) {
    padding: var(--eds-size-2) var(--eds-size-1);
  }

  /**
   * Table header cells
   */
  .table__header & {
    text-align: left;
    position: relative;
    padding: var(--eds-size-2) var(--eds-size-1-and-half) var(--eds-size-2)
      var(--eds-size-1);
    @mixin eds-theme-typography-overline-sm;
    border-bottom-width: var(--eds-theme-border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--eds-theme-color-border-neutral-subtle);
    background-clip: padding-box;
  }
}
