@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # FILTERS
\*------------------------------------*/

/**
 * The drawer containing the filters.
 */
.filters {
  width: 22.5rem;
}

.filters__heading {
  padding-left: var(--eds-size-4);
}

/* TODO: FILTERS ON FILTERS OFF button */
.filters__button {
  border: var(--eds-theme-color-border-neutral-subtle);
}

.footer__button-group {
  display: flex;
}
.footer__button {
  flex: 1;
}
