@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # AVATAR
\*------------------------------------*/

/**
 * Avatar
 */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  white-space: nowrap;

  color: light-dark(var(--eds-theme-color-text-utility-default-secondary), var(--eds-dark-theme-color-text-utility-default-secondary));
  background-color: light-dark(var(--eds-theme-color-background-utility-default-low-emphasis), var(--eds-dark-theme-color-background-utility-default-low-emphasis));
  border: calc(var(--eds-border-width-sm) * 1px) solid light-dark(var(--eds-theme-color-border-utility-default-low-emphasis), var(--eds-dark-theme-color-border-utility-default-low-emphasis));
}

/* use :has selector to put the focus ring on the container & apply the avatar's shape */
*:has(> .avatar--is-interactive):focus-visible {
  border-radius: calc(var(--eds-border-radius-full) * 1px);

  @mixin focus;
}

@supports not selector(:focus-visible) {
  *:has(> .avatar--is-interactive):focus {
    border-radius: calc(var(--eds-border-radius-full) * 1px);

    @mixin focus;
  }
}

.avatar--is-interactive:hover,
.avatar--is-interactive:active {
  /* TODO: use color token (Check with Design) */
  box-shadow: inset 0 0 2px 0 rgb(from light-dark(var(--eds-theme-color-background-utility-base-1), var(--eds-dark-theme-color-background-utility-base-1)) r g b / 0.20),
              0 0 4px rgb(from #000000 r g b / 0.08);
}

.avatar--xs {
  height: calc(var(--eds-spacing-size-3) * 1px);
  width: calc(var(--eds-spacing-size-3) * 1px);
}

.avatar--sm {
  height: calc(var(--eds-spacing-size-4) * 1px);
  width: calc(var(--eds-spacing-size-4) * 1px);
}

.avatar--md {
  height: calc(var(--eds-spacing-size-5) * 1px);
  width: calc(var(--eds-spacing-size-5) * 1px);
}

.avatar--lg {
  height: calc(var(--eds-spacing-size-6) * 1px);
  width: calc(var(--eds-spacing-size-6) * 1px);
}

.avatar--xl {
  height: calc(var(--eds-spacing-size-8) * 1px);
  width: calc(var(--eds-spacing-size-8) * 1px);
}

.avatar--circle {
  border-radius: calc(var(--eds-border-radius-full) * 1px);
}

.avatar__image {
  width: 100%;
}