@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # AVATAR
\*------------------------------------*/

/**
 * Avatar
 */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  color: var(--eds-theme-color-text-neutral-strong);
  background-color: var(--eds-theme-color-background-neutral-medium);
}

.avatar:focus-visible {
  @mixin focus;
}

@supports not selector(:focus-visible) {
  .avatar:focus {
    @mixin focus;
  }
}

.avatar--sm {
  font: var(--eds-theme-typography-title-sm);

  height: var(--eds-size-4);
  width: var(--eds-size-4);
}

.avatar--md {
  font: var(--eds-theme-typography-title-md);

  height: var(--eds-size-5);
  width: var(--eds-size-5);
}

.avatar--lg {
  font: var(--eds-theme-typography-title-md);

  height: var(--eds-size-6);
  width: var(--eds-size-6);
}

.avatar--circle {
  border-radius: var(--eds-border-radius-round);
}

.avatar__image {
  width: 100%;
}
