@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # AVATAR
\*------------------------------------*/

/**
 * Avatar
 */
.avatar {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  color: var(--eds-theme-color-text-neutral-strong);
  background-color: var(--eds-theme-color-background-neutral-medium);

  white-space: nowrap;
}

.avatar:focus-visible {
  @mixin focus;
}

@supports not selector(:focus-visible) {
  .avatar:focus {
    @mixin focus;
  }
}

.avatar--xs {
  height: calc(var(--eds-spacing-size-3) * 1px);
  width: calc(var(--eds-spacing-size-3) * 1px);
}

.avatar--sm {
  height: calc(var(--eds-spacing-size-4) * 1px);
  width: calc(var(--eds-spacing-size-4) * 1px);
}

.avatar--md {
  height: calc(var(--eds-spacing-size-5) * 1px);
  width: calc(var(--eds-spacing-size-5) * 1px);
}

.avatar--lg {
  height: calc(var(--eds-spacing-size-6) * 1px);
  width: calc(var(--eds-spacing-size-6) * 1px);
}

.avatar--xl {
  height: calc(var(--eds-spacing-size-8) * 1px);
  width: calc(var(--eds-spacing-size-8) * 1px);
}

.avatar--xxl {
  height: calc(var(--eds-spacing-size-12) * 1px);
  width: calc(var(--eds-spacing-size-12) * 1px);
}

.avatar--xxxl {
  height: calc(calc(var(--eds-spacing-size-1) * 1px) * 20);
  width: calc(calc(var(--eds-spacing-size-1) * 1px) * 20);
}

.avatar--circle {
  border-radius: calc(var(--eds-border-radius-full) * 1px);
}

.avatar--square {
  border-radius: calc(var(--eds-border-radius-none) * 1px);
}

.avatar__image {
  width: 100%;
}