@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

/**
 * 1) Breadcrumbs are a navigational component
 * 2) The outer wrapper for the breadcrumbs is a
 *    <nav> element
 */
.breadcrumbs {
  margin-bottom: var(--eds-size-2);
  @mixin eds-theme-typography-body-text-sm;
}

/**
 * Breadcrumbs list
 */
.breadcrumbs__list {
  @mixin reset;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

/**
 * Breadcrumbs list item
 */
.breadcrumbs__item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

/**
 * Breacrumbs link
 */
.breadcrumbs__link {
  color: var(--eds-theme-color-neutral-md-foreground);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:focus-visible {
    @mixin focus;
  }
}

/**
 * Breacrumbs Icon
 * 1) Icon after each breadcrumb link
 */
.breadcrumbs__icon.breadcrumbs__icon {
  height: 0.75rem;
  width: 0.75rem;
  fill: var(--eds-theme-color-neutral-bold-foreground);
  margin-left: var(--eds-size-1);
  margin-right: var(--eds-size-1);
}

/**
 * Last breadcrumbs item icon
 * 1) Don't display the last item icon
 */
.breadcrumbs__item:last-child .breadcrumbs__icon.breadcrumbs__icon {
  display: none;
}
