@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #BREADCRUMBS
\*------------------------------------*/

/**
 * 1) Breadcrumbs are a navigational component
 * 2) The outer wrapper for the breadcrumbs is a
 *    <nav> element
 */
.breadcrumbs {
  margin-bottom: var(--eds-size-2);
  @mixin eds-theme-typography-body-text-xs;
}

/**
 * Breadcrumbs list
 */
.breadcrumbs__list {
  @mixin reset;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
