@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #LAYOUT CONTAINER
\*------------------------------------*/

/**
 * Layout Container
 * 1) Caps the width of the content to the maximum width
 *    and centers the container
 * 2) Uses calc to account for the addition of padding around the layout container
 *    to ensure content doesn't butt up against viewport edge
 */
.layout-container {
  max-width: calc(var(--eds-l-max-width) + var(--eds-size-6)); /* 2 */
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--eds-size-2);
  padding-right: var(--eds-size-2);

  @media all and (min-width: $eds-bp-lg) {
    padding-left: var(--eds-size-3);
    padding-right: var(--eds-size-3);
  }
}

/**
 * Layout container centered
 * 1) Used for pages that don't contain the header or the footer
 */
.eds-l-container--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
}
