/*------------------------------------*\
    # LAYOUT CONTAINER
\*------------------------------------*/

/**
 * Layout Container
 *
 * Caps the width of the content to the maximum width and centers the container.
 */
.layout-container {
  /**
  * Uses calc to account for the addition of padding around the layout container
  * to ensure content doesn't butt up against viewport edge.
  */
  max-width: calc(var(--eds-l-max-width) + var(--eds-size-6));
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--eds-size-2);
  padding-right: var(--eds-size-2);

  @media all and (min-width: $eds-bp-lg) {
    padding-left: var(--eds-size-3);
    padding-right: var(--eds-size-3);
  }
}

/**
 * Layout container centered
 *
 * Used for pages that don't contain the header or the footer.
 */
.eds-l-container--center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  height: 100vh;
}
