/*------------------------------------*\
    # TOOLTIP
\*------------------------------------*/

.tooltip {
  border-style: solid;
  border-width: calc(var(--eds-border-width-sm) * 1px);
  border-radius: calc(var(--eds-theme-border-radius-surfaces-md) * 1px);
  box-shadow: var(--eds-box-shadow-md);
  max-width: 224px;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Enables opacity fade animation 
 */
.tooltip[data-state='hidden'] {
  opacity: 0;
}

.tooltip :global(.tippy-content) {
  padding-left: calc(var(--eds-spacing-size-2) * 1px);
  padding-right: calc(var(--eds-spacing-size-2) * 1px);
  padding-bottom: calc(var(--eds-spacing-size-1) * 1px);
  padding-top: calc(var(--eds-spacing-size-1) * 1px);
}

/**
 * Add arrows
 */
.tooltip :global(.tippy-arrow) {
  position: absolute;

  width: calc(var(--eds-spacing-size-2) * 1px);
  height: calc(var(--eds-spacing-size-2) * 1px);
}

.tooltip :global(.tippy-arrow::before) {
  position: absolute;

  border-style: solid;
  border-color: transparent;
  border-width: calc(var(--eds-spacing-size-1) * 1px);

  content: '';
}

.tooltip[data-placement^='top'] :global(.tippy-arrow) {
  left: 0;

  transform: translate3d(73px, 0, 0);
}

.tooltip[data-placement^='bottom'] :global(.tippy-arrow) {
  top: 0;
  left: 0;

  transform: translate3d(73px, 0, 0);
}

.tooltip[data-placement^='left'] :global(.tippy-arrow) {
  top: 0;
  right: 0;

  transform: translate3d(0, 19px, 0);
}

.tooltip[data-placement^='right'] :global(.tippy-arrow) {
  top: 0;
  left: 0;

  transform: translate3d(0, 25px, 0);
}

.tooltip[data-placement^='top'] :global(.tippy-arrow::before) {
  left: 0;

  border-top-color: var(--arrow-color);
  border-bottom-width: 0;
}

.tooltip[data-placement^='bottom'] :global(.tippy-arrow::before) {
  left: 0;

  border-bottom-color: var(--arrow-color);
  border-top-width: 0;
  top: -7px;
}

.tooltip[data-placement^='left'] :global(.tippy-arrow::before) {
  border-left-color: var(--arrow-color);
  border-right-width: 0;
  right: -7px;
}

.tooltip[data-placement^='right'] :global(.tippy-arrow::before) {
  border-right-color: var(--arrow-color);
  border-left-width: 0;
  left: -7px;
}

.tooltip--variant-default {
  color: light-dark(var(--eds-theme-color-text-utility-inverse), var(--eds-dark-theme-color-text-utility-inverse));
  border-color: light-dark(var(--eds-theme-color-background-utility-default-high-emphasis), var(--eds-dark-theme-color-background-utility-default-high-emphasis));
  --arrow-color: light-dark(var(--eds-theme-color-background-utility-default-high-emphasis), var(--eds-dark-theme-color-background-utility-default-high-emphasis));
  background-color: light-dark(var(--eds-theme-color-background-utility-default-high-emphasis), var(--eds-dark-theme-color-background-utility-default-high-emphasis));
}

.tooltip--variant-inverse {
  color: light-dark(var(--eds-theme-color-text-utility-default-primary), var(--eds-dark-theme-color-text-utility-default-primary));
  border-color: light-dark(var(--eds-theme-color-background-utility-inverse-high-emphasis), var(--eds-dark-theme-color-background-utility-inverse-high-emphasis));
  --arrow-color: light-dark(var(--eds-theme-color-background-utility-inverse-high-emphasis), var(--eds-dark-theme-color-background-utility-inverse-high-emphasis));
  background-color: light-dark(var(--eds-theme-color-background-utility-inverse-high-emphasis), var(--eds-dark-theme-color-background-utility-inverse-high-emphasis));
}