/*------------------------------------*\
    # TOOLTIP
\*------------------------------------*/

/**
 * Tippyjs provides .tippy-box, which has two child elements: .tippy-content and .tippy-arrow.
 *
 * Tippyjs also attaches data-attribute `data-placement` depending on how the tooltip is aligned.
 */

.tooltip {
  border-style: solid;
  border-width: var(--eds-border-width-sm);
  border-radius: var(--eds-border-radius-lg);
  box-shadow: var(--eds-box-shadow-md);

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Enables opacity fade animation 
 */
.tooltip[data-state='hidden'] {
  opacity: 0;
}

.tooltip :global(.tippy-content) {
  padding-left: var(--eds-size-2);
  padding-right: var(--eds-size-2);
  padding-bottom: var(--eds-size-1);
  padding-top: var(--eds-size-1);
}

/**
 * Color Variants
 */
.tooltip--light {
  border-color: var(--eds-theme-color-border-neutral-default);
  color: var(--eds-theme-color-text-neutral-default);
  background-color: var(--eds-theme-color-background-neutral-subtle);
  --arrow-color: var(--eds-theme-color-border-neutral-default);
}

.tooltip--dark {
  border-color: var(--eds-theme-color-body-background-inverted);
  color: var(--eds-theme-color-text-neutral-default-inverse);
  background-color: var(--eds-theme-color-body-background-inverted);
  --arrow-color: var(--eds-theme-color-body-background-inverted);
}

/**
 * Add arrows
 */
.tooltip :global(.tippy-arrow) {
  position: absolute;

  width: var(--eds-size-2);
  height: var(--eds-size-2);
}

.tooltip :global(.tippy-arrow::before) {
  position: absolute;

  border-style: solid;
  border-color: transparent;
  border-width: var(--eds-size-1);

  content: '';
}

.tooltip[data-placement^='top'] :global(.tippy-arrow) {
  left: 0;

  transform: translate3d(73px, 0, 0);
}

.tooltip[data-placement^='bottom'] :global(.tippy-arrow) {
  top: 0;
  left: 0;

  transform: translate3d(73px, 0, 0);
}

.tooltip[data-placement^='left'] :global(.tippy-arrow) {
  top: 0;
  right: 0;

  transform: translate3d(0, 19px, 0);
}

.tooltip[data-placement^='right'] :global(.tippy-arrow) {
  top: 0;
  left: 0;

  transform: translate3d(0, 25px, 0);
}

.tooltip[data-placement^='top'] :global(.tippy-arrow::before) {
  left: 0;

  border-top-color: var(--arrow-color);
  border-bottom-width: 0;
}

.tooltip[data-placement^='bottom'] :global(.tippy-arrow::before) {
  left: 0;

  border-bottom-color: var(--arrow-color);
  border-top-width: 0;
  top: -7px;
}

.tooltip[data-placement^='left'] :global(.tippy-arrow::before) {
  border-left-color: var(--arrow-color);
  border-right-width: 0;
  right: -7px;
}

.tooltip[data-placement^='right'] :global(.tippy-arrow::before) {
  border-right-color: var(--arrow-color);
  border-left-width: 0;
  left: -7px;
}
