/*------------------------------------*\
    # TOOLTIP
\*------------------------------------*/

/**
 * TippyJS provides .tippy-box, which has two child elements: .tippy-content and .tippy-arrow.
 *
 * TippyJS also attaches data-attribute `data-placement` depending on how the tooltip is aligned.
 */

.tooltip {
  border-style: solid;
  border-width: calc(var(--eds-border-width-sm) * 1px);
  border-radius: calc(var(--eds-border-radius-lg) * 1px);
  box-shadow: var(--eds-box-shadow-md);

  @media (prefers-reduced-motion) {
    transition: none;
  }

  border-color: var(--eds-theme-color-border-neutral-default);
  color: var(--eds-theme-color-text-neutral-default);
  background-color: var(--eds-theme-color-background-neutral-subtle);
  --arrow-color: var(--eds-theme-color-border-neutral-default);
}

/**
 * Enables opacity fade animation 
 */
.tooltip[data-state='hidden'] {
  opacity: 0;
}

.tooltip :global(.tippy-content) {
  padding-left: calc(var(--eds-size-2) / 16 * 1rem);
  padding-right: calc(var(--eds-size-2) / 16 * 1rem);
  padding-bottom: calc(var(--eds-size-1) / 16 * 1rem);
  padding-top: calc(var(--eds-size-1) / 16 * 1rem);
}

/**
 * Add arrows
 */
.tooltip :global(.tippy-arrow) {
  position: absolute;

  width: calc(var(--eds-size-2) / 16 * 1rem);
  height: calc(var(--eds-size-2) / 16 * 1rem);
}

.tooltip :global(.tippy-arrow::before) {
  position: absolute;

  border-style: solid;
  border-color: transparent;
  border-width: calc(var(--eds-size-1) / 16 * 1rem);

  content: '';
}

.tooltip[data-placement^='top'] :global(.tippy-arrow) {
  left: 0;

  transform: translate3d(73px, 0, 0);
}

.tooltip[data-placement^='bottom'] :global(.tippy-arrow) {
  top: 0;
  left: 0;

  transform: translate3d(73px, 0, 0);
}

.tooltip[data-placement^='left'] :global(.tippy-arrow) {
  top: 0;
  right: 0;

  transform: translate3d(0, 19px, 0);
}

.tooltip[data-placement^='right'] :global(.tippy-arrow) {
  top: 0;
  left: 0;

  transform: translate3d(0, 25px, 0);
}

.tooltip[data-placement^='top'] :global(.tippy-arrow::before) {
  left: 0;

  border-top-color: var(--arrow-color);
  border-bottom-width: 0;
}

.tooltip[data-placement^='bottom'] :global(.tippy-arrow::before) {
  left: 0;

  border-bottom-color: var(--arrow-color);
  border-top-width: 0;
  top: -7px;
}

.tooltip[data-placement^='left'] :global(.tippy-arrow::before) {
  border-left-color: var(--arrow-color);
  border-right-width: 0;
  right: -7px;
}

.tooltip[data-placement^='right'] :global(.tippy-arrow::before) {
  border-right-color: var(--arrow-color);
  border-left-width: 0;
  left: -7px;
}
