@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #DRAGDROP
\*------------------------------------*/

/**
 * 1) Outer container for DragDrop component; provides <DragDropContext />, which wraps droppable components (i.e. containers) and provides them with context 
 * 2) Uses a flex row to align containers
 */
.drag-drop {
  display: flex;
  overflow: auto;
}

/**
 * Drag drop container
 * 1) Set to display flex so empty state can span entire column.
 */
.drag-drop__container {
  display: flex; /* 1 */
  flex-shrink: 0;
  flex-direction: column;
  margin-left: var(--eds-size-2);
  width: 20rem;
  /**
  * First drag drop container
  * 1) Don't add left margin to left align with the rest of the content
  */
  &:first-of-type {
    margin-left: 0; /* 1 */
  }
}

/**
* 1) An area that can be dropped into.
* 2) DragDropContainer styles are included here rather than in the /DragDropContainer directory as a workaround to CSS Modules' locally scoped class names 
* 3) Explicitly giving container display type of 'block'. Avoid using flex; doing so may cause jumpy behavior when items are dropped.
* 4) If a minimum height is not set, all containers in the same context will have their height determined by the longest "list" of items, and will resize as items are moved, which may or may not be desirable. 
* 5) Setting a fixed width for containers avoids jumpy behavior caused by using flex grow or other non-fixed width methods.
*/
.drag-drop__container-inner {
  display: block; /* 3 */
  border-radius: var(--eds-border-radius-md);

  /**
  * 1) Distinguish last container from first container (not used when more than two containers)
  * 2) When the container is empty, a background image may be displayed. This may be helpful when the app starts with all items in the first container
  * 3) When there are more than two containers, disable the empty background
  */
  .drag-drop__container:last-of-type & {
    background-color: var(--eds-color-neutral-200);

    .drag-drop--multiple & {
      background-color: unset;
    }
  }

  /* 2 */
  .drag-drop__container--empty & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: var(--eds-size-4);
    color: var(--eds-theme-color-text-neutral-subtle);
  }

  /**
  * 1) When there are more than two containers, apply a border
  */
  .drag-drop--multiple & {
    border: var(--eds-theme-border-width) solid
      var(--eds-theme-color-border-neutral-default);
  }
}

/**
* 1) Container that holds droppable content. 
* 2) DragDropItem styles are included here rather than in the /DragDropItem directory as a workaround to CSS Modules' locally scoped class names 
* 3) For best experience, use a margin on a single side of an item to add a gap between items. Using a margin on both top and bottom, or using flex or grid gap spacing in the drag-drop-container, cause jumpy behavior.
*/

.drag-drop__item {
  position: relative;
  margin-bottom: var(--eds-size-2); /* 3 */
  background-color: var(--eds-color-neutral-100);
  border-radius: var(--eds-border-radius-md);
  box-shadow: var(--eds-box-shadow-sm);

  &:focus-within {
    outline: 2px solid blue;
  }

  /**
  * 1) The unstyled variant removes all styling from items.
  */
  .drag-drop--unstyled & {
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
  }
}
/** 
* 1) Optional title div at the top of an item.
*/
.drag-drop__item-title {
  @mixin eds-typography-preset-007-bold;
  margin-bottom: var(--eds-size-2);
}

/**
* 1) Used with handles variant to wrap children.
*/
.drag-drop__item-content {
  flex-grow: 1;
}

/**
* 1) Wrapper for drag handle.
*/
.drag-drop__item-handle {
  position: absolute;
  top: 1px;
  left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  height: calc(100% - 2px);
  padding: var(--eds-size-1);
  z-index: var(--eds-z-index-500);
  background: var(--eds-theme-color-background-neutral-default);
  transition: opacity var(--eds-anim-fade-quick) var(--eds-anim-ease);

  .drag-drop__item:hover &,
  .drag-drop__item:focus & {
    opacity: 1;
  }
}
