@import '../../design-tokens/mixins.css';

/**
 * The interactive pill shaped component with a circle to indicate toggle status.
 */
.toggle__button {
  /* The transparent border is used to support Windows high contrast mode and reduce potential jiggling with adding / removing borders */
  border: calc(var(--eds-theme-border-width) * 1px) solid transparent;
  padding: 0;

  position: relative;
  display: inline-flex;

  height: calc(var(--eds-spacing-size-3) / 16 * 1rem);
  width: calc(var(--eds-spacing-size-7) / 16 * 1rem);

  flex-shrink: 0;
  align-items: center;

  border-radius: calc(var(--eds-border-radius-full) * 1px);

  cursor: pointer;

  transition: background-color calc(var(--eds-anim-move-quick) * 1s) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Focus state of the toggle button.
 */
.toggle__button:focus {
  @mixin focus;
}

/**
 * Unchecked state of the toggle button.
 */
.toggle__button--unchecked {
  background-color: var(--eds-theme-color-toggle-off-background);
}

/**
 * Checked state of the toggle button.
 */
.toggle__button--checked {
  background-color: var(--eds-theme-color-toggle-on-background);
}

/**
 * Disabled state of the toggle button.
 */
.toggle__button:disabled {
  background-color: var(--eds-theme-color-toggle-disabled-background);
  cursor: not-allowed;
}

/**
 * Disabled state of the associated label text to the toggle.
 */
.toggle__button:disabled~.toggle__label {
  color: var(--eds-theme-color-toggle-disabled-text);
}

/**
 * The label text to name the toggle.
 */
.toggle__label {
  margin-bottom: 0;

  color: var(--eds-theme-color-toggle-primary-text);
  font: var(--eds-theme-typography-body-md);
}

/**
 * Wraps the toggle button and the label text.
 */
.toggle__wrapper {
  display: flex;
  align-items: center;

  gap: calc(var(--eds-spacing-size-1) / 16 * 1rem);
}

/**
 * The circle indicator of the toggle button.
 */
.toggle__button-thumb {
  display: inline-block;

  height: calc(var(--eds-spacing-size-2-and-half) / 16 * 1rem);
  width: calc(var(--eds-spacing-size-2-and-half) / 16 * 1rem);

  /* The transparent border is used to support Windows high contrast mode and reduce potential jiggling with adding / removing borders */
  border: calc(var(--eds-theme-border-width) * 1px) solid transparent;
  border-radius: calc(var(--eds-border-radius-full) * 1px);

  background-color: var(--eds-theme-color-toggle-thumb);

  transition: transform calc(var(--eds-anim-move-quick) * 1s) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * The unchecked state of the circle indicator.
 */
.toggle__button--unchecked>.toggle__button-thumb {
  transform: translateX(0.0625rem);
}

/**
 * The checked state of the circle indicator.
 */
.toggle__button--checked>.toggle__button-thumb {
  transform: translateX(2.0625rem);
}