:where(.markdown) {
  area,
  base,
  basefont,
  datalist,
  head,
  link,
  meta,
  noembed,
  param,
  rp,
  script,
  style,
  template,
  title {
    display: none;
  }

  body {
    display: block;
    margin: 8px;
  }

  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  address,
  article,
  aside,
  div,
  footer,
  header,
  hgroup,
  main,
  nav,
  section {
    display: block;
  }

  marquee {
    display: inline-block;
    text-align: initial;
  }

  blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  figcaption {
    display: block;
  }

  figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }

  q {
    display: inline;
  }

  q::before {
    content: open-quote;
  }

  q::after {
    content: close-quote;
  }

  center {
    display: block;
    text-align: -webkit-center;
  }

  hr {
    display: block;
    overflow: hidden;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: inset;
    border-width: 1px;
  }

  abbr[title],
  acronym[title] {
    text-decoration: dotted underline;
  }

  ::backdrop {
    display: block;
    position: fixed;
    inset: 0;
  }

  body:-webkit-full-page-media {
    background-color: rgb(38, 38, 38);
  }

  video {
    object-fit: contain;
    content: normal !important;
  }

  audio {
    width: 200px;
    height: 25px;
  }

  audio:not([controls]) {
    display: none !important;
  }

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  :is(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
  }

  :is(article, aside, nav, section) :is(article, aside, nav, section) h1 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }

  :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    h1 {
    font-size: 1em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
  }

  :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    h1 {
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
  }

  :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    :is(article, aside, nav, section)
    h1 {
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
  }

  table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    text-indent: initial;
    box-sizing: border-box;
  }

  thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tfoot {
    display: table-footer-group;
    vertical-align: middle;
    border-color: inherit;
  }

  table > tr {
    vertical-align: middle;
  }

  col {
    display: table-column;
  }

  colgroup {
    display: table-column-group;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  td,
  th {
    display: table-cell;
    vertical-align: inherit;
  }

  th {
    font-weight: bold;
    text-align: -internal-th-center;
  }

  caption {
    display: table-caption;
    text-align: -webkit-center;
  }

  ul,
  menu,
  dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
  }

  li {
    display: list-item;
    text-align: match-parent;
  }

  ::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    white-space: pre;
    text-transform: none;
  }

  ul ul,
  ol ul {
    list-style-type: circle;
  }

  ol ol ul,
  ol ul ul,
  ul ol ul,
  ul ul ul {
    list-style-type: square;
  }

  dd {
    display: block;
    margin-inline-start: 40px;
  }

  dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  dt {
    display: block;
  }

  ol ul,
  ul ol,
  ul ul,
  ol ol {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  form {
    display: block;
    margin-top: 0em;
  }

  label {
    cursor: default;
  }

  legend {
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border: none;
  }

  fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    border: 2px groove ThreeDFace;
    min-inline-size: min-content;
  }

  button {
    appearance: auto;
  }

  select,
  button,
  meter,
  progress,
  input:is([type='button'], [type='submit'], [type='reset'], [type='file']) {
    writing-mode: horizontal-tb !important;
  }

  input,
  textarea,
  select,
  button {
    margin: 0em;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
  }

  input[type='hidden'] {
    display: none;
  }

  input {
    appearance: auto;

    background-color: white;

    border: 2px inset;
    padding: 1px;

    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
  }

  input[type='search'] {
    box-sizing: border-box;
  }

  input::-webkit-textfield-decoration-container {
    display: flex;
    align-items: center;
    content: none !important;
  }

  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-results-decoration {
    appearance: auto;
    display: block;
    flex: none;
    align-self: flex-start;
    margin: auto 0;
  }

  input[type='search']::-webkit-search-results-button {
    appearance: auto;
    display: block;
    flex: none;
  }

  input:is(
      [type='date'],
      [type='time'],
      [type='datetime-local'],
      [type='month'],
      [type='week']
    ) {
    align-items: center;
    display: inline-flex;
    overflow: hidden;

    outline: none;
    font-variant-numeric: tabular-nums;

    font-feature-settings: 'ss03';
  }

  input::-webkit-date-and-time-value {
    margin: 1px 24px 1px 4px;
    white-space: pre;
  }

  input::-webkit-datetime-edit {
    display: inline-block;
    overflow: hidden;
    padding: 1px;
  }

  input::-webkit-datetime-edit-fields-wrapper {
    display: inline-block;
    white-space: pre;
  }

  input::-webkit-datetime-edit-year-field,
  input::-webkit-datetime-edit-month-field,
  input::-webkit-datetime-edit-day-field,
  input::-webkit-datetime-edit-hour-field,
  input::-webkit-datetime-edit-minute-field,
  input::-webkit-datetime-edit-second-field,
  input::-webkit-datetime-edit-millisecond-field,
  input::-webkit-datetime-edit-meridiem-field {
    display: inline-block;
    font: inherit !important;
    padding: 1px;
    text-align: center;
  }

  input::-webkit-datetime-edit-year-field:focus,
  input::-webkit-datetime-edit-month-field:focus,
  input::-webkit-datetime-edit-day-field:focus,
  input::-webkit-datetime-edit-hour-field:focus,
  input::-webkit-datetime-edit-minute-field:focus,
  input::-webkit-datetime-edit-second-field:focus,
  input::-webkit-datetime-edit-millisecond-field:focus,
  input::-webkit-datetime-edit-meridiem-field:focus {
    background-color: highlight;
    color: highlighttext;
    outline: none;
  }

  input[disabled]::-webkit-datetime-edit-year-field,
  input[disabled]::-webkit-datetime-edit-month-field,
  input[disabled]::-webkit-datetime-edit-day-field,
  input[disabled]::-webkit-datetime-edit-hour-field,
  input[disabled]::-webkit-datetime-edit-minute-field,
  input[disabled]::-webkit-datetime-edit-second-field,
  input[disabled]::-webkit-datetime-edit-millisecond-field,
  input[disabled]::-webkit-datetime-edit-meridiem-field,
  input[disabled]::-webkit-datetime-edit-text {
    color: GrayText;
  }

  input::-webkit-datetime-edit-text {
    display: inline;
  }

  input::-webkit-inner-spin-button {
    appearance: auto;
    display: block;
    position: relative;
    cursor: default;
    height: 1.5em;
    flex: none;
    -webkit-user-select: none;
  }

  input::-webkit-strong-password-auto-fill-button {
    flex-shrink: 1 !important;
    -webkit-text-security: none !important;
    -webkit-user-select: none !important;
    pointer-events: none !important;
    text-align: right !important;
    color: rgba(0, 0, 0, 0.8) !important;
    padding-left: 6px !important;
    white-space: nowrap !important;
  }

  input::-webkit-credentials-auto-fill-button {
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 44 24" xmlns="http://www.w3.org/2000/svg"><path d="M 30.25 9.25 L 36.5 15.75 L 42.75 9.25" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><path d="M 16 3.5 C 16 2.672 16.672 2 17.5 2 C 18.3 2 19 2.7 19 3.5 C 19 4.3 18.3 5 17.5 5 C 16.7 5 16 4.3 16 3.5 Z M 11 6.5 C 11 10.1 13.9 13 17.5 13 C 21.1 13 24 10.1 24 6.5 C 24 2.9 21.1 0 17.5 0 C 13.9 0 11 2.9 11 6.5 Z"/><path d="M 20 17.3 L 20 18.6 L 20.9 19.9 C 21 20 21 20 21 20 L 17.7 23.8 C 17.7 23.8 17.7 23.8 17.7 23.8 C 17.5 23.9 17.4 23.9 17.3 23.8 L 15 21 L 15 11 L 20 11 L 20 14.8 L 21 15.9 C 21 16 21 16 20.9 16.1 L 20 17.3 Z M 17 13 L 17 21.3 L 17.5 21.8 L 18 21.3 L 18 13 L 17 13 Z"/></svg>');
    mask-size: 22px 12px;
    width: 22px;
    height: 12px;
    margin-left: 3px;
    margin-right: 2px;
    background-color: black;
    flex: none;
    -webkit-user-select: none;
  }

  input::-webkit-credentials-auto-fill-button:hover {
    background-color: rgb(0, 122, 255);
  }

  input::-webkit-credentials-auto-fill-button:active {
    background-color: rgb(0, 60, 219);
  }

  input::-webkit-contacts-auto-fill-button {
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 44 24" xmlns="http://www.w3.org/2000/svg"><path d="M 30.25 9.25 L 36.5 15.75 L 42.75 9.25" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><circle cx="12" cy="12" r="11" fill="none" stroke="black" stroke-width="2"/><path d="M 12 11.5 C 10.3 11.5 9 10.1 9 8.2 C 9 6.5 10.3 5 12 5 C 13.6 5 15 6.5 15 8.2 C 15 10.1 13.6 11.5 12 11.5 Z M 6.6 18 C 6.2 18 6 17.7 6 17.4 C 6 16.2 7.9 13 12 13 C 16.1 13 18 16.2 18 17.4 C 18 17.7 17.8 18 17.4 18 L 6.6 18 Z"/></svg>');
    mask-size: 22px 12px;
    width: 22px;
    height: 12px;
    margin-left: 3px;
    margin-right: 2px;
    background-color: black;
    flex: none;
    -webkit-user-select: none;
  }

  input::-webkit-contacts-auto-fill-button:hover {
    background-color: rgb(0, 122, 255);
  }

  input::-webkit-contacts-auto-fill-button:active {
    background-color: rgb(0, 60, 219);
  }

  input::-webkit-credit-card-auto-fill-button {
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 44 24" xmlns="http://www.w3.org/2000/svg"><path d="M 30.25 9.25 L 36.5 15.75 L 42.75 9.25" fill="none" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/><rect x="1" y="4" width="22" height="16" rx="2" fill="none" stroke="black" stroke-width="2"/><rect x="2" y="8" width="20" height="3"/><rect x="3" y="12" width="5" height="4" rx="1"/></svg>');
    mask-size: 22px 12px;
    width: 22px;
    height: 12px;
    margin-left: 3px;
    margin-right: 2px;
    background-color: black;
    flex: none;
    -webkit-user-select: none;
  }

  input::-webkit-credit-card-auto-fill-button:hover {
    background-color: rgb(0, 122, 255);
  }

  input::-webkit-credit-card-auto-fill-button:active {
    background-color: rgb(0, 60, 219);
  }

  input::-webkit-loading-auto-fill-button {
    background-image: url('data:image/svg+xml,<svg width="22" height="12" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xml:space="preserve"><path fill="rgb(55,55,55)" d="M19.36,12.64L19.36,12.64c-0.88-0.88-0.88-2.3,0-3.18l4.6-4.6c0.88-0.88,2.3-0.88,3.18,0l0,0c0.88,0.88,0.88,2.3,0,3.18l-4.6,4.6C21.66,13.52,20.24,13.52,19.36,12.64z"><animate attributeName="fill" begin="0s" dur="1s" values="rgb(86,86,86);rgb(207,207,207)" calcMode="linear" repeatCount="indefinite" /></path><path fill="rgb(76,76,76)" d="M20.75,16L20.75,16c0-1.24,1.01-2.25,2.25-2.25l6.5,0c1.24,0,2.25,1.01,2.25,2.25v0c0,1.24-1.01,2.25-2.25,2.25l-6.5,0C21.76,18.25,20.75,17.24,20.75,16z"><animate attributeName="fill" begin="0.125s" dur="1s" values="rgb(86,86,86);rgb(207,207,207)" calcMode="linear" repeatCount="indefinite" /></path><path fill="rgb(97,97,97)" d="M27.14,27.14L27.14,27.14c-0.88,0.88-2.3,0.88-3.18,0l-4.6-4.6c-0.88-0.88-0.88-2.3,0-3.18l0,0c0.88-0.88,2.3-0.88,3.18,0l4.6,4.6C28.02,24.83,28.02,26.26,27.14,27.14z"><animate attributeName="fill" begin="0.25s" dur="1s" values="rgb(86,86,86);rgb(207,207,207)" calcMode="linear" repeatCount="indefinite" /></path><path fill="rgb(118,118,118)" d="M16,31.75L16,31.75c-1.24,0-2.25-1.01-2.25-2.25l0-6.5c0-1.24,1.01-2.25,2.25-2.25h0c1.24,0,2.25,1.01,2.25,2.25l0,6.5C18.25,30.74,17.24,31.75,16,31.75z"><animate attributeName="fill" begin="0.375s" dur="1s" values="rgb(86,86,86);rgb(207,207,207)" calcMode="linear" repeatCount="indefinite" /></path><path fill="rgb(138,138,138)" d="M4.86,27.14L4.86,27.14c-0.88-0.88-0.88-2.3,0-3.18l4.6-4.6c0.88-0.88,2.3-0.88,3.18,0l0,0c0.88,0.88,0.88,2.3,0,3.18l-4.6,4.6C7.17,28.02,5.74,28.02,4.86,27.14z"><animate attributeName="fill" begin="0.5s" dur="1s" values="rgb(86,86,86);rgb(207,207,207)" calcMode="linear" repeatCount="indefinite" /></path><path fill="rgb(159,159,159)" d="M0.25,16L0.25,16c0-1.24,1.01-2.25,2.25-2.25l6.5,0c1.24,0,2.25,1.01,2.25,2.25v0c0,1.24-1.01,2.25-2.25,2.25l-6.5,0C1.26,18.25,0.25,17.24,0.25,16z"><animate attributeName="fill" begin="0.625s" dur="1s" values="rgb(86,86,86);rgb(207,207,207)" calcMode="linear" repeatCount="indefinite" /></path><path fill="rgb(180,180,180)" d="M12.64,12.64L12.64,12.64c-0.88,0.88-2.3,0.88-3.18,0l-4.6-4.6c-0.88-0.88-0.88-2.3,0-3.18l0,0c0.88-0.88,2.3-0.88,3.18,0l4.6,4.6C13.52,10.34,13.52,11.76,12.64,12.64z"><animate attributeName="fill" begin="0.75s" dur="1s" values="rgb(86,86,86);rgb(207,207,207)" calcMode="linear" repeatCount="indefinite" /></path><path fill="rgb(201,201,201)" d="M16,11.25L16,11.25c-1.24,0-2.25-1.01-2.25-2.25l0-6.5c0-1.24,1.01-2.25,2.25-2.25h0c1.24,0,2.25,1.01,2.25,2.25l0,6.5C18.25,10.24,17.24,11.25,16,11.25z"><animate attributeName="fill" begin="0.875s" dur="1s" values="rgb(86,86,86);rgb(207,207,207)" calcMode="linear" repeatCount="indefinite" /></path></svg>');
    width: 22px;
    height: 12px;
    margin-left: 3px;
    margin-right: 2px;
    flex: none;
    -webkit-user-select: none;
  }

  input::-webkit-caps-lock-indicator {
    appearance: auto;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"><path fill="black" fill-opacity="0.4" d="M12.5 0.5A 4 4 0 0 1 16.5 4.5L 16.5 12.5A 4 4 0 0 1 12.5 16.5L 4.5 16.5A 4 4 0 0 1 0.5 12.5L 0.5 4.5A 4 4 0 0 1 4.5 0.5L 12.5 0.5M 8.5 2L 4 7L 6.25 7L 6.25 10.25L 10.75 10.25L 10.75 7L 13 7L 8.5 2M 10.75 12L 6.25 12L 6.25 14.25L 10.75 14.25L 10.75 12"/></svg>');
    max-width: 17px;
    align-self: stretch;
    flex: none;
    -webkit-user-select: none;
  }

  input::-webkit-list-button {
    appearance: auto;
    display: block;
    position: relative;
    cursor: default;
    align-self: stretch;
    flex: none;
    -webkit-user-select: none;
    width: 16px;
    height: 100%;
  }

  select {
    border-radius: 5px;
    box-sizing: border-box;
    appearance: auto;
    border: 1px solid;
    color: black;
    background-color: white;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
  }

  textarea {
    appearance: auto;
    background-color: white;
    border: 1px solid;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    padding: 2px;
    flex-direction: column;
    resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  ::placeholder {
    -webkit-text-security: none;
    color: darkGray;
    direction: inherit !important;
    pointer-events: none !important;
    text-orientation: inherit !important;
    writing-mode: inherit !important;
  }

  input::placeholder {
    white-space: pre;
    word-wrap: normal;
    overflow: hidden;
    line-height: initial !important;
  }

  input:disabled,
  textarea:disabled {
    color: color-mix(in hsl, CanvasText 66%, Canvas);
  }

  input:is([type='hidden'], [type='image'], [type='file']) {
    appearance: initial;
    padding: initial;
    background-color: initial;
    border: initial;
  }

  input[type='file'] {
    align-items: baseline;
    color: inherit;
    text-align: start !important;
  }

  input:-webkit-autofill-and-obscured {
    -webkit-text-security: disc !important;
  }

  input:-webkit-autofill-strong-password {
    -webkit-user-select: none !important;
  }

  input:-webkit-autofill-strong-password,
  input:-webkit-autofill-strong-password-viewable {
    input-security: none !important;
    cursor: default !important;
    font-family: monospace;
  }

  input:-webkit-autofill,
  input:-webkit-autofill-strong-password,
  input:-webkit-autofill-strong-password-viewable,
  input:-webkit-autofill-and-obscured {
    background-color: #faffbd !important;
    background-image: none !important;
    color: #000000 !important;
  }

  input:is([type='radio'], [type='checkbox']) {
    margin: 3px 2px;
    padding: initial;
    background-color: initial;
    border: initial;
  }

  input:is([type='button'], [type='submit'], [type='reset']) {
    white-space: pre;
  }

  input[type='file']::file-selector-button {
    white-space: nowrap;
    margin: 0;
    font-size: inherit;
  }

  input:is([type='button'], [type='submit'], [type='reset']),
  input[type='file']::file-selector-button,
  button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: ButtonText;
    padding: 2px 6px 3px 6px;
    border: 2px outset ButtonFace;
    background-color: ButtonFace;
    box-sizing: border-box;
  }

  input:is([type='button'], [type='submit'], [type='reset']):active,
  input[type='file']::file-selector-button:active,
  button:active {
    color: ActiveButtonText;
  }

  input[type='range'] {
    padding: initial;
    border: initial;
    margin: 2px;
    color: #909090;
  }

  input[type='range']::-webkit-slider-container,
  input[type='range']::-webkit-media-slider-container {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-content: center;
    min-width: 0;
  }

  input[type='range']::-webkit-slider-runnable-track {
    flex: 1;
    align-self: center;

    box-sizing: border-box;
    display: block;
  }

  input[type='range']::-webkit-slider-thumb,
  input[type='range']::-webkit-media-slider-thumb {
    appearance: auto;
    box-sizing: border-box;
    display: block;
  }

  input:is([type='button'], [type='submit'], [type='reset']):disabled,
  input[type='file']:disabled::file-selector-button,
  button:disabled,
  select:disabled,
  optgroup:disabled,
  option:disabled,
  select[disabled] > option {
    color: GrayText;
  }

  input:is([type='button'], [type='submit'], [type='reset']):active,
  input[type='file']:active::file-selector-button,
  button:active {
    border-style: inset;
  }

  input:is([type='button'], [type='submit'], [type='reset']):active:disabled,
  input[type='file']:active:disabled::file-selector-button,
  button:active:disabled {
    border-style: outset;
  }

  input[type='checkbox'] {
    box-sizing: border-box;
  }

  input[type='radio'] {
    box-sizing: border-box;
  }

  input[type='color']::-webkit-color-swatch-wrapper {
    display: flex;
    padding-inline: 2px;
    padding-block: 4px 5px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }

  input[type='color']::-webkit-color-swatch {
    background-color: #000000;
    border-radius: 2px;
    flex: 1;
  }

  select:is([size], [multiple]),
  select[size][multiple] {
    align-items: flex-start;
    border: 1px inset gray;
    border-radius: initial;
    white-space: initial;
  }

  select:is([size=''], [size='0'], [size='1']) {
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    white-space: pre;
  }

  optgroup {
    font-weight: bolder;
  }

  option {
    font-weight: normal;
  }

  output {
    display: inline;
  }

  ::-webkit-validation-bubble {
    display: inline-block;
    z-index: 2147483647;
    position: absolute;
    opacity: 0.95;
    line-height: 0;
    margin: 0;
    -webkit-text-security: none;
    transition: opacity 05.5s ease;
  }

  ::-webkit-validation-bubble-message {
    display: flex;
    position: relative;
    top: -4px;
    font: message-box;
    color: black;
    min-width: 50px;
    max-width: 200px;
    border: solid 2px #400;
    background: linear-gradient(#f8ecec, #e8cccc);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(100, 100, 100, 0.6),
      inset -2px -2px 1px #d0c4c4, inset 2px 2px 1px white;
    line-height: normal;
    white-space: normal;
    z-index: 2147483644;
  }

  ::-webkit-validation-bubble-text-block {
    flex: 1;
  }

  ::-webkit-validation-bubble-heading {
    font-weight: bold;
  }

  ::-webkit-validation-bubble-arrow {
    display: inline-block;
    position: relative;
    left: 32px;
    width: 16px;
    height: 16px;
    background-color: #f8ecec;
    border-width: 2px 0 0 2px;
    border-style: solid;
    border-color: #400;
    box-shadow: inset 2px 2px 1px white;
    transform-origin: 0 0;
    transform: rotate(45deg);
    z-index: 2147483645;
  }

  ::-webkit-validation-bubble-arrow-clipper {
    display: block;
    overflow: hidden;
    height: 16px;
  }

  meter {
    appearance: auto;
    box-sizing: border-box;
    display: inline-block;
    height: 1em;
    width: 5em;
    vertical-align: -0.2em;
  }

  progress {
    appearance: auto;
    box-sizing: border-box;
    display: inline-block;
    height: 1em;
    width: 10em;
    vertical-align: -0.2em;
  }

  progress::-webkit-progress-inner-element {
    box-sizing: inherit;
    height: 100%;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background-color: gray;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  progress::-webkit-progress-value {
    background-color: green;
    height: 100%;
    width: 50%;
    box-sizing: border-box;
  }

  u,
  ins {
    text-decoration: underline;
  }

  strong,
  b {
    font-weight: bold;
  }

  i,
  cite,
  em,
  var,
  address,
  dfn {
    font-style: italic;
  }

  tt,
  code,
  kbd,
  samp {
    font-family: monospace;
  }

  pre,
  xmp,
  plaintext,
  listing {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
  }

  mark {
    background-color: Mark;
    color: MarkText;
  }

  big {
    font-size: larger;
  }

  small {
    font-size: smaller;
  }

  s,
  strike,
  del {
    text-decoration: line-through;
  }

  sub {
    vertical-align: sub;
    font-size: smaller;
  }

  sup {
    vertical-align: super;
    font-size: smaller;
  }

  nobr {
    white-space: nowrap;
  }

  :focus-visible {
    outline: auto 5px -webkit-focus-ring-color;
  }

  html:focus,
  body:focus,
  input[readonly]:focus,
  applet:focus,
  embed:focus,
  iframe:focus,
  object:focus {
    outline: none;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline-offset: -2px;
  }

  input:is(
      [type='button'],
      [type='checkbox'],
      [type='file'],
      [type='hidden'],
      [type='image'],
      [type='radio'],
      [type='reset'],
      [type='search'],
      [type='submit']
    ):focus,
  input[type='file']:focus::file-selector-button {
    outline-offset: 0;
  }

  a:any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
  }

  a:any-link:active {
    color: -webkit-activelink;
  }

  ruby,
  rt {
    text-indent: 0;
  }

  rt {
    line-height: normal;
    text-emphasis: none;
  }

  ruby > rt {
    display: block;
    font-size: -webkit-ruby-text;
    text-align: start;
  }

  ruby > rp {
    display: none;
  }

  frameset,
  frame {
    display: block;
  }

  frameset {
    border-color: inherit;
  }

  iframe {
    border: 2px inset;
  }

  details {
    display: block;
  }

  summary {
    display: block;
  }

  summary::-webkit-details-marker {
    display: inline-block;
    width: 0.66em;
    height: 0.66em;
    margin-inline-end: 0.4em;
  }

  bdi,
  output {
    unicode-bidi: isolate;
  }

  bdo {
    unicode-bidi: bidi-override;
  }

  slot {
    display: contents;
  }

  ins,
  del {
    text-decoration-skip: none;
  }
}
