@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # PROJECT CARD
\*------------------------------------*/

/**
 * 1) 
 */
.project-card {
  position: relative;
  transition: all var(--eds-anim-fade-quick) var(--eds-anim-fade-quick);
}

.project-card__body {
  flex-direction: row;
  gap: var(--eds-);
}

.project-card__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card__meta {
  @mixin eds-theme-typography-body-text-xs;
  color: var(--eds-theme-color-text-neutral-subtle);
}

.project-card__meta-icon {
  margin-right: var(--eds-size-1);
  position: relative;
  bottom: 1px;
}
