@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # GLOBAL STYLES FOR WIREFRAME DEMO
\*------------------------------------*/

@font-face {
  font-family: 'Balsamiq Sans';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/BalsamiqSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Redacted Script';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/RedactedScript-Regular.woff2') format('woff2');
}

/**
 * Global styles for WireframeDemo
 *
 * This just contains the variable overrides to demonstrate the current implementation method.
 */
.root {
  /* Level 1 wireframe theme tokens */
  --wireframe-anim-duration: 0;
  --wireframe-font-family-primary: 'Balsamiq Sans', sans-serif;
  --wireframe-font-family-secondary: 'Redacted Script', sans-serif;
  --wireframe-white: #ffffff;
  --wireframe-black: #000000;
  --wireframe-gray-a: #f4f6f8;
  --wireframe-gray-b: #c0c4c8;
  --wireframe-gray-c: #5d6369;
  --wireframe-gray-d: #383c43;
  --wireframe-gray-e: #161b1f;

  /* Override EDS tokens to apply wireframe theme */
  --eds-anim-fade-long: var(--wireframe-anim-duration);
  --eds-anim-fade-quick: var(--wireframe-anim-duration);
  --eds-anim-move-long: var(--wireframe-anim-duration);
  --eds-anim-move-medium: var(--wireframe-anim-duration);
  --eds-anim-move-quick: var(--wireframe-anim-duration);
  --eds-font-family-primary: var(--wireframe-font-family-primary);
  --eds-font-family-secondary: var(--wireframe-font-family-secondary);
  --eds-theme-color-background-brand-primary-default: var(--wireframe-white);
  --eds-theme-color-background-brand-primary-strong-hover: var(--wireframe-gray-e);
  --eds-theme-color-background-brand-primary-strong: var(--wireframe-gray-b);
  --eds-theme-color-background-disabled: var(--wireframe-gray-b);
  --eds-theme-color-background-grade-complete-default: var(--wireframe-gray-c);
  --eds-theme-color-background-grade-complete-subtle: var(--wireframe-gray-a);
  --eds-theme-color-background-grade-revise-default: var(--wireframe-gray-b);
  --eds-theme-color-background-grade-revise-subtle: var(--wireframe-gray-a);
  --eds-theme-color-background-grade-stop-default: var(--wireframe-gray-c);
  --eds-theme-color-background-grade-stop-subtle: var(--wireframe-gray-a);
  --eds-theme-color-background-neutral-default-hover: var(--wireframe-gray-a);
  --eds-theme-color-background-neutral-default: var(--wireframe-white);
  --eds-theme-color-background-neutral-medium-hover: var(--wireframe-gray-b);
  --eds-theme-color-background-neutral-medium: var(--wireframe-gray-a);
  --eds-theme-color-background-neutral-subtle-hover: var(--wireframe-gray-a);
  --eds-theme-color-background-neutral-subtle: var(--wireframe-gray-a);
  --eds-theme-color-background-utility-error: var(--wireframe-gray-a);
  --eds-theme-color-background-utility-success: var(--wireframe-gray-a);
  --eds-theme-color-background-utility-warning: var(--wireframe-gray-a);
  --eds-theme-color-body-background-inverted: var(--wireframe-gray-d);
  --eds-theme-color-body-background: var(--wireframe-gray-a);
  --eds-theme-color-border-brand-primary-strong: var(--wireframe-gray-c);
  --eds-theme-color-border-brand-primary-subtle: var(--wireframe-gray-a);
  --eds-theme-color-border-brand-primary-default: var(--wireframe-gray-b);
  --eds-theme-color-border-disabled: var(--wireframe-gray-b);
  --eds-theme-color-border-grade-complete: var(--wireframe-gray-b);
  --eds-theme-color-border-grade-revise-default: var(--wireframe-gray-b);
  --eds-theme-color-border-grade-revise-strong: var(--wireframe-gray-b);
  --eds-theme-color-border-grade-revise-subtle: var(--wireframe-gray-a);
  --eds-theme-color-border-grade-stop: var(--wireframe-gray-b);
  --eds-theme-color-border-neutral-default-hover: var(--wireframe-gray-b);
  --eds-theme-color-border-neutral-default: var(--wireframe-gray-b);
  --eds-theme-color-border-neutral-strong-hover: var(--wireframe-gray-c);
  --eds-theme-color-border-neutral-strong: var(--wireframe-gray-b);
  --eds-theme-color-border-neutral-subtle-hover: var(--wireframe-gray-b);
  --eds-theme-color-border-neutral-subtle: var(--wireframe-gray-a);
  --eds-theme-color-border-utility-error-default: var(--wireframe-gray-b);
  --eds-theme-color-border-utility-error-strong: var(--wireframe-gray-b);
  --eds-theme-color-border-utility-error-subtle: var(--wireframe-gray-a);
  --eds-theme-color-border-utility-success-default: var(--wireframe-gray-b);
  --eds-theme-color-border-utility-success-strong: var(--wireframe-gray-b);
  --eds-theme-color-border-utility-success-subtle: var(--wireframe-gray-a);
  --eds-theme-color-border-utility-warning-default: var(--wireframe-gray-b);
  --eds-theme-color-border-utility-warning-strong: var(--wireframe-gray-b);
  --eds-theme-color-border-utility-warning-subtle: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-brand-active: var(--wireframe-white);
  --eds-theme-color-button-icon-brand-background-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-brand-background-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-brand-background: transparent;
  --eds-theme-color-button-icon-brand-border-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-brand-border-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-brand-border: transparent;
  --eds-theme-color-button-icon-brand-hover: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-brand-text-active: var(--wireframe-white);
  --eds-theme-color-button-icon-brand-text-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-brand-text: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-brand: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-error-active: var(--wireframe-white);
  --eds-theme-color-button-icon-error-background-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-error-background-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-error-background: transparent;
  --eds-theme-color-button-icon-error-border-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-error-border-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-error-border: transparent;
  --eds-theme-color-button-icon-error-hover: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-error-text-active: var(--wireframe-white);
  --eds-theme-color-button-icon-error-text-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-error-text: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-error: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-neutral-active: var(--wireframe-white);
  --eds-theme-color-button-icon-neutral-background-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-neutral-background-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-neutral-background: transparent;
  --eds-theme-color-button-icon-neutral-border-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-neutral-border-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-neutral-border: transparent;
  --eds-theme-color-button-icon-neutral-hover: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-neutral-text-active: var(--wireframe-white);
  --eds-theme-color-button-icon-neutral-text-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-neutral-text: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-neutral: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-success-active: var(--wireframe-white);
  --eds-theme-color-button-icon-success-background-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-success-background-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-success-background: transparent;
  --eds-theme-color-button-icon-success-border-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-success-border-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-success-border: transparent;
  --eds-theme-color-button-icon-success-hover: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-success-text-active: var(--wireframe-white);
  --eds-theme-color-button-icon-success-text-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-success-text: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-success: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-warning-active: var(--wireframe-white);
  --eds-theme-color-button-icon-warning-background-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-warning-background-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-warning-background: transparent;
  --eds-theme-color-button-icon-warning-border-active: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-warning-border-hover: var(--wireframe-gray-a);
  --eds-theme-color-button-icon-warning-border: transparent;
  --eds-theme-color-button-icon-warning-hover: var(--wireframe-gray-c);
  --eds-theme-color-button-icon-warning-text-active: var(--wireframe-white);
  --eds-theme-color-button-icon-warning-text-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-warning-text: var(--wireframe-gray-d);
  --eds-theme-color-button-icon-warning: var(--wireframe-gray-c);
  --eds-theme-color-button-primary-brand-background-active: var(--wireframe-gray-e);
  --eds-theme-color-button-primary-brand-background-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-primary-brand-background: var(--wireframe-gray-c);
  --eds-theme-color-button-primary-brand-border-active: var(--wireframe-gray-e);
  --eds-theme-color-button-primary-brand-border-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-primary-brand-border: var(--wireframe-gray-c);
  --eds-theme-color-button-primary-brand-text-active: var(--wireframe-white);
  --eds-theme-color-button-primary-brand-text-hover: var(--wireframe-white);
  --eds-theme-color-button-primary-brand-text: var(--wireframe-white);
  --eds-theme-color-button-primary-error-background-active: var(--wireframe-gray-e);
  --eds-theme-color-button-primary-error-background-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-primary-error-background: var(--wireframe-gray-c);
  --eds-theme-color-button-primary-error-border-active: var(--wireframe-gray-e);
  --eds-theme-color-button-primary-error-border-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-primary-error-border: var(--wireframe-gray-c);
  --eds-theme-color-button-primary-error-text-active: var(--wireframe-white);
  --eds-theme-color-button-primary-error-text-hover: var(--wireframe-white);
  --eds-theme-color-button-primary-error-text: var(--wireframe-white);
  --eds-theme-color-button-secondary-brand-background-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-brand-background-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-brand-background: transparent;
  --eds-theme-color-button-secondary-brand-border-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-brand-border-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-brand-border: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-brand-icon-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-brand-icon-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-brand-icon: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-brand-text-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-brand-text-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-brand-text: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-error-background-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-error-background-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-error-background: transparent;
  --eds-theme-color-button-secondary-error-border-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-error-border-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-error-border: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-error-icon-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-error-icon-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-error-icon: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-error-text-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-error-text-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-error-text: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-neutral-background-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-neutral-background-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-neutral-background: transparent;
  --eds-theme-color-button-secondary-neutral-border-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-neutral-border-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-neutral-border: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-neutral-icon-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-neutral-icon-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-neutral-icon: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-neutral-text-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-neutral-text-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-neutral-text: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-success-background-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-success-background-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-success-background: transparent;
  --eds-theme-color-button-secondary-success-border-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-success-border-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-success-border: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-success-icon-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-success-icon-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-success-icon: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-success-text-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-success-text-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-success-text: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-warning-background-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-warning-background-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-warning-background: transparent;
  --eds-theme-color-button-secondary-warning-border-active: var(--wireframe-gray-e);
  --eds-theme-color-button-secondary-warning-border-hover: var(--wireframe-gray-d);
  --eds-theme-color-button-secondary-warning-border: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-warning-icon-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-warning-icon-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-warning-icon: var(--wireframe-gray-c);
  --eds-theme-color-button-secondary-warning-text-active: var(--wireframe-white);
  --eds-theme-color-button-secondary-warning-text-hover: var(--wireframe-white);
  --eds-theme-color-button-secondary-warning-text: var(--wireframe-gray-c);
  --eds-theme-color-focus-ring-inverted: var(--wireframe-white);
  --eds-theme-color-focus-ring: var(--wireframe-gray-c);
  --eds-theme-color-form-background-hover: var(--wireframe-gray-a);
  --eds-theme-color-form-background: var(--wireframe-white);
  --eds-theme-color-form-border-hover: var(--wireframe-gray-e);
  --eds-theme-color-form-border: var(--wireframe-gray-c);
  --eds-theme-color-form-label: var(--wireframe-gray-d);
  --eds-theme-color-icon-brand-primary-hover: var(--wireframe-gray-c);
  --eds-theme-color-icon-brand-primary: var(--wireframe-gray-c);
  --eds-theme-color-icon-disabled: var(--wireframe-gray-b);
  --eds-theme-color-icon-grade-complete-hover: var(--wireframe-gray-c);
  --eds-theme-color-icon-grade-complete: var(--wireframe-gray-c);
  --eds-theme-color-icon-grade-revise-hover: var(--wireframe-gray-e);
  --eds-theme-color-icon-grade-revise: var(--wireframe-gray-e);
  --eds-theme-color-icon-grade-stop-hover: var(--wireframe-gray-c);
  --eds-theme-color-icon-grade-stop: var(--wireframe-gray-c);
  --eds-theme-color-icon-neutral-default-hover: var(--wireframe-gray-d);
  --eds-theme-color-icon-neutral-default-inverse: var(--wireframe-white);
  --eds-theme-color-icon-neutral-default: var(--wireframe-gray-c);
  --eds-theme-color-icon-neutral-strong-hover: var(--wireframe-gray-e);
  --eds-theme-color-icon-neutral-strong: var(--wireframe-gray-d);
  --eds-theme-color-icon-neutral-subtle-hover: var(--wireframe-gray-c);
  --eds-theme-color-icon-neutral-subtle: var(--wireframe-gray-c);
  --eds-theme-color-icon-utility-error-hover: var(--wireframe-gray-c);
  --eds-theme-color-icon-utility-error: var(--wireframe-gray-c);
  --eds-theme-color-icon-utility-success-hover: var(--wireframe-gray-c);
  --eds-theme-color-icon-utility-success: var(--wireframe-gray-c);
  --eds-theme-color-icon-utility-warning-hover: var(--wireframe-gray-c);
  --eds-theme-color-icon-utility-warning: var(--wireframe-gray-c);
  --eds-theme-color-modal-brand-header-background: var(--wireframe-gray-c);
  --eds-theme-color-text-brand-default: var(--wireframe-gray-d);
  --eds-theme-color-text-disabled: var(--wireframe-gray-b);
  --eds-theme-color-text-grade-complete: var(--wireframe-gray-d);
  --eds-theme-color-text-grade-revise: var(--wireframe-gray-e);
  --eds-theme-color-text-grade-stop: var(--wireframe-gray-d);
  --eds-theme-color-text-highlight-background: var(--wireframe-gray-a);
  --eds-theme-color-text-highlight-foreground: var(--wireframe-gray-e);
  --eds-theme-color-text-neutral-default-inverse: var(--wireframe-white);
  --eds-theme-color-text-neutral-default: var(--wireframe-gray-d);
  --eds-theme-color-text-neutral-strong: var(--wireframe-gray-e);
  --eds-theme-color-text-neutral-subtle: var(--wireframe-gray-c);
  --eds-theme-color-text-utility-error: var(--wireframe-gray-d);
  --eds-theme-color-text-utility-success: var(--wireframe-gray-d);
  --eds-theme-color-text-utility-warning: var(--wireframe-gray-d);

  /* Set default font family for text in the demo */
  font-family: var(--eds-font-family-primary);
}
