@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # WIREFRAME DEMO
\*------------------------------------*/

/**
 * Global footer
 */
.wireframe-demo__footer {
  padding: 7.5rem 0 2rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  /* Pushes footer to bottom of the page if there's more vertical space than content */
  flex-grow: 1;
  align-items: flex-end;
}

/**
 * LoggedOutPage
 */
.logged-out-page {
  background-color: var(--eds-theme-color-background-brand-primary-default);
  min-height: 100vh;
  padding: calc(var(--eds-size-4) / 16 * 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logged-out-page__header-img {
  display: none;
  width: 8rem;

  @media screen and (min-width: $eds-bp-md) {
    display: block;
  }
}

.logged-out-page__button-group {
  gap: calc(var(--eds-size-2) / 16 * 1rem);
  margin: calc(var(--eds-size-2) / 16 * 1rem) 0 calc(var(--eds-size-4) / 16 * 1rem) 0;
}

/**
 * Student tab
 */
.student-tab {
  align-items: center;
  border-radius: 0.25rem 0.25rem 0 0;
  display: flex;
  flex-direction: column;
  flex: 0 1 0%;
  padding: 0.5rem 0.5rem 1rem;
  min-width: 4.5rem;
  cursor: pointer;
  border-bottom: 0.5rem solid transparent;
}

.student-tab--active {
  cursor: default;
  border-bottom: 0.5rem solid var(--eds-theme-color-border-brand-primary-strong);
  background-color: var(--eds-theme-color-background-brand-primary-default);
}

/**
 * WatchPage
 */
.watch-page {
  min-height: 100vh;
  background-color: var(--eds-theme-color-background-neutral-default);
}

.watch-page__avatar {
  background-color: var(--eds-theme-color-background-brand-primary-strong);
  color: var(--eds-theme-color-text-neutral-default-inverse);
  border-radius: calc(var(--eds-border-radius-full) * 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch-page__textarea {
  @mixin inputStyles;
}

.watch-page__main-section {
  width: 100%;
  padding-top: 2rem;

  @media screen and (min-width: $eds-bp-md) {
    /* Make space for the sidebar */
    padding-right: 15rem;
  }
}

.watch-page__carousel {
  background-color: var(--eds-theme-color-background-neutral-subtle);
  margin-top: 2rem;
  padding-top: 1rem;
  padding-left: 5.5rem;
}

.watch-page__reflection {
  margin-top: 2.5rem;
  margin-left: 5.5rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.watch-page__text-reflection-text {
  font-family: var(--eds-font-family-secondary);
}

.watch-page__response {
  margin-top: 4rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
}

.watch-page__sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: var(--eds-theme-form-border-width) solid
    var(--eds-theme-color-form-border);
  background-color: var(--eds-theme-color-background-neutral-default);
  flex-direction: column;
  align-items: center;
  width: 15rem;
  padding: 1rem;

  @media screen and (min-width: $eds-bp-md) {
    display: flex;
  }
}

.watch-page__student-summary-container {
  background-color: var(--eds-theme-color-background-neutral-subtle);
  padding: 1rem;
  border-radius: var(--eds-theme-form-border-radius);
}

.watch-page__teacher-notes-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  margin-top: 2.5rem;
}

.watch-page__teacher-notes-tooltip {
  /**
   * NOTE: We would normally use a token here, but we're using the raw value
   * for this demo because the tooltip is being rendered outside of this storybook
   * page and is therefore also outside of the context in which our themed variables
   * are defined. In the context of a different app where the themed variables are
   * set on the actual root, this shouldn't be necessary.
   */
  font-family: 'Balsamiq Sans', sans-serif;
}

.watch-page__teacher-notes-info-icon {
  /**
   * Stops the icon from taking up a lot of vertical space and being misaligned with
   * the text next to it.
   */
  display: flex;
}

.watch-page__teacher-notes-textarea {
  width: 100%;
  display: flex;
  flex-grow: 1;
  margin-top: 0.5rem;
  border: var(--eds-theme-form-border-width) solid
    var(--eds-theme-color-form-border);
  border-radius: var(--eds-theme-form-border-radius);
  resize: none;
}
