@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # CLICKABLE STYLE
\*------------------------------------*/

/**
 * Styled clickable element that should look like a button or link.
 */
.clickable-style {
  @mixin eds-theme-typography-button-label;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  /* Adds a gap between children to automatically handle spacing between icons and text. */
  gap: 0.75rem;
  border-width: var(--eds-theme-border-width);
  border-style: solid;
  border-radius: var(--eds-border-radius-md);
  cursor: pointer;
  /* Removes the underline in the case that the rendered element is an <a> tag. */
  text-decoration: none;
  transition-property: color, background-color, border-color;
  transition-duration: var(--eds-anim-fade-quick);
  transition-timing-function: var(--eds-anim-ease);

  :where(svg) {
    /* Adds default size for icons passed in for consistency. */
    --icon-size-default: 2em;
    transition: color var(--eds-anim-fade-quick) var(--eds-anim-ease);

    @media screen and (prefers-reduced-motion) {
      transition: none;
    }
  }

  &:focus-visible {
    @mixin focus;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      @mixin focus;
    }
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Margin 0 added becuase Safari has margin on buttons.
 * Needs `:where` pseudoclass to reduce specificity so class overrides
 *    for margin can happen where used.
 */
:where(.clickable-style) {
  margin: 0;
}

/**
 * Primary brand clickable style
 */
:where(.clickable-style--primary).clickable-style--brand {
  border-color: var(--eds-theme-color-button-primary-brand-border);
  background-color: var(--eds-theme-color-button-primary-brand-background);
  color: var(--eds-theme-color-button-primary-brand-text);

  &:hover {
    border-color: var(--eds-theme-color-button-primary-brand-border-hover);
    background-color: var(
      --eds-theme-color-button-primary-brand-background-hover
    );
    color: var(--eds-theme-color-button-primary-brand-text-hover);
  }

  &:active {
    border-color: var(--eds-theme-color-button-primary-brand-border-active);
    background-color: var(
      --eds-theme-color-button-primary-brand-background-active
    );
    color: var(--eds-theme-color-button-primary-brand-text-active);
  }
}

/**
 * Primary error clickable style
 */
:where(.clickable-style--primary).clickable-style--error {
  border-color: var(--eds-theme-color-button-primary-error-border);
  background-color: var(--eds-theme-color-button-primary-error-background);
  color: var(--eds-theme-color-button-primary-error-text);

  &:hover {
    border-color: var(--eds-theme-color-button-primary-error-border-hover);
    background-color: var(
      --eds-theme-color-button-primary-error-background-hover
    );
    color: var(--eds-theme-color-button-primary-error-text-hover);
  }

  &:active {
    border-color: var(--eds-theme-color-button-primary-error-border-active);
    background-color: var(
      --eds-theme-color-button-primary-error-background-active
    );
    color: var(--eds-theme-color-button-primary-error-text-active);
  }
}

/**
 * Secondary brand clickable style
 */
:where(.clickable-style--secondary).clickable-style--brand {
  border-color: var(--eds-theme-color-button-secondary-brand-border);
  background-color: var(--eds-theme-color-button-secondary-brand-background);
  color: var(--eds-theme-color-button-secondary-brand-text);

  :where(svg) {
    color: var(--eds-theme-color-button-secondary-brand-icon);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-secondary-brand-border-hover);
    background-color: var(
      --eds-theme-color-button-secondary-brand-background-hover
    );
    color: var(--eds-theme-color-button-secondary-brand-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-brand-icon-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-secondary-brand-border-active);
    background-color: var(
      --eds-theme-color-button-secondary-brand-background-active
    );
    color: var(--eds-theme-color-button-secondary-brand-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-brand-icon-focus);
    }
  }
}

/**
 * Secondary neutral clickable style
 */
:where(.clickable-style--secondary).clickable-style--neutral {
  border-color: var(--eds-theme-color-button-secondary-neutral-border);
  background-color: var(--eds-theme-color-button-secondary-neutral-background);
  color: var(--eds-theme-color-button-secondary-neutral-text);

  :where(svg) {
    color: var(--eds-theme-color-button-secondary-neutral-icon);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-secondary-neutral-border-hover);
    background-color: var(
      --eds-theme-color-button-secondary-neutral-background-hover
    );
    color: var(--eds-theme-color-button-secondary-neutral-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-neutral-icon-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-secondary-neutral-border-active);
    background-color: var(
      --eds-theme-color-button-secondary-neutral-background-active
    );
    color: var(--eds-theme-color-button-secondary-neutral-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-neutral-icon-active);
    }
  }
}

/**
 * Secondary success clickable style
 */
:where(.clickable-style--secondary).clickable-style--success {
  border-color: var(--eds-theme-color-button-secondary-success-border);
  background-color: var(--eds-theme-color-button-secondary-success-background);
  color: var(--eds-theme-color-button-secondary-success-text);

  :where(svg) {
    color: var(--eds-theme-color-button-secondary-success-icon);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-secondary-success-border-hover);
    background-color: var(
      --eds-theme-color-button-secondary-success-background-hover
    );
    color: var(--eds-theme-color-button-secondary-success-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-success-icon-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-secondary-success-border-active);
    background-color: var(
      --eds-theme-color-button-secondary-success-background-active
    );
    color: var(--eds-theme-color-button-secondary-success-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-success-icon-active);
    }
  }
}

/**
 * Secondary warning clickable style
 */
:where(.clickable-style--secondary).clickable-style--warning {
  border-color: var(--eds-theme-color-button-secondary-warning-border);
  background-color: var(--eds-theme-color-button-secondary-warning-background);
  color: var(--eds-theme-color-button-secondary-warning-text);

  :where(svg) {
    color: var(--eds-theme-color-button-secondary-warning-icon);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-secondary-warning-border-hover);
    background-color: var(
      --eds-theme-color-button-secondary-warning-background-hover
    );
    color: var(--eds-theme-color-button-secondary-warning-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-warning-icon-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-secondary-warning-border-active);
    background-color: var(
      --eds-theme-color-button-secondary-warning-background-active
    );
    color: var(--eds-theme-color-button-secondary-warning-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-warning-icon-active);
    }
  }
}

/**
 * Secondary error clickable style
 */
:where(.clickable-style--secondary).clickable-style--error {
  border-color: var(--eds-theme-color-button-secondary-error-border);
  background-color: var(--eds-theme-color-button-secondary-error-background);
  color: var(--eds-theme-color-button-secondary-error-text);

  :where(svg) {
    color: var(--eds-theme-color-button-secondary-error-icon);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-secondary-error-border-hover);
    background-color: var(
      --eds-theme-color-button-secondary-error-background-hover
    );
    color: var(--eds-theme-color-button-secondary-error-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-error-icon-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-secondary-error-border-active);
    background-color: var(
      --eds-theme-color-button-secondary-error-background-active
    );
    color: var(--eds-theme-color-button-secondary-error-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-secondary-error-icon-active);
    }
  }
}

/**
 * Icon brand clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
:where(.clickable-style--icon).clickable-style--brand {
  border-color: var(--eds-theme-color-button-icon-brand-border);
  background-color: var(--eds-theme-color-button-icon-brand-background);
  color: var(--eds-theme-color-button-icon-brand-text);

  :where(svg) {
    color: var(--eds-theme-color-button-icon-brand);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-icon-brand-border-hover);
    background-color: var(--eds-theme-color-button-icon-brand-background-hover);
    color: var(--eds-theme-color-button-icon-brand-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-brand-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-icon-brand-border-active);
    background-color: var(
      --eds-theme-color-button-icon-brand-background-active
    );
    color: var(--eds-theme-color-button-icon-brand-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-brand-active);
    }
  }
}

/**
 * Icon neutral clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
:where(.clickable-style--icon).clickable-style--neutral {
  border-color: var(--eds-theme-color-button-icon-neutral-border);
  background-color: var(--eds-theme-color-button-icon-neutral-background);
  color: var(--eds-theme-color-button-icon-neutral-text);

  :where(svg) {
    color: var(--eds-theme-color-button-icon-neutral);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-icon-neutral-border-hover);
    background-color: var(
      --eds-theme-color-button-icon-neutral-background-hover
    );
    color: var(--eds-theme-color-button-icon-neutral-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-neutral-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-icon-neutral-border-active);
    background-color: var(
      --eds-theme-color-button-icon-neutral-background-active
    );
    color: var(--eds-theme-color-button-icon-neutral-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-neutral-active);
    }
  }
}

/**
 * Icon success clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
:where(.clickable-style--icon).clickable-style--success {
  border-color: var(--eds-theme-color-button-icon-success-border);
  background-color: var(--eds-theme-color-button-icon-success-background);
  color: var(--eds-theme-color-button-icon-success-text);

  :where(svg) {
    color: var(--eds-theme-color-button-icon-success);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-icon-success-border-hover);
    background-color: var(
      --eds-theme-color-button-icon-success-background-hover
    );
    color: var(--eds-theme-color-button-icon-success-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-success-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-icon-success-border-active);
    background-color: var(
      --eds-theme-color-button-icon-success-background-active
    );
    color: var(--eds-theme-color-button-icon-success-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-success-active);
    }
  }
}

/**
 * Icon warning clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
:where(.clickable-style--icon).clickable-style--warning {
  border-color: var(--eds-theme-color-button-icon-warning-border);
  background-color: var(--eds-theme-color-button-icon-warning-background);
  color: var(--eds-theme-color-button-icon-warning-text);

  :where(svg) {
    color: var(--eds-theme-color-button-icon-warning);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-icon-warning-border-hover);
    background-color: var(
      --eds-theme-color-button-icon-warning-background-hover
    );
    color: var(--eds-theme-color-button-icon-warning-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-warning-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-icon-warning-border-active);
    background-color: var(
      --eds-theme-color-button-icon-warning-background-active
    );
    color: var(--eds-theme-color-button-icon-warning-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-warning-active);
    }
  }
}

/**
 * Icon error clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
:where(.clickable-style--icon).clickable-style--error {
  border-color: var(--eds-theme-color-button-icon-error-border);
  background-color: var(--eds-theme-color-button-icon-error-background);
  color: var(--eds-theme-color-button-icon-error-text);

  :where(svg) {
    color: var(--eds-theme-color-button-icon-error);
  }

  &:hover {
    border-color: var(--eds-theme-color-button-icon-error-border-hover);
    background-color: var(--eds-theme-color-button-icon-error-background-hover);
    color: var(--eds-theme-color-button-icon-error-text-hover);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-error-hover);
    }
  }

  &:active {
    border-color: var(--eds-theme-color-button-icon-error-border-active);
    background-color: var(
      --eds-theme-color-button-icon-error-background-active
    );
    color: var(--eds-theme-color-button-icon-error-text-active);
    :where(svg) {
      color: var(--eds-theme-color-button-icon-error-active);
    }
  }
}

/**
 * Link button styles
 */
.clickable-style--link {
  @mixin textLink;

  /**
   * Override default Clickable styles
   */
  border: 0;
  border-radius: 0;
  background-color: transparent;
  /**
   * Smaller gap between text and icon in link button style
   */
  gap: 0.25em;
}

/**
 * Needs `:where` pseudoclass to reduce specificity so class overrides
 * for margin can happen where used, but needs to be specific enough to override preflight.
 */
a:where(.clickable-style--link),
button:where(.clickable-style--link) {
  /* 2px padding gives the text breathing room in the focus state */
  padding: 2px;
  /**
   * -2px margin compensates for the padding so the link doesn't have too much space between it
   *  and surrounding text
   */
  margin: -2px;
}

/**
 * Link neutral clickable style
 */
:where(.clickable-style--link).clickable-style--neutral {
  text-decoration-color: var(--eds-theme-color-link-neutral-text-decoration);

  &:hover {
    text-decoration-color: var(
      --eds-theme-color-link-neutral-text-decoration-hover
    );
  }

  &:focus-visible {
    background-color: var(--eds-theme-color-link-neutral-background-focus);
  }

  @supports not selector(:focus-visible) {
    &:focus {
      background-color: var(--eds-theme-color-link-neutral-background-focus);
    }
  }
}

/**
 * Small clickable style
 */
.clickable-style--sm {
  @mixin eds-theme-typography-button-label-sm;
  /**
   * Height is used instead of vertical padding because the icon size we use would
   * cause the height to expand
   */
  height: var(--eds-size-3);
  padding: 0 var(--eds-size-1);
}

/**
 * Medium clickable style
 */
.clickable-style--md {
  /**
   * Height is used instead of vertical padding because the icon size we use would
   * cause the height to expand
   */
  height: var(--eds-size-4);
  padding: 0 var(--eds-size-1);
}

/**
 * Large clickable style
 */
.clickable-style--lg {
  /**
   * Height is used instead of vertical padding because the icon size we use would
   * cause the height to expand
   */
  height: var(--eds-size-5);
  padding: 0 var(--eds-size-2);
}

/**
 * Full-width clickable style
 * A block clickable style that fills 100% of the width of its container
 */
.clickable-style--full-width {
  width: 100%;
}
