@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # CLICKABLE STYLE
\*------------------------------------*/

/**
 * Styled clickable element that should look like a button or link.
 */
.clickable-style {
  @mixin eds-theme-typography-button-label;
  @apply inline-flex justify-center items-center;
  /* Adds a gap between children to automatically handle spacing between icons and text. */
  @apply gap-3 border border-solid rounded cursor-pointer;
  /* Removes the underline in the case that the rendered element is an <a> tag. */
  text-decoration: none;
  transition-property: color, background-color, border-color;
  transition-duration: var(--eds-anim-fade-quick);
  transition-timing-function: var(--eds-anim-ease);

  svg {
    /* Adds default size for icons passed in for consistency. */
    --icon-size-default: 2em;
    transition: color var(--eds-anim-fade-quick) var(--eds-anim-ease);

    @media screen and (prefers-reduced-motion) {
      transition: none;
    }
  }

  &:focus-visible {
    @mixin focus;
  }

  @supports not selector(:focus-visible) {
    &:focus {
      @mixin focus;
    }
  }

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

/**
 * Margin 0 added becuase Safari has margin on buttons.
 * Needs `:where` pseudoclass to reduce specificity so class overrides
 *    for margin can happen where used.
 */
:where(.clickable-style) {
  margin: 0;
}

/**
 * Primary brand clickable style
 */
.clickable-style--primary.clickable-style--brand {
  @apply border-button-primary-brand-border-@ bg-button-primary-brand-background-@;
  @apply text-button-primary-brand-text-@;

  &:hover {
    @apply border-button-primary-brand-border-hover text-button-primary-brand-text-hover;
    @apply bg-button-primary-brand-background-hover;
  }

  &:active {
    @apply border-button-primary-brand-border-active text-button-primary-brand-text-active;
    @apply bg-button-primary-brand-background-active;
  }
}

/**
 * Primary error clickable style
 */
.clickable-style--primary.clickable-style--error {
  @apply border-button-primary-error-border-@ text-button-primary-error-text-@;
  @apply bg-button-primary-error-background-@;

  &:hover {
    @apply border-button-primary-error-border-hover text-button-primary-error-text-hover;
    @apply bg-button-primary-error-background-hover;
  }

  &:active {
    @apply border-button-primary-error-border-active text-button-primary-error-text-active;
    @apply bg-button-primary-error-background-active;
  }
}

/**
 * Secondary brand clickable style
 */
.clickable-style--secondary.clickable-style--brand {
  @apply border-button-secondary-brand-border-@ text-button-secondary-brand-text-@;
  @apply bg-button-secondary-brand-background-@;

  svg {
    @apply text-button-secondary-brand-icon-@;
  }

  &:hover {
    @apply border-button-secondary-brand-border-hover text-button-secondary-brand-text-hover;
    @apply bg-button-secondary-brand-background-hover;

    svg {
      @apply text-button-secondary-brand-icon-hover;
    }
  }

  &:active {
    @apply border-button-secondary-brand-border-active text-button-secondary-brand-text-active;
    @apply bg-button-secondary-brand-background-active;

    svg {
      @apply text-button-secondary-brand-icon-active;
    }
  }
}

/**
 * Secondary neutral clickable style
 */
.clickable-style--secondary.clickable-style--neutral {
  @apply border-button-secondary-neutral-border-@ text-button-secondary-neutral-text-@;
  @apply bg-button-secondary-neutral-background-@;

  svg {
    @apply text-button-secondary-neutral-icon-@;
  }

  &:hover {
    @apply border-button-secondary-neutral-border-hover text-button-secondary-neutral-text-hover;
    @apply bg-button-secondary-neutral-background-hover;
  
    svg {
      @apply text-button-secondary-neutral-icon-hover;
    }
  }

  &:active {
    @apply border-button-secondary-neutral-border-active text-button-secondary-neutral-text-active;
    @apply bg-button-secondary-neutral-background-active;
  
    svg {
      @apply text-button-secondary-neutral-icon-active;
    }
  }
}

/**
 * Secondary success clickable style
 */
.clickable-style--secondary.clickable-style--success {
  @apply border-button-secondary-success-border-@ text-button-secondary-success-text-@;
  @apply bg-button-secondary-success-background-@;

  svg {
    @apply text-button-secondary-success-icon-@;
  }

  &:hover {
    @apply border-button-secondary-success-border-hover text-button-secondary-success-text-hover;
    @apply bg-button-secondary-success-background-hover;
  
    svg {
      @apply text-button-secondary-success-icon-hover;
    }
  }

  &:active {
    @apply border-button-secondary-success-border-active text-button-secondary-success-text-active;
    @apply bg-button-secondary-success-background-active;
  
    svg {
      @apply text-button-secondary-success-icon-active;
    }
  }
}

/**
 * Secondary warning clickable style
 */
.clickable-style--secondary.clickable-style--warning {
  @apply border-button-secondary-warning-border-@ text-button-secondary-warning-text-@;
  @apply bg-button-secondary-warning-background-@;

  svg {
    @apply text-button-secondary-warning-icon-@;
  }

  &:hover {
    @apply border-button-secondary-warning-border-hover text-button-secondary-warning-text-hover;
    @apply bg-button-secondary-warning-background-hover;
  
    svg {
      @apply text-button-secondary-warning-icon-hover;
    }
  }

  &:active {
    @apply border-button-secondary-warning-border-active text-button-secondary-warning-text-active;
    @apply bg-button-secondary-warning-background-active;
  
    svg {
      @apply text-button-secondary-warning-icon-active;
    }
  }
}

/**
 * Secondary error clickable style
 */
.clickable-style--secondary.clickable-style--error {
  @apply border-button-secondary-error-border-@ text-button-secondary-error-text-@;
  @apply bg-button-secondary-error-background-@;

  svg {
    @apply text-button-secondary-error-icon-@;
  }

  &:hover {
    @apply border-button-secondary-error-border-hover text-button-secondary-error-text-hover;
    @apply bg-button-secondary-error-background-hover;
  
    svg {
      @apply text-button-secondary-error-icon-hover;
    }
  }

  &:active {
    @apply border-button-secondary-error-border-active text-button-secondary-error-text-active;
    @apply bg-button-secondary-error-background-active;
  
    svg {
      @apply text-button-secondary-error-icon-active;
    }
  }
}

/**
 * Icon brand clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
.clickable-style--icon.clickable-style--brand {
  @apply border-button-icon-brand-border-@ text-button-icon-brand-text-@;
  @apply bg-button-icon-brand-background-@;

  svg {
    color: var(--eds-theme-color-button-icon-brand);
  }
  &:hover {
    @apply border-button-icon-brand-border-hover text-button-icon-brand-text-hover;
    @apply bg-button-icon-brand-background-hover;
    svg {
      color: var(--eds-theme-color-button-icon-brand-hover);
    }
  }

  &:active {
    @apply border-button-icon-brand-border-active text-button-icon-brand-text-active;
    @apply bg-button-icon-brand-background-active;
    svg {
      color: var(--eds-theme-color-button-icon-brand-active);
    }
  }
}

/**
 * Icon neutral clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
.clickable-style--icon.clickable-style--neutral {
  @apply border-button-icon-brand-border-@ text-button-icon-brand-text-@;
  @apply bg-button-icon-brand-background-@;

  svg {
    color: var(--eds-theme-color-button-icon-neutral);
  }

  &:hover {
  @apply border-button-icon-neutral-border-hover text-button-icon-neutral-text-hover;
  @apply bg-button-icon-neutral-background-hover;
  svg {
    color: var(--eds-theme-color-button-icon-neutral-hover);
    }
  }

  &:active {
    @apply border-button-icon-neutral-border-active text-button-icon-neutral-text-active;
    @apply bg-button-icon-neutral-background-active;
    svg {
      color: var(--eds-theme-color-button-icon-neutral-active);
    }
  }
}

/**
 * Icon success clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
.clickable-style--icon.clickable-style--success {
  @apply border-button-icon-success-border-@ text-button-icon-success-text-@;
  @apply bg-button-icon-success-background-@;

  svg {
    color: var(--eds-theme-color-button-icon-success);
  }

  &:hover {
    @apply border-button-icon-success-border-hover text-button-icon-success-text-hover;
    @apply bg-button-icon-success-background-hover;
    svg {
      color: var(--eds-theme-color-button-icon-success-hover);
    }
  }

  &:active {
    @apply border-button-icon-success-border-active text-button-icon-success-text-active;
    @apply bg-button-icon-success-background-active;
    svg {
      color: var(--eds-theme-color-button-icon-success-active);
    }
  }
}

/**
 * Icon warning clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
.clickable-style--icon.clickable-style--warning {
  @apply border-button-icon-warning-border-@ text-button-icon-warning-text-@;
  @apply bg-button-icon-warning-background-@;

  svg {
    color: var(--eds-theme-color-button-icon-warning);
  }

  &:hover {
    @apply border-button-icon-warning-border-hover text-button-icon-warning-text-hover;
    @apply bg-button-icon-warning-background-hover;
    svg {
      color: var(--eds-theme-color-button-icon-warning-hover);
    }
  }

  &:active {
    @apply border-button-icon-warning-border-active text-button-icon-warning-text-active;
    @apply bg-button-icon-warning-background-active;
    svg {
      color: var(--eds-theme-color-button-icon-warning-active);
    }
  }
}

/**
 * Icon error clickable style
 * 
 * A clickable style that strips out borders, backgrounds, etc.
 *
 * Use for Close "X" buttons, tooltip icons, and other.
 */
.clickable-style--icon.clickable-style--error {
  @apply border-button-icon-error-border-@ text-button-icon-error-text-@;
  @apply bg-button-icon-error-background-@;

  svg {
    color: var(--eds-theme-color-button-icon-error);
  }

  &:hover {
    @apply border-button-icon-error-border-hover text-button-icon-error-text-hover;
    @apply bg-button-icon-error-background-hover;
    svg {
      color: var(--eds-theme-color-button-icon-error-hover);
    }
  }
  
  &:active {
    @apply border-button-icon-error-border-active text-button-icon-error-text-active;
    @apply bg-button-icon-error-background-active;
    svg {
      color: var(--eds-theme-color-button-icon-error-active);
    }
  }
}

/**
 * Link button styles
 */
.clickable-style--link {
  @mixin textLink;

  /**
   * Override default Clickable styles
   */
  @apply border-0 rounded-none bg-transparent;
  /**
   * Smaller gap between text and icon in link button style
   */
  gap: 0.25em;
}

/**
 * Needs `:where` pseudoclass to reduce specificity so class overrides
 * for margin can happen where used.
 */
:where(.clickable-style--link) {
  /* 2px padding gives the text breathing room in the focus state */
  padding: 2px;
  /**
   * -2px margin compensates for the padding so the link doesn't have too much space between it
   *  and surrounding text
   */
  margin: -2px;
}

/**
 * Link neutral clickable style
 */
.clickable-style--link.clickable-style--neutral {
  text-decoration-color: var(--eds-theme-color-border-link-neutral);

  &:hover {
    text-decoration-color: var(--eds-theme-color-border-link-brand);
  }

  &:focus-visible {
    background-color: var(--eds-theme-color-border-link-neutral);
  }

  @supports not selector(:focus-visible) {
    &:focus {
      background-color: var(--eds-theme-color-border-link-neutral);
    }
  }
}

/**
 * Small clickable style
 */
.clickable-style--sm {
  @mixin eds-theme-typography-button-label-sm;
  /**
   * Height is used instead of vertical padding because the icon size we use would
   * cause the height to expand
   */
  @apply h-6 pt-0 pb-2;
}

/**
 * Medium clickable style
 */
.clickable-style--md {
  /**
   * Height is used instead of vertical padding because the icon size we use would
   * cause the height to expand
   */
  @apply h-8 pt-0 pb-2;
}

/**
 * Large clickable style
 */
.clickable-style--lg {
  /**
   * Height is used instead of vertical padding because the icon size we use would
   * cause the height to expand
   */
  @apply h-10 pt-0 pb-4;
}

/**
 * Full-width clickable style
 * A block clickable style that fills 100% of the width of its container
 */
.clickable-style--full-width {
  width: 100%;
}
