@import '../../../src/design-tokens/mixins.css';

.feedback-overview__toolbar {
  padding-bottom: var(--eds-size-2);
}

.feedback-overview__card-header {
  margin-bottom: var(--eds-size-1);
  font: var(--eds-theme-typography-title-md);
}
