@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # NUMBER ICON LIST
\*------------------------------------*/

/**
 * Container recipe for the number icons to flex wrap them.
 */
.number-icon-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--eds-size-half);
}
