/*------------------------------------*\
    # LAYOUT GRID
\*------------------------------------*/

/**
 * Layout Grid is a flexible component
 * allowing for a variety of responsive layout
 * components
 */
.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--eds-spacing-size-3) * -1px);

  >* {
    padding: calc(var(--eds-spacing-size-1-and-half) * 1px);
    width: 100%;
  }

  @supports (display: grid) {
    margin: 0;
    display: grid;
    row-gap: calc(var(--eds-spacing-size-3) * 1px);
    column-gap: calc(var(--eds-spacing-size-3) * 1px);

    >* {
      padding: 0;
      width: auto;
    }
  }
}

.grid--gap-sm {
  gap: calc(var(--eds-spacing-size-1) * 1px);
}

/*------------------------------------*\
    # GRID ITEM
\*------------------------------------*/
/**
 * Direct child of grid
 */
.grid__item {
  .grid & {
    padding: calc(var(--eds-spacing-size-1-and-half) * 1px);
    width: 100%;

    @supports (display: grid) {
      padding: 0;
    }
  }

  /**
   * Grid item that span 2 columns
   */
  &.grid__item.grid__item--span-2 {
    width: 100%;

    @supports (display: grid) {
      grid-column: 1 / -1;
    }
  }
}