@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # PROGRESS BAR
\*------------------------------------*/

/**
 * Progress Bar indicates the completion progress of a task.
 */
.progress-bar {
  border: var(--eds-theme-color-progress-bar-border) solid
    calc(var(--eds-border-width-sm) * 1px);
  border-radius: calc(var(--eds-border-radius-full) * 1px);

  /* Prevents child segments from clipping outside the borders */
  overflow: hidden;

  height: 0.875rem;
  width: 100%;
  background-color: var(--eds-theme-color-progress-bar-background);
}

/**
 * Wraps all the segments and divides them evenly using flex.
 * Has an inline style width proportionate to progress made over total progress possible.
 */
.progress-bar__segments-wrapper {
  display: flex;
  gap: calc(var(--eds-size-half) / 16 * 1rem);

  height: 100%;
}

/**
 * Progress bar segment indicating progress of a subtask.
 */
.progress-bar__segment {
  flex: 1;
  background-color: var(--eds-theme-color-background-brand-primary-strong);
}

/**
 * Progress bar label wrapper wraps the label and the progress caption.
 */
.progress-bar__label-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: calc(var(--eds-size-1) / 16 * 1rem);
}

/**
 * Progress bar label.
 */
.progress-bar__label {
  font: var(--eds-theme-typography-label-md);
  color: var(--eds-theme-color-text-neutral-strong);
  margin-bottom: 0;
}

/**
 * Progress bar caption (text showing progress bar numeric value)
 */
.progress-bar__caption {
 color: var(--eds-theme-color-text-neutral-subtle);
}