/*------------------------------------*\
    # INPUT CHIP
\*------------------------------------*/

/**
 * InputChip
 */

.input-chip {
  display: inline-flex;
}

.input-chip__label {
  display: inline-flex;
  padding: calc(var(--eds-spacing-size-1) * 1px);
  padding-right: 0;
  padding-left: calc(var(--eds-spacing-size-1-and-half) * 1px);
  gap: calc(var(--eds-spacing-size-1) * 1px);
  align-items: center;
  justify-content: center;

  border: 1px solid var(--eds-theme-color-border-utility-default-low-emphasis);
  border-right: none;

  border-radius: calc(var(--eds-border-radius-full) * 1px);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  color: var(--eds-theme-color-text-utility-default-primary);
}

.input-chip .input-chip__action-button {
  display: flex;
  align-items: center;
  padding: calc(var(--eds-spacing-size-1) * 1px);

  border: 1px solid var(--eds-theme-color-border-utility-default-low-emphasis);
  border-left: none;
  border-radius: calc(var(--eds-border-radius-full) * 1px);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;

  color: var(--eds-theme-color-text-utility-default-primary);
}

.input-chip--disabled {
  pointer-events: none;
}

/**
 * Theme tokens
 */

.input-chip__action-button:hover {
  background-color: var(--eds-theme-color-background-utility-default-no-emphasis-hover);
}

.input-chip__action-button:active {
  background-color: var(--eds-theme-color-background-utility-default-no-emphasis-active);
}

.input-chip__action-button:focus-visible {
  border: none;
  box-shadow: inset 0 0 0 2px var(--eds-theme-color-border-utility-focus);
}

@supports not selector(:focus-visible) {
  .input-chip__action-button:focus {
    border: none;
    box-shadow: inset 0 0 0 2px var(--eds-theme-color-border-utility-focus);
  }
}