/*------------------------------------*\
    #ALIGNMENT UTILITY CLASSES
\*------------------------------------*/

/** 
 * Left align text
 *
 * Forces text-align to left
 */
.u-text-align-left {
  text-align: left !important;
}

/** 
 * center align text
 *
 * Forces text-align to center
 */
.u-text-align-center {
  text-align: center !important;
}

/** 
 * Right align text
 *
 * Forces text-align to right
 */
.u-text-align-right {
  text-align: right !important;
}

/** 
 * Maximizes space between content
 *
 * Forces justify-content to space-between.
 */
.u-justify-content-space-between {
  justify-content: space-between !important;
}

/** 
 * Pushes content to the end
 *
 * Forces justify-content to flex-end.
 */
.u-justify-content-flex-end {
  justify-content: flex-end !important;
}

/** 
 * Centers content
 *
 * Forces justify-content to center.
 */
.u-justify-content-center {
  justify-content: center !important;
}

/** 
 * Aligns content to the center
 *
 * Forces align-items to center.
 */
.u-align-items-center {
  align-items: center !important;
}

/**
 * Aligns self to the start
 *
 * Forces align-self to flex-start.
 */
.u-align-self-flex-start {
  align-self: flex-start !important;
}
