/*------------------------------------*\
    # DISPLAY UTILITY CLASSES
\*------------------------------------*/
/**
 * Display block utility
 *
 * Forces display property to block.
 */
.u-display-block {
  display: block !important;
}

/**
 * Display inline block utility
 *
 * Forces display property to inline-block.
 */
.u-display-inline-block {
  display: inline-block !important;
}

/**
 * Display inline utility
 *
 * Forces display property to inline.
 */
.u-display-inline {
  display: inline !important;
}

/**
 * Display flex utility
 *
 * Forces display property to flex.
 */
.u-display-flex {
  display: flex !important;
}

/**
 * Flex direction utility classes
 * 1) Forces display direction to column
 * 2) Forces display direction to row. Useful for overriding columnar display at specific breakpoints only
 */
.u-flex-direction-column {
  flex-direction: column !important /* 1 */;
}

.u-flex-direction-row {
  flex-direction: row !important /* 2 */;
}
