/*------------------------------------*\
    # DISPLAY UTILITY CLASSES
\*------------------------------------*/
/**
 * Display block utility
 *
 * Forces display property to block.
 */
.u-display-block {
  display: block !important;
}

/**
 * Display inline block utility
 *
 * Forces display property to inline-block.
 */
.u-display-inline-block {
  display: inline-block !important;
}

/**
 * Display inline utility
 *
 * Forces display property to inline.
 */
.u-display-inline {
  display: inline !important;
}

/**
 * Display flex utility
 *
 * Forces display property to flex.
 */
.u-display-flex {
  display: flex !important;
}

/**
 * Flex direction utility classes
 */
.u-flex-direction-column {
  /* Forces display direction to column. */
  flex-direction: column !important;
}

.u-flex-direction-row {
  /* Forces display direction to row. Useful for overriding columnar display at specific breakpoints only. */
  flex-direction: row !important;
}
