@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    #SPACING UTILITY CLASSES
\*------------------------------------*/

/**
 * Margin none
 * 1) Forces margin to 0rem
 */
.u-margin-none {
  margin: 0 !important;
}

/**
 * Margin small
 * 1) Forces margin to 0.5rem
 */
.u-margin-sm {
  margin: var(--eds-size-1) !important;
}

/**
 * Margin
 * 1) Forces margin to 1rem
 */
.u-margin-md {
  margin: var(--eds-size-2) !important;
}

/**
 * Margin large
 * 1) Forces margin to 2rem
 */
.u-margin-lg {
  margin: var(--eds-size-4) !important;
}

/**
 * Margin top none
 * 1) Forces margin top to 0rem
 */
.u-margin-top-none {
  margin-top: 0 !important;
}

/**
 * Margin top small
 * 1) Forces margin top to 0.5rem
 */
.u-margin-top-sm {
  margin-top: var(--eds-size-1) !important;
}

/**
 * Margin top
 * 1) Forces margin top to 1rem
 */
.u-margin-top-md {
  margin-top: var(--eds-size-2) !important;
}

/**
 * Margin top large
 * 1) Forces margin top to 2rem
 */
.u-margin-top-lg {
  margin-top: var(--eds-size-4) !important;
}

/**
 * Margin top xl
 * 1) Forces margin top to 4rem
 */
.u-margin-top-xl {
  margin-top: var(--eds-size-6) !important;
}

/**
 * Margin bottom XXL
 * 1) Forces bottom margin to 6rem
 */
.u-margin-top-xxl {
  margin-top: var(--eds-size-12) !important;
}

/**
 * Margin right
 * 1) Forces right margin to 0rem
 */
.u-margin-right-none {
  margin-right: 0 !important;
}

/**
 * Margin right small
 * 1) Forces right margin to 0.5rem
 */
.u-margin-right-sm {
  margin-right: var(--eds-size-1) !important;
}

/**
 * Margin right
 * 1) Forces right margin to 1rem
 */
.u-margin-right-md {
  margin-right: var(--eds-size-2) !important;
}

/**
 * Margin right large
 * 1) Forces right margin to 2rem
 */
.u-margin-right-lg {
  margin-right: var(--eds-size-4) !important;
}

/**
 * Margin bottom
 * 1) Forces bottom margin to 0rem
 */
.u-margin-bottom-none {
  margin-bottom: 0 !important;
}

/**
 * Margin bottom small
 * 1) Forces bottom margin to 0.5rem
 */
.u-margin-bottom-sm {
  margin-bottom: var(--eds-size-1) !important;
}

/**
 * Margin bottom
 * 1) Forces bottom margin to 1rem
 */
.u-margin-bottom-md {
  margin-bottom: var(--eds-size-2) !important;
}

/**
 * Margin bottom large
 * 1) Forces bottom margin to 2rem
 */
.u-margin-bottom-lg {
  margin-bottom: var(--eds-size-4) !important;
}

/**
 * Margin bottom extra large
 * 1) Forces bottom margin to 3rem
 */
.u-margin-bottom-xl {
  margin-bottom: var(--eds-size-6) !important;
}

/**
 * Margin bottom XXL
 * 1) Forces bottom margin to 6rem
 */
.u-margin-bottom-xxl {
  margin-bottom: var(--eds-size-12) !important;
}

/**
 * Margin left
 * 1) Forces left margin to 0rem
 */
.u-margin-left-none {
  margin-left: 0 !important;
}

/**
 * Margin left small
 * 1) Forces left margin to 0.5rem
 */
.u-margin-left-sm {
  margin-left: var(--eds-size-1) !important;
}

/**
 * Margin left
 * 1) Forces left margin to 1rem
 */
.u-margin-left-md {
  margin-left: var(--eds-size-2) !important;
}

/**
 * Margin left large
 * 1) Forces left margin to 2rem
 */
.u-margin-left-lg {
  margin-left: var(--eds-size-4) !important;
}

/**
 * Margin left xl
 * 1) Forces margin left to 4rem
 */
.u-margin-left-xl {
  margin-left: var(--eds-size-8) !important;
}

/*------------------------------------*\
    #PADDING UTILITY CLASSES
\*------------------------------------*/

/**
 * Padding none
 * 1) Forces padding to 0rem
 */
.u-padding-none {
  padding: 0 !important;
}

/**
 * Padding small
 * 1) Forces padding to 0.5rem
 */
.u-padding-sm {
  padding: var(--eds-size-1) !important;
}

/**
 * Padding
 * 1) Forces padding to 1rem
 */
.u-padding-md {
  padding: var(--eds-size-2) !important;
}

/**
 * Padding large
 * 1) Forces padding to 2rem
 */
.u-padding-lg {
  padding: var(--eds-size-4) !important;
}

/**
 * Padding top none
 * 1) Forces padding top to 0rem
 */
.u-padding-top-none {
  padding-top: 0 !important;
}

/**
 * Padding top small
 * 1) Forces padding top to 0.5rem
 */
.u-padding-top-sm {
  padding-top: var(--eds-size-1) !important;
}

/**
 * Padding top
 * 1) Forces padding top to 1rem
 */
.u-padding-top-md {
  padding-top: var(--eds-size-2) !important;
}

/**
 * Padding top large
 * 1) Forces padding top to 2rem
 */
.u-padding-top-lg {
  padding-top: var(--eds-size-4) !important;
}

/**
 * Padding right
 * 1) Forces right padding to 0rem
 */
.u-padding-right-none {
  padding-right: 0 !important;
}

/**
 * Padding right small
 * 1) Forces right padding to 0.5rem
 */
.u-padding-right-sm {
  padding-right: var(--eds-size-1) !important;
}

/**
 * Padding right
 * 1) Forces right padding to 1rem
 */
.u-padding-right-md {
  padding-right: var(--eds-size-2) !important;
}

/**
 * Padding right large
 * 1) Forces right padding to 2rem
 */
.u-padding-right-lg {
  padding-right: var(--eds-size-4) !important;
}

/**
 * Padding bottom
 * 1) Forces bottom padding to 0rem
 */
.u-padding-bottom-none {
  padding-bottom: 0 !important;
}

/**
 * Padding bottom small
 * 1) Forces bottom padding to 0.5rem
 */
.u-padding-bottom-sm {
  padding-bottom: var(--eds-size-1) !important;
}

/**
 * Padding bottom
 * 1) Forces bottom padding to 1rem
 */
.u-padding-bottom-md {
  padding-bottom: var(--eds-size-2) !important;
}

/**
 * Padding bottom large
 * 1) Forces bottom padding to 2rem
 */
.u-padding-bottom-lg {
  padding-bottom: var(--eds-size-4) !important;
}

/**
 * Padding left
 * 1) Forces left padding to 0rem
 */
.u-padding-left-none {
  padding-left: 0 !important;
}

/**
 * Padding left small
 * 1) Forces left padding to 0.5rem
 */
.u-padding-left-sm {
  padding-left: var(--eds-size-1) !important;
}

/**
 * Padding left
 * 1) Forces left padding to 1rem
 */
.u-padding-left-md {
  padding-left: var(--eds-size-2) !important;
}

/**
 * Padding left large
 * 1) Forces left padding to 2rem
 */
.u-padding-left-lg {
  padding-left: var(--eds-size-4) !important;
}
