@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # HORIZONTAL STEPPER
\*------------------------------------*/

/**
 * Horizontal Stepper wraps multiple HorizontalStep instances and adds lines between steps.
 */
.horizontal-stepper {
  display: flex;
  align-items: center;
  width: 100%;
}

/**
 * The decorative line between steps.
 */
.horizontal-stepper__line {
  border: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-neutral-default);
  margin-left: var(--eds-size-1);
  margin-right: var(--eds-size-1);
  /* Used to grow and shrink lines before wrapping step text. */
  flex-grow: 1;
  min-width: var(--eds-size-2);
}
