@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # INLINE NOTIFICATION
\*------------------------------------*/

/**
 * A messaging element that is used inline.
 */
.inline-notification {
  display: flex;
  gap: calc(var(--eds-spacing-size-1) * 1px);
  padding: calc(var(--eds-spacing-size-1) * 1px);
  border-radius: calc(var(--eds-theme-border-radius-notification) * 1px);

  /* NOTE: by specifying no default color for borders, they inherit from color below */
  &.inline-notification--status-informational {
    color: var(--eds-theme-color-text-utility-informational);
    background-color: var(--eds-theme-color-background-utility-informational-low-emphasis);
  }

  &.inline-notification--status-critical {
    color: var(--eds-theme-color-text-utility-critical);
    background-color: var(--eds-theme-color-background-utility-critical-low-emphasis);
  }

  &.inline-notification--status-favorable {
    color: var(--eds-theme-color-text-utility-favorable);
    background-color: var(--eds-theme-color-background-utility-favorable-low-emphasis);
  }

  &.inline-notification--status-warning {
    color: var(--eds-theme-color-text-utility-warning);
    background-color: var(--eds-theme-color-background-utility-warning-low-emphasis);
  }
}

.inline-notification__icon {
  flex-shrink: 0;
}

.inline-notification__body {
  flex-grow: 2;
}