@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # INLINE NOTIFICATION
\*------------------------------------*/

/**
 * A messaging element that is used inline.
 */
.inline-notification {
  display: inline-flex;
  padding: var(--eds-size-quarter) var(--eds-size-half);
  border-radius: var(--eds-border-radius-md);
}

/**
 * Icon that sits left of the notification text.
 */
.inline-notification__icon {
  /* Retain icon original size and wrap text instead. */
  flex-shrink: 0; 
  color: var(--messaging-icon-color);
}

/**
 * Text that sits right of the icon.
 */
.inline-notification__text {
  margin: var(--eds-size-half);
  font: var(--eds-theme-typography-label-md-subtle);
}

/**
 * Color variants
 */
.inline-notification--brand {
  @mixin messagingBrand;

  border: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-brand-primary-strong);
}
.inline-notification--success {
  @mixin messagingSuccess;

  border: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-utility-success-default);
}
.inline-notification--warning {
  @mixin messagingWarning;

  border: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-utility-warning-strong);
}
.inline-notification--yield {
  @mixin messagingYield;

  border: var(--eds-theme-border-width) solid
    var(--eds-theme-color-border-grade-revise-strong);
}
.inline-notification--subtle {
  background-color: var(--eds-theme-color-background-neutral-default);
}

/**
 * Full width variant of the inline notification.
 */
.inline-notification--full-width {
  display: flex;
  border: 0;
  border-radius: 0;
  /*  Accounts for the lack of border in height to make it 44px. */
  padding: calc(var(--eds-size-1) + var(--eds-theme-border-width)); 
}
.inline-notification--full-width-subtle {
  background-color: var(--eds-theme-color-background-neutral-subtle);
}
/**
 * Inactive variant of the full width inline notification.
 */
.inline-notification__icon--inactive {
  display: none;
}
.inline-notification__text--inactive {
  /* Creates enough space to keep text in the same place. */
  padding-left: var(--eds-size-3); 
  color: var(--eds-theme-color-text-neutral-subtle);
}
