@import '../../../src/design-tokens/mixins.css';

/*------------------------------------*\
    # GLOBAL HEADER
\*------------------------------------*/
/**
 * Global navigation bar of site
 */
.global-header {
  position: relative;
  padding-left: var(--eds-size-1);

  @media all and (min-width: $eds-bp-xl) {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    padding-left: var(--eds-size-2-and-half);
    transition: width var(--eds-anim-move-quick) var(--eds-anim-ease);

    @media screen and (prefers-reduced-motion) {
      transition: none;
    }
  }
}

/**
 * Global header logo
 *
 * The SVG logo.
 */
.global-header__logo {
  display: none;

  @media all and (min-width: $eds-bp-xl) {
    display: block;
    margin-bottom: var(--eds-size-5);
  }
}

/**
 * Menu Button 
 */
.global-header__menu-button.global-header__menu-button {
  padding: var(--eds-size-half);
  color: var(--eds-theme-color-text-neutral-default-inverse);

  &:hover,
  &:focus-visible {
    background: var(--eds-theme-color-button-primary-brand-background-hover);
    border-color: transparent;
  }

  &:focus-visible {
    @mixin focusInverted;
  }

  @supports not selector(:focus-visible) {
    &:hover,
    &:focus {
      background: var(--eds-theme-color-button-primary-brand-background-hover);
      border-color: transparent;
    }

    &:focus {
      @mixin focusInverted;
    }
  }

  @media all and (min-width: $eds-bp-xl) {
    /**
     * Menu button triggers the navigation container
     * on small screens, but is hidden when the nav
     * can be exposed
     */
    display: none;
  }
}

/**
 * Utility nav popover
 */
.global-header__popover {
  max-height: 28rem;
  width: max-content;
  /**
   * On small screens, create a max width so that the popover flexes to accommodate small screens
   */
  max-width: calc(100vw - 2rem);

  @media all and (min-width: $eds-bp-xl) {
    max-width: initial;
  }
}

.global-header__popover-header {
  display: flex;
  justify-content: space-between;
  padding: var(--eds-size-1) var(--eds-size-2);
}

.global-header__avatar-button {
  margin-left: auto;

  display: flex;
  position: relative;
  border: 0;
  left: var(--eds-size-2);
  @media all and (min-width: $eds-bp-xl) {
    margin-left: 0;
    margin-top: auto;

    left: -1rem;
  }
}

[data-popper-placement='top-start'] > .popover__arrow {
  left: var(--eds-size-4);
}

[data-popper-placement='bottom-end'] > .popover__arrow {
  right: var(--eds-size-4);
}

/**
 * Avatar
 *
 * This element contains an outer wrapper and SVG fragments for the avatar
 */
.global-header__avatar-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  background: white;
  border-radius: var(--eds-border-radius-round);
}

/* Head of the avatar image. */
.global-header__avatar-image__head {
  height: 8px;
}

/* Body of the avatar image. */
.global-header__avatar-image__body {
  height: 13px;
}

/* Legs of the avatar image. */
.global-header__avatar-image__legs {
  height: 10px;
}

/**
 * Container that houses navigation to be toggled on and off on small screens.
 */
.global-header__nav-container {
  position: absolute;
  top: 100%;
  left: 0;
  /* Hide by default on small screens. */
  visibility: hidden;
  opacity: 0;
  height: 0;
  width: 100%;
  padding: var(--eds-size-1);
  z-index: var(--eds-z-index-bottom);
  transition: all var(--eds-anim-move-quick) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }

  /**
   * Large screen styles.
  */
  @media all and (min-width: $eds-bp-xl) {
    /* Un-hide navcontainer to display nav by default on larger screens. */
    display: flex;
    /* Display children as horizontal flex items. */
    justify-content: space-between;
    position: static;
    visibility: visible;
    opacity: 1;
    padding: 0;
    height: auto;
    margin-bottom: var(--eds-size-6);
  }
}

/**
* Active nav container
*
* Open state on small screens.
*/
.global-header__nav-container--active {
  display: block;

  @media all and (max-width: $eds-bp-xl) {
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: var(--eds-size-8);
    height: calc(100vh - 3rem);
    background-color: var(--eds-theme-color-background-brand-primary-strong);
    z-index: var(--eds-z-index-400);
  }
}
