/*------------------------------------*\
    #GLOBAL HEADER
\*------------------------------------*/

/**
 * 1) 
 */
.global-header {
  position: relative;
  margin-bottom: var(--eds-size-4);

  &:hover,
  &:focus-within {
    @media all and (min-width: $eds-bp-lg) {
      width: var(--eds-l-sidebar-width);
      overflow: visible;
    }
  }

  @media all and (min-width: $eds-bp-lg) {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 0;
    width: 3.75rem;
    transition: width var(--eds-anim-move-quick) var(--eds-anim-ease);
  }
}

/**
 * Header container 
 * 1) Contains the 
 */
.global-header__logo {
  display: none;
  @media all and (min-width: $eds-bp-lg) {
    display: block;
    position: relative;
    left: -0.5rem;
    margin-bottom: var(--eds-size-6);
  }
}

/**
 * Body container
 * 1) Contains the primary navigation 
 */
.global-header__nav-container {
}

/**
 * Menu Button 
 * 1) Menu button triggers the navigation container
 *    on small screens, but is hidden when the nav
 *    can be exposed
 */
.global-header__menu-button {
  @media all and (min-width: $eds-bp-lg) {
    display: none; /* 1 */
  }
}

.global-header__avatar-block {
  position: relative;
  left: -1rem;
  margin-left: auto;

  @media all and (min-width: $eds-bp-lg) {
    margin-left: 0;
    margin-top: auto;
  }
}
