/*------------------------------------*\
    #GLOBAL HEADER
\*------------------------------------*/

/**
 * 1) 
 */
.global-header {
  position: relative;
  margin-bottom: var(--eds-size-4);

  @media all and (min-width: $eds-bp-lg) {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    transition: width var(--eds-anim-move-quick) var(--eds-anim-ease);
  }
}

/**
 * Global header logo
 * 1) The SVG logo
 * 2) Nudges the logo to the left of the containing box
 *    to achieve the desired alignment.
 */
.global-header__logo {
  display: none;
  
  @media all and (min-width: $eds-bp-lg) {
    display: block;
    position: relative;
    left: -0.5rem; /* 2 */
    margin-bottom: var(--eds-size-5);
  }
}

/**
 * Menu Button 
 * 1) Menu button triggers the navigation container
 *    on small screens, but is hidden when the nav
 *    can be exposed
 */
.global-header__menu-button {
  @media all and (min-width: $eds-bp-lg) {
    display: none; /* 1 */
  }
}


/**
 * Avatar block 
 * 1) The bottom-aligned avatar block contains the clickable
 *    avatar item that exposes the user's notifications when
 *    selected
 * 2) Nudge the alignment to achieve the desired layout
 */
.global-header__avatar-block {
  position: relative;
  left: -0.5rem; /* 2 */
  margin-left: auto;

  @media all and (min-width: $eds-bp-lg) {
    margin-left: 0;
    margin-top: auto;
  }
}
