@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # STACKED BLOCK
\*------------------------------------*/

/**
 * 1) A media block features a block of media(i.e. image) and text
 * 2) Display flex is added to put contents within the media block side by side
 */
/* stylelint-disable-next-line block-no-empty */

.stacked-block__link {
  @mixin textLink;
}

/**
 * Media Container
 * 1) This is the container that holds the image (or media)
 */
.stacked-block__media {
  margin-bottom: var(--eds-size-2);
  margin-bottom: 0;

  .stacked-block--break & {
    @media all and (min-width: $eds-bp-md) {
      margin-right: var(--eds-size-4);
    }
  }
}

.stacked-block__img {
  border-radius: var(--eds-border-radius-md);
}

/**
 * Media Block Body
 */
.stacked-block__body {
  display: flex; /* 2 */
  flex-direction: column; /* 2 */
  margin-right: var(--eds-size-4);
}

/**
 * Media Block Headline
 * 1) This is the headline of the media block
 */
.stacked-block__title {
  @mixin eds-theme-typography-heading-3;
  margin-top: 0;
  margin-bottom: var(--eds-size-1);
}
