@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # ACCORDION
\*------------------------------------*/

/**
 * Accordion Panel that expands and collapses.
 * Reveals itself below the associated Accordion Button.
 */
.accordion-panel {
  padding: 0 calc(var(--eds-spacing-size-7) * 1px) calc(var(--eds-spacing-size-2) * 1px) calc(var(--eds-spacing-size-2) * 1px);

  &.accordion-panel--leading-icon {
    padding-left: calc(var(--eds-spacing-size-7) * 1px);
  }

  color: light-dark(var(--eds-theme-color-text-utility-default-primary), var(--eds-dark-theme-color-text-utility-default-primary));
}

/**
 * Accordion Button, wraps the heading and open indicator icon.
 */
.accordion-button {
  display: flex;
  justify-content: flex-start;
  gap: calc(var(--eds-spacing-size-2) * 1px);
  width: 100%;

  border: 0;
  text-align: left;

  &:hover {
    background-color: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis-hover), var(--eds-dark-theme-color-background-utility-default-no-emphasis-hover));
  }

  &:active {
    background-color: light-dark(var(--eds-theme-color-background-utility-default-no-emphasis-active), var(--eds-dark-theme-color-background-utility-default-no-emphasis-active));
  }
}

.accordion-button--empty {
  pointer-events: none;
}

/**
 * Size variants
 */
.accordion-button--sm,
.accordion-button--md {
  padding: calc(var(--eds-spacing-size-1) * 1px) calc(var(--eds-spacing-size-2) * 1px);
}

/**
 * Expand more (chevron) icon indicates open or closed status.
 *
 * This non-rotated icon points down and represents closed status.
 */
.accordion-button__trailing-icon {
  flex: 0 0 content;
  transform: rotate(0);
  color: light-dark(var(--eds-theme-color-icon-utility-default-secondary), var(--eds-dark-theme-color-icon-utility-default-secondary));
}

/**
 * This rotated icon points up and represents open status.
 */
.accordion-button__trailing-icon--open {
  transform: rotate(-180deg);
}

/**
 * Animates the icon rotation when opening and closing.
 */
.accordion-button>.accordion-button__trailing-icon {
  transition: transform calc(var(--eds-anim-move-medium) * 1s) ease-in-out;

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

.accordion-panel--hidden {
  padding: 0;
}

.accordion-button__heading {
  flex-grow: 2;

  &>*+* {
    display: block;
  }
}

.accordion-button:focus-visible {
  outline: calc(var(--eds-spacing-size-quarter) * 1px) solid light-dark(var(--eds-theme-color-border-utility-focus), var(--eds-dark-theme-color-border-utility-focus));
}

.accordion-button__leading-icon {
  color: light-dark(var(--eds-theme-color-icon-utility-default-secondary), var(--eds-dark-theme-color-icon-utility-default-secondary));

  /* Targeting NumberIcons and other images used in this specific context */
  & [role='img'] {
    display: inline-flex;
  }
}

.accordion-button__title {
  color: light-dark(var(--eds-theme-color-text-utility-default-primary), var(--eds-dark-theme-color-text-utility-default-primary));
}

.accordion-button__subtitle {
  color: light-dark(var(--eds-theme-color-text-utility-default-secondary), var(--eds-dark-theme-color-text-utility-default-secondary));
}

/**
 * Accordion Row houses one Accordion Button subcomponent and its relevant Accordion Panel subcomponent.
 */
.accordion-row {
  border-bottom: calc(var(--eds-border-width-sm) * 1px) solid light-dark(var(--eds-theme-color-border-utility-default-low-emphasis), var(--eds-dark-theme-color-border-utility-default-low-emphasis));
}