@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # ACCORDION
\*------------------------------------*/
/**
 * TODO: Icon inherits color from the surrounding text, but should use the matching -icon- tokens from below
 */

/**
 * Accordion Panel that expands and collapses.
 * Reveals itself below the associated Accordion Button.
 */
.accordion-panel {
  padding: 0 calc(var(--eds-spacing-size-7) / 16 * 1rem) calc(var(--eds-spacing-size-2) / 16 * 1rem) calc(var(--eds-spacing-size-2) / 16 * 1rem);

  font: var(--eds-theme-typography-body-sm);

  &.accordion-panel--leading-icon {
    padding-left: calc(var(--eds-spacing-size-7) / 16 * 1rem);
  }

  color: var(--eds-theme-color-text-utility-default-primary);
}

/**
 * Accordion Button, wraps the heading and open indicator icon.
 */
.accordion-button {
  display: flex;
  justify-content: flex-start;
  gap: calc(var(--eds-spacing-size-2) / 16 * 1rem);
  width: 100%;

  border: 0;
  text-align: left;

  border-radius: calc(var(--eds-theme-border-radius-objects-sm) * 1px);

  &:hover {
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis-hover);
  }

  &:active {
    background-color: var(--eds-theme-color-background-utility-default-no-emphasis-active);
  }
}

.accordion-button--empty {
  pointer-events: none;
}

/**
 * Size variants
 */
.accordion-button--sm,
.accordion-button--md {
  padding: calc(var(--eds-spacing-size-1) / 16 * 1rem) calc(var(--eds-spacing-size-2) / 16 * 1rem);
}

/**
 * Expand more (chevron) icon indicates open or closed status.
 *
 * This non-rotated icon points down and represents closed status.
 */
.accordion-button__trailing-icon {
  flex: 0 0 content;
  transform: rotate(0);
}

/**
 * This rotated icon points up and represents open status.
 */
.accordion-button__trailing-icon--open {
  transform: rotate(-180deg);
}

/**
 * Animates the icon rotation when opening and closing.
 */
.accordion-button>.accordion-button__trailing-icon {
  transition: transform calc(var(--eds-anim-move-medium) * 1s) var(--eds-anim-ease);

  @media screen and (prefers-reduced-motion) {
    transition: none;
  }
}

.accordion-panel--hidden {
  padding: 0;
}

.accordion-button__heading {
  flex-grow: 2;

  &>*+* {
    display: block;
  }
}

.accordion-button:focus-visible {
  outline: calc(var(--eds-spacing-size-quarter) / 16 * 1rem) solid var(--eds-theme-color-border-utility-focus);
}

.accordion-button__leading-icon {
  color: var(--eds-theme-color-icon-utility-default-secondary);

  /* Targeting NumberIcons and other images used in this specific context */
  & [role='img'] {
    display: inline-flex;
  }
}

.accordion-button__title {
  color: var(--eds-theme-color-text-utility-default-primary);
}

.accordion-button__subtitle {
  color: var(--eds-theme-color-text-utility-default-secondary);
}


.accordion-panel--md {
  font: var(--eds-theme-typography-body-md);
}

.accordion-panel--sm {
  font: var(--eds-theme-typography-body-sm);
}

/**
 * Accordion Row houses one Accordion Button subcomponent and its relevant Accordion Panel subcomponent.
 */
.accordion-row {
  border-bottom: calc(var(--eds-border-width-sm) * 1px) solid var(--eds-theme-color-border-utility-default-low-emphasis);
}