/*------------------------------------*\
    # DATA TABLE
\*------------------------------------*/

/* Visible table caption */

.data-table__caption-container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: calc(var(--eds-spacing-size-3) / 16 * 1rem) calc(var(--eds-spacing-size-6) / 16 * 1rem);

  text-align: start;
  margin: 0 calc(var(--eds-spacing-size-3) / 16 * 1rem) calc(var(--eds-spacing-size-4) / 16 * 1rem);
}

.data-table__caption-text {
  flex-grow: 1;
}

/* Invisible table caption (a11y) */
.data-table__aria-caption {
  display: none;
}

.data-table__caption {
  caption-side: top;
}

.data-table__table {
  height: fit-content;
  table-layout: fixed;
  width: 100%;

  .data-table__caption+&,
  .data-table__subcaption+& {
    margin-top: calc(var(--eds-spacing-size-4) / 16 * 1rem);
  }
}

.data-table__cell-container,
.data-table__header-cell-container {
  padding: 0;
  vertical-align: top;

  &:last-child {

    .data-table__cell,
    .data-table__header-cell {
      border-width: 0;
    }
  }
}

.data-table__search {
  width: calc(var(--eds-spacing-size-34) / 16 * 1rem);
}

.data-table--tableStyle-border {
  border: calc(var(--eds-border-width-sm) * 1px) solid;
}

.data-table__cell-text {
  text-align: start;

  .data-table__cell--alignment-leading & {
    text-align: start;
  }

  .data-table__cell--alignment-trailing & {
    text-align: end;
  }
}

.data-table__cell--alignment-leading {
  justify-content: flex-start;
}

.data-table__cell--alignment-trailing {
  justify-content: flex-end;
}

.data-table__cell-sublabel {
  display: block;
}

.data-table__header-cell {
  display: flex;
  gap: calc(var(--eds-spacing-size-1) / 16 * 1rem);
  align-items: flex-start;
  height: 100%;
  overflow: hidden;

  border-right: calc(var(--eds-border-width-sm) * 1px) solid transparent;

  &.data-table__cell--has-horizontal-divider {
    border-right-color: var(--eds-theme-color-border-utility-default-low-emphasis);
  }

  .data-table--size-sm & {
    /* preset: title-sm */
    font: var(--eds-typography-font-weight-bold) var(--eds-typography-preset-200) var(--eds-typography-font-family-1);
    /* TODO(bug): we want to use top-/bottom-padding of 5px (instead of 4px) to give overall height divisible by 8 (32px) */
    padding: calc(var(--eds-spacing-size-half) / 16 * 1rem) calc(var(--eds-spacing-size-1) / 16 * 1rem);
  }

  .data-table--size-md & {
    /* preset: title-md */
    font: var(--eds-typography-font-weight-bold) var(--eds-typography-preset-300) var(--eds-typography-font-family-1);

    padding: calc(var(--eds-spacing-size-2) / 16 * 1rem) calc(var(--eds-spacing-size-3) / 16 * 1rem);
  }

  .data-cell__cell--icon {
    margin-top: calc(var(--eds-spacing-size-1) / 16 * 1rem);
    flex-shrink: 0;

    .data-table--size-sm & {
      margin-top: calc(var(--eds-spacing-size-half) / 16 * 1rem);
    }
  }
}

.data-table__status-cell {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.data-table__status-header-cell {
  height: 1px;
  width: 1px;
  overflow: hidden;
  text-indent: 9999;
}

.data-table__cell {
  display: flex;
  gap: calc(var(--eds-spacing-size-1) / 16 * 1rem);
  align-items: flex-start;
  height: 100%;
  overflow: hidden;

  border-right: calc(var(--eds-border-width-sm) * 1px) solid transparent;

  &.data-table__cell--has-horizontal-divider {
    border-right-color: var(--eds-theme-color-border-utility-default-low-emphasis);
  }

  .data-table--size-sm & {
    /* preset: body-sm */
    font: var(--eds-typography-font-weight-normal) var(--eds-typography-preset-100) var(--eds-typography-font-family-1);
    letter-spacing: var(--eds-typography-letter-spacing-normal);

    padding: calc(var(--eds-spacing-size-half) / 16 * 1rem) calc(var(--eds-spacing-size-1) / 16 * 1rem);
  }

  .data-table--size-md & {
    padding: calc(var(--eds-spacing-size-2) / 16 * 1rem) calc(var(--eds-spacing-size-3) / 16 * 1rem);
  }

  .data-cell__cell--icon {
    margin-top: calc(var(--eds-spacing-size-half) / 16 * 1rem);
    flex-shrink: 0;
  }
}

.data-table__header-row {
  border-bottom: calc(var(--eds-border-width-sm) * 1px) solid;
  position: sticky;
  top: -1px;

  /* adding to z-index above any of the contents of tbody */
  z-index: 2;
}

.data-table__group-row {
  position: sticky;
  top: -1px;

  pointer-events: none;

  .data-table--size-sm & {
    padding: calc(var(--eds-spacing-size-half) / 16 * 1rem) calc(var(--eds-spacing-size-1) / 16 * 1rem);
  }

  .data-table--size-md & {
    padding: calc(var(--eds-spacing-size-1-and-half) / 16 * 1rem) calc(var(--eds-spacing-size-3) / 16 * 1rem);
  }
}

.data-table--row-is-pinned {
  box-shadow: var(--eds-box-shadow-sm);
}

.data-table--column-is-pinned {
  /* When pinning columns, width and offset position are dynamic */

  /* inherit the background color from the enclosing row */
  background-color: inherit;
  position: sticky;
  z-index: 1;

  &::after {
    /* TODO: re-attach to a proper token value if possible */
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25), 2px 0 3px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 100%;
    content: ' ';

    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
  }
}

/**
 * Color Tokens
 */

.data-table__row {
  height: 100%;

  &.data-table__row--is-selected {
    background-color: var(--eds-theme-color-background-table-row-selected);
  }

  .data-table--rowStyle-lined & {
    border-bottom: calc(var(--eds-border-width-sm) * 1px) solid;

    &.data-table__row--is-selected {
      background-color: var(--eds-theme-color-background-table-row-selected);
    }
  }

  .data-table--rowStyle-striped &:nth-child(even) {
    background-color: var(--eds-theme-color-background-table-row-stripe-2);

    &.data-table__row--is-selected {
      background-color: var(--eds-theme-color-background-table-row-selected);
    }
  }

  .data-table--rowStyle-striped &:nth-child(odd) {
    background-color: var(--eds-theme-color-background-table-row-stripe-1);

    &.data-table__row--is-selected {
      background-color: var(--eds-theme-color-background-table-row-selected);
    }
  }
}

.data-table {
  display: block;
  position: relative;

  .data-table__table {
    background-color: var(--eds-theme-color-background-utility-base-1);

    th {
      background-color: var(--eds-theme-color-background-utility-base-1);
    }
  }

  .data-table__caption {
    color: var(--eds-theme-color-text-utility-default-primary);
  }

  .data-table__subcaption {
    color: var(--eds-theme-color-text-utility-default-secondary);
  }

  .data-table--tableStyle-border,
  .data-table__header-row {
    border-color: var(--eds-theme-color-border-utility-default-low-emphasis);
  }

  .data-table__header-cell {
    color: var(--eds-theme-color-text-utility-default-primary);
  }

  .data-table__cell {
    color: var(--eds-theme-color-text-utility-default-primary);
  }

  .data-table--rowStyle-lined {
    color: var(--eds-theme-color-border-utility-default-low-emphasis);
  }

  .data-table__cell-sublabel,
  .data-table__header-cell-sublabel {
    color: var(--eds-theme-color-text-utility-default-secondary);
  }

  .data-table__row--is-interactive {
    &:hover {
      box-shadow: var(--eds-box-shadow-sm);
      position: relative;
      z-index: 1;
    }

    &:hover:active {
      box-shadow: var(--eds-box-shadow-md);
      position: relative;
      z-index: 1;
    }
  }

  .data-table__group-row {
    color: var(--eds-theme-color-text-utility-default-primary);
    background-color: var(--eds-theme-color-background-utility-interactive-low-emphasis);
  }
}

.data-table .data-table__status-cell {
  &.data-table--status-critical {
    color: var(--eds-theme-color-icon-utility-critical)
  }

  &.data-table--status-favorable {
    color: var(--eds-theme-color-icon-utility-favorable);
  }

  &.data-table--status-warning {
    color: var(--eds-theme-color-icon-utility-warning);
  }
}

.data-table .data-table__row {
  &.data-table--status-critical {
    background-color: var(--eds-theme-color-background-utility-critical-low-emphasis);
  }

  &.data-table--status-favorable {
    background-color: var(--eds-theme-color-background-utility-favorable-low-emphasis);
  }

  &.data-table--status-warning {
    background-color: var(--eds-theme-color-background-utility-warning-low-emphasis);
  }
}