@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # LINK
\*------------------------------------*/
/**
 * TODO: Icon inherits color from the surrounding text, but should use the matching -icon- tokens from below
 */

.link {
  display: inline;

  /* TODO: verify the way to sync type tokens and one-off treatments */
  font-weight: 500;
  text-decoration-line: underline;
}

/**
 * Sub-components (only should apply to standalone links
 */
.link__icon {
  padding-left: 0.25rem;

  /* Sub-component spacing */
  &.link--size-xl,
  &.link--size-lg { padding-left: 0.5rem; }

  &.link--size-md,
  &.link--size-sm, 
  &.link--size-xs { padding-left: 0.25rem; }
}

/**
 * Contexts
 */
.link--context-standalone {
  display: inline-flex;
  align-items: center;

  &.link--emphasis-default {
    color: var(--eds-theme-color-text-utility-default-primary);
  }

  &.link--emphasis-low {
    color: var(--eds-theme-color-text-utility-default-primary);
    text-decoration: none;
  }

  /**
   * Sizes - using the presets for type ramp matching body-*
   */
  &.link--size-xl {
    font: var(--eds-theme-typography-body-xl);
  }

  &.link--size-lg {
    font: var(--eds-theme-typography-body-lg);
  }

  &.link--size-md {
    font: var(--eds-theme-typography-body-md);
  }

  &.link--size-sm {
    font: var(--eds-theme-typography-body-sm);
  }

  &.link--size-xs {
    font: var(--eds-theme-typography-body-xs);
  }
}

/**
 * Emphasis
 */
.link--emphasis-default {
  color: inherit;
}

.link--emphasis-high {
  color: var(--eds-theme-color-text-utility-interactive-secondary);
}

/**
 * Inverse variant
 */
.link.link--variant-inverse:hover,
.link.link--variant-inverse:active {
    color: var(--eds-theme-color-text-utility-inverse);
}

/**
 * States
 */
.link:hover {
  color: var(--eds-theme-color-text-utility-interactive-secondary-hover);
}

.link:active {
  color: var(--eds-theme-color-text-utility-interactive-secondary-active);
}

.link:visited {
  color: var(--eds-theme-color-text-utility-interactive-visited);
}

.link:focus-visible {
  outline: 0.125rem solid var(--eds-theme-color-border-utility-focus);
  outline-offset: 0.125rem;
}