@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # LINK
\*------------------------------------*/

.link {
  display: inline;
  text-decoration-line: underline;
}

/**
* Sub-components (only should apply to standalone links
*/
.link__icon {
  padding-left: calc(var(--eds-spacing-size-half) * 1px);

  /* Sub-component spacing */
  &.link--size-xl,
  &.link--size-lg {
    padding-left: calc(var(--eds-spacing-size-1) * 1px);
  }

  &.link--size-md,
  &.link--size-sm,
  &.link--size-xs {
    padding-left: calc(var(--eds-spacing-size-half) * 1px);
  }
}

/**
* Contexts
*/
.link--context-standalone {
  /**
    * Here, we specify as much of the settings on the font: shorthand property as possible,
    * using CSS variables scoped locally. We redefine the variables for each override for two
    * reasons:
    * - this will allow the rule declaration to appear in only one spot
    * - this will allow external overrides to the properties if needed for themes (w/o a new stylesheet)
    *   using `style`
    */
  --link-size-line-height: var(--eds-typography-preset-200);
  --link-font-weight: var(--eds-typography-font-weight-normal);
  --link-font-family: var(--eds-typography-font-family-1);
  --link-letter-spacing: var(--eds-typography-letter-spacing-normal);

  letter-spacing: var(--link-letter-spacing);
  font: var(--link-font-weight) var(--link-size-line-height) var(--link-font-family);

  display: inline-flex;
  align-items: center;

  &.link--emphasis-default {
    color: light-dark(var(--eds-theme-color-text-utility-default-primary), var(--eds-dark-theme-color-text-utility-default-primary));
  }

  &.link--emphasis-low {
    color: light-dark(var(--eds-theme-color-text-utility-default-primary), var(--eds-dark-theme-color-text-utility-default-primary));
    text-decoration: none;
  }

  &.link--variant-inverse {
    color: light-dark(var(--eds-theme-color-text-utility-inverse), var(--eds-dark-theme-color-text-utility-inverse));
  }

  /**
   * Sizes - using the presets for type ramp matching body-*
   */
  &.link--size-xl {
    /* preset: body-xl */
    --link-size-line-height: var(--eds-typography-preset-600);
  }

  &.link--size-lg {
    /* preset: body-lg */
    --link-size-line-height: var(--eds-typography-preset-400);
  }

  &.link--size-md {
    /* preset: body-md */
    --link-size-line-height: var(--eds-typography-preset-200);
  }

  &.link--size-sm {
    /* preset: body-sm */
    --link-size-line-height: var(--eds-typography-preset-100);
  }

  &.link--size-xs {
    /* preset: body-xs */
    --link-size-line-height: var(--eds-typography-preset-075);
  }
}

/**
 * Emphasis
 */
.link--emphasis-default {
  color: inherit;
}

.link--emphasis-high {
  color: light-dark(var(--eds-theme-color-text-utility-interactive-secondary), var(--eds-dark-theme-color-text-utility-interactive-secondary));
}

/**
 * Inverse variant
 */
.link.link--variant-inverse:hover,
.link.link--variant-inverse:active {
  color: light-dark(var(--eds-theme-color-text-utility-inverse), var(--eds-dark-theme-color-text-utility-inverse));
}

.link.link--variant-inverse:visited {
  color: light-dark(var(--eds-theme-color-text-utility-inverse-interactive-visited), var(--eds-dark-theme-color-text-utility-inverse-interactive-visited));
}

/**
 * States
 */
.link:hover {
  color: light-dark(var(--eds-theme-color-text-utility-interactive-secondary-hover), var(--eds-dark-theme-color-text-utility-interactive-secondary-hover));
}

.link:active {
  color: light-dark(var(--eds-theme-color-text-utility-interactive-secondary-active), var(--eds-dark-theme-color-text-utility-interactive-secondary-active));
}

.link:visited {
  color: light-dark(var(--eds-theme-color-text-utility-interactive-primary-visited), var(--eds-dark-theme-color-text-utility-interactive-primary-visited));
}

.link:focus-visible {
  outline: calc(var(--eds-spacing-size-quarter) * 1px) solid light-dark(var(--eds-theme-color-border-utility-focus), var(--eds-dark-theme-color-border-utility-focus));
  outline-offset: calc(var(--eds-spacing-size-quarter) * 1px);
}