@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # BANNER
\*------------------------------------*/

/**
 * 1) Message of information, success, caution, or warning to the user
 * 2) Has a bottom margin to accommodate drop shadow
 * 3) The thick border (left for horizontal and top for vertical orientation)
 *    matches the icon color
 * 4) The default styles are for the vertical orientation; we override these
 *    styles for the horizontal orientation below
 */
.banner {
  display: grid;
  gap: var(--eds-size-2);
  position: relative;

  background-color: var(--eds-theme-color-neutral-subtle-background);
  box-shadow: var(--eds-box-shadow-md); /* 2 */
  margin-bottom: var(--eds-size-2); /* 2 */

  border-style: solid;
  border-radius: var(--eds-border-radius-md);
  border-width: var(--eds-theme-border-width);
  border-color: var(--messaging-border-color);

  /* Vertical-specific styles */
  padding: var(--eds-size-4);
  text-align: center;
  justify-items: center;
  border-top-width: var(--eds-border-width-lg);
  border-top-color: var(--messaging-icon-color); /* 3 */
}

/**
 * Banner informational icon
 * 1) Icon color matches the thick border (left for horizontal and top for
 *    vertical orientation)
 */
.banner__icon {
  color: var(--messaging-icon-color); /* 1 */
  --icon-size-default: var(--eds-size-5);
}

.banner__textAndAction,
.banner__text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner__textAndAction {
  gap: var(--eds-size-2);
}

.banner__action {
  justify-self: center;
  align-self: center;
}

/**
 * Banner close button
 * 1) Button used to dismiss dismissable banners
 */
.banner__close-btn.banner__close-btn {
  position: absolute;
  top: var(--eds-size-half);
  right: var(--eds-size-half);
}

/*------------------------------------*\
    # HORIZONTAL ORIENTATION
\*------------------------------------*/

@media screen and (min-width: $eds-bp-md) {
  /**
   * Banner horizontal orientation
   * 1) Everything is left-aligned
   * 2) Padding is reduced
   * 3) Left border is thick and dark instead of the top border
   * 4) Icon is smaller to match the heading line height
   * 5) Gap between text and action button is reduced
   */
  .banner--horizontal {
    grid-template-columns: min-content 1fr;
    text-align: left; /* 1 */
    justify-items: flex-start; /* 1 */
    padding: 1rem; /* 2 */

    border-top-width: var(--eds-theme-border-width); /* 3 */
    border-left-width: var(--eds-border-width-lg); /* 3 */
    border-top-color: var(--messaging-border-color); /* 3 */
    border-left-color: var(--messaging-icon-color); /* 3 */

    .banner__icon {
      --icon-size-default: var(--eds-size-3); /* 4 */
    }

    .banner__textAndAction {
      gap: var(--eds-size-1); /* 5 */
    }

    .banner__action {
      align-self: flex-start; /* 1 */
    }
  }

  /**
   * Dismissable banner horizontal orientation
   * 1) Add extra right padding to account for close button
   */
  .banner--dismissable.banner--horizontal {
    padding-right: var(--eds-size-4); /* 1 */
  }
}

/*------------------------------------*\
    # VARIANTS
\*------------------------------------*/

/**
 * Banner neutral
 */
.banner--neutral {
  @mixin messagingNeutral;
}

/**
 * Banner success
 */
.banner--success {
  @mixin messagingSuccess;
}

/**
 * Banner warning
 */
.banner--warning {
  @mixin messagingWarning;
}

/**
 * Banner error
 */
.banner--error {
  @mixin messagingError;
}

/**
 * Banner brand
 */
.banner--brand {
  @mixin messagingBrand;
}

/*------------------------------------*\
    # FLAT
\*------------------------------------*/

/**
 * Flat banner
 * 1) Has no drop shadow or visible border so it sits flat on the page
 * 2) Instead of removing the border, we replace it with a transparent one.
 *    On windows high contrast mode, the background color will be removed,
 *    but this border will become 100% opacity black to retain visual separation
 * 3) Remove the bottom margin which is usually there to account for the drop shadow length
 */
.banner--flat {
  box-shadow: none; /* 1 */
  --messaging-border-color: transparent; /* 2 */
  margin-bottom: 0; /* 3 */
}
