@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # BANNER
\*------------------------------------*/

/**
 * Message of information, success, caution, or warning to the user.
 * The default styles are for the vertical orientation; we override these
 * styles for the horizontal orientation below
 */
.banner {
  display: grid;
  gap: var(--eds-size-2);
  position: relative;

  background-color: var(--eds-theme-color-neutral-subtle-background);
  /**
   * Has a bottom margin to accommodate drop shadow
   */
  box-shadow: var(--eds-box-shadow-md);
  margin-bottom: var(--eds-size-2);

  border-style: solid;
  border-radius: var(--eds-border-radius-md);
  border-width: var(--eds-theme-border-width);
  border-color: var(--messaging-border-color);

  /* Vertical-specific styles */
  padding: var(--eds-size-4);
  text-align: center;
  justify-items: center;
  border-top-width: var(--eds-border-width-lg);
  /**
   * The thick border (left for horizontal and top for vertical orientation)
   * matches the icon color.
   */
  border-top-color: var(--messaging-icon-color);
}

/**
 * Banner informational icon
 */
.banner__icon {
  /* Icon color matches the thick border (left for horizontal and top for vertical orientation) */
  color: var(--messaging-icon-color);
  --icon-size-default: var(--eds-size-5);
}

.banner__text-and-action {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--eds-size-2);
}

.banner__action {
  justify-self: center;
  align-self: center;
}

/**
 * Banner close button - button used to dismiss dismissable banners.
 */
.banner__close-btn.banner__close-btn {
  position: absolute;
  top: var(--eds-size-half);
  right: var(--eds-size-half);
}

/*------------------------------------*\
    # HORIZONTAL ORIENTATION
\*------------------------------------*/

@media screen and (min-width: $eds-bp-md) {
  /**
   * Banner horizontal orientation.
   */
  .banner--horizontal {
    grid-template-columns: min-content 1fr;
    /* Everything is left-aligned */
    text-align: left;
    justify-items: flex-start;
    /* Padding is reduced */
    padding: 1rem;
    /* Left border is thick and dark instead of the top border */
    border-top-width: var(--eds-theme-border-width);
    border-left-width: var(--eds-border-width-lg);
    border-top-color: var(--messaging-border-color);
    border-left-color: var(--messaging-icon-color);
    /* Icon is smaller to match the heading line height */
    .banner__icon {
      --icon-size-default: var(--eds-size-3);
    }
    /* Gap between text and action button is reduced */
    .banner__text-and-action {
      gap: var(--eds-size-1);
    }

    .banner__action {
      align-self: flex-start;
    }
  }

  /**
   * Dismissable banner horizontal orientation
   * Add extra right padding to account for close button
   */
  .banner--dismissable.banner--horizontal {
    padding-right: var(--eds-size-4);
  }
}

/*------------------------------------*\
    # VARIANTS
\*------------------------------------*/

/**
 * Banner neutral
 */
.banner--neutral {
  @mixin messagingNeutral;
}

/**
 * Banner success
 */
.banner--success {
  @mixin messagingSuccess;
}

/**
 * Banner warning
 */
.banner--warning {
  @mixin messagingWarning;
}

/**
 * Banner error
 */
.banner--error {
  @mixin messagingError;
}

/**
 * Banner brand
 */
.banner--brand {
  @mixin messagingBrand;
}

/*------------------------------------*\
    # FLAT
\*------------------------------------*/

/**
 * Flat banner.
 */
.banner--flat {
  /* Has no drop shadow or visible border so it sits flat on the page */
  box-shadow: none;
  /**
   * Instead of removing the border, we replace it with a transparent one.
   * On windows high contrast mode, the background color will be removed,
   * but this border will become 100% opacity black to retain visual separation
   */
  --messaging-border-color: transparent;
  /* Remove the bottom margin which is usually there to account for the drop shadow length */
  margin-bottom: 0;
}
