@import '../../design-tokens/mixins.css';

/*------------------------------------*\
    # BANNER
\*------------------------------------*/

/**
 * 1) Message of information, success, caution, or warning to the user
 * 2) The thick border (left for horizontal and top for vertical orientation)
 *    matches the icon color
 * 3) The default styles are for the vertical orientation; we override these
 *    styles for the horizontal orientation below
 */
.banner {
  display: flex;
  align-items: flex-start;
  position: relative;

  padding-top: var(--eds-size-2);
  padding-right: var(--eds-size-2);
  padding-bottom: var(--eds-size-2);
  padding-left: var(--eds-size-2);
  margin-bottom: var(--eds-size-2);

  border-style: solid;
  border-radius: var(--eds-theme-border-radius);
  border-width: var(--eds-theme-border-width);
  border-left-width: var(--eds-border-width-lg);
  border-color: var(--border-light-color);
  border-left-color: var(--border-dark-color); /* 2 */

  background-color: var(--eds-theme-color-neutral-subtle-background);

  .banner__icon {
    color: var(--border-dark-color); /* 2 */
  }
}

/**
 * Banner neutral
 * 1) The thick left border matches the icon color
 */
.banner--neutral {
  --border-light-color: var(--eds-theme-color-border-neutral-subtle);
  --border-dark-color: var(--eds-theme-color-icon-neutral-subtle); /* 1 */

  background: var(--eds-theme-color-background-neutral-subtle);
  color: var(--eds-theme-color-text-neutral-default);
}

/**
 * Banner success
 * 1) The thick left border matches the icon color
 */
.banner--success {
  /* TODO: move these styles to mixins or tokens so the Toast can reuse them */
  --border-light-color: var(--eds-theme-color-border-utility-success-default);
  --border-dark-color: var(--eds-theme-color-icon-utility-success); /* 1 */

  background: var(--eds-theme-color-background-utility-success);
  color: var(--eds-theme-color-text-utility-success);
}

/**
 * Banner warning
 * 1) The thick left border matches the icon color
 */
.banner--warning {
  --border-light-color: var(--eds-theme-color-border-utility-warning-subtle);
  --border-dark-color: var(--eds-theme-color-icon-utility-warning); /* 1 */

  background: var(--eds-theme-color-background-utility-warning);
  color: var(--eds-theme-color-text-utility-warning);
}

/**
 * Banner alert
 * 1) The thick left border matches the icon color
 */
.banner--alert {
  /* TODO: move these styles to mixins or tokens so the Toast can reuse them */
  --border-light-color: var(--eds-theme-color-border-utility-error-subtle);
  --border-dark-color: var(--eds-theme-color-icon-utility-error); /* 1 */

  background: var(--eds-theme-color-background-utility-error);
  color: var(--eds-theme-color-text-utility-error);
}

/**
 * Banner brand
 * 1) The thick left border matches the icon color
 */
.banner--brand {
  --border-light-color: var(--eds-theme-color-border-brand-primary-subtle);
  --border-dark-color: var(--eds-theme-color-icon-brand-primary); /* 1 */

  background: var(--eds-theme-color-background-brand-primary-default);
  color: var(--eds-theme-color-text-brand-primary);
}

/**
 * Banner informational icon
 * 1) Selector doubled up to bump specificity to not interact with .icon.
 *    See code guidelines for more info.
 */
.banner__icon.banner__icon {
  margin-right: var(--eds-size-2);
  width: var(--eds-size-3);
  height: var(--eds-size-3);
}

/**
 * Banner close button
 * 1) Button used to dismiss dismissable banners
 * 2) Match close button icon color to the banner text color
 */
.banner__close-btn.banner__close-btn {
  position: absolute;
  top: var(--eds-size-half);
  right: var(--eds-size-half);
  /* TODO: handle hover styles */
  color: inherit; /* 2 */
}
