name: "Bundle Size"
on:
  pull_request:
    branches:
      - main
      - next
jobs:
  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v1
      - uses: chanzuckerberg/size-limit-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
