name: Update NPM Dependencies

on:
  workflow_dispatch: # https://docs.github.com/en/actions/how-tos/manage-workflow-runs/manually-run-a-workflow
  schedule:
    # The "*" (#42, asterisk) character has special semantics in YAML, so this
    # string has to be quoted.
    - cron: '0 13 * * TUE,FRI' # Tuesdays and Fridays, 6am (PST)

jobs:
  renovate:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          # We want this running on the development 'next' branch
          ref: 'next'

      - name: Renovate
        # The version of renovatebot should be kept up-to-date with major releases
        # https://github.com/renovatebot/github-action/blob/release/CHANGELOG.md
        uses: renovatebot/github-action@v46.1.0
        with:
          configurationFile: .github/renovate.json5
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: 'debug'
