/*------------------------------------*\
    # BAND
\*------------------------------------*/

/**
 * 1) A band is a container with a background color that occupies
 *    the full-width of the viewport
 */
.band {
  padding-top: var(--eds-size-4);
  padding-bottom: var(--eds-size-4);
  background-color: var(--eds-theme-color-background-neutral-subtle);
  background-size: cover;
  background-repeat: no-repeat;
}

/**
 * Braned Band
 * 1) A variant of the band that uses the primary brand
 *    color as a background
 */
.band--brand {
  background-color: var(--eds-theme-color-background-brand-primary-strong);
  color: var(--eds-theme-color-text-neutral-default-inverse);
}
