/*------------------------------------*\
    # NOTIFICATION LIST POPOVER
\*------------------------------------*/

.notifications-list-popover {
  padding: 0;
  max-height: 25rem;
}

.notifications-list-popover__header {
  display: flex;
  justify-content: space-between;
  padding: var(--eds-size-1) var(--eds-size-2);
}
