/*------------------------------------*\
    # NOTIFICATION LIST POPOVER
\*------------------------------------*/

/**
 * Notifications List Popover
 */
.notifications-list-popover {
  padding: 0;
  max-height: 25rem;
}

/**
 * Notifications List Popover Header
 */
.notifications-list-popover__header {
  display: flex;
  justify-content: space-between;
  padding: var(--eds-size-1) var(--eds-size-2);
}
