/*------------------------------------*\
    # SEARCH FIELD
\*------------------------------------*/

.search-field {
  padding-left: 2.25rem;
}

.search-field__icon {
  color: var(--eds-theme-color-icon-neutral-default);
  position: absolute;
  top: 0.6875rem;
  left: 0.625rem;
}

.search-field:focus-visible + .search-field__icon {
  color: var(--eds-theme-color-icon-brand-primary);
}
