/*------------------------------------*\
    # SEARCH FIELD
\*------------------------------------*/

.search-field {
  display: flex;
  gap: var(--eds-size-1);
}

.search-field__input {
  /* todo: check padding-left size with mocks */
  padding-left: var(--eds-size-5);
}

.search-field__button {
  /* Matches height with input field (2px accounts for input border) */
  height: calc(var(--eds-size-5) + 2px);
}
